@form-control-feedback-enabled: @typography-enabled;

/*
 * Responsive Scaling
 */

@form-control-feedback-screen-small-enabled: @layout-screen-small-enabled;
@form-control-feedback-screen-medium-enabled: @layout-screen-medium-enabled;
@form-control-feedback-screen-large-enabled: @layout-screen-large-enabled;
@form-control-feedback-screen-jumbo-enabled: @layout-screen-jumbo-enabled;

/*
 * Text Styling
 */

// Normal

@form-control-feedback-color: null;
@form-control-feedback-font-family: null;
@form-control-feedback-font-style: null;
@form-control-feedback-font-weight: 400;
@form-control-feedback-text-transform: none;
@form-control-feedback-text-shadow: null;
@form-control-feedback-text-decoration: null;
@form-control-feedback-text-rendering: null;
@form-control-feedback-opacity: null;

// Emphasis (.emphasis)

@form-control-feedback-emphasis-enabled: null;
@form-control-feedback-emphasis-color: null;
@form-control-feedback-emphasis-font-family: null;
@form-control-feedback-emphasis-font-style: null;
@form-control-feedback-emphasis-font-weight: null;
@form-control-feedback-emphasis-text-transform: null;
@form-control-feedback-emphasis-text-shadow: null;
@form-control-feedback-emphasis-text-decoration: null;
@form-control-feedback-emphasis-text-rendering: null;
@form-control-feedback-emphasis-opacity: null;

// Muted (.muted)

@form-control-feedback-muted-enabled: null;
@form-control-feedback-muted-color: null;
@form-control-feedback-muted-font-family: null;
@form-control-feedback-muted-font-style: null;
@form-control-feedback-muted-font-weight: null;
@form-control-feedback-muted-text-transform: null;
@form-control-feedback-muted-text-shadow: null;
@form-control-feedback-muted-text-decoration: null;
@form-control-feedback-muted-text-rendering: null;
@form-control-feedback-muted-opacity: null;

// Inverse (.inverse)

@form-control-feedback-inverse-enabled: null;
@form-control-feedback-inverse-color: null;
@form-control-feedback-inverse-font-family: null;
@form-control-feedback-inverse-font-style: null;
@form-control-feedback-inverse-font-weight: null;
@form-control-feedback-inverse-text-transform: null;
@form-control-feedback-inverse-text-shadow: null;
@form-control-feedback-inverse-text-decoration: null;
@form-control-feedback-inverse-text-rendering: null;
@form-control-feedback-inverse-opacity: null;

// Inverse Emphasis (.inverse.emphasis)

@form-control-feedback-inverse-emphasis-enabled: null;
@form-control-feedback-inverse-emphasis-color: null;
@form-control-feedback-inverse-emphasis-font-family: null;
@form-control-feedback-inverse-emphasis-font-style: null;
@form-control-feedback-inverse-emphasis-font-weight: null;
@form-control-feedback-inverse-emphasis-text-transform: null;
@form-control-feedback-inverse-emphasis-text-shadow: null;
@form-control-feedback-inverse-emphasis-text-decoration: null;
@form-control-feedback-inverse-emphasis-text-rendering: null;
@form-control-feedback-inverse-emphasis-opacity: null;

// Inverse Muted (.inverse.muted)

@form-control-feedback-inverse-muted-enabled: null;
@form-control-feedback-inverse-muted-color: null;
@form-control-feedback-inverse-muted-font-family: null;
@form-control-feedback-inverse-muted-font-style: null;
@form-control-feedback-inverse-muted-font-weight: null;
@form-control-feedback-inverse-muted-text-transform: null;
@form-control-feedback-inverse-muted-text-shadow: null;
@form-control-feedback-inverse-muted-text-decoration: null;
@form-control-feedback-inverse-muted-text-rendering: null;
@form-control-feedback-inverse-muted-opacity: null;

/*
 * Text Size
 */

// Font Size

@form-control-feedback-font-size: @small-font-size;
@form-control-feedback-font-size-screen-small: null;
@form-control-feedback-font-size-screen-medium: null;
@form-control-feedback-font-size-screen-large: null;
@form-control-feedback-font-size-screen-jumbo: null;

// Line Height

@form-control-feedback-line-height: @form-control-feedback-font-size * 1.3;
@form-control-feedback-line-height-screen-small: null;
@form-control-feedback-line-height-screen-medium: null;
@form-control-feedback-line-height-screen-large: null;
@form-control-feedback-line-height-screen-jumbo: null;

/*
 * Layout
 */

/* Margin */

// Margin Top

@form-control-feedback-margin-top: null;
@form-control-feedback-margin-top-screen-small: null;
@form-control-feedback-margin-top-screen-medium: null;
@form-control-feedback-margin-top-screen-large: null;
@form-control-feedback-margin-top-screen-jumbo: null;

// Margin Bottom

@form-control-feedback-margin-bottom: 0;
@form-control-feedback-margin-bottom-screen-small: null;
@form-control-feedback-margin-bottom-screen-medium: null;
@form-control-feedback-margin-bottom-screen-large: null;
@form-control-feedback-margin-bottom-screen-jumbo: null;

// Margin Left

@form-control-feedback-margin-left: null;
@form-control-feedback-margin-left-screen-small: null;
@form-control-feedback-margin-left-screen-medium: null;
@form-control-feedback-margin-left-screen-large: null;
@form-control-feedback-margin-left-screen-jumbo: null;

// Margin Right

@form-control-feedback-margin-right: null;
@form-control-feedback-margin-right-screen-small: null;
@form-control-feedback-margin-right-screen-medium: null;
@form-control-feedback-margin-right-screen-large: null;
@form-control-feedback-margin-right-screen-jumbo: null;

/* Padding */

// Padding Top

@form-control-feedback-padding-top: null;
@form-control-feedback-padding-top-screen-small: null;
@form-control-feedback-padding-top-screen-medium: null;
@form-control-feedback-padding-top-screen-large: null;
@form-control-feedback-padding-top-screen-jumbo: null;

// Padding Bottom

@form-control-feedback-padding-bottom: null;
@form-control-feedback-padding-bottom-screen-small: null;
@form-control-feedback-padding-bottom-screen-medium: null;
@form-control-feedback-padding-bottom-screen-large: null;
@form-control-feedback-padding-bottom-screen-jumbo: null;

// Padding Left

@form-control-feedback-padding-left: null;
@form-control-feedback-padding-left-screen-small: null;
@form-control-feedback-padding-left-screen-medium: null;
@form-control-feedback-padding-left-screen-large: null;
@form-control-feedback-padding-left-screen-jumbo: null;

// Padding Right

@form-control-feedback-padding-right: null;
@form-control-feedback-padding-right-screen-small: null;
@form-control-feedback-padding-right-screen-medium: null;
@form-control-feedback-padding-right-screen-large: null;
@form-control-feedback-padding-right-screen-jumbo: null;

/* Layout Variants */

// Short

@form-control-feedback-short-margin-top-scale: null;
@form-control-feedback-short-margin-bottom-scale: null;
@form-control-feedback-short-margin-left-scale: null;
@form-control-feedback-short-margin-right-scale: null;

@form-control-feedback-short-padding-top-scale: null;
@form-control-feedback-short-padding-bottom-scale: null;
@form-control-feedback-short-padding-left-scale: null;
@form-control-feedback-short-padding-right-scale: null;

// Tall

@form-control-feedback-tall-margin-top-scale: null;
@form-control-feedback-tall-margin-bottom-scale: null;
@form-control-feedback-tall-margin-left-scale: null;
@form-control-feedback-tall-margin-right-scale: null;

@form-control-feedback-tall-padding-top-scale: null;
@form-control-feedback-tall-padding-bottom-scale: null;
@form-control-feedback-tall-padding-left-scale: null;
@form-control-feedback-tall-padding-right-scale: null;
