/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

typography/styles.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






& when (@typography-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  link
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  a {

    .text-style-variant('link');

    &:hover {

      .text-style-variant('link-hover');

    }

    &:active {

      .text-style-variant('link-active');

    }

    &:disabled,
    &.disabled {

      .text-style-variant('link-disabled');
      cursor: default;

    }

  }



  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  Text Alignment
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .text-align-left {

    text-align: left;

  }

  .text-align-right {

    text-align: right;

  }

  .text-align-center {

    text-align: center;

  }

  .text-align-justify {

    text-align: justify;

  }

  .text-nowrap {

    white-space: nowrap;

  }



  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  Text Transformation
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .text-lowercase {

    text-transform: lowercase;

  }

  .text-uppercase {

    text-transform: uppercase;

  }

  .text-capitalize {

    text-transform: capitalize;

  }


}
