/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
typography/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@typography-enabled) {

  /* -----------------------------------------------------------------------------
  Link
  ----------------------------------------------------------------------------- */

  a {

    outline: 0;
    .text-style-variant('link');

    &:hover {

      .text-style-variant('link-hover');

    }

    &:active {

      .text-style-variant('link-active');

    }

    &:disabled,
    &.disabled {

      .text-style-variant('link-disabled');
      cursor: default;

    }

  }

  /* -----------------------------------------------------------------------------
  Selection
  ----------------------------------------------------------------------------- */

  ::selection {

    & when not (@link-text-color = null) {

      background: @link-text-color;
      color: @white;

    }

  }

  /* -----------------------------------------------------------------------------
  Text Alignment
  ----------------------------------------------------------------------------- */

  .text-align-left {

    text-align: left !important;

  }

  .text-align-right {

    text-align: right !important;

  }

  .text-align-center {

    text-align: center !important;

  }

  .text-align-justify {

    text-align: justify !important;

  }

  .text-nowrap {

    white-space: nowrap !important;

  }

  /* -----------------------------------------------------------------------------
  Text Transformation
  ----------------------------------------------------------------------------- */

  .text-lowercase {

    text-transform: lowercase !important;

  }

  .text-uppercase {

    text-transform: uppercase !important;

  }

  .text-capitalize {

    text-transform: capitalize !important;

  }


}
