/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
layout/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@grid-enabled) {

  /* -----------------------------------------------------------------------------
  Grid
  ----------------------------------------------------------------------------- */

  .grid(null, @grid-columns-count, @grid-gutter-width, @grid-gutter-height);

  /* -----------------------------------------------------------------------------
  Container
  ----------------------------------------------------------------------------- */

  .container(null, null, null);
  .container(fluid, null, null);
  .container(fluid, narrow, null);
  .container(fluid, narrower, null);
  .container(fluid, wide, null);
  .container(fluid, wider, null);
  .container(fluid, flush, null);

  /* -----------------------------------------------------------------------------
  Row
  ----------------------------------------------------------------------------- */

  .row(null);

}



& when (@layout-scale-screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Mini (@layout-screen-mini-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-mini-min-width) {

    /* -----------------------------------------------------------------------------
    Grid
    ----------------------------------------------------------------------------- */

    .grid(screen-mini, @grid-columns-count, @grid-gutter-width-screen-mini, @grid-gutter-height-screen-mini);

    /* -----------------------------------------------------------------------------
    Container
    ----------------------------------------------------------------------------- */

    .container(null, null, screen-mini);
    .container(fluid, null, screen-mini);
    .container(fluid, narrow, screen-mini);
    .container(fluid, narrower, screen-mini);
    .container(fluid, wide, screen-mini);
    .container(fluid, wider, screen-mini);
    .container(fluid, flush, screen-mini);

    /* -----------------------------------------------------------------------------
    Row
    ----------------------------------------------------------------------------- */

    .row(screen-mini);

    /* -----------------------------------------------------------------------------
    Column Overflow
    ----------------------------------------------------------------------------- */

    .column-overflow {

      &[class*="column-mini-"] {

        margin-top: 0px;

      }

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    /* -----------------------------------------------------------------------------
    Grid
    ----------------------------------------------------------------------------- */

    .grid(screen-small, @grid-columns-count, @grid-gutter-width-screen-small, @grid-gutter-height-screen-small);

    /* -----------------------------------------------------------------------------
    Container
    ----------------------------------------------------------------------------- */

    .container(null, null, screen-small);
    .container(fluid, null, screen-small);
    .container(fluid, narrow, screen-small);
    .container(fluid, narrower, screen-small);
    .container(fluid, wide, screen-small);
    .container(fluid, wider, screen-small);
    .container(fluid, flush, screen-small);

    /* -----------------------------------------------------------------------------
    Row
    ----------------------------------------------------------------------------- */

    .row(screen-small);

    /* -----------------------------------------------------------------------------
    Column Overflow
    ----------------------------------------------------------------------------- */

    .column-overflow {

      &[class*="column-small-"] {

        margin-top: 0px;

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    /* -----------------------------------------------------------------------------
    Grid
    ----------------------------------------------------------------------------- */

    .grid(screen-medium, @grid-columns-count, @grid-gutter-width-screen-medium, @grid-gutter-height-screen-medium);

    /* -----------------------------------------------------------------------------
    Container
    ----------------------------------------------------------------------------- */

    .container(null, null, screen-medium);
    .container(fluid, null, screen-medium);
    .container(fluid, narrow, screen-medium);
    .container(fluid, narrower, screen-medium);
    .container(fluid, wide, screen-medium);
    .container(fluid, wider, screen-medium);
    .container(fluid, flush, screen-medium);

    /* -----------------------------------------------------------------------------
    Row
    ----------------------------------------------------------------------------- */

    .row(screen-medium);

    /* -----------------------------------------------------------------------------
    Column Overflow
    ----------------------------------------------------------------------------- */

    .column-overflow {

      &[class*="column-medium-"] {

        margin-top: 0px;

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    /* -----------------------------------------------------------------------------
    Grid
    ----------------------------------------------------------------------------- */

    .grid(screen-large, @grid-columns-count, @grid-gutter-width-screen-large, @grid-gutter-height-screen-large);

    /* -----------------------------------------------------------------------------
    Container
    ----------------------------------------------------------------------------- */

    .container(null, null, screen-large);
    .container(fluid, null, screen-large);
    .container(fluid, narrow, screen-large);
    .container(fluid, narrower, screen-large);
    .container(fluid, wide, screen-large);
    .container(fluid, wider, screen-large);
    .container(fluid, flush, screen-large);

    /* -----------------------------------------------------------------------------
    Row
    ----------------------------------------------------------------------------- */

    .row(screen-large);

    /* -----------------------------------------------------------------------------
    Column Overflow
    ----------------------------------------------------------------------------- */

    .column-overflow {

      &[class*="column-large-"] {

        margin-top: 0px;

      }

    }

  }

}
