/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
grid/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@grid-enabled) {

  /* -----------------------------------------------------------------------------
  Grid
  ----------------------------------------------------------------------------- */

  .grid(null, @grid-columns-count, @grid-gutter-width, @grid-gutter-height);

  /* -----------------------------------------------------------------------------
  Row
  ----------------------------------------------------------------------------- */

  .row(null);

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Mini (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when not (@grid-enabled = null) and not (@grid-scale-screen-small-enabled = null) {

      /* -----------------------------------------------------------------------------
      Grid
      ----------------------------------------------------------------------------- */

      .grid(screen-small, @grid-columns-count, @grid-gutter-width-screen-small, @grid-gutter-height-screen-small);

      /* -----------------------------------------------------------------------------
      Row
      ----------------------------------------------------------------------------- */

      .row(screen-small);

      /* -----------------------------------------------------------------------------
      Column Overflow
      ----------------------------------------------------------------------------- */

      .column-overflow {

        &[class*="column-small-"] {

          margin-top: 0px;

        }

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when not (@grid-enabled = null) and not (@grid-scale-screen-medium-enabled = null) {

      /* -----------------------------------------------------------------------------
      Grid
      ----------------------------------------------------------------------------- */

      .grid(screen-medium, @grid-columns-count, @grid-gutter-width-screen-medium, @grid-gutter-height-screen-medium);

      /* -----------------------------------------------------------------------------
      Row
      ----------------------------------------------------------------------------- */

      .row(screen-medium);

      /* -----------------------------------------------------------------------------
      Column Overflow
      ----------------------------------------------------------------------------- */

      .column-overflow {

        &[class*="column-medium-"] {

          margin-top: 0px;

        }

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when not (@grid-enabled = null) and not (@grid-scale-screen-large-enabled = null) {

      /* -----------------------------------------------------------------------------
      Grid
      ----------------------------------------------------------------------------- */

      .grid(screen-large, @grid-columns-count, @grid-gutter-width-screen-large, @grid-gutter-height-screen-large);

      /* -----------------------------------------------------------------------------
      Row
      ----------------------------------------------------------------------------- */

      .row(screen-large);

      /* -----------------------------------------------------------------------------
      Column Overflow
      ----------------------------------------------------------------------------- */

      .column-overflow {

        &[class*="column-large-"] {

          margin-top: 0px;

        }

      }
      
    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: large (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when not (@grid-enabled = null) and not (@grid-scale-screen-jumbo-enabled = null) {

      /* -----------------------------------------------------------------------------
      Grid
      ----------------------------------------------------------------------------- */

      .grid(screen-jumbo, @grid-columns-count, @grid-gutter-width-screen-jumbo, @grid-gutter-height-screen-jumbo);

      /* -----------------------------------------------------------------------------
      Row
      ----------------------------------------------------------------------------- */

      .row(screen-jumbo);

      /* -----------------------------------------------------------------------------
      Column Overflow
      ----------------------------------------------------------------------------- */

      .column-overflow {

        &[class*="column-jumbo-"] {

          margin-top: 0px;

        }

      }

    }

  }

}
