/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
grid/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@grid-enabled:                                                                  true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@grid-scale-screen-mini-enabled:                                                true;
@grid-scale-screen-small-enabled:                                               true;
@grid-scale-screen-medium-enabled:                                              true;
@grid-scale-screen-large-enabled:                                               true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Grid
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@grid-columns-count:                                                            12;

// Gutter Width

@grid-gutter-width:                                                             24px;
@grid-gutter-width-screen-mini:                                                 24px;
@grid-gutter-width-screen-small:                                                32px;
@grid-gutter-width-screen-medium:                                               48px;
@grid-gutter-width-screen-large:                                                64px;

/* -----------------------------------------------------------------------------
Container (Fixed)
----------------------------------------------------------------------------- */

// Container Width

@grid-container-width:                                                          auto;
@grid-container-width-screen-mini:                                              auto;
@grid-container-width-screen-small:                                             730px;
@grid-container-width-screen-medium:                                            920px;
@grid-container-width-screen-large:                                             1100px;

// Container Gutter Width

@grid-container-gutter-width:                                                   @grid-gutter-width;
@grid-container-gutter-width-screen-mini:                                       @grid-gutter-width-screen-mini;
@grid-container-gutter-width-screen-small:                                      0px;
@grid-container-gutter-width-screen-medium:                                     null;
@grid-container-gutter-width-screen-large:                                      null;

/* -----------------------------------------------------------------------------
Container (Fluid)
----------------------------------------------------------------------------- */

// Container Width

@grid-container-fluid-width:                                                    auto;
@grid-container-fluid-width-screen-mini:                                        null;
@grid-container-fluid-width-screen-small:                                       null;
@grid-container-fluid-width-screen-medium:                                      null;
@grid-container-fluid-width-screen-large:                                       null;

// Container Gutter Width

@grid-container-fluid-gutter-width:                                             @grid-gutter-width * 1.0;
@grid-container-fluid-gutter-width-screen-mini:                                 @grid-gutter-width-screen-mini * 1.0;
@grid-container-fluid-gutter-width-screen-small:                                @grid-gutter-width-screen-small * 1.0;
@grid-container-fluid-gutter-width-screen-medium:                               @grid-gutter-width-screen-medium * 1.0;
@grid-container-fluid-gutter-width-screen-large:                                @grid-gutter-width-screen-large * 1.0;

/* -----------------------------------------------------------------------------
Container (Fluid Narrower)
----------------------------------------------------------------------------- */

// Container Width

@grid-container-fluid-narrower-width:                                           auto;
@grid-container-fluid-narrower-width-screen-mini:                               null;
@grid-container-fluid-narrower-width-screen-small:                              null;
@grid-container-fluid-narrower-width-screen-medium:                             null;
@grid-container-fluid-narrower-width-screen-large:                              null;

// Container Gutter Width

@grid-container-fluid-narrower-gutter-width:                                    @grid-gutter-width * 0.25;
@grid-container-fluid-narrower-gutter-width-screen-mini:                        @grid-gutter-width-screen-mini * 0.25;
@grid-container-fluid-narrower-gutter-width-screen-small:                       @grid-gutter-width-screen-small * 0.25;
@grid-container-fluid-narrower-gutter-width-screen-medium:                      @grid-gutter-width-screen-medium * 0.25;
@grid-container-fluid-narrower-gutter-width-screen-large:                       @grid-gutter-width-screen-large * 0.25;

/* -----------------------------------------------------------------------------
Container (Fluid Narrow)
----------------------------------------------------------------------------- */

// Container Width

@grid-container-fluid-narrow-width:                                             auto;
@grid-container-fluid-narrow-width-screen-mini:                                 null;
@grid-container-fluid-narrow-width-screen-small:                                null;
@grid-container-fluid-narrow-width-screen-medium:                               null;
@grid-container-fluid-narrow-width-screen-large:                                null;

// Container Gutter Width

@grid-container-fluid-narrow-gutter-width:                                      @grid-gutter-width * 0.5;
@grid-container-fluid-narrow-gutter-width-screen-mini:                          @grid-gutter-width-screen-mini * 0.5;
@grid-container-fluid-narrow-gutter-width-screen-small:                         @grid-gutter-width-screen-small * 0.5;
@grid-container-fluid-narrow-gutter-width-screen-medium:                        @grid-gutter-width-screen-medium * 0.5;
@grid-container-fluid-narrow-gutter-width-screen-large:                         @grid-gutter-width-screen-large * 0.5;

/* -----------------------------------------------------------------------------
Container (Fluid Wide)
----------------------------------------------------------------------------- */

// Container Width

@grid-container-fluid-wide-width:                                               auto;
@grid-container-fluid-wide-width-screen-mini:                                   null;
@grid-container-fluid-wide-width-screen-small:                                  null;
@grid-container-fluid-wide-width-screen-medium:                                 null;
@grid-container-fluid-wide-width-screen-large:                                  null;

// Container Gutter Width

@grid-container-fluid-wide-gutter-width:                                        @grid-gutter-width * 2.0;
@grid-container-fluid-wide-gutter-width-screen-mini:                            @grid-gutter-width-screen-mini * 2.0;
@grid-container-fluid-wide-gutter-width-screen-small:                           @grid-gutter-width-screen-small * 2.0;
@grid-container-fluid-wide-gutter-width-screen-medium:                          @grid-gutter-width-screen-medium * 2.0;
@grid-container-fluid-wide-gutter-width-screen-large:                           @grid-gutter-width-screen-large * 2.0;

/* -----------------------------------------------------------------------------
Container (Fluid Wider)
----------------------------------------------------------------------------- */

// Container Width

@grid-container-fluid-wider-width:                                              auto;
@grid-container-fluid-wider-width-screen-mini:                                  null;
@grid-container-fluid-wider-width-screen-small:                                 null;
@grid-container-fluid-wider-width-screen-medium:                                null;
@grid-container-fluid-wider-width-screen-large:                                 null;

// Container Gutter Width

@grid-container-fluid-wider-gutter-width:                                       @grid-gutter-width * 4.0;
@grid-container-fluid-wider-gutter-width-screen-mini:                           @grid-gutter-width-screen-mini * 4.0;
@grid-container-fluid-wider-gutter-width-screen-small:                          @grid-gutter-width-screen-small * 4.0;
@grid-container-fluid-wider-gutter-width-screen-medium:                         @grid-gutter-width-screen-medium * 4.0;
@grid-container-fluid-wider-gutter-width-screen-large:                          @grid-gutter-width-screen-large * 4.0;
