/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
grid/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@grid-enabled:                                                                  true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@grid-scale-screen-mini-enabled:                                                true;
@grid-scale-screen-small-enabled:                                               true;
@grid-scale-screen-medium-enabled:                                              true;
@grid-scale-screen-large-enabled:                                               true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Grid
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@grid-columns-count:                                                            12;

// Gutter Width

@grid-gutter-width:                                                             12px;
@grid-gutter-width-screen-mini:                                                 12px;
@grid-gutter-width-screen-small:                                                24px;
@grid-gutter-width-screen-medium:                                               32px;
@grid-gutter-width-screen-large:                                                38px;

// Gutter Height

@grid-gutter-height:                                                            @grid-gutter-width;
@grid-gutter-height-screen-mini:                                                @grid-gutter-width-screen-mini;
@grid-gutter-height-screen-small:                                               @grid-gutter-width-screen-small;
@grid-gutter-height-screen-medium:                                              @grid-gutter-width-screen-medium;
@grid-gutter-height-screen-large:                                               @grid-gutter-width-screen-large;
