& when (@icon-enabled) {
  /* Icon (.icon) */

  .icon {
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;

    svg {
      height: 100%;
      width: 100%;
    }

    /* Icon Layout */

    &.icon-align-horizontal-center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  /* Icon Styles */

  .icon.icon-black {
    color: @black;
  }

  .icon.icon-white {
    color: @white;
  }

  .icon.icon-blue {
    color: @blue;
  }

  .icon.icon-red {
    color: @red;
  }

  .icon.icon-orange {
    color: @orange;
  }

  .icon.icon-yellow {
    color: @yellow;
  }

  .icon.icon-green {
    color: @green;
  }

  .icon.icon-purple {
    color: @purple;
  }

  .icon.icon-pink {
    color: @pink;
  }

  .icon.icon-gold {
    color: @gold;
  }

  .icon.icon-cyan {
    color: @cyan;
  }

  .icon.icon-orchid {
    color: @orchid;
  }
}
