/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

form-control-large/styles.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






& when (@form-control-large-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  .form-control-large
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .form-control-large {

    .text-size-variant(form-control-large, null);
    .shape-layout-variant(form-control-large, null);

    & when not (@form-control-large-height = null) {

      height: @form-control-large-height;

    }

    & when not (@form-control-large-border-radius = null) {

      border-radius: @form-control-large-border-radius;

    }

    /* -----------------------------------------------------------------------------
    .form-control-rounded
    ----------------------------------------------------------------------------- */

    &.form-control-rounded {

      border-radius: 1000px;

      & when not (@form-control-large-rounded-padding-horizontal-scale = null) {

        & when not (@form-control-large-padding-left = null) {

          padding-left: @form-control-large-padding-left * @form-control-large-rounded-padding-horizontal-scale;

        }

        & when not (@form-control-large-padding-right = null) {

          padding-right: @form-control-large-padding-right * @form-control-large-rounded-padding-horizontal-scale;

        }

      }

    }




    & when (@screen-mini-enabled) and (@form-control-large-scale-screen-mini-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Mini (@screen-mini) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-mini) {

        .text-size-variant(form-control-large, scale-screen-mini);
        .shape-layout-variant(form-control-large, scale-screen-mini);

        & when not (@form-control-large-height = null) and not (@form-control-large-height-scale-screen-mini = null) {

          height: @form-control-large-height * @form-control-large-height-scale-screen-mini;

        }

        & when not (@form-control-large-border-radius = null) and not (@form-control-large-border-radius-scale-screen-mini = null) {

          border-radius: @form-control-large-border-radius * @form-control-large-border-radius-scale-screen-mini;

        }

        & when not (@form-control-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          .form-control-rounded
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-large-padding-left = null) and not (@form-control-large-padding-left-scale-screen-mini = null) {

              padding-left: @form-control-large-padding-left * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-left-scale-screen-mini;

            }

            & when not (@form-control-large-padding-right = null) and not (@form-control-large-padding-right-scale-screen-mini = null) {

              padding-right: @form-control-large-padding-right * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-right-scale-screen-mini;

            }

          }

        }

      }

    }



    & when (@screen-small-enabled) and (@form-control-large-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Small (@screen-small) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-small) {

        .text-size-variant(form-control-large, scale-screen-small);
        .shape-layout-variant(form-control-large, scale-screen-small);

        & when not (@form-control-large-height = null) and not (@form-control-large-height-scale-screen-small = null) {

          height: @form-control-large-height * @form-control-large-height-scale-screen-small;

        }

        & when not (@form-control-large-border-radius = null) and not (@form-control-large-border-radius-scale-screen-small = null) {

          border-radius: @form-control-large-border-radius * @form-control-large-border-radius-scale-screen-small;

        }

        & when not (@form-control-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          .form-control-rounded
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-large-padding-left = null) and not (@form-control-large-padding-left-scale-screen-small = null) {

              padding-left: @form-control-large-padding-left * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-left-scale-screen-small;

            }

            & when not (@form-control-large-padding-right = null) and not (@form-control-large-padding-right-scale-screen-small = null) {

              padding-right: @form-control-large-padding-right * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-right-scale-screen-small;

            }

          }

        }

      }

    }



    & when (@screen-medium-enabled) and (@form-control-large-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Medium (@screen-medium) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-medium) {

        .text-size-variant(form-control-large, scale-screen-medium);
        .shape-layout-variant(form-control-large, scale-screen-medium);

        & when not (@form-control-large-height = null) and not (@form-control-large-height-scale-screen-medium = null) {

          height: @form-control-large-height * @form-control-large-height-scale-screen-medium;

        }

        & when not (@form-control-large-border-radius = null) and not (@form-control-large-border-radius-scale-screen-medium = null) {

          border-radius: @form-control-large-border-radius * @form-control-large-border-radius-scale-screen-medium;

        }

        & when not (@form-control-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          .form-control-rounded
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-large-padding-left = null) and not (@form-control-large-padding-left-scale-screen-medium = null) {

              padding-left: @form-control-large-padding-left * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-left-scale-screen-medium;

            }

            & when not (@form-control-large-padding-right = null) and not (@form-control-large-padding-right-scale-screen-medium = null) {

              padding-right: @form-control-large-padding-right * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-right-scale-screen-medium;

            }

          }

        }

      }

    }



    & when (@screen-large-enabled) and (@form-control-large-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Large (@screen-large) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-large) {

        .text-size-variant(form-control-large, scale-screen-large);
        .shape-layout-variant(form-control-large, scale-screen-large);

        & when not (@form-control-large-height = null) and not (@form-control-large-height-scale-screen-large = null) {

          height: @form-control-large-height * @form-control-large-height-scale-screen-large;

        }

        & when not (@form-control-large-border-radius = null) and not (@form-control-large-border-radius-scale-screen-large = null) {

          border-radius: @form-control-large-border-radius * @form-control-large-border-radius-scale-screen-large;

        }

        & when not (@form-control-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          .form-control-rounded
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-large-padding-left = null) and not (@form-control-large-padding-left-scale-screen-large = null) {

              padding-left: @form-control-large-padding-left * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-left-scale-screen-large;

            }

            & when not (@form-control-large-padding-right = null) and not (@form-control-large-padding-right-scale-screen-large = null) {

              padding-right: @form-control-large-padding-right * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-right-scale-screen-large;

            }

          }

        }

      }

    }

  }



  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  .form-control-select
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .form-control-select.form-control-large {

    select {

      .text-size-variant(form-control-large, null);
      .shape-layout-variant(form-control-large, null);

      & when not (@form-control-large-height = null) {

        height: @form-control-large-height;

      }

    }

    /* -----------------------------------------------------------------------------
    .form-control-rounded
    ----------------------------------------------------------------------------- */

    &.form-control-rounded {

      select {

        & when not (@form-control-large-rounded-padding-horizontal-scale = null) {

          & when not (@form-control-large-padding-left = null) {

            padding-left: @form-control-large-padding-left * @form-control-large-rounded-padding-horizontal-scale;

          }

          & when not (@form-control-large-padding-right = null) {

            padding-right: @form-control-large-padding-right * @form-control-large-rounded-padding-horizontal-scale;

          }

        }

      }

    }




    & when (@screen-mini-enabled) and (@form-control-large-scale-screen-mini-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Mini (@screen-mini) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-mini) {

        select {

          .text-size-variant(form-control-large, scale-screen-mini);
          .shape-layout-variant(form-control-large, scale-screen-mini);

          & when not (@form-control-large-height = null) and not (@form-control-large-height-scale-screen-mini = null) {

            height: @form-control-large-height * @form-control-large-height-scale-screen-mini;

          }

        }

        & when not (@form-control-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          .form-control-rounded
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-large-padding-left = null) and not (@form-control-large-padding-left-scale-screen-mini = null) {

                padding-left: @form-control-large-padding-left * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-left-scale-screen-mini;

              }

              & when not (@form-control-large-padding-right = null) and not (@form-control-large-padding-right-scale-screen-mini = null) {

                padding-right: @form-control-large-padding-right * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-right-scale-screen-mini;

              }

            }

          }

        }

      }

    }



    & when (@screen-small-enabled) and (@form-control-large-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Small (@screen-small) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-small) {

        select {

          .text-size-variant(form-control-large, scale-screen-small);
          .shape-layout-variant(form-control-large, scale-screen-small);

          & when not (@form-control-large-height = null) and not (@form-control-large-height-scale-screen-small = null) {

            height: @form-control-large-height * @form-control-large-height-scale-screen-small;

          }

        }

        & when not (@form-control-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          .form-control-rounded
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-large-padding-left = null) and not (@form-control-large-padding-left-scale-screen-small = null) {

                padding-left: @form-control-large-padding-left * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-left-scale-screen-small;

              }

              & when not (@form-control-large-padding-right = null) and not (@form-control-large-padding-right-scale-screen-small = null) {

                padding-right: @form-control-large-padding-right * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-right-scale-screen-small;

              }

            }

          }

        }

      }

    }



    & when (@screen-medium-enabled) and (@form-control-large-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Medium (@screen-medium) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-medium) {

        select {

          .text-size-variant(form-control-large, scale-screen-medium);
          .shape-layout-variant(form-control-large, scale-screen-medium);

          & when not (@form-control-large-height = null) and not (@form-control-large-height-scale-screen-medium = null) {

            height: @form-control-large-height * @form-control-large-height-scale-screen-medium;

          }

        }

        & when not (@form-control-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          .form-control-rounded
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-large-padding-left = null) and not (@form-control-large-padding-left-scale-screen-medium = null) {

                padding-left: @form-control-large-padding-left * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-left-scale-screen-medium;

              }

              & when not (@form-control-large-padding-right = null) and not (@form-control-large-padding-right-scale-screen-medium = null) {

                padding-right: @form-control-large-padding-right * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-right-scale-screen-medium;

              }

            }

          }

        }

      }

    }



    & when (@screen-large-enabled) and (@form-control-large-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Large (@screen-large) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-large) {

        select {

          .text-size-variant(form-control-large, scale-screen-large);
          .shape-layout-variant(form-control-large, scale-screen-large);

          & when not (@form-control-large-height = null) and not (@form-control-large-height-scale-screen-large = null) {

            height: @form-control-large-height * @form-control-large-height-scale-screen-large;

          }

        }

        & when not (@form-control-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          .form-control-rounded
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-large-padding-left = null) and not (@form-control-large-padding-left-scale-screen-large = null) {

                padding-left: @form-control-large-padding-left * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-left-scale-screen-large;

              }

              & when not (@form-control-large-padding-right = null) and not (@form-control-large-padding-right-scale-screen-large = null) {

                padding-right: @form-control-large-padding-right * @form-control-large-rounded-padding-horizontal-scale * @form-control-large-padding-right-scale-screen-large;

              }

            }

          }

        }

      }

    }

  }

}
