/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Config
----------------------------------------------------------------------------- */

@path-images:                                                                   "../images/";
@path-fonts:                                                                    "../fonts/";
@cache-clear:                                                                   `Math.floor((Math.random() * 1000000000) + 1)`;

/* -----------------------------------------------------------------------------
Canvas
----------------------------------------------------------------------------- */

@import "../../styles/canvas.less";

/* -----------------------------------------------------------------------------
Layout
----------------------------------------------------------------------------- */

@import "layout/foundation.less";
@import "layout/sidebar.less";
@import "layout/header.less";
@import "layout/footer.less";
@import "layout/navigation.less";
@import "layout/page.less";
@import "layout/page-header.less";
@import "layout/page-navigation.less";
@import "layout/page-content.less";

/* -----------------------------------------------------------------------------
Content
----------------------------------------------------------------------------- */

@import "content/colors.less";
@import "content/fonts.less";
@import "content/code/prettyprint.less";

/* -----------------------------------------------------------------------------
Components
----------------------------------------------------------------------------- */

@import "components/fill/variables.less";
@import "components/fill/styles.less";
@import "components/layout-box/styles.less";
@import "components/example-block.less";
@import "components/scrollbar.less";

/* -----------------------------------------------------------------------------
Views
----------------------------------------------------------------------------- */

@import "views/layout/container/styles.less";
@import "views/layout/pod/styles.less";
@import "views/layout/flex/styles.less";
@import "views/layout/divider/styles.less";
@import "views/layout/responsive-utilities/styles.less";
