/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
code/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@code-enabled) {

  /* -----------------------------------------------------------------------------
  Code
  ----------------------------------------------------------------------------- */

  code,
  .code {

    display: inline-block;
    white-space: nowrap;
    vertical-align: initial;
    .text-size-variant(code, null);
    .shape-layout-variant(code, null);
    .text-style-variant(code);
    .shape-style-variant(code);

    & when not (@code-border-radius = null) {

      border-radius: @code-border-radius;

    }



    /* -----------------------------------------------------------------------------
    Code Inverse (.code-inverse)
    ----------------------------------------------------------------------------- */

    &.code-inverse {

      .text-style-variant(code-inverse);
      .shape-style-variant(code-inverse);

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Mini (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@code-enabled) and (@code-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Code
      ----------------------------------------------------------------------------- */

      code,
      .code {

        .text-size-variant(code, scale-screen-small);
        .shape-layout-variant(code, scale-screen-small);

        & when not (@code-border-radius = null) and not (@code-border-radius-scale-screen-small = null) {

          border-radius: @code-border-radius * @code-border-radius-scale-screen-small;

        }

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@code-enabled) and (@code-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Code
      ----------------------------------------------------------------------------- */

      code,
      .code {

        .text-size-variant(code, scale-screen-medium);
        .shape-layout-variant(code, scale-screen-medium);

        & when not (@code-border-radius = null) and not (@code-border-radius-scale-screen-medium = null) {

          border-radius: @code-border-radius * @code-border-radius-scale-screen-medium;

        }

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@code-enabled) and (@code-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Code
      ----------------------------------------------------------------------------- */

      code,
      .code {

        .text-size-variant(code, scale-screen-large);
        .shape-layout-variant(code, scale-screen-large);

        & when not (@code-border-radius = null) and not (@code-border-radius-scale-screen-large = null) {

          border-radius: @code-border-radius * @code-border-radius-scale-screen-large;

        }

      }

    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@code-enabled) and (@code-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Code
      ----------------------------------------------------------------------------- */

      code,
      .code {

        .text-size-variant(code, scale-screen-jumbo);
        .shape-layout-variant(code, scale-screen-jumbo);

        & when not (@code-border-radius = null) and not (@code-border-radius-scale-screen-jumbo = null) {

          border-radius: @code-border-radius * @code-border-radius-scale-screen-jumbo;

        }

      }

    }

  }

}
