/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
button-large/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@button-large-enabled) {

  /* -----------------------------------------------------------------------------
  Button Large (.button-large)
  ----------------------------------------------------------------------------- */

  .button-large {

    .text-size-variant(button-large, null);
    .shape-layout-variant(button-large, null);
    .shape-layout-variant(button-large, narrow, null);
    .shape-layout-variant(button-large, wide, null);

    & when not (@button-large-height = null) {

      height: @button-large-height;

    }

    & when not (@button-large-border-radius = null) {

      border-radius: @button-large-border-radius;

    }

    /* -----------------------------------------------------------------------------
    Button Dropdown (.button-dropdown)
    ----------------------------------------------------------------------------- */

    &.button-dropdown,
    &.dropdown-toggle {

      &:after {

        & when not (@button-large-dropdown-caret-width = null) {

          .triangle-size-width("down", @button-large-dropdown-caret-width);

        }

        & when not (@button-large-dropdown-caret-height = null) {

          .triangle-size-height("down", @button-large-dropdown-caret-height);

        }

        & when not (@button-large-dropdown-caret-margin-left = null) {

          margin-left: @button-large-dropdown-caret-margin-left;

        }

        & when not (@button-large-dropdown-caret-margin-top = null) {

          margin-top: @button-large-dropdown-caret-margin-top;

        }

      }

    }

    /* -----------------------------------------------------------------------------
    Button Rounded (.button-rounded)
    ----------------------------------------------------------------------------- */

    &.button-rounded {

      border-radius: 1000px;

      & when not (@button-large-rounded-padding-horizontal-scale = null) {

        & when not (@button-large-padding-left = null) {

          padding-left: @button-large-padding-left * @button-large-rounded-padding-horizontal-scale;

          & when not (@button-large-narrow-padding-left-scale = null) {

            &.button-large-narrow {

              padding-left: @button-large-padding-left * @button-large-narrow-padding-left-scale * @button-large-rounded-padding-horizontal-scale;

            }

          }

          & when not (@button-large-wide-padding-left-scale = null) {

            &.button-large-wide {

              padding-left: @button-large-padding-left * @button-large-wide-padding-left-scale * @button-large-rounded-padding-horizontal-scale;

            }

          }

        }

        & when not (@button-large-padding-right = null) {

          padding-right: @button-large-padding-right * @button-large-rounded-padding-horizontal-scale;

          & when not (@button-large-narrow-padding-right-scale = null) {

            &.button-large-narrow {

              padding-right: @button-large-padding-right * @button-large-narrow-padding-right-scale * @button-large-rounded-padding-horizontal-scale;

            }

          }

          & when not (@button-large-wide-padding-right-scale = null) {

            &.button-large-wide {

              padding-right: @button-large-padding-right * @button-large-wide-padding-right-scale * @button-large-rounded-padding-horizontal-scale;

            }

          }

        }

      }

    }

    & when not (@button-large-content-padding-horizontal = null) {

      /* -----------------------------------------------------------------------------
      Button Content
      ----------------------------------------------------------------------------- */

      & > * {

        padding-right: @button-large-content-padding-horizontal;

      }

    }

  }

  & when (@button-group-enabled) {

    /* -----------------------------------------------------------------------------
    Button group
    ----------------------------------------------------------------------------- */

    .button-group {

      & when not (@button-large-rounded-padding-horizontal-scale = null) {

        /* -----------------------------------------------------------------------------
        Button Large (.button-large)
        ----------------------------------------------------------------------------- */

        .button-large {

          /* -----------------------------------------------------------------------------
          Button Rounded (.button-rounded)
          ----------------------------------------------------------------------------- */

          &.button-rounded {

            & when not (@button-large-padding-right = null) {

              &:not(:first-of-type):not(:last-of-type) {

                padding-right: @button-large-padding-right;

              }

              &:first-of-type {

                padding-right: @button-large-padding-right;

                & when not (@button-large-narrow-padding-right-scale = null) {

                  &.button-narrow {

                    padding-right: @button-large-padding-right * @button-large-narrow-padding-right-scale;

                  }

                }

                & when not (@button-large-wide-padding-right-scale = null) {

                  &.button-wide {

                    padding-right: @button-large-padding-right * @button-large-wide-padding-right-scale;

                  }

                }

              }

            }

            & when not (@button-large-padding-left = null) {

              &:not(:first-of-type):not(:last-of-type) {

                padding-left: @button-large-padding-left;

              }

              &:last-of-type {

                padding-left: @button-large-padding-left;

                & when not (@button-large-narrow-padding-left-scale = null) {

                  &.button-narrow {

                    padding-left: @button-large-padding-left * @button-large-narrow-padding-left-scale;

                  }

                }

                & when not (@button-large-wide-padding-left-scale = null) {

                  &.button-wide {

                    padding-left: @button-large-padding-left * @button-large-wide-padding-left-scale;

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}



& when (@layout-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@button-large-enabled) and (@button-large-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Button Large (.button-large)
      ----------------------------------------------------------------------------- */

      .button-large {

        .text-size-variant(button-large, scale-screen-small);
        .shape-layout-variant(button-large, scale-screen-small);
        .shape-layout-variant(button-large, narrow, scale-screen-small);
        .shape-layout-variant(button-large, wide, scale-screen-small);

        & when not (@button-large-height = null) and not (@button-large-height-scale-screen-small = null) {

          height: @button-large-height * @button-large-height-scale-screen-small;

        }

        & when not (@button-large-border-radius = null) and not (@button-large-border-radius-scale-screen-small = null) {

          border-radius: @button-large-border-radius * @button-large-border-radius-scale-screen-small;

        }

        /* -----------------------------------------------------------------------------
        Button Dropdown (.button-dropdown)
        ----------------------------------------------------------------------------- */

        &.button-dropdown,
        &.dropdown-toggle {

          &:after {

            & when not (@button-large-dropdown-caret-width = null) and not (@button-large-dropdown-caret-width-scale-screen-small = null) {

              .triangle-size-width("down", (@button-large-dropdown-caret-width * @button-large-dropdown-caret-width-scale-screen-small));

            }

            & when not (@button-large-dropdown-caret-height = null) and not (@button-large-dropdown-caret-height-scale-screen-small = null) {

              .triangle-size-height("down", (@button-large-dropdown-caret-height * @button-large-dropdown-caret-height-scale-screen-small));

            }

            & when not (@button-large-dropdown-caret-margin-left = null) and not (@button-large-dropdown-caret-margin-left-scale-screen-small = null) {

              margin-left: @button-large-dropdown-caret-margin-left * @button-large-dropdown-caret-margin-left-scale-screen-small;

            }

            & when not (@button-large-dropdown-caret-margin-top = null) and not (@button-large-dropdown-caret-margin-top-scale-screen-small = null) {

              margin-top: @button-large-dropdown-caret-margin-top * @button-large-dropdown-caret-margin-top-scale-screen-small;

            }

          }

        }

        & when not (@button-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Button (.button-rounded)
          ----------------------------------------------------------------------------- */

          &.button-rounded {

            & when not (@button-large-padding-left = null) and not (@button-large-padding-left-scale-screen-small = null) {

              padding-left: @button-large-padding-left * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-small;

              & when not (@button-large-narrow-padding-left-scale = null) {

                &.button-large-narrow {

                  padding-left: @button-large-padding-left * @button-large-narrow-padding-left-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-small;

                }

              }

              & when not (@button-large-wide-padding-left-scale = null) {

                &.button-large-wide {

                  padding-left: @button-large-padding-left * @button-large-wide-padding-left-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-small;

                }

              }

            }

            & when not (@button-large-padding-right = null) and not (@button-large-padding-right-scale-screen-small = null) {

              padding-right: @button-large-padding-right * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-small;

              & when not (@button-large-narrow-padding-right-scale = null) {

                &.button-large-narrow {

                  padding-right: @button-large-padding-right * @button-large-narrow-padding-right-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-small;

                }

              }

              & when not (@button-large-wide-padding-right-scale = null) {

                &.button-large-wide {

                  padding-right: @button-large-padding-right * @button-large-wide-padding-right-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-small;

                }

              }

            }

          }

        }

        & when not (@button-large-content-padding-horizontal = null) and not (@button-large-content-padding-horizontal-scale-screen-small = null) {

          /* -----------------------------------------------------------------------------
          Button Content
          ----------------------------------------------------------------------------- */

          & > * {

            padding-right: @button-large-content-padding-horizontal * @button-large-content-padding-horizontal-scale-screen-small;

          }

        }

      }

      & when (@button-group-enabled) {

        /* -----------------------------------------------------------------------------
        Button group
        ----------------------------------------------------------------------------- */

        .button-group {

          & when not (@button-large-rounded-padding-horizontal-scale = null) {

            /* -----------------------------------------------------------------------------
            Button Large (.button-large)
            ----------------------------------------------------------------------------- */

            .button-large {

              /* -----------------------------------------------------------------------------
              Button Rounded (.button-rounded)
              ----------------------------------------------------------------------------- */

              &.button-rounded {

                & when not (@button-large-padding-right = null) and not (@button-large-padding-right-scale-screen-small = null) {

                  &:not(:first-of-type):not(:last-of-type) {

                    padding-right: @button-large-padding-right * @button-large-padding-right-scale-screen-small;

                  }

                  &:first-of-type {

                    padding-right: @button-large-padding-right * @button-large-padding-right-scale-screen-small;

                    & when not (@button-large-narrow-padding-right-scale = null) {

                      &.button-narrow {

                        padding-right: @button-large-padding-right * @button-large-narrow-padding-right-scale * @button-large-padding-right-scale-screen-small;

                      }

                    }

                    & when not (@button-large-wide-padding-right-scale = null) {

                      &.button-wide {

                        padding-right: @button-large-padding-right * @button-large-wide-padding-right-scale * @button-large-padding-right-scale-screen-small;

                      }

                    }

                  }

                }

                & when not (@button-large-padding-left = null) and not (@button-large-padding-left-scale-screen-small = null) {

                  &:not(:first-of-type):not(:last-of-type) {

                    padding-left: @button-large-padding-left * @button-large-padding-left-scale-screen-small;

                  }

                  &:last-of-type {

                    padding-left: @button-large-padding-left * @button-large-padding-left-scale-screen-small;

                    & when not (@button-large-narrow-padding-left-scale = null) {

                      &.button-narrow {

                        padding-left: @button-large-padding-left * @button-large-narrow-padding-left-scale * @button-large-padding-left-scale-screen-small;

                      }

                    }

                    & when not (@button-large-wide-padding-left-scale = null) {

                      &.button-wide {

                        padding-left: @button-large-padding-left * @button-large-wide-padding-left-scale * @button-large-padding-left-scale-screen-small;

                      }

                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}



& when (@layout-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@button-large-enabled) and (@button-large-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Button Large (.button-large)
      ----------------------------------------------------------------------------- */

      .button-large {

        .text-size-variant(button-large, scale-screen-medium);
        .shape-layout-variant(button-large, scale-screen-medium);
        .shape-layout-variant(button-large, narrow, scale-screen-medium);
        .shape-layout-variant(button-large, wide, scale-screen-medium);

        & when not (@button-large-height = null) and not (@button-large-height-scale-screen-medium = null) {

          height: @button-large-height * @button-large-height-scale-screen-medium;

        }

        & when not (@button-large-border-radius = null) and not (@button-large-border-radius-scale-screen-medium = null) {

          border-radius: @button-large-border-radius * @button-large-border-radius-scale-screen-medium;

        }

        /* -----------------------------------------------------------------------------
        Button Dropdown (.button-dropdown)
        ----------------------------------------------------------------------------- */

        &.button-dropdown,
        &.dropdown-toggle {

          &:after {

            & when not (@button-large-dropdown-caret-width = null) and not (@button-large-dropdown-caret-width-scale-screen-medium = null) {

              .triangle-size-width("down", (@button-large-dropdown-caret-width * @button-large-dropdown-caret-width-scale-screen-medium));

            }

            & when not (@button-large-dropdown-caret-height = null) and not (@button-large-dropdown-caret-height-scale-screen-medium = null) {

              .triangle-size-height("down", (@button-large-dropdown-caret-height * @button-large-dropdown-caret-height-scale-screen-medium));

            }

            & when not (@button-large-dropdown-caret-margin-left = null) and not (@button-large-dropdown-caret-margin-left-scale-screen-medium = null) {

              margin-left: @button-large-dropdown-caret-margin-left * @button-large-dropdown-caret-margin-left-scale-screen-medium;

            }

            & when not (@button-large-dropdown-caret-margin-top = null) and not (@button-large-dropdown-caret-margin-top-scale-screen-medium = null) {

              margin-top: @button-large-dropdown-caret-margin-top * @button-large-dropdown-caret-margin-top-scale-screen-medium;

            }

          }

        }

        & when not (@button-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Button (.button-rounded)
          ----------------------------------------------------------------------------- */

          &.button-rounded {

            & when not (@button-large-padding-left = null) and not (@button-large-padding-left-scale-screen-medium = null) {

              padding-left: @button-large-padding-left * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-medium;

              & when not (@button-large-narrow-padding-left-scale = null) {

                &.button-large-narrow {

                  padding-left: @button-large-padding-left * @button-large-narrow-padding-left-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-medium;

                }

              }

              & when not (@button-large-wide-padding-left-scale = null) {

                &.button-large-wide {

                  padding-left: @button-large-padding-left * @button-large-wide-padding-left-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-medium;

                }

              }

            }

            & when not (@button-large-padding-right = null) and not (@button-large-padding-right-scale-screen-medium = null) {

              padding-right: @button-large-padding-right * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-medium;

              & when not (@button-large-narrow-padding-right-scale = null) {

                &.button-large-narrow {

                  padding-right: @button-large-padding-right * @button-large-narrow-padding-right-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-medium;

                }

              }

              & when not (@button-large-wide-padding-right-scale = null) {

                &.button-large-wide {

                  padding-right: @button-large-padding-right * @button-large-wide-padding-right-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-medium;

                }

              }

            }

          }

        }

        & when not (@button-large-content-padding-horizontal = null) and not (@button-large-content-padding-horizontal-scale-screen-medium = null) {

          /* -----------------------------------------------------------------------------
          Button Content
          ----------------------------------------------------------------------------- */

          & > * {

            padding-right: @button-large-content-padding-horizontal * @button-large-content-padding-horizontal-scale-screen-medium;

          }

        }

      }

      & when (@button-group-enabled) {

        /* -----------------------------------------------------------------------------
        Button group
        ----------------------------------------------------------------------------- */

        .button-group {

          & when not (@button-large-rounded-padding-horizontal-scale = null) {

            /* -----------------------------------------------------------------------------
            Button Large (.button-large)
            ----------------------------------------------------------------------------- */

            .button-large {

              /* -----------------------------------------------------------------------------
              Button Rounded (.button-rounded)
              ----------------------------------------------------------------------------- */

              &.button-rounded {

                & when not (@button-large-padding-right = null) and not (@button-large-padding-right-scale-screen-medium = null) {

                  &:not(:first-of-type):not(:last-of-type) {

                    padding-right: @button-large-padding-right * @button-large-padding-right-scale-screen-medium;

                  }

                  &:first-of-type {

                    padding-right: @button-large-padding-right * @button-large-padding-right-scale-screen-medium;

                    & when not (@button-large-narrow-padding-right-scale = null) {

                      &.button-narrow {

                        padding-right: @button-large-padding-right * @button-large-narrow-padding-right-scale * @button-large-padding-right-scale-screen-medium;

                      }

                    }

                    & when not (@button-large-wide-padding-right-scale = null) {

                      &.button-wide {

                        padding-right: @button-large-padding-right * @button-large-wide-padding-right-scale * @button-large-padding-right-scale-screen-medium;

                      }

                    }

                  }

                }

                & when not (@button-large-padding-left = null) and not (@button-large-padding-left-scale-screen-medium = null) {

                  &:not(:first-of-type):not(:last-of-type) {

                    padding-left: @button-large-padding-left * @button-large-padding-left-scale-screen-medium;

                  }

                  &:last-of-type {

                    padding-left: @button-large-padding-left * @button-large-padding-left-scale-screen-medium;

                    & when not (@button-large-narrow-padding-left-scale = null) {

                      &.button-narrow {

                        padding-left: @button-large-padding-left * @button-large-narrow-padding-left-scale * @button-large-padding-left-scale-screen-medium;

                      }

                    }

                    & when not (@button-large-wide-padding-left-scale = null) {

                      &.button-wide {

                        padding-left: @button-large-padding-left * @button-large-wide-padding-left-scale * @button-large-padding-left-scale-screen-medium;

                      }

                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}



& when (@layout-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@button-large-enabled) and (@button-large-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Button Large (.button-large)
      ----------------------------------------------------------------------------- */

      .button-large {

        .text-size-variant(button-large, scale-screen-large);
        .shape-layout-variant(button-large, scale-screen-large);
        .shape-layout-variant(button-large, narrow, scale-screen-large);
        .shape-layout-variant(button-large, wide, scale-screen-large);

        & when not (@button-large-height = null) and not (@button-large-height-scale-screen-large = null) {

          height: @button-large-height * @button-large-height-scale-screen-large;

        }

        & when not (@button-large-border-radius = null) and not (@button-large-border-radius-scale-screen-large = null) {

          border-radius: @button-large-border-radius * @button-large-border-radius-scale-screen-large;

        }

        /* -----------------------------------------------------------------------------
        Button Dropdown (.button-dropdown)
        ----------------------------------------------------------------------------- */

        &.button-dropdown,
        &.dropdown-toggle {

          &:after {

            & when not (@button-large-dropdown-caret-width = null) and not (@button-large-dropdown-caret-width-scale-screen-large = null) {

              .triangle-size-width("down", (@button-large-dropdown-caret-width * @button-large-dropdown-caret-width-scale-screen-large));

            }

            & when not (@button-large-dropdown-caret-height = null) and not (@button-large-dropdown-caret-height-scale-screen-large = null) {

              .triangle-size-height("down", (@button-large-dropdown-caret-height * @button-large-dropdown-caret-height-scale-screen-large));

            }

            & when not (@button-large-dropdown-caret-margin-left = null) and not (@button-large-dropdown-caret-margin-left-scale-screen-large = null) {

              margin-left: @button-large-dropdown-caret-margin-left * @button-large-dropdown-caret-margin-left-scale-screen-large;

            }

            & when not (@button-large-dropdown-caret-margin-top = null) and not (@button-large-dropdown-caret-margin-top-scale-screen-large = null) {

              margin-top: @button-large-dropdown-caret-margin-top * @button-large-dropdown-caret-margin-top-scale-screen-large;

            }

          }

        }

        & when not (@button-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Button (.button-rounded)
          ----------------------------------------------------------------------------- */

          &.button-rounded {

            & when not (@button-large-padding-left = null) and not (@button-large-padding-left-scale-screen-large = null) {

              padding-left: @button-large-padding-left * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-large;

              & when not (@button-large-narrow-padding-left-scale = null) {

                &.button-large-narrow {

                  padding-left: @button-large-padding-left * @button-large-narrow-padding-left-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-large;

                }

              }

              & when not (@button-large-wide-padding-left-scale = null) {

                &.button-large-wide {

                  padding-left: @button-large-padding-left * @button-large-wide-padding-left-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-large;

                }

              }

            }

            & when not (@button-large-padding-right = null) and not (@button-large-padding-right-scale-screen-large = null) {

              padding-right: @button-large-padding-right * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-large;

              & when not (@button-large-narrow-padding-right-scale = null) {

                &.button-large-narrow {

                  padding-right: @button-large-padding-right * @button-large-narrow-padding-right-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-large;

                }

              }

              & when not (@button-large-wide-padding-right-scale = null) {

                &.button-large-wide {

                  padding-right: @button-large-padding-right * @button-large-wide-padding-right-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-large;

                }

              }

            }

          }

        }

        & when not (@button-large-content-padding-horizontal = null) and not (@button-large-content-padding-horizontal-scale-screen-large = null) {

          /* -----------------------------------------------------------------------------
          Button Content
          ----------------------------------------------------------------------------- */

          & > * {

            padding-right: @button-large-content-padding-horizontal * @button-large-content-padding-horizontal-scale-screen-large;

          }

        }

      }

      & when (@button-group-enabled) {

        /* -----------------------------------------------------------------------------
        Button group
        ----------------------------------------------------------------------------- */

        .button-group {

          & when not (@button-large-rounded-padding-horizontal-scale = null) {

            /* -----------------------------------------------------------------------------
            Button Large (.button-large)
            ----------------------------------------------------------------------------- */

            .button-large {

              /* -----------------------------------------------------------------------------
              Button Rounded (.button-rounded)
              ----------------------------------------------------------------------------- */

              &.button-rounded {

                & when not (@button-large-padding-right = null) and not (@button-large-padding-right-scale-screen-large = null) {

                  &:not(:first-of-type):not(:last-of-type) {

                    padding-right: @button-large-padding-right * @button-large-padding-right-scale-screen-large;

                  }

                  &:first-of-type {

                    padding-right: @button-large-padding-right * @button-large-padding-right-scale-screen-large;

                    & when not (@button-large-narrow-padding-right-scale = null) {

                      &.button-narrow {

                        padding-right: @button-large-padding-right * @button-large-narrow-padding-right-scale * @button-large-padding-right-scale-screen-large;

                      }

                    }

                    & when not (@button-large-wide-padding-right-scale = null) {

                      &.button-wide {

                        padding-right: @button-large-padding-right * @button-large-wide-padding-right-scale * @button-large-padding-right-scale-screen-large;

                      }

                    }

                  }

                }

                & when not (@button-large-padding-left = null) and not (@button-large-padding-left-scale-screen-large = null) {

                  &:not(:first-of-type):not(:last-of-type) {

                    padding-left: @button-large-padding-left * @button-large-padding-left-scale-screen-large;

                  }

                  &:last-of-type {

                    padding-left: @button-large-padding-left * @button-large-padding-left-scale-screen-large;

                    & when not (@button-large-narrow-padding-left-scale = null) {

                      &.button-narrow {

                        padding-left: @button-large-padding-left * @button-large-narrow-padding-left-scale * @button-large-padding-left-scale-screen-large;

                      }

                    }

                    & when not (@button-large-wide-padding-left-scale = null) {

                      &.button-wide {

                        padding-left: @button-large-padding-left * @button-large-wide-padding-left-scale * @button-large-padding-left-scale-screen-large;

                      }

                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}



& when (@layout-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@button-large-enabled) and (@button-large-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Button Large (.button-large)
      ----------------------------------------------------------------------------- */

      .button-large {

        .text-size-variant(button-large, scale-screen-jumbo);
        .shape-layout-variant(button-large, scale-screen-jumbo);
        .shape-layout-variant(button-large, narrow, scale-screen-jumbo);
        .shape-layout-variant(button-large, wide, scale-screen-jumbo);

        & when not (@button-large-height = null) and not (@button-large-height-scale-screen-jumbo = null) {

          height: @button-large-height * @button-large-height-scale-screen-jumbo;

        }

        & when not (@button-large-border-radius = null) and not (@button-large-border-radius-scale-screen-jumbo = null) {

          border-radius: @button-large-border-radius * @button-large-border-radius-scale-screen-jumbo;

        }

        /* -----------------------------------------------------------------------------
        Button Dropdown (.button-dropdown)
        ----------------------------------------------------------------------------- */

        &.button-dropdown,
        &.dropdown-toggle {

          &:after {

            & when not (@button-large-dropdown-caret-width = null) and not (@button-large-dropdown-caret-width-scale-screen-jumbo = null) {

              .triangle-size-width("down", (@button-large-dropdown-caret-width * @button-large-dropdown-caret-width-scale-screen-jumbo));

            }

            & when not (@button-large-dropdown-caret-height = null) and not (@button-large-dropdown-caret-height-scale-screen-jumbo = null) {

              .triangle-size-height("down", (@button-large-dropdown-caret-height * @button-large-dropdown-caret-height-scale-screen-jumbo));

            }

            & when not (@button-large-dropdown-caret-margin-left = null) and not (@button-large-dropdown-caret-margin-left-scale-screen-jumbo = null) {

              margin-left: @button-large-dropdown-caret-margin-left * @button-large-dropdown-caret-margin-left-scale-screen-jumbo;

            }

            & when not (@button-large-dropdown-caret-margin-top = null) and not (@button-large-dropdown-caret-margin-top-scale-screen-jumbo = null) {

              margin-top: @button-large-dropdown-caret-margin-top * @button-large-dropdown-caret-margin-top-scale-screen-jumbo;

            }

          }

        }

        & when not (@button-large-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Button (.button-rounded)
          ----------------------------------------------------------------------------- */

          &.button-rounded {

            & when not (@button-large-padding-left = null) and not (@button-large-padding-left-scale-screen-jumbo = null) {

              padding-left: @button-large-padding-left * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-jumbo;

              & when not (@button-large-narrow-padding-left-scale = null) {

                &.button-large-narrow {

                  padding-left: @button-large-padding-left * @button-large-narrow-padding-left-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-jumbo;

                }

              }

              & when not (@button-large-wide-padding-left-scale = null) {

                &.button-large-wide {

                  padding-left: @button-large-padding-left * @button-large-wide-padding-left-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-left-scale-screen-jumbo;

                }

              }

            }

            & when not (@button-large-padding-right = null) and not (@button-large-padding-right-scale-screen-jumbo = null) {

              padding-right: @button-large-padding-right * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-jumbo;

              & when not (@button-large-narrow-padding-right-scale = null) {

                &.button-large-narrow {

                  padding-right: @button-large-padding-right * @button-large-narrow-padding-right-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-jumbo;

                }

              }

              & when not (@button-large-wide-padding-right-scale = null) {

                &.button-large-wide {

                  padding-right: @button-large-padding-right * @button-large-wide-padding-right-scale * @button-large-rounded-padding-horizontal-scale * @button-large-padding-right-scale-screen-jumbo;

                }

              }

            }

          }

        }

        & when not (@button-large-content-padding-horizontal = null) and not (@button-large-content-padding-horizontal-scale-screen-jumbo = null) {

          /* -----------------------------------------------------------------------------
          Button Content
          ----------------------------------------------------------------------------- */

          & > * {

            padding-right: @button-large-content-padding-horizontal * @button-large-content-padding-horizontal-scale-screen-jumbo;

          }

        }

      }

      & when (@button-group-enabled) {

        /* -----------------------------------------------------------------------------
        Button group
        ----------------------------------------------------------------------------- */

        .button-group {

          & when not (@button-large-rounded-padding-horizontal-scale = null) {

            /* -----------------------------------------------------------------------------
            Button Large (.button-large)
            ----------------------------------------------------------------------------- */

            .button-large {

              /* -----------------------------------------------------------------------------
              Button Rounded (.button-rounded)
              ----------------------------------------------------------------------------- */

              &.button-rounded {

                & when not (@button-large-padding-right = null) and not (@button-large-padding-right-scale-screen-jumbo = null) {

                  &:not(:first-of-type):not(:last-of-type) {

                    padding-right: @button-large-padding-right * @button-large-padding-right-scale-screen-jumbo;

                  }

                  &:first-of-type {

                    padding-right: @button-large-padding-right * @button-large-padding-right-scale-screen-jumbo;

                    & when not (@button-large-narrow-padding-right-scale = null) {

                      &.button-narrow {

                        padding-right: @button-large-padding-right * @button-large-narrow-padding-right-scale * @button-large-padding-right-scale-screen-jumbo;

                      }

                    }

                    & when not (@button-large-wide-padding-right-scale = null) {

                      &.button-wide {

                        padding-right: @button-large-padding-right * @button-large-wide-padding-right-scale * @button-large-padding-right-scale-screen-jumbo;

                      }

                    }

                  }

                }

                & when not (@button-large-padding-left = null) and not (@button-large-padding-left-scale-screen-jumbo = null) {

                  &:not(:first-of-type):not(:last-of-type) {

                    padding-left: @button-large-padding-left * @button-large-padding-left-scale-screen-jumbo;

                  }

                  &:last-of-type {

                    padding-left: @button-large-padding-left * @button-large-padding-left-scale-screen-jumbo;

                    & when not (@button-large-narrow-padding-left-scale = null) {

                      &.button-narrow {

                        padding-left: @button-large-padding-left * @button-large-narrow-padding-left-scale * @button-large-padding-left-scale-screen-jumbo;

                      }

                    }

                    & when not (@button-large-wide-padding-left-scale = null) {

                      &.button-wide {

                        padding-left: @button-large-padding-left * @button-large-wide-padding-left-scale * @button-large-padding-left-scale-screen-jumbo;

                      }

                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}
