/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
button-large/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@button-large-enabled:                                                          true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@button-large-scale-screen-small-enabled:                                       true;
@button-large-scale-screen-medium-enabled:                                      true;
@button-large-scale-screen-large-enabled:                                       true;
@button-large-scale-screen-jumbo-enabled:                                       true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Size
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Font Size

@button-large-text-font-size:                                                   1.1rem;
@button-large-text-font-size-scale-screen-small:                                null;
@button-large-text-font-size-scale-screen-medium:                               null;
@button-large-text-font-size-scale-screen-large:                                null;
@button-large-text-font-size-scale-screen-jumbo:                                null;

// Line Height

@button-large-text-line-height:                                                 1.1rem;
@button-large-text-line-height-scale-screen-small:                              @button-large-text-font-size-scale-screen-small;
@button-large-text-line-height-scale-screen-medium:                             @button-large-text-font-size-scale-screen-medium;
@button-large-text-line-height-scale-screen-large:                              @button-large-text-font-size-scale-screen-large;
@button-large-text-line-height-scale-screen-jumbo:                              @button-large-text-font-size-scale-screen-jumbo;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Height

@button-large-height:                                                           46px;
@button-large-height-scale-screen-small:                                        null;
@button-large-height-scale-screen-medium:                                       1.1;
@button-large-height-scale-screen-large:                                        1.2;
@button-large-height-scale-screen-jumbo:                                        null;

// Border Radius

@button-large-border-radius:                                                    6px;
@button-large-border-radius-scale-screen-small:                                 null;
@button-large-border-radius-scale-screen-medium:                                null;
@button-large-border-radius-scale-screen-large:                                 null;
@button-large-border-radius-scale-screen-jumbo:                                 null;

// Dropdown Caret Width

@button-large-dropdown-caret-width:                                             9px * (@button-large-height / @button-height);
@button-large-dropdown-caret-width-scale-screen-small:                          null;
@button-large-dropdown-caret-width-scale-screen-medium:                         1.1;
@button-large-dropdown-caret-width-scale-screen-large:                          1.2;
@button-large-dropdown-caret-width-scale-screen-jumbo:                          null;

// Dropdown Caret Height

@button-large-dropdown-caret-height:                                            5px * (@button-large-height / @button-height);
@button-large-dropdown-caret-height-scale-screen-small:                         @button-large-dropdown-caret-width-scale-screen-small;
@button-large-dropdown-caret-height-scale-screen-medium:                        @button-large-dropdown-caret-width-scale-screen-medium;
@button-large-dropdown-caret-height-scale-screen-large:                         @button-large-dropdown-caret-width-scale-screen-large;
@button-large-dropdown-caret-height-scale-screen-jumbo:                         @button-large-dropdown-caret-width-scale-screen-jumbo;

// Margin Top

@button-large-dropdown-caret-margin-top:                                        2px;
@button-large-dropdown-caret-margin-top-scale-screen-small:                     null;
@button-large-dropdown-caret-margin-top-scale-screen-medium:                    null;
@button-large-dropdown-caret-margin-top-scale-screen-large:                     null;
@button-large-dropdown-caret-margin-top-scale-screen-jumbo:                     null;

// Margin Top

@button-large-dropdown-caret-margin-left:                                       2.0rem * 0.25;
@button-large-dropdown-caret-margin-left-scale-screen-small:                    @button-large-height-scale-screen-small;
@button-large-dropdown-caret-margin-left-scale-screen-medium:                   @button-large-height-scale-screen-medium;
@button-large-dropdown-caret-margin-left-scale-screen-large:                    @button-large-height-scale-screen-large;
@button-large-dropdown-caret-margin-left-scale-screen-jumbo:                    @button-large-height-scale-screen-jumbo;

// Button Content Padding Horizontal

@button-large-content-padding-horizontal:                                       2.0rem * 0.25;
@button-large-content-padding-horizontal-scale-screen-small:                    @button-large-height-scale-screen-small;
@button-large-content-padding-horizontal-scale-screen-medium:                   @button-large-height-scale-screen-medium;
@button-large-content-padding-horizontal-scale-screen-large:                    @button-large-height-scale-screen-large;
@button-large-content-padding-horizontal-scale-screen-jumbo:                    @button-large-height-scale-screen-jumbo;

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@button-large-margin-top:                                                       null;
@button-large-margin-top-scale-screen-small:                                    null;
@button-large-margin-top-scale-screen-medium:                                   null;
@button-large-margin-top-scale-screen-large:                                    null;
@button-large-margin-top-scale-screen-jumbo:                                    null;

// Margin Bottom

@button-large-margin-bottom:                                                    null;
@button-large-margin-bottom-scale-screen-small:                                 null;
@button-large-margin-bottom-scale-screen-medium:                                null;
@button-large-margin-bottom-scale-screen-large:                                 null;
@button-large-margin-bottom-scale-screen-jumbo:                                 null;

// Margin Left

@button-large-margin-left:                                                      null;
@button-large-margin-left-scale-screen-small:                                   null;
@button-large-margin-left-scale-screen-medium:                                  null;
@button-large-margin-left-scale-screen-large:                                   null;
@button-large-margin-left-scale-screen-jumbo:                                   null;

// Margin Right

@button-large-margin-right:                                                     null;
@button-large-margin-right-scale-screen-small:                                  null;
@button-large-margin-right-scale-screen-medium:                                 null;
@button-large-margin-right-scale-screen-large:                                  null;
@button-large-margin-right-scale-screen-jumbo:                                  null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@button-large-padding-top:                                                      null;
@button-large-padding-top-scale-screen-small:                                   null;
@button-large-padding-top-scale-screen-medium:                                  null;
@button-large-padding-top-scale-screen-large:                                   null;
@button-large-padding-top-scale-screen-jumbo:                                   null;

// Padding Bottom

@button-large-padding-bottom:                                                   null;
@button-large-padding-bottom-scale-screen-small:                                null;
@button-large-padding-bottom-scale-screen-medium:                               null;
@button-large-padding-bottom-scale-screen-large:                                null;
@button-large-padding-bottom-scale-screen-jumbo:                                null;

// Padding Left

@button-large-padding-left:                                                     2.0rem;
@button-large-padding-left-scale-screen-small:                                  @button-large-height-scale-screen-small;
@button-large-padding-left-scale-screen-medium:                                 @button-large-height-scale-screen-medium;
@button-large-padding-left-scale-screen-large:                                  @button-large-height-scale-screen-large;
@button-large-padding-left-scale-screen-jumbo:                                  @button-large-height-scale-screen-jumbo;

// Padding Right

@button-large-padding-right:                                                    2.0rem;
@button-large-padding-right-scale-screen-small:                                 @button-large-height-scale-screen-small;
@button-large-padding-right-scale-screen-medium:                                @button-large-height-scale-screen-medium;
@button-large-padding-right-scale-screen-large:                                 @button-large-height-scale-screen-large;
@button-large-padding-right-scale-screen-jumbo:                                 @button-large-height-scale-screen-jumbo;

/* -----------------------------------------------------------------------------
Layout Variants
----------------------------------------------------------------------------- */

// Narrow

@button-large-narrow-margin-top-scale:                                          null;
@button-large-narrow-margin-bottom-scale:                                       null;
@button-large-narrow-margin-left-scale:                                         null;
@button-large-narrow-margin-right-scale:                                        null;

@button-large-narrow-padding-top-scale:                                         null;
@button-large-narrow-padding-bottom-scale:                                      null;
@button-large-narrow-padding-left-scale:                                        0.5;
@button-large-narrow-padding-right-scale:                                       0.5;

// Wide

@button-large-wide-margin-top-scale:                                            null;
@button-large-wide-margin-bottom-scale:                                         null;
@button-large-wide-margin-left-scale:                                           null;
@button-large-wide-margin-right-scale:                                          null;

@button-large-wide-padding-top-scale:                                           null;
@button-large-wide-padding-bottom-scale:                                        null;
@button-large-wide-padding-left-scale:                                          2.0;
@button-large-wide-padding-right-scale:                                         2.0;

/* -----------------------------------------------------------------------------
Rounded Button
----------------------------------------------------------------------------- */

@button-large-rounded-padding-horizontal-scale:                                 1.2;
