/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
utilities/mixins-grid.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------
Container
----------------------------------------------------------------------------- */

.container(@class, @screen-size) {

  @container-class: replace(e('container-@{class}'), '-null', '');
  @screen: replace(replace(@screen-size, 'screen-', '-screen-'), 'null', '');
  @container-width: "grid-@{container-class}-width@{screen}";
  @container-gutter-width: "grid-@{container-class}-gutter-width@{screen}";

  .@{container-class} {

    & when not (@@container-width = null) {

      width: @@container-width;

    }

    & when not (@@container-gutter-width = null) {

      margin-left: @@container-gutter-width;
      margin-right: @@container-gutter-width;

    }

    &:extend(.clearfix all);

  }

}

.container(@class, @variant, @screen-size) {

  @screen: replace(replace(@screen-size, 'screen-', '-screen-'), 'null', '');

  @container-class: replace(e('container-@{class}'), '-null', '');
  @container-variant-class: replace(e('container-@{class}-@{variant}'), '-null', '');

  @container-gutter-width: "grid-@{container-class}-gutter-width@{screen}";
  @container-variant-scale: "grid-@{container-variant-class}-margin-scale";

  & when not (@@container-gutter-width = null) and not (@@container-variant-scale = null) {

    .@{container-variant-class} {

      margin-left: @@container-gutter-width * @@container-variant-scale;
      margin-right: @@container-gutter-width * @@container-variant-scale;

    }

    .@{container-variant-class}-left {

      margin-left: @@container-gutter-width * @@container-variant-scale;

    }

    .@{container-variant-class}-right {

      margin-right: @@container-gutter-width * @@container-variant-scale;

    }

  }

}

/* -----------------------------------------------------------------------------
Row
----------------------------------------------------------------------------- */

.row(@screen-size) {

  .row {

    @screen: replace(replace(@screen-size, 'screen-', '-screen-'), 'null', '');

    @gutter-width: "grid-gutter-width@{screen}";
    @gutter-height: "grid-gutter-height@{screen}";

    & when not (@@gutter-width = null) {

      margin-left: @@gutter-width * -0.5;
      margin-right: @@gutter-width * -0.5;

    }

    & when not (@@gutter-height = null) {

      //margin-top: @@gutter-height * -0.5;
      //margin-bottom: @@gutter-height * -0.5;

    }

    &:extend(.clearfix all);

  }

}

/* -----------------------------------------------------------------------------
Grid
----------------------------------------------------------------------------- */

.grid (@screen-size, @grid-columns-count, @grid-gutter-width, @grid-gutter-height) {

  .calculate-grid-columns-padding(@screen-size, @grid-columns-count, @grid-gutter-width, @grid-gutter-height);
  .calculate-grid-columns(@screen-size, @grid-columns-count, @grid-columns-count, width);
  .calculate-grid-columns(@screen-size, @grid-columns-count, @grid-columns-count, push);
  .calculate-grid-columns(@screen-size, @grid-columns-count, @grid-columns-count, pull);
  .calculate-grid-columns(@screen-size, @grid-columns-count, @grid-columns-count, offset);

}

/* -----------------------------------------------------------------------------
Column Padding
----------------------------------------------------------------------------- */

.calculate-grid-columns-padding(@screen-size, @grid-columns-count, @grid-gutter-width, @grid-gutter-height) {

  .column(@screen-size, @index, @grid-columns-count, @grid-gutter-width, @grid-gutter-height) when (@index = 1) {

    @item: ~".column-@{index}, .column-mini-@{index}, .column-small-@{index}, .column-medium-@{index}, .column-large-@{index}";

    .column(@screen-size, (@index + 1), @grid-columns-count, @grid-gutter-width, @grid-gutter-height, @item);

  }

  .column(@screen-size, @index, @grid-columns-count, @grid-gutter-width, @grid-gutter-height, @list) when (@index =< @grid-columns-count) {

    @item: ~".column-@{index}, .column-mini-@{index}, .column-small-@{index}, .column-medium-@{index}, .column-large-@{index}";

    .column(@screen-size, (@index + 1), @grid-columns-count, @grid-gutter-width, @grid-gutter-height, ~"@{list}, @{item}");

  }

  .column(@screen-size, @index, @grid-columns-count, @grid-gutter-width, @grid-gutter-height, @list) when (@index > @grid-columns-count) and (@screen-size = null) {

    @{list} {

      position: relative;
      min-height: 1px;
      padding-left:  (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
      //margin-top:  (@grid-gutter-width / 2);
      //margin-bottom: (@grid-gutter-width / 2);

    }

  }

  .column(@screen-size, @index, @grid-columns-count, @grid-gutter-width, @grid-gutter-height, @list) when (@index > @grid-columns-count) {

    @{list} {

      padding-left:  (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
      //margin-top:  (@grid-gutter-width / 2);
      //margin-bottom: (@grid-gutter-width / 2);

    }

  }

  .column(@screen-size, 1, @grid-columns-count, @grid-gutter-width, @grid-gutter-height);

}

/* -----------------------------------------------------------------------------
Calculate Grid Columns
----------------------------------------------------------------------------- */

.calculate-grid-columns(@screen-size, @column-index, @grid-columns-count, @attribute) when (@column-index >= 0) {

  .calculate-grid-column(@screen-size, @column-index, @grid-columns-count, @attribute);
  .calculate-grid-columns(@screen-size, (@column-index - 1), @grid-columns-count, @attribute);

}

/* -----------------------------------------------------------------------------
Calculate Grid Column Width
----------------------------------------------------------------------------- */

.calculate-grid-column(@screen-size, @column-index, @grid-columns-count, @attribute) when (@attribute = width) {

  @screen: replace(replace(@screen-size, 'screen-', '-'), 'null', '');

  .column@{screen}-@{column-index} {

    float: left;
    width: percentage((@column-index / @grid-columns-count));

  }

}

/* -----------------------------------------------------------------------------
Calculate Grid Column Push
----------------------------------------------------------------------------- */

.calculate-grid-column(@screen-size, @column-index, @grid-columns-count, @attribute) when (@attribute = push) {

  @screen: replace(replace(@screen-size, 'screen-', '-'), 'null', '');

  & when (@column-index = 0) {

    .column@{screen}-push-@{column-index} {

      left: auto;

    }

  }

  & when (@column-index > 0) {

    .column@{screen}-push-@{column-index} {

      left: percentage((@column-index / @grid-columns-count));

    }

  }

}

/* -----------------------------------------------------------------------------
Calculate Grid Column Pull
----------------------------------------------------------------------------- */

.calculate-grid-column(@screen-size, @column-index, @grid-columns-count, @attribute) when (@attribute = pull) {

  @screen: replace(replace(@screen-size, 'screen-', '-'), 'null', '');

  & when (@column-index = 0) {

    .column@{screen}-pull-@{column-index} {

      right: auto;

    }

  }

  & when (@column-index > 0) {

    .column@{screen}-pull-@{column-index} {

      right: -1 * percentage((@column-index / @grid-columns-count));

    }

  }

}

/* -----------------------------------------------------------------------------
Calculate Grid Column Push
----------------------------------------------------------------------------- */

.calculate-grid-column(@screen-size, @column-index, @grid-columns-count, @attribute) when (@attribute = offset) {

  @screen: replace(replace(@screen-size, 'screen-', '-'), 'null', '');

  & when (@column-index > 0) {

    .column@{screen}-offset-@{column-index} {

      margin-left: percentage((@column-index / @grid-columns-count));

    }

  }

}
