/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
utilities/mixins-typography.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------
Text Size Variant
----------------------------------------------------------------------------- */

.element-text-size (@class, @screen-size) {

  .property-variant(@class, font-size, null, @screen-size);
  .property-variant(@class, line-height, null, @screen-size);

}

/* -----------------------------------------------------------------------------
Text Style Variant
----------------------------------------------------------------------------- */

.element-text-style (@class) {

  .property-variant(@class, color, null, null);
  .property-variant(@class, font-family, null, null);
  .property-variant(@class, font-style, null, null);
  .property-variant(@class, font-weight, null, null);
  .property-variant(@class, text-transform, null, null);
  .property-variant(@class, text-shadow, null, null);
  .property-variant(@class, text-decoration, null, null);
  .property-variant(@class, text-rendering, null, null);

};

/* -----------------------------------------------------------------------------
Text Overflow
----------------------------------------------------------------------------- */

.text-overflow () {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

/* -----------------------------------------------------------------------------
Hide Text
----------------------------------------------------------------------------- */

.text-hide () {

    font: ~"0/0" a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;

}

/* -----------------------------------------------------------------------------
Placeholder Text
----------------------------------------------------------------------------- */

.placeholder (@color) {

    &::placeholder {

      color: @color;

    }

}
