/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
utilities/mixins-typography.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------
Text Size Variant
----------------------------------------------------------------------------- */

.element-text-size (@class, @screen-size) {

  .property-variant(@class, font-size, null, @screen-size);
  .property-variant(@class, line-height, null, @screen-size);

}



/* -----------------------------------------------------------------------------
Text Style Variant
----------------------------------------------------------------------------- */

.element-text-style (@class) {

  .property-variant(@class, color, null, null);
  .property-variant(@class, font-family, null, null);
  .property-variant(@class, font-style, null, null);
  .property-variant(@class, font-weight, null, null);
  .property-variant(@class, text-transform, null, null);
  .property-variant(@class, text-shadow, null, null);
  .property-variant(@class, text-decoration, null, null);
  .property-variant(@class, text-rendering, null, null);

};

















/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Style Variant
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.text-style-variant (@element: '') {

  @element-text-color: "@{element}-text-color";
  @element-text-font-family: "@{element}-text-font-family";
  @element-text-font-style: "@{element}-text-font-style";
  @element-text-font-weight: "@{element}-text-font-weight";
  @element-text-transform: "@{element}-text-transform";
  @element-text-shadow: "@{element}-text-shadow";
  @element-text-decoration: "@{element}-text-decoration";
  @element-text-rendering: "@{element}-text-rendering";

  & when not (@@element-text-color = null) {

    color: @@element-text-color;

  }

  & when not (@@element-text-font-family = null) {

    font-family: @@element-text-font-family;

  }

  & when not (@@element-text-font-style = null) {

    font-style: @@element-text-font-style;

  }

  & when not (@@element-text-font-weight = null) {

    font-weight: @@element-text-font-weight;

  }

  & when not (@@element-text-transform = null) {

    text-transform: @@element-text-transform;

  }

  & when not (@@element-text-shadow = null) {

    text-shadow: @@element-text-shadow;

  }

  & when not (@@element-text-decoration = null) {

    text-decoration: @@element-text-decoration;

  }

  & when not (@@element-text-rendering = null) {

    text-rendering: @@element-text-rendering;

  }

};



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Size Variant
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.text-size-variant (@element: '', @size) when (@size = null) {

  @element-text-font-size: "@{element}-text-font-size";
  @element-text-font-size-scale: 1.0;

  @element-text-line-height: "@{element}-text-line-height";
  @element-text-line-height-scale: 1.0;

  .text-size-variant-helper (

    @@element-text-font-size,
    @element-text-font-size-scale,
    @@element-text-line-height,
    @element-text-line-height-scale

  );

}

.text-size-variant (@element: '', @size) when not (@size = null) {

  @element-text-font-size: "@{element}-text-font-size";
  @element-text-font-size-scale: "@{element}-text-font-size-@{size}";

  @element-text-line-height: "@{element}-text-line-height";
  @element-text-line-height-scale: "@{element}-text-line-height-@{size}";

  .text-size-variant-helper (

    @@element-text-font-size,
    @@element-text-font-size-scale,
    @@element-text-line-height,
    @@element-text-line-height-scale

  );

}

.text-size-variant-helper (

    @element-text-font-size,
    @element-text-font-size-scale,
    @element-text-line-height,
    @element-text-line-height-scale

  ) {

  // Font Size

  & when not (@element-text-font-size = null) and not (@element-text-font-size-scale = null) {

    font-size: @element-text-font-size * @element-text-font-size-scale;

  }

  // Line Height

  & when not (@element-text-line-height = null) and not (@element-text-line-height-scale = null) {

    line-height: @element-text-line-height * @element-text-line-height-scale;

  }

}







/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Test Styling (REMOVE)
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.text-styling (

  @text-color,
  @text-font-family,
  @text-font-size,
  @text-font-style,
  @text-font-weight,
  @text-line-height,
  @text-transform,
  @text-shadow

  ) {

  color: @text-color;
  font-family: @text-font-family;
  font-size: @text-font-size;
  font-style: @text-font-style;
  font-weight: @text-font-weight;
  line-height: @text-line-height;
  text-transform: @text-transform;
  text-shadow: @text-shadow;

}



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Overflow
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.text-overflow () {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Hide Text
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.text-hide () {

    font: ~"0/0" a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;

}



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Placeholder Text
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.placeholder (@color) {

    &::placeholder {

      color: @color;

    }

}
