& when (@form-control-group-enabled) {
  /* Form Control Group */

  .form-control-group {
    .clearfix();
    align-items: center;
    display: flex;
    position: relative;

    /* Form Control */

    .form-control {
      flex-grow: 1;

      &:not(:first-child) {
        .border-left-radius(0px) !important;
      }

      &:not(:last-child) {
        .border-right-radius(0px) !important;
      }
    }

    /* Add-On */

    .form-control-group-add-on {
      flex-grow: 0;

      > .button {

        &:hover,
        &:active,
        &.active,
        &.selected {
          z-index: 1;
        }
      }

      &:first-child {

        > .button {

          &:last-child {
            .border-right-radius(0px) !important;
          }
        }
      }

      &:last-child {

        > .button {

          &:first-child {
            .border-left-radius(0px) !important;
          }
        }
      }
    }

    /* Nested Form Control */

    &.form-control {

      .form-control {
        background: none;
        border: 0;
        box-shadow: none;
        padding: 0;
      }
    }
  }
}
