& when (@form-control-group-enabled) {

  /* Form Control Group */

  .form-control-group {

    display: flex;
    align-items: center;
    position: relative;
    .clearfix();

    /* Form Control */

    .form-control {

      flex-grow: 1;

      &:not(:first-child) {

        .border-left-radius(0px) !important;

      }

      &:not(:last-child) {

        .border-right-radius(0px) !important;

      }

    }

    /* Add-On */

    .form-control-group-add-on {

      flex-grow: 0;

      > .button {

        &:hover,
        &:active,
        &.active,
        &.selected {

          z-index: 1;

        }

      }

      &:first-child {

        > .button {

          &:last-child {

            .border-right-radius(0px) !important;

          }

        }

      }

      &:last-child {

        > .button {

          &:first-child {

            .border-left-radius(0px) !important;

          }

        }

      }

    }

    /* Nested Form Control */

    &.form-control {

      .form-control {

        padding: 0;
        border: 0px;
        background: none;
        box-shadow: none;

      }

    }

  }

}



& when (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

  }

}



& when (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

  }

}



& when (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

  }

}



& when (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

  }

}
