/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
responsive-utilities/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@responsive-utilities-enabled) {

  /* -----------------------------------------------------------------------------
  Visiblity Utilities
  ----------------------------------------------------------------------------- */

  .invisible {

    visibility: hidden;
    position: absolute !important;
    left: -9999px !important;

  }

  .hide {

    display: none !important;

  }

  .show {

    display: block !important;

  }

  .hidden-tiny-up {

    display: none !important;

  }



  /* -----------------------------------------------------------------------------
  Print Utilities
  ----------------------------------------------------------------------------- */

  .visible-print-block {

    display: none !important;

  }

  .visible-print-inline {

    display: none !important;

  }

  .visible-print-inline-block {

    display: none !important;

  }

}



/* -----------------------------------------------------------------------------
Print Utilities
----------------------------------------------------------------------------- */

@media print {

  .visible-print-block {

    display: block !important;

  }

  .visible-print-inline {

    display: inline !important;

  }

  .visible-print-inline-block {

    display: inline-block !important;

  }

  .hidden-print {

    display: none !important;

  }

}



& when (@layout-screen-small-enabled) {

  & when (@responsive-utilities-enabled) and (@responsive-utilities-scale-screen-small-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Small (@layout-screen-small-min-width) and narrower
    ----------------------------------------------------------------------------- */

    @media (max-width: @layout-screen-small-min-width - 1) {

      .hidden-tiny-down {

        display: none !important;

      }

    }

    /* -----------------------------------------------------------------------------
    Screen Size: Small (@layout-screen-small-min-width) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @layout-screen-small-min-width) {

      .hidden-mini-up {

        display: none !important;

      }

    }

    /* -----------------------------------------------------------------------------
    Screen Size: Small (@layout-screen-small-max-width) and narrower
    ----------------------------------------------------------------------------- */

    @media (max-width: @layout-screen-small-max-width) {

      .hidden-mini-down {

        display: none !important;

      }

    }

  }

}



& when (@layout-screen-medium-enabled) {

  & when (@responsive-utilities-enabled) and (@responsive-utilities-scale-screen-medium-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Medium (@layout-screen-medium-min-width) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @layout-screen-medium-min-width) {

      .hidden-small-up {

        display: none !important;

      }

    }

    /* -----------------------------------------------------------------------------
    Screen Size: Medium (@layout-screen-medium-max-width) and narrower
    ----------------------------------------------------------------------------- */

    @media (max-width: @layout-screen-medium-max-width) {

      .hidden-small-down {

        display: none !important;

      }

    }

  }

}



& when (@layout-screen-large-enabled) {

  & when (@responsive-utilities-enabled) and (@responsive-utilities-scale-screen-large-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Large (@layout-screen-large-min-width) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @layout-screen-large-min-width) {

      .hidden-medium-up {

        display: none !important;

      }

    }

    /* -----------------------------------------------------------------------------
    Screen Size: Large (@layout-screen-large-max-width) and narrower
    ----------------------------------------------------------------------------- */

    @media (max-width: @layout-screen-large-max-width) {

      .hidden-medium-down {

        display: none !important;

      }

    }

  }

}



& when (@layout-screen-jumbo-enabled) {

  & when (@responsive-utilities-enabled) and (@responsive-utilities-scale-screen-jumbo-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @layout-screen-jumbo-min-width) {

      .hidden-large-up {

        display: none !important;

      }

    }

    /* -----------------------------------------------------------------------------
    Screen Size: Jumbo (@layout-screen-jumbo-max-width) and narrower
    ----------------------------------------------------------------------------- */

    @media (max-width: @layout-screen-jumbo-max-width) {

      .hidden-large-down {

        display: none !important;

      }

    }

  }

}
