/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

heading-h3/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@heading-h3-text-enabled:                                                       @typography-enabled;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@heading-h3-text-color:                                                         color-lighten(@neutral, 40);
@heading-h3-text-font-family:                                                   @font-family-sans-serif;
@heading-h3-text-font-style:                                                    normal;
@heading-h3-text-font-weight:                                                   400;
@heading-h3-text-transform:                                                     null;
@heading-h3-text-shadow:                                                        null;
@heading-h3-text-decoration:                                                    null;
@heading-h3-text-rendering:                                                     null;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Size
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@heading-h3-text-font-size:                                                     2.0rem;
@heading-h3-text-line-height:                                                   2.0rem;
@heading-h3-text-margin-top:                                                    @base-spacing-unit * 0.5 * (4 * 1.15);
@heading-h3-text-margin-bottom:                                                 @base-spacing-unit * 0.5 * (3 * 1.15);



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Margin Variants
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@heading-h3-text-margin-variants:                                               short, tall;

// Short

@heading-h3-text-short-margin-top:                                              null;
@heading-h3-text-short-margin-bottom:                                           0.5;

// Tall

@heading-h3-text-tall-margin-top:                                               null;
@heading-h3-text-tall-margin-bottom:                                            2.0;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@heading-h3-text-scale-screen-mini:                                             @screen-mini-enabled;
@heading-h3-text-scale-screen-small:                                            @screen-small-enabled;
@heading-h3-text-scale-screen-medium:                                           @screen-medium-enabled;
@heading-h3-text-scale-screen-large:                                            @screen-large-enabled;

@heading-h3-text-font-size-scale-screen-mini:                                   null;
@heading-h3-text-font-size-scale-screen-small:                                  null;
@heading-h3-text-font-size-scale-screen-medium:                                 null;
@heading-h3-text-font-size-scale-screen-large:                                  null;

@heading-h3-text-line-height-scale-screen-mini:                                 @heading-h3-text-font-size-scale-screen-mini;
@heading-h3-text-line-height-scale-screen-small:                                @heading-h3-text-font-size-scale-screen-small;
@heading-h3-text-line-height-scale-screen-medium:                               @heading-h3-text-font-size-scale-screen-medium;
@heading-h3-text-line-height-scale-screen-large:                                @heading-h3-text-font-size-scale-screen-large;

@heading-h3-text-margin-top-scale-screen-mini:                                  null;
@heading-h3-text-margin-top-scale-screen-small:                                 1.1;
@heading-h3-text-margin-top-scale-screen-medium:                                1.2;
@heading-h3-text-margin-top-scale-screen-large:                                 null;

@heading-h3-text-margin-bottom-scale-screen-mini:                               null;
@heading-h3-text-margin-bottom-scale-screen-small:                              1.1;
@heading-h3-text-margin-bottom-scale-screen-medium:                             1.2;
@heading-h3-text-margin-bottom-scale-screen-large:                              null;
