/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
button-collection/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@button-collection-enabled) {

  /* -----------------------------------------------------------------------------
  Button Collection (.button-collection)
  ----------------------------------------------------------------------------- */

  .button-collection {

    display: block;
    font-size: 0px;
    .clearfix();
    .shape-layout-variant(button-collection, null);

    & when not (@button-collection-margin-vertical = null) {

      margin-top: -@button-collection-margin-vertical;

    }

    & when not (@button-collection-margin-horizontal = null) {

      margin-left: -@button-collection-margin-horizontal;

    }

    > .button,
    > .button-group {

      vertical-align: middle;
      margin-bottom: 0px;

      & when not (@button-collection-margin-vertical = null) {

        margin-top: @button-collection-margin-vertical;

      }

      & when not (@button-collection-margin-horizontal = null) {

        margin-left: @button-collection-margin-horizontal;

      }

    }

    /* -----------------------------------------------------------------------------
    Button Collection Align (Center)
    ----------------------------------------------------------------------------- */

    &.button-collection-align-horizontal-center {

      text-align: center;

    }

    /* -----------------------------------------------------------------------------
    Button Collection Align (Left)
    ----------------------------------------------------------------------------- */

    &.button-collection-align-horizontal-left {

      text-align: left;

    }

    /* -----------------------------------------------------------------------------
    Button Collection Align (Right)
    ----------------------------------------------------------------------------- */

    &.button-collection-align-horizontal-right {

      text-align: right;

    }

    /* -----------------------------------------------------------------------------
    Button Collection Align (Top)
    ----------------------------------------------------------------------------- */

    &.button-collection-align-vertical-top {

      > .button,
      > .button-group {

        vertical-align: top;

      }

    }

    /* -----------------------------------------------------------------------------
    Button Collection Align (Center)
    ----------------------------------------------------------------------------- */

    &.button-collection-align-vertical-center {

      > .button,
      > .button-group {

        vertical-align: middle

      }

    }

    /* -----------------------------------------------------------------------------
    Button Collection Align (Bottom)
    ----------------------------------------------------------------------------- */

    &.button-collection-align-vertical-bottom {

      > .button,
      > .button-group {

        vertical-align: bottom;

      }

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@button-collection-enabled) and (@button-collection-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Button Collection (.button-collection)
      ----------------------------------------------------------------------------- */

      .button-collection {

        .shape-layout-variant(button-collection, scale-screen-small);

        & when not (@button-collection-margin-vertical = null) and not (@button-collection-margin-vertical-scale-screen-small = null) {

          margin-top: -(@button-collection-margin-vertical * @button-collection-margin-vertical-scale-screen-small);

        }

        & when not (@button-collection-margin-horizontal = null) and not (@button-collection-margin-horizontal-scale-screen-small = null) {

          margin-left: -(@button-collection-margin-horizontal * @button-collection-margin-horizontal-scale-screen-small);

        }

        > .button,
        > .button-group {

          & when not (@button-collection-margin-vertical = null) and not (@button-collection-margin-vertical-scale-screen-small = null) {

            margin-top: (@button-collection-margin-vertical * @button-collection-margin-vertical-scale-screen-small);

          }

          & when not (@button-collection-margin-horizontal = null) and not (@button-collection-margin-horizontal-scale-screen-small = null) {

            margin-left: (@button-collection-margin-horizontal * @button-collection-margin-horizontal-scale-screen-small);

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@button-collection-enabled) and (@button-collection-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Button Collection (.button-collection)
      ----------------------------------------------------------------------------- */

      .button-collection {

        .shape-layout-variant(button-collection, scale-screen-medium);

        & when not (@button-collection-margin-vertical = null) and not (@button-collection-margin-vertical-scale-screen-medium = null) {

          margin-top: -(@button-collection-margin-vertical * @button-collection-margin-vertical-scale-screen-medium);

        }

        & when not (@button-collection-margin-horizontal = null) and not (@button-collection-margin-horizontal-scale-screen-medium = null) {

          margin-left: -(@button-collection-margin-horizontal * @button-collection-margin-horizontal-scale-screen-medium);

        }

        > .button,
        > .button-group {

          & when not (@button-collection-margin-vertical = null) and not (@button-collection-margin-vertical-scale-screen-medium = null) {

            margin-top: (@button-collection-margin-vertical * @button-collection-margin-vertical-scale-screen-medium);

          }

          & when not (@button-collection-margin-horizontal = null) and not (@button-collection-margin-horizontal-scale-screen-medium = null) {

            margin-left: (@button-collection-margin-horizontal * @button-collection-margin-horizontal-scale-screen-medium);

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@button-collection-enabled) and (@button-collection-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Button Collection (.button-collection)
      ----------------------------------------------------------------------------- */

      .button-collection {

        .shape-layout-variant(button-collection, scale-screen-large);

        & when not (@button-collection-margin-vertical = null) and not (@button-collection-margin-vertical-scale-screen-large = null) {

          margin-top: -(@button-collection-margin-vertical * @button-collection-margin-vertical-scale-screen-large);

        }

        & when not (@button-collection-margin-horizontal = null) and not (@button-collection-margin-horizontal-scale-screen-large = null) {

          margin-left: -(@button-collection-margin-horizontal * @button-collection-margin-horizontal-scale-screen-large);

        }

        > .button,
        > .button-group {

          & when not (@button-collection-margin-vertical = null) and not (@button-collection-margin-vertical-scale-screen-large = null) {

            margin-top: (@button-collection-margin-vertical * @button-collection-margin-vertical-scale-screen-large);

          }

          & when not (@button-collection-margin-horizontal = null) and not (@button-collection-margin-horizontal-scale-screen-large = null) {

            margin-left: (@button-collection-margin-horizontal * @button-collection-margin-horizontal-scale-screen-large);

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@button-collection-enabled) and (@button-collection-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Button Collection (.button-collection)
      ----------------------------------------------------------------------------- */

      .button-collection {

        .shape-layout-variant(button-collection, scale-screen-jumbo);

        & when not (@button-collection-margin-vertical = null) and not (@button-collection-margin-vertical-scale-screen-jumbo = null) {

          margin-top: -(@button-collection-margin-vertical * @button-collection-margin-vertical-scale-screen-jumbo);

        }

        & when not (@button-collection-margin-horizontal = null) and not (@button-collection-margin-horizontal-scale-screen-jumbo = null) {

          margin-left: -(@button-collection-margin-horizontal * @button-collection-margin-horizontal-scale-screen-jumbo);

        }

        > .button,
        > .button-group {

          & when not (@button-collection-margin-vertical = null) and not (@button-collection-margin-vertical-scale-screen-jumbo = null) {

            margin-top: (@button-collection-margin-vertical * @button-collection-margin-vertical-scale-screen-jumbo);

          }

          & when not (@button-collection-margin-horizontal = null) and not (@button-collection-margin-horizontal-scale-screen-jumbo = null) {

            margin-left: (@button-collection-margin-horizontal * @button-collection-margin-horizontal-scale-screen-jumbo);

          }

        }

      }

    }

  }

}
