/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

button-collection/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@button-collection-enabled:                                                     true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@button-collection-scale-screen-mini-enabled:                                   true;
@button-collection-scale-screen-small-enabled:                                  true;
@button-collection-scale-screen-medium-enabled:                                 true;
@button-collection-scale-screen-large-enabled:                                  true;
