/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
button-collection/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@button-collection-enabled:                                                     true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@button-collection-scale-screen-small-enabled:                                  true;
@button-collection-scale-screen-medium-enabled:                                 true;
@button-collection-scale-screen-large-enabled:                                  true;
@button-collection-scale-screen-jumbo-enabled:                                  true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@button-collection-margin-top:                                                  null;
@button-collection-margin-top-scale-screen-small:                               null;
@button-collection-margin-top-scale-screen-medium:                              null;
@button-collection-margin-top-scale-screen-large:                               null;
@button-collection-margin-top-scale-screen-jumbo:                               null;

// Margin Bottom

@button-collection-margin-bottom:                                               @base-spacing-unit * 0.5;
@button-collection-margin-bottom-scale-screen-small:                            @base-spacing-unit-screen-small / @base-spacing-unit;
@button-collection-margin-bottom-scale-screen-medium:                           @base-spacing-unit-screen-medium / @base-spacing-unit;
@button-collection-margin-bottom-scale-screen-large:                            @base-spacing-unit-screen-large / @base-spacing-unit;
@button-collection-margin-bottom-scale-screen-jumbo:                            @base-spacing-unit-screen-jumbo / @base-spacing-unit;

// Margin Left

@button-collection-margin-left:                                                 null;
@button-collection-margin-left-scale-screen-small:                              null;
@button-collection-margin-left-scale-screen-medium:                             null;
@button-collection-margin-left-scale-screen-large:                              null;
@button-collection-margin-left-scale-screen-jumbo:                              null;

// Margin Right

@button-collection-margin-right:                                                null;
@button-collection-margin-right-scale-screen-small:                             null;
@button-collection-margin-right-scale-screen-medium:                            null;
@button-collection-margin-right-scale-screen-large:                             null;
@button-collection-margin-right-scale-screen-jumbo:                             null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@button-collection-padding-top:                                                 null;
@button-collection-padding-top-scale-screen-small:                              null;
@button-collection-padding-top-scale-screen-medium:                             null;
@button-collection-padding-top-scale-screen-large:                              null;
@button-collection-padding-top-scale-screen-jumbo:                              null;

// Padding Bottom

@button-collection-padding-bottom:                                              null;
@button-collection-padding-bottom-scale-screen-small:                           null;
@button-collection-padding-bottom-scale-screen-medium:                          null;
@button-collection-padding-bottom-scale-screen-large:                           null;
@button-collection-padding-bottom-scale-screen-jumbo:                           null;

// Padding Left

@button-collection-padding-left:                                                null;
@button-collection-padding-left-scale-screen-small:                             null;
@button-collection-padding-left-scale-screen-medium:                            null;
@button-collection-padding-left-scale-screen-large:                             null;
@button-collection-padding-left-scale-screen-jumbo:                             null;

// Padding Right

@button-collection-padding-right:                                               null;
@button-collection-padding-right-scale-screen-small:                            null;
@button-collection-padding-right-scale-screen-medium:                           null;
@button-collection-padding-right-scale-screen-large:                            null;
@button-collection-padding-right-scale-screen-jumbo:                            null;

/* -----------------------------------------------------------------------------
Inline Layout
----------------------------------------------------------------------------- */

// Margin Vertical

@button-collection-margin-vertical:                                             @button-collection-margin-bottom * 0.5;
@button-collection-margin-vertical-scale-screen-small:                          null;
@button-collection-margin-vertical-scale-screen-medium:                         1.1;
@button-collection-margin-vertical-scale-screen-large:                          1.2;
@button-collection-margin-vertical-scale-screen-jumbo:                          null;

// Margin Horizontal

@button-collection-margin-horizontal:                                           @button-collection-margin-bottom * 0.5;
@button-collection-margin-horizontal-scale-screen-small:                        null;
@button-collection-margin-horizontal-scale-screen-medium:                       1.1;
@button-collection-margin-horizontal-scale-screen-large:                        1.2;
@button-collection-margin-horizontal-scale-screen-jumbo:                        null;
