/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

button-rounded/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@button-rounded-enabled:                                                        true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@button-rounded-scale-screen-mini-enabled:                                      true;
@button-rounded-scale-screen-small-enabled:                                     true;
@button-rounded-scale-screen-medium-enabled:                                    true;
@button-rounded-scale-screen-large-enabled:                                     true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Size
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Font Size

@button-rounded-text-font-size:                                                 null;
@button-rounded-text-font-size-scale-screen-mini:                               null;
@button-rounded-text-font-size-scale-screen-small:                              null;
@button-rounded-text-font-size-scale-screen-medium:                             null;
@button-rounded-text-font-size-scale-screen-large:                              null;

// Line Height

@button-rounded-text-line-height:                                               null;
@button-rounded-text-line-height-scale-screen-mini:                             @button-rounded-text-font-size-scale-screen-mini;
@button-rounded-text-line-height-scale-screen-small:                            @button-rounded-text-font-size-scale-screen-small;
@button-rounded-text-line-height-scale-screen-medium:                           @button-rounded-text-font-size-scale-screen-medium;
@button-rounded-text-line-height-scale-screen-large:                            @button-rounded-text-font-size-scale-screen-large;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Height

@button-rounded-height:                                                         null;
@button-rounded-height-scale-screen-mini:                                       null;
@button-rounded-height-scale-screen-small:                                      null;
@button-rounded-height-scale-screen-medium:                                     null;
@button-rounded-height-scale-screen-large:                                      null;

// Border Radius

@button-rounded-border-radius:                                                  100px;
@button-rounded-border-radius-scale-screen-mini:                                null;
@button-rounded-border-radius-scale-screen-small:                               null;
@button-rounded-border-radius-scale-screen-medium:                              null;
@button-rounded-border-radius-scale-screen-large:                               null;



/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@button-rounded-margin-top:                                                     null;
@button-rounded-margin-top-scale-screen-mini:                                   null;
@button-rounded-margin-top-scale-screen-small:                                  null;
@button-rounded-margin-top-scale-screen-medium:                                 null;
@button-rounded-margin-top-scale-screen-large:                                  null;

// Margin Bottom

@button-rounded-margin-bottom:                                                  null;
@button-rounded-margin-bottom-scale-screen-mini:                                null;
@button-rounded-margin-bottom-scale-screen-small:                               null;
@button-rounded-margin-bottom-scale-screen-medium:                              null;
@button-rounded-margin-bottom-scale-screen-large:                               null;

// Margin Left

@button-rounded-margin-left:                                                    null;
@button-rounded-margin-left-scale-screen-mini:                                  null;
@button-rounded-margin-left-scale-screen-small:                                 null;
@button-rounded-margin-left-scale-screen-medium:                                null;
@button-rounded-margin-left-scale-screen-large:                                 null;

// Margin Right

@button-rounded-margin-right:                                                   null;
@button-rounded-margin-right-scale-screen-mini:                                 null;
@button-rounded-margin-right-scale-screen-small:                                null;
@button-rounded-margin-right-scale-screen-medium:                               null;
@button-rounded-margin-right-scale-screen-large:                                null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@button-rounded-padding-top:                                                    null;
@button-rounded-padding-top-scale-screen-mini:                                  null;
@button-rounded-padding-top-scale-screen-small:                                 null;
@button-rounded-padding-top-scale-screen-medium:                                null;
@button-rounded-padding-top-scale-screen-large:                                 null;

// Padding Bottom

@button-rounded-padding-bottom:                                                 null;
@button-rounded-padding-bottom-scale-screen-mini:                               null;
@button-rounded-padding-bottom-scale-screen-small:                              null;
@button-rounded-padding-bottom-scale-screen-medium:                             null;
@button-rounded-padding-bottom-scale-screen-large:                              null;

// Padding Left

@button-rounded-padding-left:                                                   1.5rem * 1.2;
@button-rounded-padding-left-scale-screen-mini:                                 @button-height-scale-screen-mini;
@button-rounded-padding-left-scale-screen-small:                                @button-height-scale-screen-small;
@button-rounded-padding-left-scale-screen-medium:                               @button-height-scale-screen-medium;
@button-rounded-padding-left-scale-screen-large:                                @button-height-scale-screen-large;

// Padding Right

@button-rounded-padding-right:                                                  1.5rem * 1.2;
@button-rounded-padding-right-scale-screen-mini:                                @button-height-scale-screen-mini;
@button-rounded-padding-right-scale-screen-small:                               @button-height-scale-screen-small;
@button-rounded-padding-right-scale-screen-medium:                              @button-height-scale-screen-medium;
@button-rounded-padding-right-scale-screen-large:                               @button-height-scale-screen-large;

/* -----------------------------------------------------------------------------
Layout Variants
----------------------------------------------------------------------------- */

// Narrow

@button-rounded-narrow-margin-top-scale:                                        null;
@button-rounded-narrow-margin-bottom-scale:                                     null;
@button-rounded-narrow-margin-left-scale:                                       null;
@button-rounded-narrow-margin-right-scale:                                      null;

@button-rounded-narrow-padding-top-scale:                                       null;
@button-rounded-narrow-padding-bottom-scale:                                    null;
@button-rounded-narrow-padding-left-scale:                                      null;
@button-rounded-narrow-padding-right-scale:                                     null;

// Wide

@button-rounded-wide-margin-top-scale:                                          null;
@button-rounded-wide-margin-bottom-scale:                                       null;
@button-rounded-wide-margin-left-scale:                                         null;
@button-rounded-wide-margin-right-scale:                                        null;

@button-rounded-wide-padding-top-scale:                                         null;
@button-rounded-wide-padding-bottom-scale:                                      null;
@button-rounded-wide-padding-left-scale:                                        null;
@button-rounded-wide-padding-right-scale:                                       null;
