/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

layout/responsive.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------

Visibility

--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.invisible {

  visibility: hidden;
  position: absolute !important;
  left: -9999px !important;

}

.hide {

  display: none !important;

}

.show {

  display: block !important;

}






/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------

Flush Margins

--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.flush {

  margin: 0px !important;

}

.flush-vertical {

  margin-top: 0px !important;
  margin-bottom: 0px !important;

}

.flush-horizontal {

  margin-left: 0px !important;
  margin-right: 0px !important;

}

.flush-top {

  margin-top: 0px !important;

}

.flush-bottom {

  margin-bottom: 0px !important;

}

.flush-left {

  margin-left: 0px !important;

}

.flush-right {

  margin-right: 0px !important;

}






/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------

Positioning

--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.pull-right {

	float: right;

}

.pull-left {

	float: left;

}

.center {

  text-align: center;

}






/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------

Hidden

--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

.hidden-up {

  display: none !important;

}



@media (max-width: @layout-screen-mini-min-width - 1) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Hidden

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .hidden-down {

    display: none !important;

  }

}






& when (@layout-scale-screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Mini (@layout-screen-mini-min-width) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-mini-min-width) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Hidden

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .hidden-mini-up {

      display: none !important;

    }

  }



  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Mini (@layout-screen-mini-min-width) and below

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (max-width: @layout-screen-mini-min-width-max) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Hidden

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .hidden-mini-down {

      display: none !important;

    }

  }

}






& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Small (@layout-screen-small-min-width) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Hidden

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .hidden-small-up {

      display: none !important;

    }

  }



  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Small (@layout-screen-small-min-width) and below

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (max-width: @layout-screen-small-min-width-max) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Hidden

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .hidden-small-down {

      display: none !important;

    }

  }

}






& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Medium (@layout-screen-medium-min-width) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Hidden

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .hidden-medium-up {

      display: none !important;

    }

  }


  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Medium (@layout-screen-medium-min-width) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (max-width: @layout-screen-medium-min-width-max) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Hidden

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .hidden-medium-down {

      display: none !important;

    }

  }

}






& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Size: Large (@layout-screen-large-min-width) and above

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    /* -----------------------------------------------------------------------------
    --------------------------------------------------------------------------------

    Hidden

    --------------------------------------------------------------------------------
    ----------------------------------------------------------------------------- */

    .hidden-large-up {

      display: none !important;

    }

  }



  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Hidden

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .hidden-large-down {

    display: none !important;

  }

}






& when (@screen-resolution-2x-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Resolution: 2x

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

  }

}






& when (@screen-resolution-3x-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------

  Screen Resolution: 3x

  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media only screen and (-webkit-min-device-pixel-ratio: 3) {

  }

}




@media print {

  .visible-print-block {

    display: block !important;

  }

  .visible-print-inline {

    display: inline !important;

  }

  .visible-print-inline-block {

    display: inline-block !important;

  }

  .hidden-print {

    display: none !important;

  }

}
