/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
layout/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------
Foundation
----------------------------------------------------------------------------- */

*,
*:before,
*:after {

  box-sizing: border-box;

}

body {

  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  position: relative;

  & when not (@body-background-color = null) {

    background-color: @body-background-color;

  }

}

/* -----------------------------------------------------------------------------
Canvas
----------------------------------------------------------------------------- */

.canvas {

  position: relative;

  & when not (@canvas-background-color = null) {

    background-color: @canvas-background-color;

  }

}

/* -----------------------------------------------------------------------------
Canvas Pod
----------------------------------------------------------------------------- */

.canvas-pod {

  width: 100%;
  position: relative;

}

/* -----------------------------------------------------------------------------
Visibility
----------------------------------------------------------------------------- */

.invisible {

  visibility: hidden;
  position: absolute !important;
  left: -9999px !important;

}

.hide {

  display: none !important;

}

.show {

  display: block !important;

}

/* -----------------------------------------------------------------------------
Flush Margins
----------------------------------------------------------------------------- */

.flush {

  margin: 0px !important;

}

.flush-vertical {

  margin-top: 0px !important;
  margin-bottom: 0px !important;

}

.flush-horizontal {

  margin-left: 0px !important;
  margin-right: 0px !important;

}

.flush-top {

  margin-top: 0px !important;

}

.flush-bottom {

  margin-bottom: 0px !important;

}

.flush-left {

  margin-left: 0px !important;

}

.flush-right {

  margin-right: 0px !important;

}

/* -----------------------------------------------------------------------------
Positioning
----------------------------------------------------------------------------- */

.pull-right {

	float: right;

}

.pull-left {

	float: left;

}

.center {

  text-align: center;

}

/* -----------------------------------------------------------------------------
Hidden
----------------------------------------------------------------------------- */

.hidden-up {

  display: none !important;

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Narrower than Mini (@layout-screen-small-min-width)
  ----------------------------------------------------------------------------- */

  @media (max-width: @layout-screen-small-min-width - 1) {

    /* -----------------------------------------------------------------------------
    Hidden
    ----------------------------------------------------------------------------- */

    .hidden-down {

      display: none !important;

    }

  }

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    /* -----------------------------------------------------------------------------
    Flush Margins
    ----------------------------------------------------------------------------- */

    .flush-screen-small {

      margin: 0px;

    }

    .flush-vertical-screen-small {

      margin-top: 0px;
      margin-bottom: 0px;

    }

    .flush-horizontal-screen-small {

      margin-left: 0px;
      margin-right: 0px;

    }

    .flush-top-screen-small {

      margin-top: 0px;

    }

    .flush-bottom-screen-small {

      margin-bottom: 0px;

    }

    .flush-left-screen-small {

      margin-left: 0px;

    }

    .flush-right-screen-small {

      margin-right: 0px;

    }

    /* -----------------------------------------------------------------------------
    Hidden
    ----------------------------------------------------------------------------- */

    .hidden-mini-up {

      display: none !important;

    }

  }

  /* -----------------------------------------------------------------------------
  Screen Size: Narrower than Small (@layout-screen-large-min-width)
  ----------------------------------------------------------------------------- */

  @media (max-width: @layout-screen-small-max-width) {

    /* -----------------------------------------------------------------------------
    Hidden
    ----------------------------------------------------------------------------- */

    .hidden-mini-down {

      display: none !important;

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    /* -----------------------------------------------------------------------------
    Flush Margins
    ----------------------------------------------------------------------------- */

    .flush-screen-medium {

      margin: 0px;

    }

    .flush-vertical-screen-medium {

      margin-top: 0px;
      margin-bottom: 0px;

    }

    .flush-horizontal-screen-medium {

      margin-left: 0px;
      margin-right: 0px;

    }

    .flush-top-screen-medium {

      margin-top: 0px;

    }

    .flush-bottom-screen-medium {

      margin-bottom: 0px;

    }

    .flush-left-screen-medium {

      margin-left: 0px;

    }

    .flush-right-screen-medium {

      margin-right: 0px;

    }

    /* -----------------------------------------------------------------------------
    Hidden
    ----------------------------------------------------------------------------- */

    .hidden-small-up {

      display: none !important;

    }

  }

  /* -----------------------------------------------------------------------------
  Screen Size: Narrower than Medium (@layout-screen-large-min-width)
  ----------------------------------------------------------------------------- */

  @media (max-width: @layout-screen-medium-max-width) {

    /* -----------------------------------------------------------------------------
    Hidden
    ----------------------------------------------------------------------------- */

    .hidden-small-down {

      display: none !important;

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    /* -----------------------------------------------------------------------------
    Flush Margins
    ----------------------------------------------------------------------------- */

    .flush-screen-large {

      margin: 0px;

    }

    .flush-vertical-screen-large {

      margin-top: 0px;
      margin-bottom: 0px;

    }

    .flush-horizontal-screen-large {

      margin-left: 0px;
      margin-right: 0px;

    }

    .flush-top-screen-large {

      margin-top: 0px;

    }

    .flush-bottom-screen-large {

      margin-bottom: 0px;

    }

    .flush-left-screen-large {

      margin-left: 0px;

    }

    .flush-right-screen-large {

      margin-right: 0px;

    }

    /* -----------------------------------------------------------------------------
    Hidden
    ----------------------------------------------------------------------------- */

    .hidden-medium-up {

      display: none !important;

    }

  }

  /* -----------------------------------------------------------------------------
  Screen Size: Narrower than Large (@layout-screen-jumbo-min-width)
  ----------------------------------------------------------------------------- */

  @media (max-width: @layout-screen-large-max-width) {

    /* -----------------------------------------------------------------------------
    Hidden
    ----------------------------------------------------------------------------- */

    .hidden-medium-down {

      display: none !important;

    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    /* -----------------------------------------------------------------------------
    Flush Margins
    ----------------------------------------------------------------------------- */

    .flush-screen-jumbo {

      margin: 0px;

    }

    .flush-vertical-screen-jumbo {

      margin-top: 0px;
      margin-bottom: 0px;

    }

    .flush-horizontal-screen-jumbo {

      margin-left: 0px;
      margin-right: 0px;

    }

    .flush-top-screen-jumbo {

      margin-top: 0px;

    }

    .flush-bottom-screen-jumbo {

      margin-bottom: 0px;

    }

    .flush-left-screen-jumbo {

      margin-left: 0px;

    }

    .flush-right-screen-jumbo {

      margin-right: 0px;

    }

    /* -----------------------------------------------------------------------------
    Hidden
    ----------------------------------------------------------------------------- */

    .hidden-large-up {

      display: none !important;

    }

  }

  /* -----------------------------------------------------------------------------
  Hidden
  ----------------------------------------------------------------------------- */

  .hidden-large-down {

    display: none !important;

  }

}



/* -----------------------------------------------------------------------------
Print Visibility
----------------------------------------------------------------------------- */

@media print {

  .visible-print-block {

    display: block !important;

  }

  .visible-print-inline {

    display: inline !important;

  }

  .visible-print-inline-block {

    display: inline-block !important;

  }

  .hidden-print {

    display: none !important;

  }

}
