/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
pod/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@pod-enabled) {

  /* -----------------------------------------------------------------------------
  pod
  ----------------------------------------------------------------------------- */

  .spacing-layout-variant(pod, null, null);
  .spacing-layout-variant(pod, shorter, null);
  .spacing-layout-variant(pod, short, null);
  .spacing-layout-variant(pod, tall, null);
  .spacing-layout-variant(pod, taller, null);
  .spacing-layout-variant(pod, narrower, null);
  .spacing-layout-variant(pod, narrow, null);
  .spacing-layout-variant(pod, wide, null);
  .spacing-layout-variant(pod, wider, null);

  [class^="pod"],
  [class*=" pod"] {

    &.flush {

      padding-top: 0px;
      padding-bottom: 0px;

    }

    &.flush-top {

      padding-top: 0px;

    }

    &.flush-bottom {

      padding-bottom: 0px;

    }

    &.flush-left {

      padding-left: 0px;

    }

    &.flush-right {

      padding-right: 0px;

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and widespacing-layout-variantr
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@pod-enabled) and (@pod-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      pod
      ----------------------------------------------------------------------------- */

      .spacing-layout-variant(pod, null, scale-screen-small);
      .spacing-layout-variant(pod, shorter, scale-screen-small);
      .spacing-layout-variant(pod, short, scale-screen-small);
      .spacing-layout-variant(pod, tall, scale-screen-small);
      .spacing-layout-variant(pod, taller, scale-screen-small);
      .spacing-layout-variant(pod, narrower, scale-screen-small);
      .spacing-layout-variant(pod, narrow, scale-screen-small);
      .spacing-layout-variant(pod, wide, scale-screen-small);
      .spacing-layout-variant(pod, wider, scale-screen-small);

    }

  }

}



& when (@layout-scale-screen-medium-enabled) and (@pod-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@pod-enabled) and (@pod-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      pod
      ----------------------------------------------------------------------------- */

      .spacing-layout-variant(pod, null, scale-screen-medium);
      .spacing-layout-variant(pod, shorter, scale-screen-medium);
      .spacing-layout-variant(pod, short, scale-screen-medium);
      .spacing-layout-variant(pod, tall, scale-screen-medium);
      .spacing-layout-variant(pod, taller, scale-screen-medium);
      .spacing-layout-variant(pod, narrower, scale-screen-medium);
      .spacing-layout-variant(pod, narrow, scale-screen-medium);
      .spacing-layout-variant(pod, wide, scale-screen-medium);
      .spacing-layout-variant(pod, wider, scale-screen-medium);

    }

  }

}



& when (@layout-scale-screen-large-enabled) and (@pod-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@pod-enabled) and (@pod-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      pod
      ----------------------------------------------------------------------------- */

      .spacing-layout-variant(pod, null, scale-screen-large);
      .spacing-layout-variant(pod, shorter, scale-screen-large);
      .spacing-layout-variant(pod, short, scale-screen-large);
      .spacing-layout-variant(pod, tall, scale-screen-large);
      .spacing-layout-variant(pod, taller, scale-screen-large);
      .spacing-layout-variant(pod, narrower, scale-screen-large);
      .spacing-layout-variant(pod, narrow, scale-screen-large);
      .spacing-layout-variant(pod, wide, scale-screen-large);
      .spacing-layout-variant(pod, wider, scale-screen-large);

    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) and (@pod-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@pod-enabled) and (@pod-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      pod
      ----------------------------------------------------------------------------- */

      .spacing-layout-variant(pod, null, scale-screen-jumbo);
      .spacing-layout-variant(pod, shorter, scale-screen-jumbo);
      .spacing-layout-variant(pod, short, scale-screen-jumbo);
      .spacing-layout-variant(pod, tall, scale-screen-jumbo);
      .spacing-layout-variant(pod, taller, scale-screen-jumbo);
      .spacing-layout-variant(pod, narrower, scale-screen-jumbo);
      .spacing-layout-variant(pod, narrow, scale-screen-jumbo);
      .spacing-layout-variant(pod, wide, scale-screen-jumbo);
      .spacing-layout-variant(pod, wider, scale-screen-jumbo);

    }

  }

}
