/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
modal/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@modal-large-enabled:                                                           true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@modal-large-scale-screen-small-enabled:                                        true;
@modal-large-scale-screen-medium-enabled:                                       true;
@modal-large-scale-screen-large-enabled:                                        true;
@modal-large-scale-screen-jumbo-enabled:                                        true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Modal
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Layout
----------------------------------------------------------------------------- */

// Width

@modal-large-width:                                                             100%;
@modal-large-width-screen-small:                                                400px;
@modal-large-width-screen-medium:                                               600px;
@modal-large-width-screen-large:                                                700px;
@modal-large-width-screen-jumbo:                                                800px;

// Border Radius

@modal-large-border-radius:                                                     3px;
@modal-large-border-radius-screen-small:                                        null;
@modal-large-border-radius-screen-medium:                                       null;
@modal-large-border-radius-screen-large:                                        null;
@modal-large-border-radius-screen-jumbo:                                        null;

// Margin vertical

@modal-large-margin-vertical:                                                   1.0 * @base-spacing-unit;
@modal-large-margin-vertical-screen-small:                                      1.0 * @base-spacing-unit-screen-small;
@modal-large-margin-vertical-screen-medium:                                     1.0 * @base-spacing-unit-screen-medium;
@modal-large-margin-vertical-screen-large:                                      1.0 * @base-spacing-unit-screen-large;
@modal-large-margin-vertical-screen-jumbo:                                      0.75 * @base-spacing-unit-screen-jumbo;

// Margin Left

@modal-large-margin-horizontal:                                                 1.0 * @base-spacing-unit;
@modal-large-margin-horizontal-screen-small:                                    1.0 * @base-spacing-unit-screen-small;
@modal-large-margin-horizontal-screen-medium:                                   1.0 * @base-spacing-unit-screen-medium;
@modal-large-margin-horizontal-screen-large:                                    1.0 * @base-spacing-unit-screen-large;
@modal-large-margin-horizontal-screen-jumbo:                                    0.75 * @base-spacing-unit-screen-jumbo;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Modal Header
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Layout
----------------------------------------------------------------------------- */

// Margin Top

@modal-large-header-margin-top:                                                 null;
@modal-large-header-margin-top-screen-small:                                    null;
@modal-large-header-margin-top-screen-medium:                                   null;
@modal-large-header-margin-top-screen-large:                                    null;
@modal-large-header-margin-top-screen-jumbo:                                    null;

// Margin Bottom

@modal-large-header-margin-bottom:                                              null;
@modal-large-header-margin-bottom-screen-small:                                 null;
@modal-large-header-margin-bottom-screen-medium:                                null;
@modal-large-header-margin-bottom-screen-large:                                 null;
@modal-large-header-margin-bottom-screen-jumbo:                                 null;

// Margin Left

@modal-large-header-margin-left:                                                null;
@modal-large-header-margin-left-screen-small:                                   null;
@modal-large-header-margin-left-screen-medium:                                  null;
@modal-large-header-margin-left-screen-large:                                   null;
@modal-large-header-margin-left-screen-jumbo:                                   null;

// Margin Right

@modal-large-header-margin-right:                                               null;
@modal-large-header-margin-right-screen-small:                                  null;
@modal-large-header-margin-right-screen-medium:                                 null;
@modal-large-header-margin-right-screen-large:                                  null;
@modal-large-header-margin-right-screen-jumbo:                                  null;

// Padding Top

@modal-large-header-padding-top:                                                1.0 * @base-spacing-unit;
@modal-large-header-padding-top-screen-small:                                   1.0 * @base-spacing-unit-screen-small;
@modal-large-header-padding-top-screen-medium:                                  1.0 * @base-spacing-unit-screen-medium;
@modal-large-header-padding-top-screen-large:                                   1.0 * @base-spacing-unit-screen-large;
@modal-large-header-padding-top-screen-jumbo:                                   0.75 * @base-spacing-unit-screen-jumbo;

// Padding Bottom

@modal-large-header-padding-bottom:                                             @modal-large-header-padding-top;
@modal-large-header-padding-bottom-screen-small:                                @modal-large-header-padding-top-screen-small;
@modal-large-header-padding-bottom-screen-medium:                               @modal-large-header-padding-top-screen-medium;
@modal-large-header-padding-bottom-screen-large:                                @modal-large-header-padding-top-screen-large;
@modal-large-header-padding-bottom-screen-jumbo:                                @modal-large-header-padding-top-screen-jumbo;

// Padding Left

@modal-large-header-padding-left:                                               1.0 * @base-spacing-unit;
@modal-large-header-padding-left-screen-small:                                  1.0 * @base-spacing-unit-screen-small;
@modal-large-header-padding-left-screen-medium:                                 1.0 * @base-spacing-unit-screen-medium;
@modal-large-header-padding-left-screen-large:                                  1.0 * @base-spacing-unit-screen-large;
@modal-large-header-padding-left-screen-jumbo:                                  0.75 * @base-spacing-unit-screen-jumbo;

// Padding Right

@modal-large-header-padding-right:                                              @modal-large-header-padding-left;
@modal-large-header-padding-right-screen-small:                                 @modal-large-header-padding-left-screen-small;
@modal-large-header-padding-right-screen-medium:                                @modal-large-header-padding-left-screen-medium;
@modal-large-header-padding-right-screen-large:                                 @modal-large-header-padding-left-screen-large;
@modal-large-header-padding-right-screen-jumbo:                                 @modal-large-header-padding-left-screen-jumbo;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Modal Body
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Layout
----------------------------------------------------------------------------- */

// Margin Top

@modal-large-body-margin-top:                                                   null;
@modal-large-body-margin-top-screen-small:                                      null;
@modal-large-body-margin-top-screen-medium:                                     null;
@modal-large-body-margin-top-screen-large:                                      null;
@modal-large-body-margin-top-screen-jumbo:                                      null;

// Margin Bottom

@modal-large-body-margin-bottom:                                                null;
@modal-large-body-margin-bottom-screen-small:                                   null;
@modal-large-body-margin-bottom-screen-medium:                                  null;
@modal-large-body-margin-bottom-screen-large:                                   null;
@modal-large-body-margin-bottom-screen-jumbo:                                   null;

// Margin Left

@modal-large-body-margin-left:                                                  null;
@modal-large-body-margin-left-screen-small:                                     null;
@modal-large-body-margin-left-screen-medium:                                    null;
@modal-large-body-margin-left-screen-large:                                     null;
@modal-large-body-margin-left-screen-jumbo:                                     null;

// Margin Right

@modal-large-body-margin-right:                                                 null;
@modal-large-body-margin-right-screen-small:                                    null;
@modal-large-body-margin-right-screen-medium:                                   null;
@modal-large-body-margin-right-screen-large:                                    null;
@modal-large-body-margin-right-screen-jumbo:                                    null;

// Padding Top

@modal-large-body-padding-top:                                                  1.0 * @base-spacing-unit;
@modal-large-body-padding-top-screen-small:                                     1.0 * @base-spacing-unit-screen-small;
@modal-large-body-padding-top-screen-medium:                                    1.0 * @base-spacing-unit-screen-medium;
@modal-large-body-padding-top-screen-large:                                     1.0 * @base-spacing-unit-screen-large;
@modal-large-body-padding-top-screen-jumbo:                                     0.75 * @base-spacing-unit-screen-jumbo;

// Padding Bottom

@modal-large-body-padding-bottom:                                               @modal-large-body-padding-top;
@modal-large-body-padding-bottom-screen-small:                                  @modal-large-body-padding-top-screen-small;
@modal-large-body-padding-bottom-screen-medium:                                 @modal-large-body-padding-top-screen-medium;
@modal-large-body-padding-bottom-screen-large:                                  @modal-large-body-padding-top-screen-large;
@modal-large-body-padding-bottom-screen-jumbo:                                  @modal-large-body-padding-top-screen-jumbo;

// Padding Left

@modal-large-body-padding-left:                                                 1.0 * @base-spacing-unit;
@modal-large-body-padding-left-screen-small:                                    1.0 * @base-spacing-unit-screen-small;
@modal-large-body-padding-left-screen-medium:                                   1.0 * @base-spacing-unit-screen-medium;
@modal-large-body-padding-left-screen-large:                                    1.0 * @base-spacing-unit-screen-large;
@modal-large-body-padding-left-screen-jumbo:                                    0.75 * @base-spacing-unit-screen-jumbo;

// Padding Right

@modal-large-body-padding-right:                                                @modal-large-body-padding-left;
@modal-large-body-padding-right-screen-small:                                   @modal-large-body-padding-left-screen-small;
@modal-large-body-padding-right-screen-medium:                                  @modal-large-body-padding-left-screen-medium;
@modal-large-body-padding-right-screen-large:                                   @modal-large-body-padding-left-screen-large;
@modal-large-body-padding-right-screen-jumbo:                                   @modal-large-body-padding-left-screen-jumbo;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Modal Footer
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Layout
----------------------------------------------------------------------------- */

// Margin Top

@modal-large-footer-margin-top:                                                 null;
@modal-large-footer-margin-top-screen-small:                                    null;
@modal-large-footer-margin-top-screen-medium:                                   null;
@modal-large-footer-margin-top-screen-large:                                    null;
@modal-large-footer-margin-top-screen-jumbo:                                    null;

// Margin Bottom

@modal-large-footer-margin-bottom:                                              null;
@modal-large-footer-margin-bottom-screen-small:                                 null;
@modal-large-footer-margin-bottom-screen-medium:                                null;
@modal-large-footer-margin-bottom-screen-large:                                 null;
@modal-large-footer-margin-bottom-screen-jumbo:                                 null;

// Margin Left

@modal-large-footer-margin-left:                                                null;
@modal-large-footer-margin-left-screen-small:                                   null;
@modal-large-footer-margin-left-screen-medium:                                  null;
@modal-large-footer-margin-left-screen-large:                                   null;
@modal-large-footer-margin-left-screen-jumbo:                                   null;

// Margin Right

@modal-large-footer-margin-right:                                               null;
@modal-large-footer-margin-right-screen-small:                                  null;
@modal-large-footer-margin-right-screen-medium:                                 null;
@modal-large-footer-margin-right-screen-large:                                  null;
@modal-large-footer-margin-right-screen-jumbo:                                  null;

// Padding Top

@modal-large-footer-padding-top:                                                1.0 * @base-spacing-unit;
@modal-large-footer-padding-top-screen-small:                                   1.0 * @base-spacing-unit-screen-small;
@modal-large-footer-padding-top-screen-medium:                                  1.0 * @base-spacing-unit-screen-medium;
@modal-large-footer-padding-top-screen-large:                                   1.0 * @base-spacing-unit-screen-large;
@modal-large-footer-padding-top-screen-jumbo:                                   0.75 * @base-spacing-unit-screen-jumbo;

// Padding Bottom

@modal-large-footer-padding-bottom:                                             @modal-large-footer-padding-top;
@modal-large-footer-padding-bottom-screen-small:                                @modal-large-footer-padding-top-screen-small;
@modal-large-footer-padding-bottom-screen-medium:                               @modal-large-footer-padding-top-screen-medium;
@modal-large-footer-padding-bottom-screen-large:                                @modal-large-footer-padding-top-screen-large;
@modal-large-footer-padding-bottom-screen-jumbo:                                @modal-large-footer-padding-top-screen-jumbo;

// Padding Left

@modal-large-footer-padding-left:                                               1.0 * @base-spacing-unit;
@modal-large-footer-padding-left-screen-small:                                  1.0 * @base-spacing-unit-screen-small;
@modal-large-footer-padding-left-screen-medium:                                 1.0 * @base-spacing-unit-screen-medium;
@modal-large-footer-padding-left-screen-large:                                  1.0 * @base-spacing-unit-screen-large;
@modal-large-footer-padding-left-screen-jumbo:                                  0.75 * @base-spacing-unit-screen-jumbo;

// Padding Right

@modal-large-footer-padding-right:                                              @modal-large-footer-padding-left;
@modal-large-footer-padding-right-screen-small:                                 @modal-large-footer-padding-left-screen-small;
@modal-large-footer-padding-right-screen-medium:                                @modal-large-footer-padding-left-screen-medium;
@modal-large-footer-padding-right-screen-large:                                 @modal-large-footer-padding-left-screen-large;
@modal-large-footer-padding-right-screen-jumbo:                                 @modal-large-footer-padding-left-screen-jumbo;
