/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

button-success-outline-inverse/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@button-success-outline-inverse-enabled:                                        true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Default
----------------------------------------------------------------------------- */

// Normal

@button-success-outline-inverse-text-color:                                     @white;
@button-success-outline-inverse-text-font-family:                               null;
@button-success-outline-inverse-text-font-style:                                null;
@button-success-outline-inverse-text-font-weight:                               null;
@button-success-outline-inverse-text-transform:                                 null;
@button-success-outline-inverse-text-shadow:                                    null;
@button-success-outline-inverse-text-decoration:                                null;
@button-success-outline-inverse-text-rendering:                                 null;
@button-success-outline-inverse-background-color:                               none;
@button-success-outline-inverse-background-gradient-color-top:                  null;
@button-success-outline-inverse-background-gradient-color-bottom:               null;
@button-success-outline-inverse-border-width:                                   1px;
@button-success-outline-inverse-border-color:                                   color-lighten(@green, 0);
@button-success-outline-inverse-border-style:                                   solid;
@button-success-outline-inverse-border-top-width:                               null;
@button-success-outline-inverse-border-top-color:                               null;
@button-success-outline-inverse-border-top-style:                               null;
@button-success-outline-inverse-border-right-width:                             null;
@button-success-outline-inverse-border-right-color:                             null;
@button-success-outline-inverse-border-right-style:                             null;
@button-success-outline-inverse-border-bottom-width:                            null;
@button-success-outline-inverse-border-bottom-color:                            null;
@button-success-outline-inverse-border-bottom-style:                            null;
@button-success-outline-inverse-border-left-width:                              null;
@button-success-outline-inverse-border-left-color:                              null;
@button-success-outline-inverse-border-left-style:                              null;
@button-success-outline-inverse-shadow:                                         null;

// Hover

@button-success-outline-inverse-hover-text-color:                               @white;
@button-success-outline-inverse-hover-text-font-family:                         null;
@button-success-outline-inverse-hover-text-font-style:                          null;
@button-success-outline-inverse-hover-text-font-weight:                         null;
@button-success-outline-inverse-hover-text-transform:                           null;
@button-success-outline-inverse-hover-text-shadow:                              null;
@button-success-outline-inverse-hover-text-decoration:                          null;
@button-success-outline-inverse-hover-text-rendering:                           null;
@button-success-outline-inverse-hover-background-color:                         color-lighten(@green, 0);
@button-success-outline-inverse-hover-background-gradient-color-top:            null;
@button-success-outline-inverse-hover-background-gradient-color-bottom:         null;
@button-success-outline-inverse-hover-border-width:                             null;
@button-success-outline-inverse-hover-border-color:                             color-lighten(@green, 0);
@button-success-outline-inverse-hover-border-style:                             null;
@button-success-outline-inverse-hover-border-top-width:                         null;
@button-success-outline-inverse-hover-border-top-color:                         null;
@button-success-outline-inverse-hover-border-top-style:                         null;
@button-success-outline-inverse-hover-border-right-width:                       null;
@button-success-outline-inverse-hover-border-right-color:                       null;
@button-success-outline-inverse-hover-border-right-style:                       null;
@button-success-outline-inverse-hover-border-bottom-width:                      null;
@button-success-outline-inverse-hover-border-bottom-color:                      null;
@button-success-outline-inverse-hover-border-bottom-style:                      null;
@button-success-outline-inverse-hover-border-left-width:                        null;
@button-success-outline-inverse-hover-border-left-color:                        null;
@button-success-outline-inverse-hover-border-left-style:                        null;
@button-success-outline-inverse-hover-shadow:                                   null;

// Active

@button-success-outline-inverse-active-text-color:                              color-lighten(@green, 80);
@button-success-outline-inverse-active-text-font-family:                        null;
@button-success-outline-inverse-active-text-font-style:                         null;
@button-success-outline-inverse-active-text-font-weight:                        null;
@button-success-outline-inverse-active-text-transform:                          null;
@button-success-outline-inverse-active-text-shadow:                             null;
@button-success-outline-inverse-active-text-decoration:                         null;
@button-success-outline-inverse-active-text-rendering:                          null;
@button-success-outline-inverse-active-background-color:                        color-lighten(@green, -40);
@button-success-outline-inverse-active-background-gradient-color-top:           null;
@button-success-outline-inverse-active-background-gradient-color-bottom:        null;
@button-success-outline-inverse-active-border-width:                            null;
@button-success-outline-inverse-active-border-color:                            color-lighten(@green, -40);
@button-success-outline-inverse-active-border-style:                            null;
@button-success-outline-inverse-active-border-top-width:                        null;
@button-success-outline-inverse-active-border-top-color:                        null;
@button-success-outline-inverse-active-border-top-style:                        null;
@button-success-outline-inverse-active-border-right-width:                      null;
@button-success-outline-inverse-active-border-right-color:                      null;
@button-success-outline-inverse-active-border-right-style:                      null;
@button-success-outline-inverse-active-border-bottom-width:                     null;
@button-success-outline-inverse-active-border-bottom-color:                     null;
@button-success-outline-inverse-active-border-bottom-style:                     null;
@button-success-outline-inverse-active-border-left-width:                       null;
@button-success-outline-inverse-active-border-left-color:                       null;
@button-success-outline-inverse-active-border-left-style:                       null;
@button-success-outline-inverse-active-shadow:                                  null;

// Selected

@button-success-outline-inverse-selected-text-color:                            @button-success-outline-inverse-active-text-color;
@button-success-outline-inverse-selected-text-font-family:                      @button-success-outline-inverse-active-text-font-family;
@button-success-outline-inverse-selected-text-font-style:                       @button-success-outline-inverse-active-text-font-style;
@button-success-outline-inverse-selected-text-font-weight:                      @button-success-outline-inverse-active-text-font-weight;
@button-success-outline-inverse-selected-text-transform:                        @button-success-outline-inverse-active-text-transform;
@button-success-outline-inverse-selected-text-shadow:                           @button-success-outline-inverse-active-text-shadow;
@button-success-outline-inverse-selected-text-decoration:                       @button-success-outline-inverse-active-text-decoration;
@button-success-outline-inverse-selected-text-rendering:                        @button-success-outline-inverse-active-text-rendering;
@button-success-outline-inverse-selected-background-color:                      @button-success-outline-inverse-active-background-color;
@button-success-outline-inverse-selected-background-gradient-color-top:         @button-success-outline-inverse-active-background-gradient-color-top;
@button-success-outline-inverse-selected-background-gradient-color-bottom:      @button-success-outline-inverse-active-background-gradient-color-bottom;
@button-success-outline-inverse-selected-border-width:                          @button-success-outline-inverse-active-border-width;
@button-success-outline-inverse-selected-border-color:                          @button-success-outline-inverse-active-border-color;
@button-success-outline-inverse-selected-border-style:                          @button-success-outline-inverse-active-border-style;
@button-success-outline-inverse-selected-border-top-width:                      @button-success-outline-inverse-active-border-top-width;
@button-success-outline-inverse-selected-border-top-color:                      @button-success-outline-inverse-active-border-top-color;
@button-success-outline-inverse-selected-border-top-style:                      @button-success-outline-inverse-active-border-top-style;
@button-success-outline-inverse-selected-border-right-width:                    @button-success-outline-inverse-active-border-right-width;
@button-success-outline-inverse-selected-border-right-color:                    @button-success-outline-inverse-active-border-right-color;
@button-success-outline-inverse-selected-border-right-style:                    @button-success-outline-inverse-active-border-right-style;
@button-success-outline-inverse-selected-border-bottom-width:                   @button-success-outline-inverse-active-border-bottom-width;
@button-success-outline-inverse-selected-border-bottom-color:                   @button-success-outline-inverse-active-border-bottom-color;
@button-success-outline-inverse-selected-border-bottom-style:                   @button-success-outline-inverse-active-border-bottom-style;
@button-success-outline-inverse-selected-border-left-width:                     @button-success-outline-inverse-active-border-left-width;
@button-success-outline-inverse-selected-border-left-color:                     @button-success-outline-inverse-active-border-left-color;
@button-success-outline-inverse-selected-border-left-style:                     @button-success-outline-inverse-active-border-left-style;
@button-success-outline-inverse-selected-shadow:                                @button-success-outline-inverse-active-shadow;

// Disabled

@button-success-outline-inverse-disabled-opacity:                               0.5;
@button-success-outline-inverse-disabled-text-color:                            null;
@button-success-outline-inverse-disabled-text-font-family:                      null;
@button-success-outline-inverse-disabled-text-font-style:                       null;
@button-success-outline-inverse-disabled-text-font-weight:                      null;
@button-success-outline-inverse-disabled-text-transform:                        null;
@button-success-outline-inverse-disabled-text-shadow:                           null;
@button-success-outline-inverse-disabled-text-decoration:                       null;
@button-success-outline-inverse-disabled-text-rendering:                        null;
@button-success-outline-inverse-disabled-background-color:                      null;
@button-success-outline-inverse-disabled-background-gradient-color-top:         null;
@button-success-outline-inverse-disabled-background-gradient-color-bottom:      null;
@button-success-outline-inverse-disabled-border-width:                          null;
@button-success-outline-inverse-disabled-border-color:                          null;
@button-success-outline-inverse-disabled-border-style:                          null;
@button-success-outline-inverse-disabled-border-top-width:                      null;
@button-success-outline-inverse-disabled-border-top-color:                      null;
@button-success-outline-inverse-disabled-border-top-style:                      null;
@button-success-outline-inverse-disabled-border-right-width:                    null;
@button-success-outline-inverse-disabled-border-right-color:                    null;
@button-success-outline-inverse-disabled-border-right-style:                    null;
@button-success-outline-inverse-disabled-border-bottom-width:                   null;
@button-success-outline-inverse-disabled-border-bottom-color:                   null;
@button-success-outline-inverse-disabled-border-bottom-style:                   null;
@button-success-outline-inverse-disabled-border-left-width:                     null;
@button-success-outline-inverse-disabled-border-left-color:                     null;
@button-success-outline-inverse-disabled-border-left-style:                     null;
@button-success-outline-inverse-disabled-shadow:                                null;
