/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
page.less
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



.mCSB_scrollTools {

  width: 6px !important;
  top: 3px !important;
  bottom: 3px !important;
  right: 3px !important;

  .mCSB_draggerContainer {

    width: 100%;

  }

  .mCSB_dragger {

    width: 100%;

    .mCSB_dragger_bar {

      width: 100% !important;
      background: rgba(0, 0, 0, 0.5) !important;

    }

  }

  .mCSB_draggerRail {

    width: 100% !important;
    background: rgba(0, 0, 0, 0.05) !important;

  }

}

.mCSB_container {

  margin-right: 0px !important;

}
