/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
header.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Header Logo
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Styling
----------------------------------------------------------------------------- */

@header-logo-text-color:                                                        @white;
@header-logo-text-font-family:                                                  null;
@header-logo-text-font-style:                                                   null;
@header-logo-text-font-weight:                                                  500;
@header-logo-text-transform:                                                    uppercase;
@header-logo-text-shadow:                                                       null;
@header-logo-text-decoration:                                                   none;
@header-logo-text-rendering:                                                    null;

/* -----------------------------------------------------------------------------
Text Size
----------------------------------------------------------------------------- */

// Font Size

@header-logo-text-font-size:                                                    2.0rem;
@header-logo-text-font-size-scale-screen-mini:                                  null;
@header-logo-text-font-size-scale-screen-small:                                 null;
@header-logo-text-font-size-scale-screen-medium:                                null;
@header-logo-text-font-size-scale-screen-large:                                 null;

// Line Height

@header-logo-text-line-height:                                                  2.0rem;
@header-logo-text-line-height-scale-screen-mini:                                @header-logo-text-font-size-scale-screen-mini;
@header-logo-text-line-height-scale-screen-small:                               @header-logo-text-font-size-scale-screen-small;
@header-logo-text-line-height-scale-screen-medium:                              @header-logo-text-font-size-scale-screen-medium;
@header-logo-text-line-height-scale-screen-large:                               @header-logo-text-font-size-scale-screen-large;

/* -----------------------------------------------------------------------------
Header Logo Image
----------------------------------------------------------------------------- */

@header-logo-image-width:                                                       50px;
@header-logo-image-height:                                                      36px;

// Header Logo Responsive Scaling

@header-logo-scale:                                                             0.8;
@header-logo-width:                                                             @header-logo-scale * @header-logo-image-width;
@header-logo-height:                                                            @header-logo-scale * @header-logo-image-height;

@header-logo-scale-screen-mini:                                                 0.8;
@header-logo-width-screen-mini:                                                 @header-logo-scale-screen-mini * @header-logo-image-width;
@header-logo-height-screen-mini:                                                @header-logo-scale-screen-mini * @header-logo-image-height;

@header-logo-scale-screen-small:                                                1.0;
@header-logo-width-screen-small:                                                @header-logo-scale-screen-small * @header-logo-image-width;
@header-logo-height-screen-small:                                               @header-logo-scale-screen-small * @header-logo-image-height;

@header-logo-scale-screen-medium:                                               1.0;
@header-logo-width-screen-medium:                                               @header-logo-scale-screen-medium * @header-logo-image-width;
@header-logo-height-screen-medium:                                              @header-logo-scale-screen-medium * @header-logo-image-height;

@header-logo-scale-screen-large:                                                1.0;
@header-logo-width-screen-large:                                                @header-logo-scale-screen-large * @header-logo-image-width;
@header-logo-height-screen-large:                                               @header-logo-scale-screen-large * @header-logo-image-height;






/* -----------------------------------------------------------------------------
Header
----------------------------------------------------------------------------- */

.header {

  .clearfix();
  position: relative;
  width: 100%;
  z-index: @z-index-header;

  /* ---------------------------------------------------------------------------
  Header Logo
  ----------------------------------------------------------------------------*/

  .header-logo {

    display: block;
    width: auto;
    //width: @header-logo-width;
    //height: @header-logo-height;
    //background-image: url("@{path-images}layout/header/header-logo.png?cache=@{cache-clear}");
    .background-size(100% 100%);
    .text-style-variant(header-logo);
    .text-size-variant(header-logo, null);
    text-align: center;
    margin: 0 auto;

    a {

      display: block;
      width: auto;
      //width: 100%;
      //height: 100%;
      .text-style-variant(header-logo);

      span {

        //display: none;

      }

    }

  }

  & when (@layout-scale-screen-mini-enabled) {

    /* -------------------------------------------------------------------------
    Screen Size: Mini (@layout-screen-mini-min-width) and wider
    ---------------------------------------------------------------------------*/

    @media (min-width: @layout-screen-mini-min-width) {

      /* -----------------------------------------------------------------------
      Header Logo
      ------------------------------------------------------------------------*/

      .header-logo {

        //width: @header-logo-width-screen-mini;
        //height: @header-logo-height-screen-mini;
        .text-size-variant(header-logo, scale-screen-mini);

      }

    }

  }



  & when (@layout-scale-screen-small-enabled) {

    /* -------------------------------------------------------------------------
    Screen Size: Small (@layout-screen-small-min-width) and wider
    --------------------------------------------------------------------------*/

    @media (min-width: @layout-screen-small-min-width) {

      /* -----------------------------------------------------------------------
      Header Logo
      ------------------------------------------------------------------------*/

      .header-logo {

        //width: @header-logo-width-screen-small;
        //height: @header-logo-height-screen-small;
        .text-size-variant(header-logo, scale-screen-small);

      }

    }

  }



  & when (@layout-scale-screen-medium-enabled) {

    /* -------------------------------------------------------------------------
    Screen Size: Medium (@layout-screen-medium-min-width) and wider
    --------------------------------------------------------------------------*/

    @media (min-width: @layout-screen-medium-min-width) {

      /* -----------------------------------------------------------------------
      Header Logo
      ------------------------------------------------------------------------*/

      .header-logo {

        //width: @header-logo-width-screen-medium;
        //height: @header-logo-height-screen-medium;
        .text-size-variant(header-logo, scale-screen-medium);

      }

    }

  }



  & when (@layout-scale-screen-large-enabled) {

    /* -------------------------------------------------------------------------
    Screen Size: large (@layout-screen-large-min-width) and wider
    --------------------------------------------------------------------------*/

    @media (min-width: @layout-screen-large-min-width) {

      /* -----------------------------------------------------------------------
      Header Logo
      ------------------------------------------------------------------------*/

      .header-logo {

        //width: @header-logo-width-screen-large;
        //height: @header-logo-height-screen-large;
        .text-size-variant(header-logo, scale-screen-large);

      }

    }

  }



  & when (@screen-resolution-2x-enabled) {

    /* -------------------------------------------------------------------------
    Screen Resolution: 2x
    --------------------------------------------------------------------------*/

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {

      /* -----------------------------------------------------------------------
      Header Logo
      ------------------------------------------------------------------------*/

      .header-logo {

        //background-image: url("@{path-images}layout/header/header-logo@2x.png?cache=@{cache-clear}");

      }

    }

  }

}
