/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
header.less
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------------------
Header Logo
---------------------------------------------------------------------------------------------------- */

@header-logo-image-width:                                                       50px;
@header-logo-image-height:                                                      36px;

// Header Logo Responsive Scaling

@header-logo-scale:                                                             0.8;
@header-logo-width:                                                             @header-logo-scale * @header-logo-image-width;
@header-logo-height:                                                            @header-logo-scale * @header-logo-image-height;

@header-logo-scale-screen-mini:                                                 0.8;
@header-logo-width-screen-mini:                                                 @header-logo-scale-screen-mini * @header-logo-image-width;
@header-logo-height-screen-mini:                                                @header-logo-scale-screen-mini * @header-logo-image-height;

@header-logo-scale-screen-small:                                                1.0;
@header-logo-width-screen-small:                                                @header-logo-scale-screen-small * @header-logo-image-width;
@header-logo-height-screen-small:                                               @header-logo-scale-screen-small * @header-logo-image-height;

@header-logo-scale-screen-medium:                                               1.0;
@header-logo-width-screen-medium:                                               @header-logo-scale-screen-medium * @header-logo-image-width;
@header-logo-height-screen-medium:                                              @header-logo-scale-screen-medium * @header-logo-image-height;

@header-logo-scale-screen-large:                                                1.0;
@header-logo-width-screen-large:                                                @header-logo-scale-screen-large * @header-logo-image-width;
@header-logo-height-screen-large:                                               @header-logo-scale-screen-large * @header-logo-image-height;



/* ----------------------------------------------------------------------------------------------------
Header
---------------------------------------------------------------------------------------------------- */

.header {

  .clearfix();
  position: relative;
  width: 100%;
  z-index: @z-index-header;

  /* ----------------------------------------------------------------------------------------------------
  Header Logo
  ---------------------------------------------------------------------------------------------------- */

  .header-logo {

    display: block;
    width: @header-logo-width;
    height: @header-logo-height;
    background-image: url("@{path-images}layout/header/header-logo.png?cache=@{cache-clear}");
    .background-size(100% 100%);
    margin: 0 auto;

    a {

      display: block;
      width: 100%;
      height: 100%;

      span {

        display: none;

      }

    }

  }

  & when (@screen-mini-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Mini (@screen-mini) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-mini) {

      /* ----------------------------------------------------------------------------------------------------
      Header Logo
      ---------------------------------------------------------------------------------------------------- */

      .header-logo {

        width: @header-logo-width-screen-mini;
        height: @header-logo-height-screen-mini;

      }

    }

  }



  & when (@screen-small-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Small (@screen-small) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-small) {

      /* ----------------------------------------------------------------------------------------------------
      Header Logo
      ---------------------------------------------------------------------------------------------------- */

      .header-logo {

        width: @header-logo-width-screen-small;
        height: @header-logo-height-screen-small;

      }

    }

  }



  & when (@screen-medium-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Medium (@screen-medium) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-medium) {

      /* ----------------------------------------------------------------------------------------------------
      Header Logo
      ---------------------------------------------------------------------------------------------------- */

      .header-logo {

        width: @header-logo-width-screen-medium;
        height: @header-logo-height-screen-medium;

      }

    }

  }



  & when (@screen-large-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: large (@screen-large) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-large) {

      /* ----------------------------------------------------------------------------------------------------
      Header Logo
      ---------------------------------------------------------------------------------------------------- */

      .header-logo {

        width: @header-logo-width-screen-large;
        height: @header-logo-height-screen-large;

      }

    }

  }



  & when (@screen-resolution-2x-enabled) {

    /* ----------------------------------------------------------------------------------------------------
    Screen Resolution: 2x
    ---------------------------------------------------------------------------------------------------- */

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {

      /* ----------------------------------------------------------------------------------------------------
      Header Logo
      ---------------------------------------------------------------------------------------------------- */

      .header-logo {

        background-image: url("@{path-images}layout/header/header-logo@2x.png?cache=@{cache-clear}");

      }

    }

  }

}
