/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
page.less
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



.page {

  margin-left: 200px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .page-content-wrapper {

    position: relative;

    .page-navigation {

      position: relative;
      width: 250px;
      box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);

    }

    .page-content {

      margin-left: 250px;

    }

  }

  & when (@screen-mini-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Mini (@screen-mini) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-mini) {

    }

  }



  & when (@screen-small-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Small (@screen-small) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-small) {

      margin-left: 200px;

    }

  }



  & when (@screen-medium-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Medium (@screen-medium) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-medium) {

      margin-left: 250px;

    }

  }



  & when (@screen-large-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: large (@screen-large) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-large) {

    }

  }

}
