/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
page.less
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



.page {

  margin-left: 200px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  & when (@screen-mini-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Mini (@screen-mini) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-mini) {

    }

  }



  & when (@screen-small-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Small (@screen-small) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-small) {

      margin-left: 200px;

    }

  }



  & when (@screen-medium-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: Medium (@screen-medium) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-medium) {

      margin-left: 250px;

    }

  }



  & when (@screen-large-enabled) {

    /* -----------------------------------------------------------------------------
    Screen Size: large (@screen-large) and wider
    ----------------------------------------------------------------------------- */

    @media (min-width: @screen-large) {

      margin-left: 300px;

    }

  }

}
