/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

template.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Variables

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------------------------------
Page Header Headline
---------------------------------------------------------------------------------------------------- */

@page-header-headline-text-font-family:                                         @font-family-sans-serif;
@page-header-headline-text-font-size:                                           @haeding-h2-text-font-size;
@page-header-headline-text-font-weight:                                         @haeding-h2-text-font-weight;
@page-header-headline-text-font-style:                                          @haeding-h2-text-font-style;
@page-header-headline-text-line-height:                                         @haeding-h2-text-line-height;
@page-header-headline-text-transform:                                           normal;
@page-header-headline-text-color:                                               color-lighten(@neutral, -60);
@page-header-headline-text-shadow:                                              none;

// Inverse

@page-header-headline-inverse-text-color:                                       color-lighten(@neutral, 100);
@page-header-headline-inverse-text-shadow:                                      none;

// Margins

@page-header-headline-text-margin-top:                                          0px;
@page-header-headline-text-margin-bottom:                                       @base-spacing-unit * 0.5;

// Responsive Sizing

@page-header-headline-text-font-size-scale-screen-mini:                         @haeding-h2-text-font-size-scale-screen-mini;
@page-header-headline-text-font-size-scale-screen-small:                        @haeding-h2-text-font-size-scale-screen-small;
@page-header-headline-text-font-size-scale-screen-medium:                       @haeding-h2-text-font-size-scale-screen-medium;
@page-header-headline-text-font-size-scale-screen-large:                        @haeding-h2-text-font-size-scale-screen-large;

@page-header-headline-text-line-height-scale-screen-mini:                       @haeding-h2-text-line-height-scale-screen-mini;
@page-header-headline-text-line-height-scale-screen-small:                      @haeding-h2-text-line-height-scale-screen-small;
@page-header-headline-text-line-height-scale-screen-medium:                     @haeding-h2-text-line-height-scale-screen-medium;
@page-header-headline-text-line-height-scale-screen-large:                      @haeding-h2-text-line-height-scale-screen-large;

@page-header-headline-text-margin-top-scale-screen-mini:                        @haeding-h2-text-margin-top-scale-screen-mini;
@page-header-headline-text-margin-top-scale-screen-small:                       @haeding-h2-text-margin-top-scale-screen-small;
@page-header-headline-text-margin-top-scale-screen-medium:                      @haeding-h2-text-margin-top-scale-screen-medium;
@page-header-headline-text-margin-top-scale-screen-large:                       @haeding-h2-text-margin-top-scale-screen-large;

@page-header-headline-text-margin-bottom-scale-screen-mini:                     @haeding-h2-text-margin-bottom-scale-screen-mini;
@page-header-headline-text-margin-bottom-scale-screen-small:                    @haeding-h2-text-margin-bottom-scale-screen-small;
@page-header-headline-text-margin-bottom-scale-screen-medium:                   @haeding-h2-text-margin-bottom-scale-screen-medium;
@page-header-headline-text-margin-bottom-scale-screen-large:                    @haeding-h2-text-margin-bottom-scale-screen-large;






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Page Header

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

#page-header {

  margin-top: -@header-height;

  #page-header-inner {

    padding-top: @header-height;

  }



  /* ----------------------------------------------------------------------------------------------------
  Page Header Headline
  ---------------------------------------------------------------------------------------------------- */

  .page-header-headline {

    margin: @page-header-headline-text-margin-top 0px @page-header-headline-text-margin-bottom 0px;

    .text-styling (

      @page-header-headline-text-color,
      @page-header-headline-text-font-family,
      @page-header-headline-text-font-size,
      @page-header-headline-text-font-style,
      @page-header-headline-text-font-weight,
      @page-header-headline-text-line-height,
      @page-header-headline-text-transform,
      @page-header-headline-text-shadow

    );

    &.inverse {

      color: @page-header-headline-inverse-text-color;
      text-shadow: @page-header-headline-inverse-text-color;

    }

  }

}






& when (@screen-mini-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Screen Size: Mini (@screen-mini) and above

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  @media (min-width: @screen-mini) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Page Header

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    #page-header {

      margin-top: -@header-height-screen-mini;

      #page-header-inner {

        padding-top: @header-height-screen-mini;

      }



      /* ----------------------------------------------------------------------------------------------------
      Page Header Headline
      ---------------------------------------------------------------------------------------------------- */

      .page-header-headline {

        font-size: @page-header-headline-text-font-size * @page-header-headline-text-font-size-scale-screen-mini;
        line-height: @page-header-headline-text-line-height * @page-header-headline-text-line-height-scale-screen-mini;
        margin-top: @page-header-headline-text-margin-top * @page-header-headline-text-margin-top-scale-screen-mini;
        margin-bottom: @page-header-headline-text-margin-bottom * @page-header-headline-text-margin-bottom-scale-screen-mini;

      }

    }

  }

}






& when (@screen-small-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Screen Size: Small (@screen-small) and above

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  @media (min-width: @screen-small) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Page Header

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    #page-header {

      margin-top: -@header-height-screen-small;

      #page-header-inner {

        padding-top: @header-height-screen-small;

      }



      /* ----------------------------------------------------------------------------------------------------
      Page Header Headline
      ---------------------------------------------------------------------------------------------------- */

      .page-header-headline {

        font-size: @page-header-headline-text-font-size * @page-header-headline-text-font-size-scale-screen-small;
        line-height: @page-header-headline-text-line-height * @page-header-headline-text-line-height-scale-screen-small;
        margin-top: @page-header-headline-text-margin-top * @page-header-headline-text-margin-top-scale-screen-small;
        margin-bottom: @page-header-headline-text-margin-bottom * @page-header-headline-text-margin-bottom-scale-screen-small;

      }

    }

  }

}






& when (@screen-medium-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Screen Size: Medium (@screen-medium) and above

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  @media (min-width: @screen-medium) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Page Header

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    #page-header {

      margin-top: -@header-height-screen-medium;

      #page-header-inner {

        padding-top: @header-height-screen-medium;

      }



      /* ----------------------------------------------------------------------------------------------------
      Page Header Headline
      ---------------------------------------------------------------------------------------------------- */

      .page-header-headline {

        font-size: @page-header-headline-text-font-size * @page-header-headline-text-font-size-scale-screen-medium;
        line-height: @page-header-headline-text-line-height * @page-header-headline-text-line-height-scale-screen-medium;
        margin-top: @page-header-headline-text-margin-top * @page-header-headline-text-margin-top-scale-screen-medium;
        margin-bottom: @page-header-headline-text-margin-bottom * @page-header-headline-text-margin-bottom-scale-screen-medium;

      }

    }

  }

}






& when (@screen-large-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Screen Size: Large (@screen-large) and above

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  @media (min-width: @screen-large) {

    /* ----------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------

    Page Header

    -------------------------------------------------------------------------------------------------------
    ---------------------------------------------------------------------------------------------------- */

    #page-header {

      margin-top: -@header-height-screen-large;

      #page-header-inner {

        padding-top: @header-height-screen-large;

      }



      /* ----------------------------------------------------------------------------------------------------
      Page Header Headline
      ---------------------------------------------------------------------------------------------------- */

      .page-header-headline {

        font-size: @page-header-headline-text-font-size * @page-header-headline-text-font-size-scale-screen-large;
        line-height: @page-header-headline-text-line-height * @page-header-headline-text-line-height-scale-screen-large;
        margin-top: @page-header-headline-text-margin-top * @page-header-headline-text-margin-top-scale-screen-large;
        margin-bottom: @page-header-headline-text-margin-bottom * @page-header-headline-text-margin-bottom-scale-screen-large;

      }

    }

  }

}






& when (@screen-resolution-2x-enabled) {

  /* ----------------------------------------------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------

  Screen Resolution: 2x

  -------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------- */

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {

  }

}
