/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
sidebar.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



.sidebar {

  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background: color-lighten(@neutral, -50);
  box-shadow: 1px 0px 0px 0px hsla(hue(@neutral), saturation(@neutral), lightness(@neutral), 0.1);

}



& when (@screen-mini-enabled) {

  /* ---------------------------------------------------------------------------
  Screen Size: Mini (@screen-mini) and wider
  ----------------------------------------------------------------------------*/

  @media (min-width: @screen-mini) {

  }

}



& when (@screen-small-enabled) {

  /* ---------------------------------------------------------------------------
  Screen Size: Small (@screen-small) and wider
  ----------------------------------------------------------------------------*/

  @media (min-width: @screen-small) {

    .sidebar {

      flex-basis: 200px;

    }

  }

}



& when (@screen-medium-enabled) {

  /* ---------------------------------------------------------------------------
  Screen Size: Medium (@screen-medium) and wider
  ----------------------------------------------------------------------------*/

  @media (min-width: @screen-medium) {

  }

}



& when (@screen-large-enabled) {

  /* ---------------------------------------------------------------------------
  Screen Size: large (@screen-large) and wider
  ----------------------------------------------------------------------------*/

  @media (min-width: @screen-large) {

    .sidebar {

      flex-basis: 250px;

    }

  }

}
