/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
modal-backdrop/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@modal-backdrop-enabled:                                                        true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Normal

@modal-backdrop-background-color:                                               hsla(hue(color-lighten(@neutral, -60)), saturation(color-lighten(@neutral, -60)), lightness(color-lighten(@neutral, -60)), 0.9);
@modal-backdrop-background-gradient-color-top:                                  null;
@modal-backdrop-background-gradient-color-bottom:                               null;
@modal-backdrop-border-width:                                                   null;
@modal-backdrop-border-color:                                                   null;
@modal-backdrop-border-style:                                                   null;
@modal-backdrop-border-top-width:                                               null;
@modal-backdrop-border-top-color:                                               null;
@modal-backdrop-border-top-style:                                               null;
@modal-backdrop-border-right-width:                                             null;
@modal-backdrop-border-right-color:                                             null;
@modal-backdrop-border-right-style:                                             null;
@modal-backdrop-border-bottom-width:                                            null;
@modal-backdrop-border-bottom-color:                                            null;
@modal-backdrop-border-bottom-style:                                            null;
@modal-backdrop-border-left-width:                                              null;
@modal-backdrop-border-left-color:                                              null;
@modal-backdrop-border-left-style:                                              null;
@modal-backdrop-shadow:                                                         null;

// Inverse

@modal-backdrop-inverse-background-color:                                       rgba(255, 255, 255, 0.9);
@modal-backdrop-inverse-background-gradient-color-top:                          null;
@modal-backdrop-inverse-background-gradient-color-bottom:                       null;
@modal-backdrop-inverse-border-width:                                           null;
@modal-backdrop-inverse-border-color:                                           null;
@modal-backdrop-inverse-border-style:                                           null;
@modal-backdrop-inverse-border-top-width:                                       null;
@modal-backdrop-inverse-border-top-color:                                       null;
@modal-backdrop-inverse-border-top-style:                                       null;
@modal-backdrop-inverse-border-right-width:                                     null;
@modal-backdrop-inverse-border-right-color:                                     null;
@modal-backdrop-inverse-border-right-style:                                     null;
@modal-backdrop-inverse-border-bottom-width:                                    null;
@modal-backdrop-inverse-border-bottom-color:                                    null;
@modal-backdrop-inverse-border-bottom-style:                                    null;
@modal-backdrop-inverse-border-left-width:                                      null;
@modal-backdrop-inverse-border-left-color:                                      null;
@modal-backdrop-inverse-border-left-style:                                      null;
@modal-backdrop-inverse-shadow:                                                 null;
