/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

form-control-jumbo/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@form-control-jumbo-enabled:                                                    true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@form-control-jumbo-scale-screen-mini-enabled:                                  true;
@form-control-jumbo-scale-screen-small-enabled:                                 true;
@form-control-jumbo-scale-screen-medium-enabled:                                true;
@form-control-jumbo-scale-screen-large-enabled:                                 true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Size
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Font Size

@form-control-jumbo-text-font-size:                                             1.3rem;
@form-control-jumbo-text-font-size-scale-screen-mini:                           null;
@form-control-jumbo-text-font-size-scale-screen-small:                          null;
@form-control-jumbo-text-font-size-scale-screen-medium:                         null;
@form-control-jumbo-text-font-size-scale-screen-large:                          null;

// Line Height

@form-control-jumbo-text-line-height:                                           1.3rem;
@form-control-jumbo-text-line-height-scale-screen-mini:                         @form-control-jumbo-text-font-size-scale-screen-mini;
@form-control-jumbo-text-line-height-scale-screen-small:                        @form-control-jumbo-text-font-size-scale-screen-small;
@form-control-jumbo-text-line-height-scale-screen-medium:                       @form-control-jumbo-text-font-size-scale-screen-medium;
@form-control-jumbo-text-line-height-scale-screen-large:                        @form-control-jumbo-text-font-size-scale-screen-large;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Height

@form-control-jumbo-height:                                                     56px;
@form-control-jumbo-height-scale-screen-mini:                                   null;
@form-control-jumbo-height-scale-screen-small:                                  1.1;
@form-control-jumbo-height-scale-screen-medium:                                 1.2;
@form-control-jumbo-height-scale-screen-large:                                  null;

// Border Radius

@form-control-jumbo-border-radius:                                              7px;
@form-control-jumbo-border-radius-scale-screen-mini:                            null;
@form-control-jumbo-border-radius-scale-screen-small:                           null;
@form-control-jumbo-border-radius-scale-screen-medium:                          null;
@form-control-jumbo-border-radius-scale-screen-large:                           null;



/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@form-control-jumbo-margin-top:                                                 null;
@form-control-jumbo-margin-top-scale-screen-mini:                               null;
@form-control-jumbo-margin-top-scale-screen-small:                              null;
@form-control-jumbo-margin-top-scale-screen-medium:                             null;
@form-control-jumbo-margin-top-scale-screen-large:                              null;

// Margin Bottom

@form-control-jumbo-margin-bottom:                                              null;
@form-control-jumbo-margin-bottom-scale-screen-mini:                            null;
@form-control-jumbo-margin-bottom-scale-screen-small:                           null;
@form-control-jumbo-margin-bottom-scale-screen-medium:                          null;
@form-control-jumbo-margin-bottom-scale-screen-large:                           null;

// Margin Left

@form-control-jumbo-margin-left:                                                null;
@form-control-jumbo-margin-left-scale-screen-mini:                              null;
@form-control-jumbo-margin-left-scale-screen-small:                             null;
@form-control-jumbo-margin-left-scale-screen-medium:                            null;
@form-control-jumbo-margin-left-scale-screen-large:                             null;

// Margin Right

@form-control-jumbo-margin-right:                                               null;
@form-control-jumbo-margin-right-scale-screen-mini:                             null;
@form-control-jumbo-margin-right-scale-screen-small:                            null;
@form-control-jumbo-margin-right-scale-screen-medium:                           null;
@form-control-jumbo-margin-right-scale-screen-large:                            null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@form-control-jumbo-padding-top:                                                null;
@form-control-jumbo-padding-top-scale-screen-mini:                              null;
@form-control-jumbo-padding-top-scale-screen-small:                             null;
@form-control-jumbo-padding-top-scale-screen-medium:                            null;
@form-control-jumbo-padding-top-scale-screen-large:                             null;

// Padding Bottom

@form-control-jumbo-padding-bottom:                                             null;
@form-control-jumbo-padding-bottom-scale-screen-mini:                           null;
@form-control-jumbo-padding-bottom-scale-screen-small:                          null;
@form-control-jumbo-padding-bottom-scale-screen-medium:                         null;
@form-control-jumbo-padding-bottom-scale-screen-large:                          null;

// Padding Left

@form-control-jumbo-padding-left:                                               1.5rem;
@form-control-jumbo-padding-left-scale-screen-mini:                             @form-control-jumbo-height-scale-screen-mini;
@form-control-jumbo-padding-left-scale-screen-small:                            @form-control-jumbo-height-scale-screen-small;
@form-control-jumbo-padding-left-scale-screen-medium:                           @form-control-jumbo-height-scale-screen-medium;
@form-control-jumbo-padding-left-scale-screen-large:                            @form-control-jumbo-height-scale-screen-large;

// Padding Right

@form-control-jumbo-padding-right:                                              1.5rem;
@form-control-jumbo-padding-right-scale-screen-mini:                            @form-control-jumbo-height-scale-screen-mini;
@form-control-jumbo-padding-right-scale-screen-small:                           @form-control-jumbo-height-scale-screen-small;
@form-control-jumbo-padding-right-scale-screen-medium:                          @form-control-jumbo-height-scale-screen-medium;
@form-control-jumbo-padding-right-scale-screen-large:                           @form-control-jumbo-height-scale-screen-large;

/* -----------------------------------------------------------------------------
Rounded form-control
----------------------------------------------------------------------------- */

@form-control-jumbo-rounded-padding-horizontal-scale:                           1.2;
