@form-control-jumbo-enabled:                                                    true;



/*
 * Responsive Scaling
 */

@form-control-jumbo-screen-small-enabled:                                       true;
@form-control-jumbo-screen-medium-enabled:                                      true;
@form-control-jumbo-screen-large-enabled:                                       true;
@form-control-jumbo-screen-jumbo-enabled:                                       true;



/*
 * Text Size
 */

// Font Size

@form-control-jumbo-font-size:                                                  1.2rem;
@form-control-jumbo-font-size-screen-small:                                     null;
@form-control-jumbo-font-size-screen-medium:                                    null;
@form-control-jumbo-font-size-screen-large:                                     null;
@form-control-jumbo-font-size-screen-jumbo:                                     null;

// Line Height

@form-control-jumbo-line-height:                                                1.2rem;
@form-control-jumbo-line-height-screen-small:                                   null;
@form-control-jumbo-line-height-screen-medium:                                  null;
@form-control-jumbo-line-height-screen-large:                                   null;
@form-control-jumbo-line-height-screen-jumbo:                                   null;



/*
 * Layout
 */

// Height

@form-control-jumbo-height:                                                     50px;
@form-control-jumbo-height-screen-small:                                        null;
@form-control-jumbo-height-screen-medium:                                       null;
@form-control-jumbo-height-screen-large:                                        54px;
@form-control-jumbo-height-screen-jumbo:                                        null;

// Border Radius

@form-control-jumbo-border-radius:                                              7px;
@form-control-jumbo-border-radius-screen-small:                                 null;
@form-control-jumbo-border-radius-screen-medium:                                null;
@form-control-jumbo-border-radius-screen-large:                                 null;
@form-control-jumbo-border-radius-screen-jumbo:                                 null;

// Dropdown Caret Width

@form-control-jumbo-caret-width:                                                9px * (@form-control-jumbo-height / @form-control-height);
@form-control-jumbo-caret-width-screen-small:                                   null;
@form-control-jumbo-caret-width-screen-medium:                                  null;
@form-control-jumbo-caret-width-screen-large:                                   1.1 * @form-control-jumbo-caret-width;
@form-control-jumbo-caret-width-screen-jumbo:                                   null;

// Dropdown Caret Height

@form-control-jumbo-caret-height:                                               5px * (@form-control-jumbo-height / @form-control-height);
@form-control-jumbo-caret-height-screen-small:                                  null;
@form-control-jumbo-caret-height-screen-medium:                                 null;
@form-control-jumbo-caret-height-screen-large:                                  1.1 * @form-control-jumbo-caret-height;
@form-control-jumbo-caret-height-screen-jumbo:                                  null;

// Dropdown Caret Margin Top

@form-control-jumbo-caret-margin-top:                                           2px;
@form-control-jumbo-caret-margin-top-screen-small:                              null;
@form-control-jumbo-caret-margin-top-screen-medium:                             null;
@form-control-jumbo-caret-margin-top-screen-large:                              null;
@form-control-jumbo-caret-margin-top-screen-jumbo:                              null;

// Dropdown Caret Margin Left

@form-control-jumbo-caret-margin-left:                                          2.0rem * 0.25;
@form-control-jumbo-caret-margin-left-screen-small:                             null;
@form-control-jumbo-caret-margin-left-screen-medium:                            null;
@form-control-jumbo-caret-margin-left-screen-large:                             null;
@form-control-jumbo-caret-margin-left-screen-jumbo:                             null;

// Form Control Group Add On Padding Horizontal

@form-control-jumbo-add-on-padding-horizontal:                                  2.0rem * 0.5;
@form-control-jumbo-add-on-padding-horizontal-screen-small:                     null;
@form-control-jumbo-add-on-padding-horizontal-screen-medium:                    null;
@form-control-jumbo-add-on-padding-horizontal-screen-large:                     null;
@form-control-jumbo-add-on-padding-horizontal-screen-jumbo:                     null;

/* Margin */

// Margin Top

@form-control-jumbo-margin-top:                                                 null;
@form-control-jumbo-margin-top-screen-small:                                    null;
@form-control-jumbo-margin-top-screen-medium:                                   null;
@form-control-jumbo-margin-top-screen-large:                                    null;
@form-control-jumbo-margin-top-screen-jumbo:                                    null;

// Margin Bottom

@form-control-jumbo-margin-bottom:                                              null;
@form-control-jumbo-margin-bottom-screen-small:                                 null;
@form-control-jumbo-margin-bottom-screen-medium:                                null;
@form-control-jumbo-margin-bottom-screen-large:                                 null;
@form-control-jumbo-margin-bottom-screen-jumbo:                                 null;

// Margin Left

@form-control-jumbo-margin-left:                                                null;
@form-control-jumbo-margin-left-screen-small:                                   null;
@form-control-jumbo-margin-left-screen-medium:                                  null;
@form-control-jumbo-margin-left-screen-large:                                   null;
@form-control-jumbo-margin-left-screen-jumbo:                                   null;

// Margin Right

@form-control-jumbo-margin-right:                                               null;
@form-control-jumbo-margin-right-screen-small:                                  null;
@form-control-jumbo-margin-right-screen-medium:                                 null;
@form-control-jumbo-margin-right-screen-large:                                  null;
@form-control-jumbo-margin-right-screen-jumbo:                                  null;

/* Padding */

// Padding Top

@form-control-jumbo-padding-top:                                                null;
@form-control-jumbo-padding-top-screen-small:                                   null;
@form-control-jumbo-padding-top-screen-medium:                                  null;
@form-control-jumbo-padding-top-screen-large:                                   null;
@form-control-jumbo-padding-top-screen-jumbo:                                   null;

// Padding Bottom

@form-control-jumbo-padding-bottom:                                             null;
@form-control-jumbo-padding-bottom-screen-small:                                null;
@form-control-jumbo-padding-bottom-screen-medium:                               null;
@form-control-jumbo-padding-bottom-screen-large:                                null;
@form-control-jumbo-padding-bottom-screen-jumbo:                                null;

// Padding Left

@form-control-jumbo-padding-left:                                               2.0rem;
@form-control-jumbo-padding-left-screen-small:                                  null;
@form-control-jumbo-padding-left-screen-medium:                                 null;
@form-control-jumbo-padding-left-screen-large:                                  null;
@form-control-jumbo-padding-left-screen-jumbo:                                  null;

// Padding Right

@form-control-jumbo-padding-right:                                              2.0rem;
@form-control-jumbo-padding-right-screen-small:                                 null;
@form-control-jumbo-padding-right-screen-medium:                                null;
@form-control-jumbo-padding-right-screen-large:                                 null;
@form-control-jumbo-padding-right-screen-jumbo:                                 null;

/* Rounded form-control */

@form-control-jumbo-rounded-padding-horizontal-scale:                           1.2;
