/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
icon/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@icon-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Icon Medium (.icon-medium)
  ----------------------------------------------------------------------------- */

  .icon-medium {

    .shape-layout-variant(icon-medium, null);

    & when not (@icon-medium-width = null) {

      width: @icon-medium-width;

    }

    & when not (@icon-medium-height = null) {

      height: @icon-medium-height;

    }

    & when not (@icon-medium-border-radius = null) {

      border-radius: @icon-medium-border-radius;

    }

  }

}



& when (@layout-scale-screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Mini (@layout-screen-mini-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-mini-min-width) {

    & when (@icon-medium-enabled) and (@icon-medium-scale-screen-mini-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Medium (.icon-medium)
      ----------------------------------------------------------------------------- */

      .icon-medium {

        .shape-layout-variant(icon-medium, scale-screen-mini);

        & when not (@icon-medium-width = null) and not (@icon-medium-width-scale-screen-mini = null) {

          width: @icon-medium-width * @icon-medium-width-scale-screen-mini;

        }

        & when not (@icon-medium-height = null) and not (@icon-medium-height-scale-screen-mini = null) {

          height: @icon-medium-height * @icon-medium-height-scale-screen-mini;

        }

        & when not (@icon-medium-border-radius = null) and not (@icon-medium-border-radius-scale-screen-mini = null) {

          border-radius: @icon-medium-border-radius * @icon-medium-border-radius-scale-screen-mini;

        }

      }

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@icon-medium-enabled) and (@icon-medium-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Medium (.icon-medium)
      ----------------------------------------------------------------------------- */

      .icon-medium {

        .shape-layout-variant(icon-medium, scale-screen-small);

        & when not (@icon-medium-width = null) and not (@icon-medium-width-scale-screen-small = null) {

          width: @icon-medium-width * @icon-medium-width-scale-screen-small;

        }

        & when not (@icon-medium-height = null) and not (@icon-medium-height-scale-screen-small = null) {

          height: @icon-medium-height * @icon-medium-height-scale-screen-small;

        }

        & when not (@icon-medium-border-radius = null) and not (@icon-medium-border-radius-scale-screen-small = null) {

          border-radius: @icon-medium-border-radius * @icon-medium-border-radius-scale-screen-small;

        }

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@icon-medium-enabled) and (@icon-medium-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Medium (.icon-medium)
      ----------------------------------------------------------------------------- */

      .icon-medium {

        .shape-layout-variant(icon-medium, scale-screen-medium);

        & when not (@icon-medium-width = null) and not (@icon-medium-width-scale-screen-medium = null) {

          width: @icon-medium-width * @icon-medium-width-scale-screen-medium;

        }

        & when not (@icon-medium-height = null) and not (@icon-medium-height-scale-screen-medium = null) {

          height: @icon-medium-height * @icon-medium-height-scale-screen-medium;

        }

        & when not (@icon-medium-border-radius = null) and not (@icon-medium-border-radius-scale-screen-medium = null) {

          border-radius: @icon-medium-border-radius * @icon-medium-border-radius-scale-screen-medium;

        }

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@icon-medium-enabled) and (@icon-medium-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Medium (.icon-medium)
      ----------------------------------------------------------------------------- */

      .icon-medium {

        .shape-layout-variant(icon-medium, scale-screen-large);

        & when not (@icon-medium-width = null) and not (@icon-medium-width-scale-screen-large = null) {

          width: @icon-medium-width * @icon-medium-width-scale-screen-large;

        }

        & when not (@icon-medium-height = null) and not (@icon-medium-height-scale-screen-large = null) {

          height: @icon-medium-height * @icon-medium-height-scale-screen-large;

        }

        & when not (@icon-medium-border-radius = null) and not (@icon-medium-border-radius-scale-screen-large = null) {

          border-radius: @icon-medium-border-radius * @icon-medium-border-radius-scale-screen-large;

        }

      }

    }

  }

}
