/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
icon-medium/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@icon-medium-enabled:                                                           true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@icon-medium-scale-screen-mini-enabled:                                         true;
@icon-medium-scale-screen-small-enabled:                                        true;
@icon-medium-scale-screen-medium-enabled:                                       true;
@icon-medium-scale-screen-large-enabled:                                        true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Width

@icon-medium-width:                                                             32px;
@icon-medium-width-scale-screen-mini:                                           null;
@icon-medium-width-scale-screen-small:                                          null;
@icon-medium-width-scale-screen-medium:                                         1.1;
@icon-medium-width-scale-screen-large:                                          null;

// Height

@icon-medium-height:                                                            32px;
@icon-medium-height-scale-screen-mini:                                          @icon-medium-width-scale-screen-mini;
@icon-medium-height-scale-screen-small:                                         @icon-medium-width-scale-screen-small;
@icon-medium-height-scale-screen-medium:                                        @icon-medium-width-scale-screen-medium;
@icon-medium-height-scale-screen-large:                                         @icon-medium-width-scale-screen-large;

// Border Radius

@icon-medium-border-radius:                                                     null;
@icon-medium-border-radius-scale-screen-mini:                                   null;
@icon-medium-border-radius-scale-screen-small:                                  null;
@icon-medium-border-radius-scale-screen-medium:                                 null;
@icon-medium-border-radius-scale-screen-large:                                  null;

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@icon-medium-margin-top:                                                        null;
@icon-medium-margin-top-scale-screen-mini:                                      null;
@icon-medium-margin-top-scale-screen-small:                                     null;
@icon-medium-margin-top-scale-screen-medium:                                    null;
@icon-medium-margin-top-scale-screen-large:                                     null;

// Margin Bottom

@icon-medium-margin-bottom:                                                     null;
@icon-medium-margin-bottom-scale-screen-mini:                                   null;
@icon-medium-margin-bottom-scale-screen-small:                                  null;
@icon-medium-margin-bottom-scale-screen-medium:                                 null;
@icon-medium-margin-bottom-scale-screen-large:                                  null;

// Margin Left

@icon-medium-margin-left:                                                       null;
@icon-medium-margin-left-scale-screen-mini:                                     null;
@icon-medium-margin-left-scale-screen-small:                                    null;
@icon-medium-margin-left-scale-screen-medium:                                   null;
@icon-medium-margin-left-scale-screen-large:                                    null;

// Margin Right

@icon-medium-margin-right:                                                      null;
@icon-medium-margin-right-scale-screen-mini:                                    null;
@icon-medium-margin-right-scale-screen-small:                                   null;
@icon-medium-margin-right-scale-screen-medium:                                  null;
@icon-medium-margin-right-scale-screen-large:                                   null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@icon-medium-padding-top:                                                       null;
@icon-medium-padding-top-scale-screen-mini:                                     null;
@icon-medium-padding-top-scale-screen-small:                                    null;
@icon-medium-padding-top-scale-screen-medium:                                   null;
@icon-medium-padding-top-scale-screen-large:                                    null;

// Padding Bottom

@icon-medium-padding-bottom:                                                    null;
@icon-medium-padding-bottom-scale-screen-mini:                                  null;
@icon-medium-padding-bottom-scale-screen-small:                                 null;
@icon-medium-padding-bottom-scale-screen-medium:                                null;
@icon-medium-padding-bottom-scale-screen-large:                                 null;

// Padding Left

@icon-medium-padding-left:                                                      null;
@icon-medium-padding-left-scale-screen-mini:                                    null;
@icon-medium-padding-left-scale-screen-small:                                   null;
@icon-medium-padding-left-scale-screen-medium:                                  null;
@icon-medium-padding-left-scale-screen-large:                                   null;

// Padding Right

@icon-medium-padding-right:                                                     null;
@icon-medium-padding-right-scale-screen-mini:                                   null;
@icon-medium-padding-right-scale-screen-small:                                  null;
@icon-medium-padding-right-scale-screen-medium:                                 null;
@icon-medium-padding-right-scale-screen-large:                                  null;
