/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
icon/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@icon-large-enabled) {

  /* -----------------------------------------------------------------------------
  Icon Large (.icon-large)
  ----------------------------------------------------------------------------- */

  .icon-large {

    .shape-layout-variant(icon-large, null);

    & when not (@icon-large-width = null) {

      width: @icon-large-width;

    }

    & when not (@icon-large-height = null) {

      height: @icon-large-height;

    }

    & when not (@icon-large-border-radius = null) {

      border-radius: @icon-large-border-radius;

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Mini (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@icon-large-enabled) and (@icon-large-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Large (.icon-large)
      ----------------------------------------------------------------------------- */

      .icon-large {

        .shape-layout-variant(icon-large, scale-screen-small);

        & when not (@icon-large-width = null) and not (@icon-large-width-scale-screen-small = null) {

          width: @icon-large-width * @icon-large-width-scale-screen-small;

        }

        & when not (@icon-large-height = null) and not (@icon-large-height-scale-screen-small = null) {

          height: @icon-large-height * @icon-large-height-scale-screen-small;

        }

        & when not (@icon-large-border-radius = null) and not (@icon-large-border-radius-scale-screen-small = null) {

          border-radius: @icon-large-border-radius * @icon-large-border-radius-scale-screen-small;

        }

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@icon-large-enabled) and (@icon-large-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Large (.icon-large)
      ----------------------------------------------------------------------------- */

      .icon-large {

        .shape-layout-variant(icon-large, scale-screen-medium);

        & when not (@icon-large-width = null) and not (@icon-large-width-scale-screen-medium = null) {

          width: @icon-large-width * @icon-large-width-scale-screen-medium;

        }

        & when not (@icon-large-height = null) and not (@icon-large-height-scale-screen-medium = null) {

          height: @icon-large-height * @icon-large-height-scale-screen-medium;

        }

        & when not (@icon-large-border-radius = null) and not (@icon-large-border-radius-scale-screen-medium = null) {

          border-radius: @icon-large-border-radius * @icon-large-border-radius-scale-screen-medium;

        }

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@icon-large-enabled) and (@icon-large-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Large (.icon-large)
      ----------------------------------------------------------------------------- */

      .icon-large {

        .shape-layout-variant(icon-large, scale-screen-large);

        & when not (@icon-large-width = null) and not (@icon-large-width-scale-screen-large = null) {

          width: @icon-large-width * @icon-large-width-scale-screen-large;

        }

        & when not (@icon-large-height = null) and not (@icon-large-height-scale-screen-large = null) {

          height: @icon-large-height * @icon-large-height-scale-screen-large;

        }

        & when not (@icon-large-border-radius = null) and not (@icon-large-border-radius-scale-screen-large = null) {

          border-radius: @icon-large-border-radius * @icon-large-border-radius-scale-screen-large;

        }

      }

    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: large (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@icon-large-enabled) and (@icon-large-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Large (.icon-large)
      ----------------------------------------------------------------------------- */

      .icon-large {

        .shape-layout-variant(icon-large, scale-screen-jumbo);

        & when not (@icon-large-width = null) and not (@icon-large-width-scale-screen-jumbo = null) {

          width: @icon-large-width * @icon-large-width-scale-screen-jumbo;

        }

        & when not (@icon-large-height = null) and not (@icon-large-height-scale-screen-jumbo = null) {

          height: @icon-large-height * @icon-large-height-scale-screen-jumbo;

        }

        & when not (@icon-large-border-radius = null) and not (@icon-large-border-radius-scale-screen-jumbo = null) {

          border-radius: @icon-large-border-radius * @icon-large-border-radius-scale-screen-jumbo;

        }

      }

    }

  }

}
