/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
icon-large/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@icon-large-enabled:                                                            true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@icon-large-scale-screen-mini-enabled:                                          true;
@icon-large-scale-screen-small-enabled:                                         true;
@icon-large-scale-screen-medium-enabled:                                        true;
@icon-large-scale-screen-large-enabled:                                         true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Width

@icon-large-width:                                                              48px;
@icon-large-width-scale-screen-mini:                                            null;
@icon-large-width-scale-screen-small:                                           null;
@icon-large-width-scale-screen-medium:                                          1.1;
@icon-large-width-scale-screen-large:                                           null;

// Height

@icon-large-height:                                                             48px;
@icon-large-height-scale-screen-mini:                                           @icon-large-width-scale-screen-mini;
@icon-large-height-scale-screen-small:                                          @icon-large-width-scale-screen-small;
@icon-large-height-scale-screen-medium:                                         @icon-large-width-scale-screen-medium;
@icon-large-height-scale-screen-large:                                          @icon-large-width-scale-screen-large;

// Border Radius

@icon-large-border-radius:                                                      null;
@icon-large-border-radius-scale-screen-mini:                                    null;
@icon-large-border-radius-scale-screen-small:                                   null;
@icon-large-border-radius-scale-screen-medium:                                  null;
@icon-large-border-radius-scale-screen-large:                                   null;

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@icon-large-margin-top:                                                         null;
@icon-large-margin-top-scale-screen-mini:                                       null;
@icon-large-margin-top-scale-screen-small:                                      null;
@icon-large-margin-top-scale-screen-medium:                                     null;
@icon-large-margin-top-scale-screen-large:                                      null;

// Margin Bottom

@icon-large-margin-bottom:                                                      null;
@icon-large-margin-bottom-scale-screen-mini:                                    null;
@icon-large-margin-bottom-scale-screen-small:                                   null;
@icon-large-margin-bottom-scale-screen-medium:                                  null;
@icon-large-margin-bottom-scale-screen-large:                                   null;

// Margin Left

@icon-large-margin-left:                                                        null;
@icon-large-margin-left-scale-screen-mini:                                      null;
@icon-large-margin-left-scale-screen-small:                                     null;
@icon-large-margin-left-scale-screen-medium:                                    null;
@icon-large-margin-left-scale-screen-large:                                     null;

// Margin Right

@icon-large-margin-right:                                                       null;
@icon-large-margin-right-scale-screen-mini:                                     null;
@icon-large-margin-right-scale-screen-small:                                    null;
@icon-large-margin-right-scale-screen-medium:                                   null;
@icon-large-margin-right-scale-screen-large:                                    null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@icon-large-padding-top:                                                        null;
@icon-large-padding-top-scale-screen-mini:                                      null;
@icon-large-padding-top-scale-screen-small:                                     null;
@icon-large-padding-top-scale-screen-medium:                                    null;
@icon-large-padding-top-scale-screen-large:                                     null;

// Padding Bottom

@icon-large-padding-bottom:                                                     null;
@icon-large-padding-bottom-scale-screen-mini:                                   null;
@icon-large-padding-bottom-scale-screen-small:                                  null;
@icon-large-padding-bottom-scale-screen-medium:                                 null;
@icon-large-padding-bottom-scale-screen-large:                                  null;

// Padding Left

@icon-large-padding-left:                                                       null;
@icon-large-padding-left-scale-screen-mini:                                     null;
@icon-large-padding-left-scale-screen-small:                                    null;
@icon-large-padding-left-scale-screen-medium:                                   null;
@icon-large-padding-left-scale-screen-large:                                    null;

// Padding Right

@icon-large-padding-right:                                                      null;
@icon-large-padding-right-scale-screen-mini:                                    null;
@icon-large-padding-right-scale-screen-small:                                   null;
@icon-large-padding-right-scale-screen-medium:                                  null;
@icon-large-padding-right-scale-screen-large:                                   null;
