/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
icon-huge/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@icon-huge-enabled:                                                             true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@icon-huge-scale-screen-small-enabled:                                          true;
@icon-huge-scale-screen-medium-enabled:                                         true;
@icon-huge-scale-screen-large-enabled:                                          true;
@icon-huge-scale-screen-jumbo-enabled:                                          true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Width

@icon-huge-width:                                                               96px;
@icon-huge-width-scale-screen-small:                                            null;
@icon-huge-width-scale-screen-medium:                                           null;
@icon-huge-width-scale-screen-large:                                            1.1;
@icon-huge-width-scale-screen-jumbo:                                            null;

// Height

@icon-huge-height:                                                              96px;
@icon-huge-height-scale-screen-small:                                           @icon-huge-width-scale-screen-small;
@icon-huge-height-scale-screen-medium:                                          @icon-huge-width-scale-screen-medium;
@icon-huge-height-scale-screen-large:                                           @icon-huge-width-scale-screen-large;
@icon-huge-height-scale-screen-jumbo:                                           @icon-huge-width-scale-screen-jumbo;

// Border Radius

@icon-huge-border-radius:                                                       null;
@icon-huge-border-radius-scale-screen-small:                                    null;
@icon-huge-border-radius-scale-screen-medium:                                   null;
@icon-huge-border-radius-scale-screen-large:                                    null;
@icon-huge-border-radius-scale-screen-jumbo:                                    null;

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@icon-huge-margin-top:                                                          null;
@icon-huge-margin-top-scale-screen-small:                                       null;
@icon-huge-margin-top-scale-screen-medium:                                      null;
@icon-huge-margin-top-scale-screen-large:                                       null;
@icon-huge-margin-top-scale-screen-jumbo:                                       null;

// Margin Bottom

@icon-huge-margin-bottom:                                                       null;
@icon-huge-margin-bottom-scale-screen-small:                                    null;
@icon-huge-margin-bottom-scale-screen-medium:                                   null;
@icon-huge-margin-bottom-scale-screen-large:                                    null;
@icon-huge-margin-bottom-scale-screen-jumbo:                                    null;

// Margin Left

@icon-huge-margin-left:                                                         null;
@icon-huge-margin-left-scale-screen-small:                                      null;
@icon-huge-margin-left-scale-screen-medium:                                     null;
@icon-huge-margin-left-scale-screen-large:                                      null;
@icon-huge-margin-left-scale-screen-jumbo:                                      null;

// Margin Right

@icon-huge-margin-right:                                                        null;
@icon-huge-margin-right-scale-screen-small:                                     null;
@icon-huge-margin-right-scale-screen-medium:                                    null;
@icon-huge-margin-right-scale-screen-large:                                     null;
@icon-huge-margin-right-scale-screen-jumbo:                                     null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@icon-huge-padding-top:                                                         null;
@icon-huge-padding-top-scale-screen-small:                                      null;
@icon-huge-padding-top-scale-screen-medium:                                     null;
@icon-huge-padding-top-scale-screen-large:                                      null;
@icon-huge-padding-top-scale-screen-jumbo:                                      null;

// Padding Bottom

@icon-huge-padding-bottom:                                                      null;
@icon-huge-padding-bottom-scale-screen-small:                                   null;
@icon-huge-padding-bottom-scale-screen-medium:                                  null;
@icon-huge-padding-bottom-scale-screen-large:                                   null;
@icon-huge-padding-bottom-scale-screen-jumbo:                                   null;

// Padding Left

@icon-huge-padding-left:                                                        null;
@icon-huge-padding-left-scale-screen-small:                                     null;
@icon-huge-padding-left-scale-screen-medium:                                    null;
@icon-huge-padding-left-scale-screen-large:                                     null;
@icon-huge-padding-left-scale-screen-jumbo:                                     null;

// Padding Right

@icon-huge-padding-right:                                                       null;
@icon-huge-padding-right-scale-screen-small:                                    null;
@icon-huge-padding-right-scale-screen-medium:                                   null;
@icon-huge-padding-right-scale-screen-large:                                    null;
@icon-huge-padding-right-scale-screen-jumbo:                                    null;
