/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
label/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@label-enabled) {

  /* -----------------------------------------------------------------------------
  Label
  ----------------------------------------------------------------------------- */

  label:not(.button),
  .label:not(.button) {

    display: block;
    .element-text-style(label);
    .element-text-size(label, null);
    .element-spacing(label, null);
    .element-spacing(label, short, null);
    .element-spacing(label, tall, null);

    & when (@label-emphasis-enabled) {

      &.emphasis,
      .emphasis {

        .element-text-style(label-emphasis);

      }

    }

    & when (@label-muted-enabled) {

      &.muted,
      .muted {

        .element-text-style(label-muted);

      }

    }



    & when (@label-inverse-enabled) {

      &.inverse {

        .element-text-style(label-inverse);

        & when (@label-inverse-emphasis-enabled) {

          &.emphasis,
          .emphasis {

            .element-text-style(label-inverse-emphasis);

          }

        }

        & when (@label-inverse-muted-enabled) {

          &.muted,
          .muted {

            .element-text-style(label-inverse-muted);

          }

        }

      }

    }

  }

}



& when (@layout-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@label-enabled) and (@label-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Label
      ----------------------------------------------------------------------------- */

      label:not(.button),
      .label:not(.button) {

        .element-text-size(label, screen-small);
        .element-spacing(label, screen-small);
        .element-spacing(label, short, screen-small);
        .element-spacing(label, tall, screen-small);

      }

    }

  }

}



& when (@layout-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@label-enabled) and (@label-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Label
      ----------------------------------------------------------------------------- */

      label:not(.button),
      .label:not(.button) {

        .element-text-size(label, screen-medium);
        .element-spacing(label, screen-medium);
        .element-spacing(label, short, screen-medium);
        .element-spacing(label, tall, screen-medium);

      }

    }

  }

}



& when (@layout-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@label-enabled) and (@label-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Label
      ----------------------------------------------------------------------------- */

      label:not(.button),
      .label:not(.button) {

        .element-text-size(label, screen-large);
        .element-spacing(label, screen-large);
        .element-spacing(label, short, screen-large);
        .element-spacing(label, tall, screen-large);

      }

    }

  }

}



& when (@layout-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@label-enabled) and (@label-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Label
      ----------------------------------------------------------------------------- */

      label:not(.button),
      .label:not(.button) {

        .element-text-size(label, screen-jumbo);
        .element-spacing(label, screen-jumbo);
        .element-spacing(label, short, screen-jumbo);
        .element-spacing(label, tall, screen-jumbo);

      }

    }

  }

}
