/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
table/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@table-enabled) {

  /* -----------------------------------------------------------------------------
  Table
  ----------------------------------------------------------------------------- */

  .table {

    width: 100%;
    max-width: 100%;
    .text-style-variant(table);
    .text-size-variant(table, null);
    .shape-layout-variant(table, null);
    .shape-layout-variant(table, short, null);
    .shape-layout-variant(table, tall, null);

    & when not (@table-border-collapse = null) {

      border-collapse: @table-border-collapse;

    }

    & when not (@table-border-radius = null) {

      /* -----------------------------------------------------------------------------
      Table Border Radius
      ----------------------------------------------------------------------------- */

      border-radius: @table-border-radius;

      tbody {

        tr {

          &:first-child {

            td,
            th {

              &:first-child {

                .border-top-left-radius(@table-border-radius);

              }

              &:last-child {

                .border-top-right-radius(@table-border-radius);

              }

            }

          }

          &:last-child {

            td,
            th {

              &:first-child {

                .border-bottom-left-radius(@table-border-radius);

              }

              &:last-child {

                .border-bottom-right-radius(@table-border-radius);

              }

            }

          }

        }

      }

      > thead {

        tr {

          &:first-child {

            th {

              &:first-child {

                .border-top-left-radius(@table-border-radius);

              }

              &:last-child {

                .border-top-right-radius(@table-border-radius);

              }

            }

          }

        }

        + tbody {

          tr {

            &:first-child {

              th,
              td {

                border-radius: 0px !important;

              }

            }

          }

        }

      }

    }


    th,
    td {

      text-align: left;
      .text-style-variant(table-cell);
      .text-size-variant(table-cell, null);
      .shape-style-variant(table-cell);
      .shape-layout-variant(table-cell, null);

      & when not (@table-border-collapse = null) {

        border-collapse: @table-border-collapse;

      }

      &:before {

        content: '';
        display: block;
        float: left;

        & when not (@table-cell-text-line-height = null) {

          height: @table-cell-text-line-height;

        }

      }

      &.selectable {

        &:hover {

          cursor: pointer;
          .text-style-variant(table-cell-hover);
          .shape-style-variant(table-cell-hover);

        }

      }

      &.disabled {

        .text-style-variant(table-cell-disabled);
        .shape-style-variant(table-cell-disabled);

      }

      // Cell active

      &.active,
      &.highlight {

        .text-style-variant(table-cell-active);
        .shape-style-variant(table-cell-active);

        &.selectable {

          &:hover {

            .text-style-variant(table-cell-active-hover);
            .shape-style-variant(table-cell-active-hover);

          }

        }

        &.disabled {

          .text-style-variant(table-cell-active-disabled);
          .shape-style-variant(table-cell-active-disabled);

        }

      }

    }

    // Table Head

    thead {

      th {

        .text-style-variant(table-header);
        .text-size-variant(table-header, null);
        .shape-style-variant(table-header);
        .shape-layout-variant(table-header, null);

        &:before {

          & when not (@table-header-text-line-height = null) {

            height: @table-header-text-line-height;

          }

        }

        &.selectable {

          &:hover {

            .text-style-variant(table-header-hover);
            .shape-style-variant(table-header-hover);

          }

        }

        &.disabled {

          .text-style-variant(table-header-disabled);
          .shape-style-variant(table-header-disabled);

        }

        // Cell Active

        &.active,
        &.highlight {

          .text-style-variant(table-header-active);
          .shape-style-variant(table-header-active);

          &.selectable {

            &:hover {

              .text-style-variant(table-header-active-hover);
              .shape-style-variant(table-header-active-hover);

            }

          }

          &.disabled {

            .text-style-variant(table-header-active-disabled);
            .shape-style-variant(table-header-active-disabled);

          }

        }

      }

    }

    // Table Hover

    &.table-hover {

      tr {

        &:hover {

          td {

            .text-style-variant(table-cell-hover);
            .shape-style-variant(table-cell-hover);

            // Cell Active

            &.active,
            &.highlight {

              .text-style-variant(table-cell-active-hover);
              .shape-style-variant(table-cell-active-hover);

            }

          }

        }

      }

    }

  }

  & when (@table-inverse-enabled) {

    /* -----------------------------------------------------------------------------
    Inverse Table (.table-inverse)
    ----------------------------------------------------------------------------- */

    .table.table-inverse {

      .text-style-variant(table-inverse);

      th,
      td {

        .text-style-variant(table-cell-inverse);
        .shape-style-variant(table-cell-inverse);

        &.selectable {

          &:hover {

            .text-style-variant(table-cell-inverse-hover);
            .shape-style-variant(table-cell-inverse-hover);

          }

        }

        &.disabled {

          .text-style-variant(table-cell-inverse-disabled);
          .shape-style-variant(table-cell-inverse-disabled);

        }

        // Cell Active

        &.active,
        &.highlight {

          .text-style-variant(table-cell-inverse-active);
          .shape-style-variant(table-cell-inverse-active);

          &.selectable {

            &:hover {

              .text-style-variant(table-cell-inverse-active-hover);
              .shape-style-variant(table-cell-inverse-active-hover);

            }

          }

          &.disabled {

            .text-style-variant(table-cell-inverse-active-disabled);
            .shape-style-variant(table-cell-inverse-active-disabled);

          }

        }

      }

      // Table Head

      thead {

        th {

          .text-style-variant(table-header-inverse);
          .shape-style-variant(table-header-inverse);

          &.selectable {

            &:hover {

              .text-style-variant(table-header-inverse-hover);
              .shape-style-variant(table-header-inverse-hover);

            }

          }

          &.disabled {

            .text-style-variant(table-header-inverse-disabled);
            .shape-style-variant(table-header-inverse-disabled);

          }

          // Cell Active

          &.active,
          &.highlight {

            .text-style-variant(table-header-inverse-active);
            .shape-style-variant(table-header-inverse-active);

            &.selectable {

              &:hover {

                .text-style-variant(table-header-inverse-active-hover);
                .shape-style-variant(table-header-inverse-active-hover);

              }

            }

            &.disabled {

              .text-style-variant(table-header-inverse-active-disabled);
              .shape-style-variant(table-header-inverse-active-disabled);

            }

          }

        }

      }

      // Table Hover

      &.table-hover {

        tr {

          &:hover {

            td {

              .text-style-variant(table-cell-inverse-hover);
              .shape-style-variant(table-cell-inverse-hover);

              // Cell Active

              &.active,
              &.highlight {

                .text-style-variant(table-cell-inverse-active-hover);
                .shape-style-variant(table-cell-inverse-active-hover);

              }

            }

          }

        }

      }

    }

  }

  /* -----------------------------------------------------------------------------
  Responsive Table
  ----------------------------------------------------------------------------- */

  .table-responsive {

    display: block;
    width: 100%;
    min-height: .01%;
    overflow-x: auto;

  }

  /* -----------------------------------------------------------------------------
  Table Borderless
  ----------------------------------------------------------------------------- */

  &.table-borderless {

    > thead {

      tr {

        th {

          border-top: 0px;
          border-bottom: 0px;
          border-left: 0px;
          border-right: 0px;

        }

      }

    }

    > tbody,
    > tfoot {

      tr {

        td,
        th {

          border: 0px;

        }

      }

    }

  }

  /* -----------------------------------------------------------------------------
  Table Borderless (Outer Borders)
  ----------------------------------------------------------------------------- */

  &.table-borderless-outer {

    > thead {

      tr {

        &:first-child {

          th {

            border-top: 0px;

          }

        }

        &:last-child {

          th {

            border-bottom: 0px;

          }

        }

        th {

          &:first-child {

            border-left: 0px;

          }

        }

        th {

          &:last-child {

            border-right: 0px;

          }

        }

      }

    }

    > tbody,
    > tfoot {

      tr {

        &:first-child {

          td,
          th {

            border-top: 0px;

          }

        }

        &:last-child {

          td,
          th {

            border-bottom: 0px;

          }

        }

        td,
        th {

          &:first-child {

            border-left: 0px;

          }

          &:last-child {

            border-right: 0px;

          }

        }

      }

    }

  }

  /* -----------------------------------------------------------------------------
  Table Borderless (Outer Borders, Rows)
  ----------------------------------------------------------------------------- */

  &.table-borderless-outer-rows {

    > thead {

      tr {

        &:first-child {

          th {

            border-top: 0px;

          }

        }

        &:last-child {

          th {

            border-bottom: 0px;

          }

        }

      }

    }

    > tbody,
    > tfoot {

      tr {

        &:first-child {

          td,
          th {

            border-top: 0px;

          }

        }

        &:last-child {

          td,
          th {

            border-bottom: 0px;

          }

        }

      }

    }

  }

  /* -----------------------------------------------------------------------------
  Table Borderless (Outer Borders, Columns)
  ----------------------------------------------------------------------------- */

  &.table-borderless-outer-columns {

    > thead {

      tr {

        th {

          &:first-child {

            border-left: 0px;

          }

        }

        th {

          &:last-child {

            border-right: 0px;

          }

        }

      }

    }

    > tbody,
    > tfoot {

      tr {

        td,
        th {

          &:first-child {

            border-left: 0px;

          }

          &:last-child {

            border-right: 0px;

          }

        }

      }

    }

  }

  /* -----------------------------------------------------------------------------
  Table Borderless (Inner Borders)
  ----------------------------------------------------------------------------- */

  &.table-borderless-inner {

    > thead,
    > tbody,
    > tfoot {

      tr {

        &:not(:first-child) {

          td,
          th {

            border-top: 0px;

          }

        }

        &:not(:last-child) {

          td,
          th {

            border-bottom: 0px;

          }

        }

        td,
        th {

          &:not(:first-child) {

            border-left: 0px;

          }

          &:not(:last-child) {

            border-right: 0px;

          }

        }

      }

    }

    > thead + tbody {

      tr {

        &:first-child {

          td,
          th {

            border-top: 0px;

          }

        }

      }

    }

  }

  /* -----------------------------------------------------------------------------
  Table Borderless (Inner Borders, Rows)
  ----------------------------------------------------------------------------- */

  &.table-borderless-inner-rows {

    > thead,
    > tbody,
    > tfoot {

      tr {

        &:not(:first-child) {

          td,
          th {

            border-top: 0px;

          }

        }

        &:not(:last-child) {

          td,
          th {

            border-bottom: 0px;

          }

        }

      }

    }

  }

  > thead + tbody {

    tr {

      &:first-child {

        td,
        th {

          border-top: 0px;

        }

      }

    }

  }

  /* -----------------------------------------------------------------------------
  Table Borderless (Inner Borders, Columns)
  ----------------------------------------------------------------------------- */

  &.table-borderless-inner-columns {

    > thead,
    > tbody,
    > tfoot {

      tr {

        td,
        th {

          &:not(:first-child) {

            border-left: 0px;

          }

          &:not(:last-child) {

            border-right: 0px;

          }

        }

      }

    }

  }

}



& when (@layout-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@table-enabled) and (@table-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Table
      ----------------------------------------------------------------------------- */

      .table {

        .text-size-variant(table, scale-screen-small);
        .shape-layout-variant(table, scale-screen-small);
        .shape-layout-variant(table, short, scale-screen-small);
        .shape-layout-variant(table, tall, scale-screen-small);

        th,
        td {

          .text-size-variant(table-cell, scale-screen-small);
          .shape-layout-variant(table-cell, scale-screen-small);

          &:before {

            & when not (@table-cell-text-line-height = null) and not (@table-cell-text-line-height-scale-screen-small = null) {

              height: @table-cell-text-line-height * @table-cell-text-line-height-scale-screen-small;

            }

          }

        }

      }

    }

  }

}



& when (@layout-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@table-enabled) and (@table-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Table
      ----------------------------------------------------------------------------- */

      .table {

        .text-size-variant(table, scale-screen-medium);
        .shape-layout-variant(table, scale-screen-medium);
        .shape-layout-variant(table, short, scale-screen-medium);
        .shape-layout-variant(table, tall, scale-screen-medium);

        th,
        td {

          .text-size-variant(table-cell, scale-screen-medium);
          .shape-layout-variant(table-cell, scale-screen-medium);

          &:before {

            & when not (@table-cell-text-line-height = null) and not (@table-cell-text-line-height-scale-screen-medium = null) {

              height: @table-cell-text-line-height * @table-cell-text-line-height-scale-screen-medium;

            }

          }

        }

      }

    }

  }

}



& when (@layout-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@table-enabled) and (@table-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Table
      ----------------------------------------------------------------------------- */

      .table {

        .text-size-variant(table, scale-screen-large);
        .shape-layout-variant(table, scale-screen-large);
        .shape-layout-variant(table, short, scale-screen-large);
        .shape-layout-variant(table, tall, scale-screen-large);

        th,
        td {

          .text-size-variant(table-cell, scale-screen-large);
          .shape-layout-variant(table-cell, scale-screen-large);

          &:before {

            & when not (@table-cell-text-line-height = null) and not (@table-cell-text-line-height-scale-screen-large = null) {

              height: @table-cell-text-line-height * @table-cell-text-line-height-scale-screen-large;

            }

          }

        }

      }

    }

  }

}



& when (@layout-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@table-enabled) and (@table-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Table
      ----------------------------------------------------------------------------- */

      .table {

        .text-size-variant(table, scale-screen-jumbo);
        .shape-layout-variant(table, scale-screen-jumbo);
        .shape-layout-variant(table, short, scale-screen-jumbo);
        .shape-layout-variant(table, tall, scale-screen-jumbo);

        th,
        td {

          .text-size-variant(table-cell, scale-screen-jumbo);
          .shape-layout-variant(table-cell, scale-screen-jumbo);

          &:before {

            & when not (@table-cell-text-line-height = null) and not (@table-cell-text-line-height-scale-screen-jumbo = null) {

              height: @table-cell-text-line-height * @table-cell-text-line-height-scale-screen-jumbo;

            }

          }

        }

      }

    }

  }

}
