/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
table/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@table-enabled) {

  /* -----------------------------------------------------------------------------
  Table
  ----------------------------------------------------------------------------- */

  table,
  .table {

    width: 100%;
    max-width: 100%;
    .text-style-variant(table);
    .text-size-variant(table, null);
    .shape-layout-variant(table, null);
    .shape-layout-variant(table, short, null);
    .shape-layout-variant(table, tall, null);

    & when not (@table-border-collapse = null) {

      border-collapse: @table-border-collapse;

    }

  }

  th,
  td {

    text-align: left;

    & when not (@table-border-collapse = null) {

      border-collapse: @table-border-collapse;

    }

  }

}



& when (@screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Mini (@screen-mini) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-mini) {

  }

}



& when (@screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@screen-small) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-small) {

  }

}



& when (@screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@screen-medium) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-medium) {

  }

}



& when (@screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: large (@screen-large) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @screen-large) {

  }

}
