/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

body/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@body-text-enabled:                                                             @typography-enabled;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@body-text-color:                                                               color-lighten(@neutral, 40);
@body-text-font-family:                                                         @font-family-sans-serif;
@body-text-font-style:                                                          normal;
@body-text-font-weight:                                                         400;
@body-text-transform:                                                           null;
@body-text-shadow:                                                              null;
@body-text-decoration:                                                          null;
@body-text-rendering:                                                           null;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Size
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@body-text-font-size:                                                           16px;
@body-text-line-height:                                                         22px;
@body-text-margin-top:                                                          0px;
@body-text-margin-bottom:                                                       @base-spacing-unit * 0.5;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Margin Variants
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@body-text-margin-variants:                                                     short, tall;

// Short

@body-text-short-margin-top:                                                    null;
@body-text-short-margin-bottom:                                                 0.5;

// Tall

@body-text-tall-margin-top:                                                     null;
@body-text-tall-margin-bottom:                                                  2.0;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@body-text-scale-screen-mini:                                                   @screen-mini-enabled;
@body-text-scale-screen-small:                                                  @screen-small-enabled;
@body-text-scale-screen-medium:                                                 @screen-medium-enabled;
@body-text-scale-screen-large:                                                  @screen-large-enabled;

@body-text-font-size-scale-screen-mini:                                         null;
@body-text-font-size-scale-screen-small:                                        1.05;
@body-text-font-size-scale-screen-medium:                                       1.1;
@body-text-font-size-scale-screen-large:                                        null;

@body-text-line-height-scale-screen-mini:                                       @body-text-font-size-scale-screen-mini;
@body-text-line-height-scale-screen-small:                                      @body-text-font-size-scale-screen-small;
@body-text-line-height-scale-screen-medium:                                     @body-text-font-size-scale-screen-medium;
@body-text-line-height-scale-screen-large:                                      @body-text-font-size-scale-screen-large;

@body-text-margin-top-scale-screen-mini:                                        null;
@body-text-margin-top-scale-screen-small:                                       1.1;
@body-text-margin-top-scale-screen-medium:                                      1.2;
@body-text-margin-top-scale-screen-large:                                       null;

@body-text-margin-bottom-scale-screen-mini:                                     null;
@body-text-margin-bottom-scale-screen-small:                                    1.1;
@body-text-margin-bottom-scale-screen-medium:                                   1.2;
@body-text-margin-bottom-scale-screen-large:                                    null;
