/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
form-control/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@form-control-enabled) {

  /* -----------------------------------------------------------------------------
  Form Control (.form-control)
  ----------------------------------------------------------------------------- */

  .form-control {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: @form-control-height;
    transition: all 0.05s ease;
    .text-size-variant(form-control, null);
    .shape-layout-variant(form-control, null);
    .text-style-variant(form-control);
    .shape-style-variant(form-control);

    &::placeholder[style] {

      opacity: 1;
      display: inline-flex !important;
      align-items: center !important;

    }

    & when not (@form-control-border-radius = null) {

      border-radius: @form-control-border-radius;

    }

    & when not (@form-control-placeholder-text-color = null) {

      &::placeholder {

        color: @form-control-placeholder-text-color;

      }

    }

    &:hover {

      .text-style-variant(form-control-hover);
      .shape-style-variant(form-control-hover);

      & when not (@form-control-hover-placeholder-text-color = null) {

        &::placeholder {

          color: @form-control-hover-placeholder-text-color;

        }

      }

    }

    &:active {

      .text-style-variant(form-control-active);
      .shape-style-variant(form-control-active);

      & when not (@form-control-active-placeholder-text-color = null) {

        &::placeholder {

          color: @form-control-active-placeholder-text-color;

        }

      }

    }

    &:focus,
    &.focus {

      .text-style-variant(form-control-focus);
      .shape-style-variant(form-control-focus);

      & when not (@form-control-focus-placeholder-text-color = null) {

        &::placeholder {

          color: @form-control-focus-placeholder-text-color;

        }

      }

    }

    &:disabled,
    &.disabled {

      .text-style-variant(form-control-disabled);
      .shape-style-variant(form-control-disabled);

      & when not (@form-control-disabled-opacity = null) {

        opacity: @form-control-disabled-opacity;

      }

      & when not (@form-control-disabled-placeholder-text-color = null) {

        &::placeholder {

          color: @form-control-disabled-placeholder-text-color;

        }

      }

    }

    /* -----------------------------------------------------------------------------
    Form Control Inverse (.form-control-inverse)
    ----------------------------------------------------------------------------- */

    &.form-control-inverse {

      .text-style-variant(form-control-inverse);
      .shape-style-variant(form-control-inverse);

      & when not (@form-control-inverse-placeholder-text-color = null) {

        &::placeholder {

          color: @form-control-inverse-placeholder-text-color;

        }

      }

      &:hover {

        .text-style-variant(form-control-inverse-hover);
        .shape-style-variant(form-control-inverse-hover);

        & when not (@form-control-inverse-hover-placeholder-text-color = null) {

          &::placeholder {

            color: @form-control-inverse-hover-placeholder-text-color;

          }

        }

      }

      &:active {

        .text-style-variant(form-control-inverse-active);
        .shape-style-variant(form-control-inverse-active);

        & when not (@form-control-inverse-active-placeholder-text-color = null) {

          &::placeholder {

            color: @form-control-inverse-active-placeholder-text-color;

          }

        }

      }

      &:focus,
      &.focus {

        .text-style-variant(form-control-inverse-focus);
        .shape-style-variant(form-control-inverse-focus);

        & when not (@form-control-inverse-focus-placeholder-text-color = null) {

          &::placeholder {

            color: @form-control-inverse-focus-placeholder-text-color;

          }

        }

      }

      &:disabled,
      &.disabled {

        .text-style-variant(form-control-inverse-disabled);
        .shape-style-variant(form-control-inverse-disabled);

        & when not (@form-control-inverse-disabled-opacity = null) {

          opacity: @form-control-inverse-disabled-opacity;

        }

        & when not (@form-control-inverse-disabled-placeholder-text-color = null) {

          &::placeholder {

            color: @form-control-inverse-disabled-placeholder-text-color;

          }

        }

      }

    }

    /* -----------------------------------------------------------------------------
    Block Form Control (.form-control-block)
    ----------------------------------------------------------------------------- */

    &.form-control-block {

      display: flex;
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;

    }

    /* -----------------------------------------------------------------------------
    Rounded Form Control (.form-control-rounded)
    ----------------------------------------------------------------------------- */

    &.form-control-rounded {

      border-radius: 1000px;

      & when not (@form-control-rounded-padding-horizontal-scale = null) {

        & when not (@form-control-padding-left = null) {

          padding-left: @form-control-padding-left * @form-control-rounded-padding-horizontal-scale;

        }

        & when not (@form-control-padding-right = null) {

          padding-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale;

        }

      }

    }

  }

  textarea.form-control,
  .form-control select[multiple] {

    padding-top: (@form-control-height - @form-control-text-line-height) / 2;
    padding-bottom: (@form-control-height - @form-control-text-line-height) / 2;
    height: auto !important;

  }

  /* -----------------------------------------------------------------------------
  Form Control Select (.form-control-select)
  ----------------------------------------------------------------------------- */

  .form-control.form-control-select-multiple {

    height: auto;

  }

  .form-control.form-control-select {

    position: relative;
    padding: 0px !important;

    // Caret

    &:after {

      content: '';
      display: inline-block;
      vertical-align: middle;
      .triangle-base();
      .triangle-color("down", @form-control-text-color);

      & when not (@form-control-caret-width = null) {

        .triangle-size-width("down", @form-control-caret-width);

      }

      & when not (@form-control-caret-height = null) {

        .triangle-size-height("down", @form-control-caret-height);

      }

      & when not (@form-control-caret-margin-left = null) {

        margin-left: @form-control-caret-margin-left;

      }

      & when not (@form-control-caret-margin-top = null) {

        margin-top: @form-control-caret-margin-top;

      }

      & when not (@form-control-padding-right = null) {

        margin-right: @form-control-padding-right;

      }

    }

    select {

      display: block;
      width: 100%;
      background: none;
      border: none;
      *border: 0;
      margin: 0px;
      shadow: none;
      appearance: none;
      .text-size-variant(form-control, null);
      .shape-layout-variant(form-control, null);
      .text-style-variant(form-control);
      padding-right: 0px !important;

      & when not (@form-control-height = null) {

        height: @form-control-height;

      }

    }

    &.form-control-select-multiple {

      &:after {

        display: none;

      }

    }

    &:hover {

      select {

        .text-style-variant(form-control-hover);

      }

      &:after {

        .triangle-color("down", @form-control-hover-text-color);

      }

    }

    &:active {

      select {

        .text-style-variant(form-control-active);

      }

      &:after {

        .triangle-color("down", @form-control-active-text-color);

      }

    }

    &:focus,
    &.focus {

      select {

        outline: 0;
        .text-style-variant(form-control-focus);

      }

      &:after {

        .triangle-color("down", @form-control-focus-text-color);

      }

    }

    &:disabled,
    &.disabled {

      select {

        .text-style-variant(form-control-disabled);

      }

      &:after {

        .triangle-color("down", @form-control-disabled-text-color);

      }

    }

    /* -----------------------------------------------------------------------------
    Form Control Inverse (.form-control-inverse)
    ----------------------------------------------------------------------------- */

    &.form-control-inverse {

      select {

        .text-style-variant(form-control-inverse);

      }

      &:after {

        .triangle-color("down", @form-control-inverse-text-color);

      }

      &:hover {

        select {

          .text-style-variant(form-control-inverse-hover);

        }

        &:after {

          .triangle-color("down", @form-control-inverse-hover-text-color);

        }

      }

      &:active {

        select {

          .text-style-variant(form-control-inverse-active);

        }

        &:after {

          .triangle-color("down", @form-control-inverse-active-text-color);

        }

      }

      &:focus,
      &.focus {

        select {

          .text-style-variant(form-control-inverse-focus);

        }

        &:after {

          .triangle-color("down", @form-control-inverse-focus-text-color);

        }

      }

      &:disabled,
      &.disabled {

        select {

          .text-style-variant(form-control-inverse-disabled);

        }

        &:after {

          .triangle-color("down", @form-control-inverse-disabled-text-color);

        }

      }

    }

    /* -----------------------------------------------------------------------------
    Rounded Form Control (.form-control-rounded)
    ----------------------------------------------------------------------------- */

    &.form-control-rounded {

      select {

        & when not (@form-control-rounded-padding-horizontal-scale = null) {

          & when not (@form-control-padding-left = null) {

            padding-left: @form-control-padding-left * @form-control-rounded-padding-horizontal-scale;

          }

          & when not (@form-control-padding-right = null) {

            padding-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale;

          }

        }

      }

      // Caret

      &:after {

        & when not (@form-control-padding-right = null) {

          margin-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale;

        }

      }

    }

  }

  & when (@form-control-group-enabled) and not (@form-control-add-on-padding-horizontal = null) {

    /* -----------------------------------------------------------------------------
    Form Control Group
    ----------------------------------------------------------------------------- */

    .form-control-group {

      /* -----------------------------------------------------------------------------
      Nested Form Control
      ----------------------------------------------------------------------------- */

      &.form-control {

        .form-control-group-add-on {

          &:first-child {

            padding-right: @form-control-add-on-padding-horizontal;

          }

          &:last-child {

            padding-left: @form-control-add-on-padding-horizontal;

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@form-control-enabled) and (@form-control-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Form Control (.form-control)
      ----------------------------------------------------------------------------- */

      .form-control {

        .text-size-variant(form-control, scale-screen-small);
        .shape-layout-variant(form-control, scale-screen-small);

        & when not (@form-control-height-scale-screen-small = null) {

          height: @form-control-height * @form-control-height-scale-screen-small;

        }

        & when not (@form-control-border-radius = null) and not (@form-control-border-radius-scale-screen-small = null) {

          border-radius: @form-control-border-radius * @form-control-border-radius-scale-screen-small;

        }

        /* -----------------------------------------------------------------------------
        Block Form Control (.form-control-block)
        ----------------------------------------------------------------------------- */

        &.form-control-block {

          &.form-control-block-below-screen-small {

            width: auto;
            display: inline-flex;

          }

        }

        & when not (@form-control-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Rounded Form Control (.form-control-block)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-padding-left = null) and not (@form-control-padding-left-scale-screen-small = null) {

              padding-left: @form-control-padding-left * @form-control-rounded-padding-horizontal-scale * @form-control-padding-left-scale-screen-small;

            }

            & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-small = null) {

              padding-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-small;

            }

          }

        }

      }

      textarea.form-control,
      .form-control select[multiple] {

        & when not (@form-control-height-scale-screen-small = null) and not (@form-control-text-line-height-scale-screen-small = null) {

          padding-top: ((@form-control-height * @form-control-height-scale-screen-small) - (@form-control-text-line-height * @form-control-text-line-height-scale-screen-small)) / 2;
          padding-bottom: ((@form-control-height * @form-control-height-scale-screen-small) - (@form-control-text-line-height * @form-control-text-line-height-scale-screen-small)) / 2;

        }

      }

      /* -----------------------------------------------------------------------------
      Form Control Select (.form-control-select)
      ----------------------------------------------------------------------------- */

      .form-control.form-control-select {

        select {

          .text-size-variant(form-control, scale-screen-small);
          .shape-layout-variant(form-control, scale-screen-small);

          & when not (@form-control-height-scale-screen-small = null) {

            height: @form-control-height * @form-control-height-scale-screen-small;

          }

        }

        // Caret

        &:after {

          & when not (@form-control-caret-width = null) and not (@form-control-caret-width-scale-screen-small = null) {

            .triangle-size-width("down", (@form-control-caret-width * @form-control-caret-width-scale-screen-small));

          }

          & when not (@form-control-caret-height = null) and not (@form-control-caret-height-scale-screen-small = null) {

            .triangle-size-height("down", (@form-control-caret-height * @form-control-caret-height-scale-screen-small));

          }

          & when not (@form-control-caret-margin-left = null) and not (@form-control-caret-margin-left-scale-screen-small = null) {

            margin-left: @form-control-caret-margin-left * @form-control-caret-margin-left-scale-screen-small;

          }

          & when not (@form-control-caret-margin-top = null) and not (@form-control-caret-margin-top-scale-screen-small = null) {

            margin-top: @form-control-caret-margin-top * @form-control-caret-margin-top-scale-screen-small;

          }

          & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-small = null) {

            margin-right: @form-control-padding-right * @form-control-padding-right-scale-screen-small;

          }

        }

        & when not (@form-control-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Rounded Form Control (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-padding-left = null) and not (@form-control-padding-left-scale-screen-small = null) {

                padding-left: @form-control-padding-left * @form-control-rounded-padding-horizontal-scale * @form-control-padding-left-scale-screen-small;

              }

              & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-small = null) {

                padding-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-small;

              }

            }

            // Caret

            &:after {

              & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-small = null) {

                margin-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-small;

              }

            }

          }

        }

      }

      & when (@form-control-group-enabled) and not (@form-control-add-on-padding-horizontal = null) and not (@form-control-add-on-padding-horizontal-scale-screen-small = null) {

        /* -----------------------------------------------------------------------------
        Form Control Group
        ----------------------------------------------------------------------------- */

        .form-control-group {

          /* -----------------------------------------------------------------------------
          Nested Form Control
          ----------------------------------------------------------------------------- */

          &.form-control {

            .form-control-group-add-on {

              &:first-child {

                padding-right: @form-control-add-on-padding-horizontal * @form-control-add-on-padding-horizontal-scale-screen-small;

              }

              &:last-child {

                padding-left: @form-control-add-on-padding-horizontal * @form-control-add-on-padding-horizontal-scale-screen-small;

              }

            }

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@form-control-enabled) and (@form-control-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Form Control (.form-control)
      ----------------------------------------------------------------------------- */

      .form-control {

        .text-size-variant(form-control, scale-screen-medium);
        .shape-layout-variant(form-control, scale-screen-medium);

        & when not (@form-control-height-scale-screen-medium = null) {

          height: @form-control-height * @form-control-height-scale-screen-medium;

        }

        & when not (@form-control-border-radius = null) and not (@form-control-border-radius-scale-screen-medium = null) {

          border-radius: @form-control-border-radius * @form-control-border-radius-scale-screen-medium;

        }

        /* -----------------------------------------------------------------------------
        Block Form Control (.form-control-block)
        ----------------------------------------------------------------------------- */

        &.form-control-block {

          &.form-control-block-below-screen-medium {

            width: auto;
            display: inline-flex;

          }

        }

        & when not (@form-control-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Rounded Form Control (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-padding-left = null) and not (@form-control-padding-left-scale-screen-medium = null) {

              padding-left: @form-control-padding-left * @form-control-rounded-padding-horizontal-scale * @form-control-padding-left-scale-screen-medium;

            }

            & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-medium = null) {

              padding-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-medium;

            }

          }

        }

      }

      textarea.form-control,
      .form-control select[multiple] {

        & when (@form-control-scale-screen-medium-enabled) {

          & when not (@form-control-height-scale-screen-medium = null) and not (@form-control-text-line-height-scale-screen-medium = null) {

            padding-top: ((@form-control-height * @form-control-height-scale-screen-medium) - (@form-control-text-line-height * @form-control-text-line-height-scale-screen-medium)) / 2;
            padding-bottom: ((@form-control-height * @form-control-height-scale-screen-medium) - (@form-control-text-line-height * @form-control-text-line-height-scale-screen-medium)) / 2;

          }

        }

      }

      /* -----------------------------------------------------------------------------
      Form Control Select (.form-control-select)
      ----------------------------------------------------------------------------- */

      .form-control.form-control-select {

        select {

          .text-size-variant(form-control, scale-screen-medium);
          .shape-layout-variant(form-control, scale-screen-medium);

          & when not (@form-control-height-scale-screen-medium = null) {

            height: @form-control-height * @form-control-height-scale-screen-medium;

          }

        }

        // Caret

        &:after {

          & when not (@form-control-caret-width = null) and not (@form-control-caret-width-scale-screen-medium = null) {

            .triangle-size-width("down", (@form-control-caret-width * @form-control-caret-width-scale-screen-medium));

          }

          & when not (@form-control-caret-height = null) and not (@form-control-caret-height-scale-screen-medium = null) {

            .triangle-size-height("down", (@form-control-caret-height * @form-control-caret-height-scale-screen-medium));

          }

          & when not (@form-control-caret-margin-left = null) and not (@form-control-caret-margin-left-scale-screen-medium = null) {

            margin-left: @form-control-caret-margin-left * @form-control-caret-margin-left-scale-screen-medium;

          }

          & when not (@form-control-caret-margin-top = null) and not (@form-control-caret-margin-top-scale-screen-medium = null) {

            margin-top: @form-control-caret-margin-top * @form-control-caret-margin-top-scale-screen-medium;

          }

          & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-medium = null) {

            margin-right: @form-control-padding-right * @form-control-padding-right-scale-screen-medium;

          }

        }

        & when not (@form-control-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Rounded Form Control (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-padding-left = null) and not (@form-control-padding-left-scale-screen-medium = null) {

                padding-left: @form-control-padding-left * @form-control-rounded-padding-horizontal-scale * @form-control-padding-left-scale-screen-medium;

              }

              & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-medium = null) {

                padding-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-medium;

              }

            }

            // Caret

            &:after {

              & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-medium = null) {

                margin-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-medium;

              }

            }

          }

        }

      }

      & when (@form-control-group-enabled) and not (@form-control-add-on-padding-horizontal = null) and not (@form-control-add-on-padding-horizontal-scale-screen-medium = null) {

        /* -----------------------------------------------------------------------------
        Form Control Group
        ----------------------------------------------------------------------------- */

        .form-control-group {

          /* -----------------------------------------------------------------------------
          Nested Form Control
          ----------------------------------------------------------------------------- */

          &.form-control {

            .form-control-group-add-on {

              &:first-child {

                padding-right: @form-control-add-on-padding-horizontal * @form-control-add-on-padding-horizontal-scale-screen-medium;

              }

              &:last-child {

                padding-left: @form-control-add-on-padding-horizontal * @form-control-add-on-padding-horizontal-scale-screen-medium;

              }

            }

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@form-control-enabled) and (@form-control-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Form Control (.form-control)
      ----------------------------------------------------------------------------- */

      .form-control {

        .text-size-variant(form-control, scale-screen-large);
        .shape-layout-variant(form-control, scale-screen-large);

        & when not (@form-control-height-scale-screen-large = null) {

          height: @form-control-height * @form-control-height-scale-screen-large;

        }

        & when not (@form-control-border-radius = null) and not (@form-control-border-radius-scale-screen-large = null) {

          border-radius: @form-control-border-radius * @form-control-border-radius-scale-screen-large;

        }

        /* -----------------------------------------------------------------------------
        Block Form Control (.form-control-block)
        ----------------------------------------------------------------------------- */

        &.form-control-block {

          &.form-control-block-below-screen-large {

            width: auto;
            display: inline-flex;

          }

        }

        & when not (@form-control-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Rounded Form Control (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-padding-left = null) and not (@form-control-padding-left-scale-screen-large = null) {

              padding-left: @form-control-padding-left * @form-control-rounded-padding-horizontal-scale * @form-control-padding-left-scale-screen-large;

            }

            & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-large = null) {

              padding-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-large;

            }

          }

        }

      }

      textarea.form-control,
      .form-control select[multiple] {

        & when not (@form-control-height-scale-screen-large = null) and not (@form-control-text-line-height-scale-screen-large = null) {

          padding-top: ((@form-control-height * @form-control-height-scale-screen-large) - (@form-control-text-line-height * @form-control-text-line-height-scale-screen-large)) / 2;
          padding-bottom: ((@form-control-height * @form-control-height-scale-screen-large) - (@form-control-text-line-height * @form-control-text-line-height-scale-screen-large)) / 2;

        }

      }

      /* -----------------------------------------------------------------------------
      Form Control Select (.form-control-select)
      ----------------------------------------------------------------------------- */

      .form-control.form-control-select {

        select {

          .text-size-variant(form-control, scale-screen-large);
          .shape-layout-variant(form-control, scale-screen-large);

          & when not (@form-control-height-scale-screen-large = null) {

            height: @form-control-height * @form-control-height-scale-screen-large;

          }

        }

        // Caret

        &:after {

          & when not (@form-control-caret-width = null) and not (@form-control-caret-width-scale-screen-large = null) {

            .triangle-size-width("down", (@form-control-caret-width * @form-control-caret-width-scale-screen-large));

          }

          & when not (@form-control-caret-height = null) and not (@form-control-caret-height-scale-screen-large = null) {

            .triangle-size-height("down", (@form-control-caret-height * @form-control-caret-height-scale-screen-large));

          }

          & when not (@form-control-caret-margin-left = null) and not (@form-control-caret-margin-left-scale-screen-large = null) {

            margin-left: @form-control-caret-margin-left * @form-control-caret-margin-left-scale-screen-large;

          }

          & when not (@form-control-caret-margin-top = null) and not (@form-control-caret-margin-top-scale-screen-large = null) {

            margin-top: @form-control-caret-margin-top * @form-control-caret-margin-top-scale-screen-large;

          }

          & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-large = null) {

            margin-right: @form-control-padding-right * @form-control-padding-right-scale-screen-large;

          }

        }

        & when not (@form-control-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Rounded Form Control (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-padding-left = null) and not (@form-control-padding-left-scale-screen-large = null) {

                padding-left: @form-control-padding-left * @form-control-rounded-padding-horizontal-scale * @form-control-padding-left-scale-screen-large;

              }

              & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-large = null) {

                padding-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-large;

              }

            }

            // Caret

            &:after {

              & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-large = null) {

                margin-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-large;

              }

            }

          }

        }

      }

      & when (@form-control-group-enabled) and not (@form-control-add-on-padding-horizontal = null) and not (@form-control-add-on-padding-horizontal-scale-screen-large = null) {

        /* -----------------------------------------------------------------------------
        Form Control Group
        ----------------------------------------------------------------------------- */

        .form-control-group {

          /* -----------------------------------------------------------------------------
          Nested Form Control
          ----------------------------------------------------------------------------- */

          &.form-control {

            .form-control-group-add-on {

              &:first-child {

                padding-right: @form-control-add-on-padding-horizontal * @form-control-add-on-padding-horizontal-scale-screen-large;

              }

              &:last-child {

                padding-left: @form-control-add-on-padding-horizontal * @form-control-add-on-padding-horizontal-scale-screen-large;

              }

            }

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@form-control-enabled) and (@form-control-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Form Control (.form-control)
      ----------------------------------------------------------------------------- */

      .form-control {

        .text-size-variant(form-control, scale-screen-jumbo);
        .shape-layout-variant(form-control, scale-screen-jumbo);

        & when not (@form-control-height-scale-screen-jumbo = null) {

          height: @form-control-height * @form-control-height-scale-screen-jumbo;

        }

        & when not (@form-control-border-radius = null) and not (@form-control-border-radius-scale-screen-jumbo = null) {

          border-radius: @form-control-border-radius * @form-control-border-radius-scale-screen-jumbo;

        }

        /* -----------------------------------------------------------------------------
        Block Form Control (.form-control-block)
        ----------------------------------------------------------------------------- */

        &.form-control-block {

          &.form-control-block-below-screen-jumbo {

            width: auto;
            display: inline-flex;

          }

        }

        & when not (@form-control-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Rounded Form Control (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-padding-left = null) and not (@form-control-padding-left-scale-screen-jumbo = null) {

              padding-left: @form-control-padding-left * @form-control-rounded-padding-horizontal-scale * @form-control-padding-left-scale-screen-jumbo;

            }

            & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-jumbo = null) {

              padding-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-jumbo;

            }

          }

        }

      }

      textarea.form-control,
      .form-control select[multiple] {

        & when not (@form-control-height-scale-screen-jumbo = null) and not (@form-control-text-line-height-scale-screen-jumbo = null) {

          padding-top: ((@form-control-height * @form-control-height-scale-screen-jumbo) - (@form-control-text-line-height * @form-control-text-line-height-scale-screen-jumbo)) / 2;
          padding-bottom: ((@form-control-height * @form-control-height-scale-screen-jumbo) - (@form-control-text-line-height * @form-control-text-line-height-scale-screen-jumbo)) / 2;

        }

      }

      /* -----------------------------------------------------------------------------
      Form Control Select (.form-control-select)
      ----------------------------------------------------------------------------- */

      .form-control.form-control-select {

        select {

          .text-size-variant(form-control, scale-screen-jumbo);
          .shape-layout-variant(form-control, scale-screen-jumbo);

          & when not (@form-control-height-scale-screen-jumbo = null) {

            height: @form-control-height * @form-control-height-scale-screen-jumbo;

          }

        }

        // Caret

        &:after {

          & when not (@form-control-caret-width = null) and not (@form-control-caret-width-scale-screen-jumbo = null) {

            .triangle-size-width("down", (@form-control-caret-width * @form-control-caret-width-scale-screen-jumbo));

          }

          & when not (@form-control-caret-height = null) and not (@form-control-caret-height-scale-screen-jumbo = null) {

            .triangle-size-height("down", (@form-control-caret-height * @form-control-caret-height-scale-screen-jumbo));

          }

          & when not (@form-control-caret-margin-left = null) and not (@form-control-caret-margin-left-scale-screen-jumbo = null) {

            margin-left: @form-control-caret-margin-left * @form-control-caret-margin-left-scale-screen-jumbo;

          }

          & when not (@form-control-caret-margin-top = null) and not (@form-control-caret-margin-top-scale-screen-jumbo = null) {

            margin-top: @form-control-caret-margin-top * @form-control-caret-margin-top-scale-screen-jumbo;

          }

          & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-jumbo = null) {

            margin-right: @form-control-padding-right * @form-control-padding-right-scale-screen-jumbo;

          }

        }

        & when not (@form-control-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Rounded Form Control (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-padding-left = null) and not (@form-control-padding-left-scale-screen-jumbo = null) {

                padding-left: @form-control-padding-left * @form-control-rounded-padding-horizontal-scale * @form-control-padding-left-scale-screen-jumbo;

              }

              & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-jumbo = null) {

                padding-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-jumbo;

              }

            }

            // Caret

            &:after {

              & when not (@form-control-padding-right = null) and not (@form-control-padding-right-scale-screen-jumbo = null) {

                margin-right: @form-control-padding-right * @form-control-rounded-padding-horizontal-scale * @form-control-padding-right-scale-screen-jumbo;

              }

            }

          }

        }

      }

      & when (@form-control-group-enabled) and not (@form-control-add-on-padding-horizontal = null) and not (@form-control-add-on-padding-horizontal-scale-screen-jumbo = null) {

        /* -----------------------------------------------------------------------------
        Form Control Group
        ----------------------------------------------------------------------------- */

        .form-control-group {

          /* -----------------------------------------------------------------------------
          Nested Form Control
          ----------------------------------------------------------------------------- */

          &.form-control {

            .form-control-group-add-on {

              &:first-child {

                padding-right: @form-control-add-on-padding-horizontal * @form-control-add-on-padding-horizontal-scale-screen-jumbo;

              }

              &:last-child {

                padding-left: @form-control-add-on-padding-horizontal * @form-control-add-on-padding-horizontal-scale-screen-jumbo;

              }

            }

          }

        }

      }

    }

  }

}
