/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
flex/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@flex-enabled) {

  /* -----------------------------------------------------------------------------
  Flex
  ----------------------------------------------------------------------------- */

  .flex {

    display: flex;

    &:before,
    &:after {

      display: none;

    }

  }

  .flex-inline {

    display: flex-inline;

    &:before,
    &:after {

      display: none;

    }

  }

  // Direction

  .flex-direction-left-to-right {

    flex-direction: row;

  }

  .flex-direction-right-to-left {

    flex-direction: row-reverse;

  }

  .flex-direction-top-to-bottom {

    flex-direction: column;

  }

  .flex-direction-bottom-to-top {

    flex-direction: column-reverse;

  }

  // Wrap Items

  .flex-wrap-items {

    flex-wrap: wrap;

  }

  .flex-wrap-items-reverse {

    flex-wrap: wrap-reverse;

  }

  .flex-wrap-items-none {

    flex-wrap: nowrap;

  }

  // Align Items

  .flex-align-items-start {

    align-items: flex-start;

  }

  .flex-align-items-center {

    align-items: center;

  }

  .flex-align-items-end {

    align-items: flex-end;

  }

  .flex-align-items-stretch {

    align-items: stretch;

  }

  // Justify Items

  .flex-justify-items-start {

    justify-content: flex-start;

  }

  .flex-justify-items-end {

    justify-content: flex-end;

  }

  .flex-justify-items-center {

    justify-content: center;

  }

  .flex-justify-items-space-between {

    justify-content: space-between;

  }

  .flex-justify-items-space-around {

    justify-content: space-around;

  }

  // Align Content

  .flex-align-content-start {

    align-content: flex-start;

  }

  .flex-align-content-center {

    align-content: center;

  }

  .flex-align-content-end {

    align-content: flex-end;

  }

  .flex-align-content-stretch {

    align-content: stretch;

  }

  .flex-align-content-space-between {

    align-content: space-between;

  }

  .flex-align-content-space-around {

    align-content: space-around;

  }

  /* -----------------------------------------------------------------------------
  Flex Item
  ----------------------------------------------------------------------------- */

  .flex-item {
  }

  // Flex Order (.flex-item-order-n, 0..n)

  .flex-item-property-loop (flex-item-order, order, null, 100, -100);

  // Flex Grow (.flex-item-shrink-n, 0..n)

  .flex-item-property-loop (flex-item-grow, flex-grow, null, 10, 0);

  // Flex Shrink (.flex-item-shrink-n, 0..n)

  .flex-item-property-loop (flex-item-shrink, flex-shrink, null, 10, 0);

  // Flex Basis

  .flex-item-basis-auto {

    flex-basis: auto;

  }

  .flex-item-basis-content {

    flex-basis: content;

  }

  // Align Items

  .flex-item-align-self-auto {

    align-self: auto;

  }

  .flex-item-align-self-start {

    align-self: flex-start;

  }

  .flex-item-align-self-center {

    align-self: center;

  }

  .flex-item-align-baseline {

    align-self: baseline;

  }

  .flex-item-align-self-stretch {

    align-self: stretch;

  }

}



& when (@layout-scale-screen-mini-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: large (@layout-screen-mini-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-mini-min-width) {

    & when (@flex-enabled) and (@flex-scale-screen-mini-enabled) {

      /* -----------------------------------------------------------------------------
      Flex
      ----------------------------------------------------------------------------- */

      .flex-screen-mini {

        display: flex;

        &:before,
        &:after {

          display: none;

        }

      }

      .flex-inline-screen-mini {

        display: flex-inline;

        &:before,
        &:after {

          display: none;

        }

      }

      // Direction

      .flex-direction-left-to-right-screen-mini {

        flex-direction: row;

      }

      .flex-direction-right-to-left-screen-mini {

        flex-direction: row-reverse;

      }

      .flex-direction-top-to-bottom-screen-mini {

        flex-direction: column;

      }

      .flex-direction-bottom-to-top-screen-mini {

        flex-direction: column-reverse;

      }

      // Wrap

      .flex-wrap-screen-mini {

        flex-wrap: wrap;

      }

      .flex-wrap-items-reverse-screen-mini {

        flex-wrap: wrap-reverse;

      }

      .flex-wrap-items-none-screen-mini {

        flex-wrap: nowrap;

      }

      // Align Items

      .flex-align-items-start-screen-mini {

        align-items: flex-start;

      }

      .flex-align-items-center-screen-mini {

        align-items: center;

      }

      .flex-align-items-end-screen-mini {

        align-items: flex-end;

      }

      .flex-align-items-stretch-screen-mini {

        align-items: stretch;

      }

      // Justify Items

      .flex-justify-items-start-screen-mini {

        justify-content: flex-start;

      }

      .flex-justify-items-end-screen-mini {

        justify-content: flex-end;

      }

      .flex-justify-items-center-screen-mini {

        justify-content: center;

      }

      .flex-justify-items-space-between-screen-mini {

        justify-content: space-between;

      }

      .flex-justify-items-space-around-screen-mini {

        justify-content: space-around;

      }

      // Align Content

      .flex-align-content-start-screen-mini {

        align-content: flex-start;

      }

      .flex-align-content-center-screen-mini {

        align-content: center;

      }

      .flex-align-content-end-screen-mini {

        align-content: flex-end;

      }

      .flex-align-content-stretch-screen-mini {

        align-content: stretch;

      }

      .flex-align-content-space-between-screen-mini {

        align-content: space-between;

      }

      .flex-align-content-space-around-screen-mini {

        align-content: space-around;

      }

      /* -----------------------------------------------------------------------------
      Flex Item
      ----------------------------------------------------------------------------- */

      .flex-item-screen-mini {
      }

      // Flex Order (.flex-item-order-n, 0..n)

      .flex-item-property-loop (flex-item-order, order, mini, 100, -100);

      // Flex Grow (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-grow, flex-grow, mini, 10, 0);

      // Flex Shrink (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-shrink, flex-shrink, mini, 10, 0);

      // Flex Basis

      .flex-item-basis-auto-screen-mini {

        flex-basis: auto;

      }

      .flex-item-basis-content-screen-mini {

        flex-basis: content;

      }

      // Align Items

      .flex-item-align-self-auto-screen-mini {

        align-self: auto;

      }

      .flex-item-align-self-start-screen-mini {

        align-self: flex-start;

      }

      .flex-item-align-self-center-screen-mini {

        align-self: center;

      }

      .flex-item-align-baseline-screen-mini {

        align-self: baseline;

      }

      .flex-item-align-self-stretch-screen-mini {

        align-self: stretch;

      }

    }

  }

}



& when (@layout-scale-screen-small-enabled) and (@flex-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@flex-enabled) and (@flex-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Flex
      ----------------------------------------------------------------------------- */

      .flex-screen-small {

        display: flex;

        &:before,
        &:after {

          display: none;

        }

      }

      .flex-inline-screen-small {

        display: flex-inline;

        &:before,
        &:after {

          display: none;

        }

      }

      // Direction

      .flex-direction-left-to-right-screen-small {

        flex-direction: row;

      }

      .flex-direction-right-to-left-screen-small {

        flex-direction: row-reverse;

      }

      .flex-direction-top-to-bottom-screen-small {

        flex-direction: column;

      }

      .flex-direction-bottom-to-top-screen-small {

        flex-direction: column-reverse;

      }

      // Wrap

      .flex-wrap-screen-small {

        flex-wrap: wrap;

      }

      .flex-wrap-items-reverse-screen-small {

        flex-wrap: wrap-reverse;

      }

      .flex-wrap-items-none-screen-small {

        flex-wrap: nowrap;

      }

      // Align Items

      .flex-align-items-start-screen-small {

        align-items: flex-start;

      }

      .flex-align-items-center-screen-small {

        align-items: center;

      }

      .flex-align-items-end-screen-small {

        align-items: flex-end;

      }

      .flex-align-items-stretch-screen-small {

        align-items: stretch;

      }

      // Justify Items

      .flex-justify-items-start-screen-small {

        justify-content: flex-start;

      }

      .flex-justify-items-end-screen-small {

        justify-content: flex-end;

      }

      .flex-justify-items-center-screen-small {

        justify-content: center;

      }

      .flex-justify-items-space-between-screen-small {

        justify-content: space-between;

      }

      .flex-justify-items-space-around-screen-small {

        justify-content: space-around;

      }

      // Align Content

      .flex-align-content-start-screen-small {

        align-content: flex-start;

      }

      .flex-align-content-center-screen-small {

        align-content: center;

      }

      .flex-align-content-end-screen-small {

        align-content: flex-end;

      }

      .flex-align-content-stretch-screen-small {

        align-content: stretch;

      }

      .flex-align-content-space-between-screen-small {

        align-content: space-between;

      }

      .flex-align-content-space-around-screen-small {

        align-content: space-around;

      }

      /* -----------------------------------------------------------------------------
      Flex Item
      ----------------------------------------------------------------------------- */

      .flex-item-screen-small {
      }

      // Flex Order (.flex-item-order-n, 0..n)

      .flex-item-property-loop (flex-item-order, order, small, 100, -100);

      // Flex Grow (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-grow, flex-grow, small, 10, 0);

      // Flex Shrink (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-shrink, flex-shrink, small, 10, 0);

      // Flex Basis

      .flex-item-basis-auto-screen-small {

        flex-basis: auto;

      }

      .flex-item-basis-content-screen-small {

        flex-basis: content;

      }

      // Align Items

      .flex-item-align-self-auto-screen-small {

        align-self: auto;

      }

      .flex-item-align-self-start-screen-small {

        align-self: flex-start;

      }

      .flex-item-align-self-center-screen-small {

        align-self: center;

      }

      .flex-item-align-baseline-screen-small {

        align-self: baseline;

      }

      .flex-item-align-self-stretch-screen-small {

        align-self: stretch;

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) and (@flex-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@flex-enabled) and (@flex-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Flex
      ----------------------------------------------------------------------------- */

      .flex-screen-medium {

        display: flex;

        &:before,
        &:after {

          display: none;

        }

      }

      .flex-inline-screen-medium {

        display: flex-inline;

        &:before,
        &:after {

          display: none;

        }

      }

      // Direction

      .flex-direction-left-to-right-screen-medium {

        flex-direction: row;

      }

      .flex-direction-right-to-left-screen-medium {

        flex-direction: row-reverse;

      }

      .flex-direction-top-to-bottom-screen-medium {

        flex-direction: column;

      }

      .flex-direction-bottom-to-top-screen-medium {

        flex-direction: column-reverse;

      }

      // Wrap

      .flex-wrap-screen-medium {

        flex-wrap: wrap;

      }

      .flex-wrap-items-reverse-screen-medium {

        flex-wrap: wrap-reverse;

      }

      .flex-wrap-items-none-screen-medium {

        flex-wrap: nowrap;

      }

      // Align Items

      .flex-align-items-start-screen-medium {

        align-items: flex-start;

      }

      .flex-align-items-center-screen-medium {

        align-items: center;

      }

      .flex-align-items-end-screen-medium {

        align-items: flex-end;

      }

      .flex-align-items-stretch-screen-medium {

        align-items: stretch;

      }

      // Justify Items

      .flex-justify-items-start-screen-medium {

        justify-content: flex-start;

      }

      .flex-justify-items-end-screen-medium {

        justify-content: flex-end;

      }

      .flex-justify-items-center-screen-medium {

        justify-content: center;

      }

      .flex-justify-items-space-between-screen-medium {

        justify-content: space-between;

      }

      .flex-justify-items-space-around-screen-medium {

        justify-content: space-around;

      }

      // Align Content

      .flex-align-content-start-screen-medium {

        align-content: flex-start;

      }

      .flex-align-content-center-screen-medium {

        align-content: center;

      }

      .flex-align-content-end-screen-medium {

        align-content: flex-end;

      }

      .flex-align-content-stretch-screen-medium {

        align-content: stretch;

      }

      .flex-align-content-space-between-screen-medium {

        align-content: space-between;

      }

      .flex-align-content-space-around-screen-medium {

        align-content: space-around;

      }

      /* -----------------------------------------------------------------------------
      Flex Item
      ----------------------------------------------------------------------------- */

      .flex-item-screen-medium {
      }

      // Flex Order (.flex-item-order-n, 0..n)

      .flex-item-property-loop (flex-item-order, order, medium, 100, -100);

      // Flex Grow (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-grow, flex-grow, medium, 10, 0);

      // Flex Shrink (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-shrink, flex-shrink, medium, 10, 0);

      // Flex Basis

      .flex-item-basis-auto-screen-medium {

        flex-basis: auto;

      }

      .flex-item-basis-content-screen-medium {

        flex-basis: content;

      }

      // Align Items

      .flex-item-align-self-auto-screen-medium {

        align-self: auto;

      }

      .flex-item-align-self-start-screen-medium {

        align-self: flex-start;

      }

      .flex-item-align-self-center-screen-medium {

        align-self: center;

      }

      .flex-item-align-baseline-screen-medium {

        align-self: baseline;

      }

      .flex-item-align-self-stretch-screen-medium {

        align-self: stretch;

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) and (@flex-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@flex-enabled) and (@flex-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Flex
      ----------------------------------------------------------------------------- */

      .flex-screen-large {

        display: flex;

        &:before,
        &:after {

          display: none;

        }

      }

      .flex-inline-screen-large {

        display: flex-inline;

        &:before,
        &:after {

          display: none;

        }

      }

      // Direction

      .flex-direction-left-to-right-screen-large {

        flex-direction: row;

      }

      .flex-direction-right-to-left-screen-large {

        flex-direction: row-reverse;

      }

      .flex-direction-top-to-bottom-screen-large {

        flex-direction: column;

      }

      .flex-direction-bottom-to-top-screen-large {

        flex-direction: column-reverse;

      }

      // Wrap

      .flex-wrap-screen-large {

        flex-wrap: wrap;

      }

      .flex-wrap-items-reverse-screen-large {

        flex-wrap: wrap-reverse;

      }

      .flex-wrap-items-none-screen-large {

        flex-wrap: nowrap;

      }

      // Align Items

      .flex-align-items-start-screen-large {

        align-items: flex-start;

      }

      .flex-align-items-center-screen-large {

        align-items: center;

      }

      .flex-align-items-end-screen-large {

        align-items: flex-end;

      }

      .flex-align-items-stretch-screen-large {

        align-items: stretch;

      }

      // Justify Items

      .flex-justify-items-start-screen-large {

        justify-content: flex-start;

      }

      .flex-justify-items-end-screen-large {

        justify-content: flex-end;

      }

      .flex-justify-items-center-screen-large {

        justify-content: center;

      }

      .flex-justify-items-space-between-screen-large {

        justify-content: space-between;

      }

      .flex-justify-items-space-around-screen-large {

        justify-content: space-around;

      }

      // Align Content

      .flex-align-content-start-screen-large {

        align-content: flex-start;

      }

      .flex-align-content-center-screen-large {

        align-content: center;

      }

      .flex-align-content-end-screen-large {

        align-content: flex-end;

      }

      .flex-align-content-stretch-screen-large {

        align-content: stretch;

      }

      .flex-align-content-space-between-screen-large {

        align-content: space-between;

      }

      .flex-align-content-space-around-screen-large {

        align-content: space-around;

      }

      /* -----------------------------------------------------------------------------
      Flex Item
      ----------------------------------------------------------------------------- */

      .flex-item-screen-large {
      }

      // Flex Order (.flex-item-order-n, 0..n)

      .flex-item-property-loop (flex-item-order, order, large, 100, -100);

      // Flex Grow (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-grow, flex-grow, large, 10, 0);

      // Flex Shrink (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-shrink, flex-shrink, large, 10, 0);

      // Flex Basis

      .flex-item-basis-auto-screen-large {

        flex-basis: auto;

      }

      .flex-item-basis-content-screen-large {

        flex-basis: content;

      }

      // Align Items

      .flex-item-align-self-auto-screen-large {

        align-self: auto;

      }

      .flex-item-align-self-start-screen-large {

        align-self: flex-start;

      }

      .flex-item-align-self-center-screen-large {

        align-self: center;

      }

      .flex-item-align-baseline-screen-large {

        align-self: baseline;

      }

      .flex-item-align-self-stretch-screen-large {

        align-self: stretch;

      }

    }

  }

}
