/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
flex/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@flex-enabled) {

  /* -----------------------------------------------------------------------------
  Flex
  ----------------------------------------------------------------------------- */

  .flex {

    display: flex !important;

    &:before,
    &:after {

      display: none  !important;

    }

  }

  .flex-inline {

    display: flex-inline !important;

    &:before,
    &:after {

      display: none;

    }

  }

  // Direction

  .flex-direction-left-to-right {

    flex-direction: row;

  }

  .flex-direction-right-to-left {

    flex-direction: row-reverse;

  }

  .flex-direction-top-to-bottom {

    flex-direction: column;

  }

  .flex-direction-bottom-to-top {

    flex-direction: column-reverse;

  }

  // Wrap Items

  .flex-wrap-items {

    flex-wrap: wrap;

  }

  .flex-wrap-items-reverse {

    flex-wrap: wrap-reverse;

  }

  .flex-wrap-items-none {

    flex-wrap: nowrap;

  }

  // Align Items

  .flex-align-items-start {

    align-items: flex-start;

  }

  .flex-align-items-center {

    align-items: center;

  }

  .flex-align-items-end {

    align-items: flex-end;

  }

  .flex-align-items-stretch {

    align-items: stretch;

  }

  .flex-align-items-baseline {

    align-items: baseline;

  }

  // Justify Items

  .flex-justify-items-start {

    justify-content: flex-start;

  }

  .flex-justify-items-end {

    justify-content: flex-end;

  }

  .flex-justify-items-center {

    justify-content: center;

  }

  .flex-justify-items-space-between {

    justify-content: space-between;

  }

  .flex-justify-items-space-around {

    justify-content: space-around;

  }

  // Align Content

  .flex-align-content-start {

    align-content: flex-start;

  }

  .flex-align-content-center {

    align-content: center;

  }

  .flex-align-content-end {

    align-content: flex-end;

  }

  .flex-align-content-stretch {

    align-content: stretch;

  }

  .flex-align-content-space-between {

    align-content: space-between;

  }

  .flex-align-content-space-around {

    align-content: space-around;

  }

  /* -----------------------------------------------------------------------------
  Flex Item
  ----------------------------------------------------------------------------- */

  // Flex Order (.flex-item-order-n, 0..n)

  .flex-item-property-loop (flex-item-order, order, null, 100, -100);

  // Flex Grow (.flex-item-shrink-n, 0..n)

  .flex-item-property-loop (flex-item-grow, flex-grow, null, 10, 0);

  // Flex Shrink (.flex-item-shrink-n, 0..n)

  .flex-item-property-loop (flex-item-shrink, flex-shrink, null, 10, 0);

  // Flex Basis

  .flex-item-basis-auto {

    flex-basis: auto;

  }

  .flex-item-basis-content {

    flex-basis: content;

  }

  .flex-item-basis-none {

    flex-basis: 0;

  }

  // Align Items

  .flex-item-align-auto {

    align-self: auto;

  }

  .flex-item-align-start {

    align-self: flex-start;

  }

  .flex-item-align-center {

    align-self: center;

  }

  .flex-item-align-end {

    align-self: flex-end;

  }

  .flex-item-align-baseline {

    align-self: baseline;

  }

  .flex-item-align-stretch {

    align-self: stretch;

  }

}



& when (@layout-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@flex-enabled) and (@flex-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Flex
      ----------------------------------------------------------------------------- */

      .flex-screen-small {

        display: flex;

        &:before,
        &:after {

          display: none;

        }

      }

      .flex-inline-screen-small {

        display: flex-inline;

        &:before,
        &:after {

          display: none;

        }

      }

      // Direction

      .flex-direction-left-to-right-screen-small {

        flex-direction: row;

      }

      .flex-direction-right-to-left-screen-small {

        flex-direction: row-reverse;

      }

      .flex-direction-top-to-bottom-screen-small {

        flex-direction: column;

      }

      .flex-direction-bottom-to-top-screen-small {

        flex-direction: column-reverse;

      }

      // Wrap

      .flex-wrap-items-screen-small {

        flex-wrap: wrap;

      }

      .flex-wrap-items-reverse-screen-small {

        flex-wrap: wrap-reverse;

      }

      .flex-wrap-items-none-screen-small {

        flex-wrap: nowrap;

      }

      // Align Items

      .flex-align-items-start-screen-small {

        align-items: flex-start;

      }

      .flex-align-items-center-screen-small {

        align-items: center;

      }

      .flex-align-items-end-screen-small {

        align-items: flex-end;

      }

      .flex-align-items-baseline-screen-small {

        align-items: baseline;

      }

      .flex-align-items-stretch-screen-small {

        align-items: stretch;

      }

      // Justify Items

      .flex-justify-items-start-screen-small {

        justify-content: flex-start;

      }

      .flex-justify-items-end-screen-small {

        justify-content: flex-end;

      }

      .flex-justify-items-center-screen-small {

        justify-content: center;

      }

      .flex-justify-items-space-between-screen-small {

        justify-content: space-between;

      }

      .flex-justify-items-space-around-screen-small {

        justify-content: space-around;

      }

      // Align Content

      .flex-align-content-start-screen-small {

        align-content: flex-start;

      }

      .flex-align-content-center-screen-small {

        align-content: center;

      }

      .flex-align-content-end-screen-small {

        align-content: flex-end;

      }

      .flex-align-content-stretch-screen-small {

        align-content: stretch;

      }

      .flex-align-content-space-between-screen-small {

        align-content: space-between;

      }

      .flex-align-content-space-around-screen-small {

        align-content: space-around;

      }

      /* -----------------------------------------------------------------------------
      Flex Item
      ----------------------------------------------------------------------------- */

      // Flex Order (.flex-item-order-n, 0..n)

      .flex-item-property-loop (flex-item-order, order, screen-small, 100, -100);

      // Flex Grow (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-grow, flex-grow, screen-small, 10, 0);

      // Flex Shrink (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-shrink, flex-shrink, screen-small, 10, 0);

      // Flex Basis

      .flex-item-basis-auto-screen-small {

        flex-basis: auto;

      }

      .flex-item-basis-content-screen-small {

        flex-basis: content;

      }

      .flex-item-basis-none-screen-small {

        flex-basis: 0;

      }

      // Align Items

      .flex-item-align-auto-screen-small {

        align-self: auto;

      }

      .flex-item-align-start-screen-small {

        align-self: flex-start;

      }

      .flex-item-align-center-screen-small {

        align-self: center;

      }

      .flex-item-align-end-screen-small {

        align-self: flex-end;

      }

      .flex-item-align-baseline-screen-small {

        align-self: baseline;

      }

      .flex-item-align-stretch-screen-small {

        align-self: stretch;

      }

    }

  }

}



& when (@layout-screen-medium-enabled) and (@flex-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@flex-enabled) and (@flex-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Flex
      ----------------------------------------------------------------------------- */

      .flex-screen-medium {

        display: flex;

        &:before,
        &:after {

          display: none;

        }

      }

      .flex-inline-screen-medium {

        display: flex-inline;

        &:before,
        &:after {

          display: none;

        }

      }

      // Direction

      .flex-direction-left-to-right-screen-medium {

        flex-direction: row;

      }

      .flex-direction-right-to-left-screen-medium {

        flex-direction: row-reverse;

      }

      .flex-direction-top-to-bottom-screen-medium {

        flex-direction: column;

      }

      .flex-direction-bottom-to-top-screen-medium {

        flex-direction: column-reverse;

      }

      // Wrap

      .flex-wrap-items-screen-medium {

        flex-wrap: wrap;

      }

      .flex-wrap-items-reverse-screen-medium {

        flex-wrap: wrap-reverse;

      }

      .flex-wrap-items-none-screen-medium {

        flex-wrap: nowrap;

      }

      // Align Items

      .flex-align-items-start-screen-medium {

        align-items: flex-start;

      }

      .flex-align-items-center-screen-medium {

        align-items: center;

      }

      .flex-align-items-end-screen-medium {

        align-items: flex-end;

      }

      .flex-align-items-stretch-screen-medium {

        align-items: stretch;

      }

      .flex-align-items-baseline-screen-small {

        align-items: baseline;

      }

      .flex-align-items-baseline-screen-small {

        align-items: baseline;

      }

      // Justify Items

      .flex-justify-items-start-screen-medium {

        justify-content: flex-start;

      }

      .flex-justify-items-end-screen-medium {

        justify-content: flex-end;

      }

      .flex-justify-items-center-screen-medium {

        justify-content: center;

      }

      .flex-justify-items-space-between-screen-medium {

        justify-content: space-between;

      }

      .flex-justify-items-space-around-screen-medium {

        justify-content: space-around;

      }

      // Align Content

      .flex-align-content-start-screen-medium {

        align-content: flex-start;

      }

      .flex-align-content-center-screen-medium {

        align-content: center;

      }

      .flex-align-content-end-screen-medium {

        align-content: flex-end;

      }

      .flex-align-content-stretch-screen-medium {

        align-content: stretch;

      }

      .flex-align-content-space-between-screen-medium {

        align-content: space-between;

      }

      .flex-align-content-space-around-screen-medium {

        align-content: space-around;

      }

      /* -----------------------------------------------------------------------------
      Flex Item
      ----------------------------------------------------------------------------- */

      // Flex Order (.flex-item-order-n, 0..n)

      .flex-item-property-loop (flex-item-order, order, screen-medium, 100, -100);

      // Flex Grow (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-grow, flex-grow, screen-medium, 10, 0);

      // Flex Shrink (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-shrink, flex-shrink, screen-medium, 10, 0);

      // Flex Basis

      .flex-item-basis-auto-screen-medium {

        flex-basis: auto;

      }

      .flex-item-basis-content-screen-medium {

        flex-basis: content;

      }

      .flex-item-basis-none-screen-medium {

        flex-basis: 0;

      }

      // Align Items

      .flex-item-align-auto-screen-medium {

        align-self: auto;

      }

      .flex-item-align-start-screen-medium {

        align-self: flex-start;

      }

      .flex-item-align-center-screen-medium {

        align-self: center;

      }

      .flex-item-align-end-screen-medium {

        align-self: flex-end;

      }

      .flex-item-align-baseline-screen-medium {

        align-self: baseline;

      }

      .flex-item-align-stretch-screen-medium {

        align-self: stretch;

      }

    }

  }

}



& when (@layout-screen-large-enabled) and (@flex-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@flex-enabled) and (@flex-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Flex
      ----------------------------------------------------------------------------- */

      .flex-screen-large {

        display: flex;

        &:before,
        &:after {

          display: none;

        }

      }

      .flex-inline-screen-large {

        display: flex-inline;

        &:before,
        &:after {

          display: none;

        }

      }

      // Direction

      .flex-direction-left-to-right-screen-large {

        flex-direction: row;

      }

      .flex-direction-right-to-left-screen-large {

        flex-direction: row-reverse;

      }

      .flex-direction-top-to-bottom-screen-large {

        flex-direction: column;

      }

      .flex-direction-bottom-to-top-screen-large {

        flex-direction: column-reverse;

      }

      // Wrap

      .flex-wrap-items-screen-large {

        flex-wrap: wrap;

      }

      .flex-wrap-items-reverse-screen-large {

        flex-wrap: wrap-reverse;

      }

      .flex-wrap-items-none-screen-large {

        flex-wrap: nowrap;

      }

      // Align Items

      .flex-align-items-start-screen-large {

        align-items: flex-start;

      }

      .flex-align-items-center-screen-large {

        align-items: center;

      }

      .flex-align-items-end-screen-large {

        align-items: flex-end;

      }

      .flex-align-items-baseline-screen-large {

        align-items: baseline;

      }

      .flex-align-items-stretch-screen-large {

        align-items: stretch;

      }

      // Justify Items

      .flex-justify-items-start-screen-large {

        justify-content: flex-start;

      }

      .flex-justify-items-end-screen-large {

        justify-content: flex-end;

      }

      .flex-justify-items-center-screen-large {

        justify-content: center;

      }

      .flex-justify-items-space-between-screen-large {

        justify-content: space-between;

      }

      .flex-justify-items-space-around-screen-large {

        justify-content: space-around;

      }

      // Align Content

      .flex-align-content-start-screen-large {

        align-content: flex-start;

      }

      .flex-align-content-center-screen-large {

        align-content: center;

      }

      .flex-align-content-end-screen-large {

        align-content: flex-end;

      }

      .flex-align-content-stretch-screen-large {

        align-content: stretch;

      }

      .flex-align-content-space-between-screen-large {

        align-content: space-between;

      }

      .flex-align-content-space-around-screen-large {

        align-content: space-around;

      }

      /* -----------------------------------------------------------------------------
      Flex Item
      ----------------------------------------------------------------------------- */

      // Flex Order (.flex-item-order-n, 0..n)

      .flex-item-property-loop (flex-item-order, order, screen-large, 100, -100);

      // Flex Grow (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-grow, flex-grow, screen-large, 10, 0);

      // Flex Shrink (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-shrink, flex-shrink, screen-large, 10, 0);

      // Flex Basis

      .flex-item-basis-auto-screen-large {

        flex-basis: auto;

      }

      .flex-item-basis-content-screen-large {

        flex-basis: content;

      }

      .flex-item-basis-none-screen-large {

        flex-basis: 0;

      }

      // Align Items

      .flex-item-align-auto-screen-large {

        align-self: auto;

      }

      .flex-item-align-start-screen-large {

        align-self: flex-start;

      }

      .flex-item-align-center-screen-large {

        align-self: center;

      }

      .flex-item-align-end-screen-large {

        align-self: flex-end;

      }

      .flex-item-align-baseline-screen-large {

        align-self: baseline;

      }

      .flex-item-align-stretch-screen-large {

        align-self: stretch;

      }

    }

  }

}



& when (@layout-screen-jumbo-enabled) and (@flex-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@flex-enabled) and (@flex-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Flex
      ----------------------------------------------------------------------------- */

      .flex-screen-jumbo {

        display: flex;

        &:before,
        &:after {

          display: none;

        }

      }

      .flex-inline-screen-jumbo {

        display: flex-inline;

        &:before,
        &:after {

          display: none;

        }

      }

      // Direction

      .flex-direction-left-to-right-screen-jumbo {

        flex-direction: row;

      }

      .flex-direction-right-to-left-screen-jumbo {

        flex-direction: row-reverse;

      }

      .flex-direction-top-to-bottom-screen-jumbo {

        flex-direction: column;

      }

      .flex-direction-bottom-to-top-screen-jumbo {

        flex-direction: column-reverse;

      }

      // Wrap

      .flex-wrap-items-screen-jumbo {

        flex-wrap: wrap;

      }

      .flex-wrap-items-reverse-screen-jumbo {

        flex-wrap: wrap-reverse;

      }

      .flex-wrap-items-none-screen-jumbo {

        flex-wrap: nowrap;

      }

      // Align Items

      .flex-align-items-start-screen-jumbo {

        align-items: flex-start;

      }

      .flex-align-items-center-screen-jumbo {

        align-items: center;

      }

      .flex-align-items-end-screen-jumbo {

        align-items: flex-end;

      }

      .flex-align-items-baseline-screen-jumbo {

        align-items: baseline;

      }

      .flex-align-items-stretch-screen-jumbo {

        align-items: stretch;

      }

      // Justify Items

      .flex-justify-items-start-screen-jumbo {

        justify-content: flex-start;

      }

      .flex-justify-items-end-screen-jumbo {

        justify-content: flex-end;

      }

      .flex-justify-items-center-screen-jumbo {

        justify-content: center;

      }

      .flex-justify-items-space-between-screen-jumbo {

        justify-content: space-between;

      }

      .flex-justify-items-space-around-screen-jumbo {

        justify-content: space-around;

      }

      // Align Content

      .flex-align-content-start-screen-jumbo {

        align-content: flex-start;

      }

      .flex-align-content-center-screen-jumbo {

        align-content: center;

      }

      .flex-align-content-end-screen-jumbo {

        align-content: flex-end;

      }

      .flex-align-content-stretch-screen-jumbo {

        align-content: stretch;

      }

      .flex-align-content-space-between-screen-jumbo {

        align-content: space-between;

      }

      .flex-align-content-space-around-screen-jumbo {

        align-content: space-around;

      }

      /* -----------------------------------------------------------------------------
      Flex Item
      ----------------------------------------------------------------------------- */

      // Flex Order (.flex-item-order-n, 0..n)

      .flex-item-property-loop (flex-item-order, order, screen-jumbo, 100, -100);

      // Flex Grow (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-grow, flex-grow, screen-jumbo, 10, 0);

      // Flex Shrink (.flex-item-shrink-n, 0..n)

      .flex-item-property-loop (flex-item-shrink, flex-shrink, screen-jumbo, 10, 0);

      // Flex Basis

      .flex-item-basis-auto-screen-jumbo {

        flex-basis: auto;

      }

      .flex-item-basis-content-screen-jumbo {

        flex-basis: content;

      }

      .flex-item-basis-none-screen-jumbo {

        flex-basis: 0;

      }

      // Align Items

      .flex-item-align-auto-screen-jumbo {

        align-self: auto;

      }

      .flex-item-align-start-screen-jumbo {

        align-self: flex-start;

      }

      .flex-item-align-center-screen-jumbo {

        align-self: center;

      }

      .flex-item-align-end-screen-jumbo {

        align-self: flex-end;

      }

      .flex-item-align-baseline-screen-jumbo {

        align-self: baseline;

      }

      .flex-item-align-stretch-screen-jumbo {

        align-self: stretch;

      }

    }

  }

}
