/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

button/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@button-primary-enabled:                                                        true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Default
----------------------------------------------------------------------------- */

// Normal

@button-primary-text-color:                                                     @white;
@button-primary-text-font-family:                                               null;
@button-primary-text-font-style:                                                null;
@button-primary-text-font-weight:                                               null;
@button-primary-text-transform:                                                 null;
@button-primary-text-shadow:                                                    null;
@button-primary-text-decoration:                                                null;
@button-primary-text-rendering:                                                 null;
@button-primary-background-color:                                               color-lighten(@purple, 0);
@button-primary-background-gradient-color-top:                                  null;
@button-primary-background-gradient-color-bottom:                               null;
@button-primary-border-width:                                                   null;
@button-primary-border-color:                                                   color-lighten(@purple, 0);
@button-primary-border-style:                                                   null;
@button-primary-border-top-width:                                               null;
@button-primary-border-top-color:                                               null;
@button-primary-border-top-style:                                               null;
@button-primary-border-right-width:                                             null;
@button-primary-border-right-color:                                             null;
@button-primary-border-right-style:                                             null;
@button-primary-border-bottom-width:                                            null;
@button-primary-border-bottom-color:                                            null;
@button-primary-border-bottom-style:                                            null;
@button-primary-border-left-width:                                              null;
@button-primary-border-left-color:                                              null;
@button-primary-border-left-style:                                              null;
@button-primary-shadow:                                                         null;

// Hover

@button-primary-hover-text-color:                                               @white;
@button-primary-hover-text-font-family:                                         null;
@button-primary-hover-text-font-style:                                          null;
@button-primary-hover-text-font-weight:                                         null;
@button-primary-hover-text-transform:                                           null;
@button-primary-hover-text-shadow:                                              null;
@button-primary-hover-text-decoration:                                          null;
@button-primary-hover-text-rendering:                                           null;
@button-primary-hover-background-color:                                         color-lighten(@purple, -20);
@button-primary-hover-background-gradient-color-top:                            null;
@button-primary-hover-background-gradient-color-bottom:                         null;
@button-primary-hover-border-width:                                             null;
@button-primary-hover-border-color:                                             color-lighten(@purple, -20);
@button-primary-hover-border-style:                                             null;
@button-primary-hover-border-top-width:                                         null;
@button-primary-hover-border-top-color:                                         null;
@button-primary-hover-border-top-style:                                         null;
@button-primary-hover-border-right-width:                                       null;
@button-primary-hover-border-right-color:                                       null;
@button-primary-hover-border-right-style:                                       null;
@button-primary-hover-border-bottom-width:                                      null;
@button-primary-hover-border-bottom-color:                                      null;
@button-primary-hover-border-bottom-style:                                      null;
@button-primary-hover-border-left-width:                                        null;
@button-primary-hover-border-left-color:                                        null;
@button-primary-hover-border-left-style:                                        null;
@button-primary-hover-shadow:                                                   null;

// Active

@button-primary-active-text-color:                                              color-lighten(@purple, 80);
@button-primary-active-text-font-family:                                        null;
@button-primary-active-text-font-style:                                         null;
@button-primary-active-text-font-weight:                                        null;
@button-primary-active-text-transform:                                          null;
@button-primary-active-text-shadow:                                             null;
@button-primary-active-text-decoration:                                         null;
@button-primary-active-text-rendering:                                          null;
@button-primary-active-background-color:                                        color-lighten(@purple, -40);
@button-primary-active-background-gradient-color-top:                           null;
@button-primary-active-background-gradient-color-bottom:                        null;
@button-primary-active-border-width:                                            null;
@button-primary-active-border-color:                                            color-lighten(@purple, -40);
@button-primary-active-border-style:                                            null;
@button-primary-active-border-top-width:                                        null;
@button-primary-active-border-top-color:                                        null;
@button-primary-active-border-top-style:                                        null;
@button-primary-active-border-right-width:                                      null;
@button-primary-active-border-right-color:                                      null;
@button-primary-active-border-right-style:                                      null;
@button-primary-active-border-bottom-width:                                     null;
@button-primary-active-border-bottom-color:                                     null;
@button-primary-active-border-bottom-style:                                     null;
@button-primary-active-border-left-width:                                       null;
@button-primary-active-border-left-color:                                       null;
@button-primary-active-border-left-style:                                       null;
@button-primary-active-shadow:                                                  null;

// Selected

@button-primary-selected-text-color:                                            @button-primary-active-text-color;
@button-primary-selected-text-font-family:                                      @button-primary-active-text-font-family;
@button-primary-selected-text-font-style:                                       @button-primary-active-text-font-style;
@button-primary-selected-text-font-weight:                                      @button-primary-active-text-font-weight;
@button-primary-selected-text-transform:                                        @button-primary-active-text-transform;
@button-primary-selected-text-shadow:                                           @button-primary-active-text-shadow;
@button-primary-selected-text-decoration:                                       @button-primary-active-text-decoration;
@button-primary-selected-text-rendering:                                        @button-primary-active-text-rendering;
@button-primary-selected-background-color:                                      @button-primary-active-background-color;
@button-primary-selected-background-gradient-color-top:                         @button-primary-active-background-gradient-color-top;
@button-primary-selected-background-gradient-color-bottom:                      @button-primary-active-background-gradient-color-bottom;
@button-primary-selected-border-width:                                          @button-primary-active-border-width;
@button-primary-selected-border-color:                                          @button-primary-active-border-color;
@button-primary-selected-border-style:                                          @button-primary-active-border-style;
@button-primary-selected-border-top-width:                                      @button-primary-active-border-top-width;
@button-primary-selected-border-top-color:                                      @button-primary-active-border-top-color;
@button-primary-selected-border-top-style:                                      @button-primary-active-border-top-style;
@button-primary-selected-border-right-width:                                    @button-primary-active-border-right-width;
@button-primary-selected-border-right-color:                                    @button-primary-active-border-right-color;
@button-primary-selected-border-right-style:                                    @button-primary-active-border-right-style;
@button-primary-selected-border-bottom-width:                                   @button-primary-active-border-bottom-width;
@button-primary-selected-border-bottom-color:                                   @button-primary-active-border-bottom-color;
@button-primary-selected-border-bottom-style:                                   @button-primary-active-border-bottom-style;
@button-primary-selected-border-left-width:                                     @button-primary-active-border-left-width;
@button-primary-selected-border-left-color:                                     @button-primary-active-border-left-color;
@button-primary-selected-border-left-style:                                     @button-primary-active-border-left-style;
@button-primary-selected-shadow:                                                @button-primary-active-shadow;

// Disabled

@button-primary-disabled-opacity:                                               0.5;
@button-primary-disabled-text-color:                                            null;
@button-primary-disabled-text-font-family:                                      null;
@button-primary-disabled-text-font-style:                                       null;
@button-primary-disabled-text-font-weight:                                      null;
@button-primary-disabled-text-transform:                                        null;
@button-primary-disabled-text-shadow:                                           null;
@button-primary-disabled-text-decoration:                                       null;
@button-primary-disabled-text-rendering:                                        null;
@button-primary-disabled-background-color:                                      null;
@button-primary-disabled-background-gradient-color-top:                         null;
@button-primary-disabled-background-gradient-color-bottom:                      null;
@button-primary-disabled-border-width:                                          null;
@button-primary-disabled-border-color:                                          null;
@button-primary-disabled-border-style:                                          null;
@button-primary-disabled-border-top-width:                                      null;
@button-primary-disabled-border-top-color:                                      null;
@button-primary-disabled-border-top-style:                                      null;
@button-primary-disabled-border-right-width:                                    null;
@button-primary-disabled-border-right-color:                                    null;
@button-primary-disabled-border-right-style:                                    null;
@button-primary-disabled-border-bottom-width:                                   null;
@button-primary-disabled-border-bottom-color:                                   null;
@button-primary-disabled-border-bottom-style:                                   null;
@button-primary-disabled-border-left-width:                                     null;
@button-primary-disabled-border-left-color:                                     null;
@button-primary-disabled-border-left-style:                                     null;
@button-primary-disabled-shadow:                                                null;
