/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
toggle/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@toggle-enabled:                                                                true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@toggle-scale-screen-small-enabled:                                             true;
@toggle-scale-screen-medium-enabled:                                            true;
@toggle-scale-screen-large-enabled:                                             true;
@toggle-scale-screen-jumbo-enabled:                                             true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// System

@toggle-system-width:                                                           16px;
@toggle-system-height:                                                          16px;

// Width

@toggle-width:                                                                  16px * 1.4;
@toggle-width-scale-screen-small:                                               null;
@toggle-width-scale-screen-medium:                                              1.05;
@toggle-width-scale-screen-large:                                               1.1;
@toggle-width-scale-screen-jumbo:                                               null;

// Height

@toggle-height:                                                                 16px * 1.4;
@toggle-height-scale-screen-small:                                              null;
@toggle-height-scale-screen-medium:                                             1.05;
@toggle-height-scale-screen-large:                                              1.1;
@toggle-height-scale-screen-jumbo:                                              null;

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@toggle-margin-top:                                                             null;
@toggle-margin-top-scale-screen-small:                                          null;
@toggle-margin-top-scale-screen-medium:                                         null;
@toggle-margin-top-scale-screen-large:                                          null;
@toggle-margin-top-scale-screen-jumbo:                                          null;

// Margin Bottom

@toggle-margin-bottom:                                                          0.5rem;
@toggle-margin-bottom-scale-screen-small:                                       null;
@toggle-margin-bottom-scale-screen-medium:                                      1.1;
@toggle-margin-bottom-scale-screen-large:                                       1.2;
@toggle-margin-bottom-scale-screen-jumbo:                                       null;

// Margin Left

@toggle-margin-left:                                                            null;
@toggle-margin-left-scale-screen-small:                                         null;
@toggle-margin-left-scale-screen-medium:                                        null;
@toggle-margin-left-scale-screen-large:                                         null;
@toggle-margin-left-scale-screen-jumbo:                                         null;

// Margin Right

@toggle-margin-right:                                                           null;
@toggle-margin-right-scale-screen-small:                                        null;
@toggle-margin-right-scale-screen-medium:                                       null;
@toggle-margin-right-scale-screen-large:                                        null;
@toggle-margin-right-scale-screen-jumbo:                                        null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@toggle-padding-top:                                                            null;
@toggle-padding-top-scale-screen-small:                                         null;
@toggle-padding-top-scale-screen-medium:                                        null;
@toggle-padding-top-scale-screen-large:                                         null;
@toggle-padding-top-scale-screen-jumbo:                                         null;

// Padding Bottom

@toggle-padding-bottom:                                                         null;
@toggle-padding-bottom-scale-screen-small:                                      null;
@toggle-padding-bottom-scale-screen-medium:                                     null;
@toggle-padding-bottom-scale-screen-large:                                      null;
@toggle-padding-bottom-scale-screen-jumbo:                                      null;

// Padding Left

@toggle-padding-left:                                                           null;
@toggle-padding-left-scale-screen-small:                                        null;
@toggle-padding-left-scale-screen-medium:                                       null;
@toggle-padding-left-scale-screen-large:                                        null;
@toggle-padding-left-scale-screen-jumbo:                                        null;

// Padding Right

@toggle-padding-right:                                                          null;
@toggle-padding-right-scale-screen-small:                                       null;
@toggle-padding-right-scale-screen-medium:                                      null;
@toggle-padding-right-scale-screen-large:                                       null;
@toggle-padding-right-scale-screen-jumbo:                                       null;

/* -----------------------------------------------------------------------------
Layout Variants
----------------------------------------------------------------------------- */

// Short

@toggle-short-margin-top-scale:                                                 0.5;
@toggle-short-margin-bottom-scale:                                              0.5;
@toggle-short-margin-left-scale:                                                null;
@toggle-short-margin-right-scale:                                               null;

@toggle-short-padding-top-scale:                                                0.5;
@toggle-short-padding-bottom-scale:                                             0.5;
@toggle-short-padding-left-scale:                                               null;
@toggle-short-padding-right-scale:                                              null;

// Tall

@toggle-tall-margin-top-scale:                                                  2.0;
@toggle-tall-margin-bottom-scale:                                               2.0;
@toggle-tall-margin-left-scale:                                                 null;
@toggle-tall-margin-right-scale:                                                null;

@toggle-tall-padding-top-scale:                                                 2.0;
@toggle-tall-padding-bottom-scale:                                              2.0;
@toggle-tall-padding-left-scale:                                                null;
@toggle-tall-padding-right-scale:                                               null;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Inline Label
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Margin Vertical

@toggle-inline-margin-vertical:                                                 0.8rem * 0.5;
@toggle-inline-margin-vertical-scale-screen-small:                              null;
@toggle-inline-margin-vertical-scale-screen-medium:                             1.1;
@toggle-inline-margin-vertical-scale-screen-large:                              1.2;
@toggle-inline-margin-vertical-scale-screen-jumbo:                              null;

// Margin Horizontal

@toggle-inline-margin-horizontal:                                               0.8rem * 1.0;
@toggle-inline-margin-horizontal-scale-screen-small:                            null;
@toggle-inline-margin-horizontal-scale-screen-medium:                           1.1;
@toggle-inline-margin-horizontal-scale-screen-large:                            1.2;
@toggle-inline-margin-horizontal-scale-screen-jumbo:                            null;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Label Text Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Normal

@toggle-label-text-color:                                                       color-lighten(@neutral, 20);
@toggle-label-text-font-family:                                                 @font-family-sans-serif;
@toggle-label-text-font-style:                                                  null;
@toggle-label-text-font-weight:                                                 600;
@toggle-label-text-transform:                                                   uppercase;
@toggle-label-text-shadow:                                                      null;
@toggle-label-text-decoration:                                                  null;
@toggle-label-text-rendering:                                                   geometricPrecision;
@toggle-label-text-opacity:                                                     null;

// Emphasis (.emphasis)

@toggle-label-emphasis-enabled:                                                 true;
@toggle-label-emphasis-text-color:                                              color-lighten(@neutral, -20);
@toggle-label-emphasis-text-font-family:                                        null;
@toggle-label-emphasis-text-font-style:                                         null;
@toggle-label-emphasis-text-font-weight:                                        800;
@toggle-label-emphasis-text-transform:                                          null;
@toggle-label-emphasis-text-shadow:                                             null;
@toggle-label-emphasis-text-decoration:                                         null;
@toggle-label-emphasis-text-rendering:                                          null;
@toggle-label-emphasis-text-opacity:                                            null;

// Muted (.muted)

@toggle-label-muted-enabled:                                                    true;
@toggle-label-muted-text-color:                                                 color-lighten(@neutral, 60);
@toggle-label-muted-text-font-family:                                           null;
@toggle-label-muted-text-font-style:                                            null;
@toggle-label-muted-text-font-weight:                                           null;
@toggle-label-muted-text-transform:                                             null;
@toggle-label-muted-text-shadow:                                                null;
@toggle-label-muted-text-decoration:                                            null;
@toggle-label-muted-text-rendering:                                             null;
@toggle-label-muted-text-opacity:                                               null;

// Inverse (.inverse)

@toggle-label-inverse-enabled:                                                  true;
@toggle-label-inverse-text-color:                                               color-lighten(@neutral, 70);
@toggle-label-inverse-text-font-family:                                         null;
@toggle-label-inverse-text-font-style:                                          null;
@toggle-label-inverse-text-font-weight:                                         null;
@toggle-label-inverse-text-transform:                                           null;
@toggle-label-inverse-text-shadow:                                              null;
@toggle-label-inverse-text-decoration:                                          null;
@toggle-label-inverse-text-rendering:                                           null;
@toggle-label-inverse-text-opacity:                                             null;

// Inverse Emphasis (.inverse.emphasis)

@toggle-label-inverse-emphasis-enabled:                                         true;
@toggle-label-inverse-emphasis-text-color:                                      color-lighten(@neutral, 100);
@toggle-label-inverse-emphasis-text-font-family:                                null;
@toggle-label-inverse-emphasis-text-font-style:                                 null;
@toggle-label-inverse-emphasis-text-font-weight:                                null;
@toggle-label-inverse-emphasis-text-transform:                                  null;
@toggle-label-inverse-emphasis-text-shadow:                                     null;
@toggle-label-inverse-emphasis-text-decoration:                                 null;
@toggle-label-inverse-emphasis-text-rendering:                                  null;
@toggle-label-inverse-emphasis-text-opacity:                                    null;

// Inverse Muted (.inverse.muted)

@toggle-label-inverse-muted-enabled:                                            true;
@toggle-label-inverse-muted-text-color:                                         color-lighten(@neutral, 50);
@toggle-label-inverse-muted-text-font-family:                                   null;
@toggle-label-inverse-muted-text-font-style:                                    null;
@toggle-label-inverse-muted-text-font-weight:                                   null;
@toggle-label-inverse-muted-text-transform:                                     null;
@toggle-label-inverse-muted-text-shadow:                                        null;
@toggle-label-inverse-muted-text-decoration:                                    null;
@toggle-label-inverse-muted-text-rendering:                                     null;
@toggle-label-inverse-muted-text-opacity:                                       null;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Label Text Size
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Font Size

@toggle-label-text-font-size:                                                   0.8rem;
@toggle-label-text-font-size-scale-screen-small:                                null;
@toggle-label-text-font-size-scale-screen-medium:                               1.05;
@toggle-label-text-font-size-scale-screen-large:                                1.1;
@toggle-label-text-font-size-scale-screen-jumbo:                                null;

// Line Height

@toggle-label-text-line-height:                                                 0.8rem;
@toggle-label-text-line-height-scale-screen-small:                              @toggle-label-text-font-size-scale-screen-small;
@toggle-label-text-line-height-scale-screen-medium:                             @toggle-label-text-font-size-scale-screen-medium;
@toggle-label-text-line-height-scale-screen-large:                              @toggle-label-text-font-size-scale-screen-large;
@toggle-label-text-line-height-scale-screen-jumbo:                              @toggle-label-text-font-size-scale-screen-jumbo;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Label Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@toggle-label-margin-top:                                                       null;
@toggle-label-margin-top-scale-screen-small:                                    null;
@toggle-label-margin-top-scale-screen-medium:                                   null;
@toggle-label-margin-top-scale-screen-large:                                    null;
@toggle-label-margin-top-scale-screen-jumbo:                                    null;

// Margin Bottom

@toggle-label-margin-bottom:                                                    null;
@toggle-label-margin-bottom-scale-screen-small:                                 null;
@toggle-label-margin-bottom-scale-screen-medium:                                null;
@toggle-label-margin-bottom-scale-screen-large:                                 null;
@toggle-label-margin-bottom-scale-screen-jumbo:                                 null;

// Margin Left

@toggle-label-margin-left:                                                      null;
@toggle-label-margin-left-scale-screen-small:                                   null;
@toggle-label-margin-left-scale-screen-medium:                                  null;
@toggle-label-margin-left-scale-screen-large:                                   null;
@toggle-label-margin-left-scale-screen-jumbo:                                   null;

// Margin Right

@toggle-label-margin-right:                                                     null;
@toggle-label-margin-right-scale-screen-small:                                  null;
@toggle-label-margin-right-scale-screen-medium:                                 null;
@toggle-label-margin-right-scale-screen-large:                                  null;
@toggle-label-margin-right-scale-screen-jumbo:                                  null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@toggle-label-padding-top:                                                      null;
@toggle-label-padding-top-scale-screen-small:                                   null;
@toggle-label-padding-top-scale-screen-medium:                                  null;
@toggle-label-padding-top-scale-screen-large:                                   null;
@toggle-label-padding-top-scale-screen-jumbo:                                   null;

// Padding Bottom

@toggle-label-padding-bottom:                                                   null;
@toggle-label-padding-bottom-scale-screen-small:                                null;
@toggle-label-padding-bottom-scale-screen-medium:                               null;
@toggle-label-padding-bottom-scale-screen-large:                                null;
@toggle-label-padding-bottom-scale-screen-jumbo:                                null;

// Padding Left

@toggle-label-padding-left:                                                     0.8rem * 1.5;
@toggle-label-padding-left-scale-screen-small:                                  null;
@toggle-label-padding-left-scale-screen-medium:                                 1.1;
@toggle-label-padding-left-scale-screen-large:                                  1.2;
@toggle-label-padding-left-scale-screen-jumbo:                                  null;

// Padding Right

@toggle-label-padding-right:                                                    null;
@toggle-label-padding-right-scale-screen-small:                                 null;
@toggle-label-padding-right-scale-screen-medium:                                null;
@toggle-label-padding-right-scale-screen-large:                                 null;
@toggle-label-padding-right-scale-screen-jumbo:                                 null;
