/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
icon/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@icon-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Icon Jumbo (.icon-jumbo)
  ----------------------------------------------------------------------------- */

  .icon-jumbo {

    .shape-layout-variant(icon-jumbo, null);

    & when not (@icon-jumbo-width = null) {

      width: @icon-jumbo-width;

    }

    & when not (@icon-jumbo-height = null) {

      height: @icon-jumbo-height;

    }

    & when not (@icon-jumbo-border-radius = null) {

      border-radius: @icon-jumbo-border-radius;

    }

  }

}



& when (@layout-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@icon-jumbo-enabled) and (@icon-jumbo-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Jumbo (.icon-jumbo)
      ----------------------------------------------------------------------------- */

      .icon-jumbo {

        .shape-layout-variant(icon-jumbo, scale-screen-small);

        & when not (@icon-jumbo-width = null) and not (@icon-jumbo-width-scale-screen-small = null) {

          width: @icon-jumbo-width * @icon-jumbo-width-scale-screen-small;

        }

        & when not (@icon-jumbo-height = null) and not (@icon-jumbo-height-scale-screen-small = null) {

          height: @icon-jumbo-height * @icon-jumbo-height-scale-screen-small;

        }

        & when not (@icon-jumbo-border-radius = null) and not (@icon-jumbo-border-radius-scale-screen-small = null) {

          border-radius: @icon-jumbo-border-radius * @icon-jumbo-border-radius-scale-screen-small;

        }

      }

    }

  }

}



& when (@layout-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@icon-jumbo-enabled) and (@icon-jumbo-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Jumbo (.icon-jumbo)
      ----------------------------------------------------------------------------- */

      .icon-jumbo {

        .shape-layout-variant(icon-jumbo, scale-screen-medium);

        & when not (@icon-jumbo-width = null) and not (@icon-jumbo-width-scale-screen-medium = null) {

          width: @icon-jumbo-width * @icon-jumbo-width-scale-screen-medium;

        }

        & when not (@icon-jumbo-height = null) and not (@icon-jumbo-height-scale-screen-medium = null) {

          height: @icon-jumbo-height * @icon-jumbo-height-scale-screen-medium;

        }

        & when not (@icon-jumbo-border-radius = null) and not (@icon-jumbo-border-radius-scale-screen-medium = null) {

          border-radius: @icon-jumbo-border-radius * @icon-jumbo-border-radius-scale-screen-medium;

        }

      }

    }

  }

}



& when (@layout-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@icon-jumbo-enabled) and (@icon-jumbo-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Jumbo (.icon-jumbo)
      ----------------------------------------------------------------------------- */

      .icon-jumbo {

        .shape-layout-variant(icon-jumbo, scale-screen-large);

        & when not (@icon-jumbo-width = null) and not (@icon-jumbo-width-scale-screen-large = null) {

          width: @icon-jumbo-width * @icon-jumbo-width-scale-screen-large;

        }

        & when not (@icon-jumbo-height = null) and not (@icon-jumbo-height-scale-screen-large = null) {

          height: @icon-jumbo-height * @icon-jumbo-height-scale-screen-large;

        }

        & when not (@icon-jumbo-border-radius = null) and not (@icon-jumbo-border-radius-scale-screen-large = null) {

          border-radius: @icon-jumbo-border-radius * @icon-jumbo-border-radius-scale-screen-large;

        }

      }

    }

  }

}



& when (@layout-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@icon-jumbo-enabled) and (@icon-jumbo-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Icon Jumbo (.icon-jumbo)
      ----------------------------------------------------------------------------- */

      .icon-jumbo {

        .shape-layout-variant(icon-jumbo, scale-screen-jumbo);

        & when not (@icon-jumbo-width = null) and not (@icon-jumbo-width-scale-screen-jumbo = null) {

          width: @icon-jumbo-width * @icon-jumbo-width-scale-screen-jumbo;

        }

        & when not (@icon-jumbo-height = null) and not (@icon-jumbo-height-scale-screen-jumbo = null) {

          height: @icon-jumbo-height * @icon-jumbo-height-scale-screen-jumbo;

        }

        & when not (@icon-jumbo-border-radius = null) and not (@icon-jumbo-border-radius-scale-screen-jumbo = null) {

          border-radius: @icon-jumbo-border-radius * @icon-jumbo-border-radius-scale-screen-jumbo;

        }

      }

    }

  }

}
