/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

variables/variables-config.less

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Paths

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */



@path-images:                                                                   "../images/";
@path-fonts:                                                                    "../fonts/";






/* ----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

Z-Index

-------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */



@z-index-header:                                                                1000;
