@image-enabled:                                                                 true;

/*
 * Responsive Scaling
 */

@image-screen-small-enabled:                                                    true;
@image-screen-medium-enabled:                                                   true;
@image-screen-large-enabled:                                                    true;
@image-screen-jumbo-enabled:                                                    true;
