& when (@tooltip-enabled) {
  /* tooltip */

  .tooltip {
    display: block;
  }
}

& when (@layout-screen-small-enabled) {

  @media (min-width: @layout-screen-small-min-width) {

    & when (@tooltip-enabled) and (@tooltip-screen-small-enabled) {
      /* tooltip */

      .tooltip {
        display: block;
      }
    }
  }
}

& when (@layout-screen-medium-enabled) {

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@tooltip-enabled) and (@tooltip-screen-medium-enabled) {
      /* tooltip */

      .tooltip {
        display: block;
      }
    }
  }
}

& when (@layout-screen-large-enabled) {

  @media (min-width: @layout-screen-large-min-width) {

    & when (@tooltip-enabled) and (@tooltip-screen-large-enabled) {
      /* tooltip */

      .tooltip {
        display: block;
      }
    }
  }
}

& when (@layout-screen-jumbo-enabled) {

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@tooltip-enabled) and (@tooltip-screen-jumbo-enabled) {
      /* tooltip */

      .tooltip {
        display: block;
      }
    }
  }
}
