@tooltip-enabled: true;

/*
 * Responsive Scaling
 */

@tooltip-screen-small-enabled: true;
@tooltip-screen-medium-enabled: true;
@tooltip-screen-large-enabled: true;
@tooltip-screen-jumbo-enabled: true;
