/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

button-success-link-inverse/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@button-success-link-inverse-enabled:                                           true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Default
----------------------------------------------------------------------------- */

// Normal

@button-success-link-inverse-text-color:                                        color-lighten(@green, 0);
@button-success-link-inverse-text-font-family:                                  null;
@button-success-link-inverse-text-font-style:                                   null;
@button-success-link-inverse-text-font-weight:                                  null;
@button-success-link-inverse-text-transform:                                    null;
@button-success-link-inverse-text-shadow:                                       null;
@button-success-link-inverse-text-decoration:                                   null;
@button-success-link-inverse-text-rendering:                                    null;
@button-success-link-inverse-background-color:                                  none;
@button-success-link-inverse-background-gradient-color-top:                     null;
@button-success-link-inverse-background-gradient-color-bottom:                  null;
@button-success-link-inverse-border-width:                                      1px;
@button-success-link-inverse-border-color:                                      hsla(hue(color-lighten(@green, 0)), saturation(color-lighten(@green, 0)), lightness(color-lighten(@green, 0)), 0.0);
@button-success-link-inverse-border-style:                                      solid;
@button-success-link-inverse-border-top-width:                                  null;
@button-success-link-inverse-border-top-color:                                  null;
@button-success-link-inverse-border-top-style:                                  null;
@button-success-link-inverse-border-right-width:                                null;
@button-success-link-inverse-border-right-color:                                null;
@button-success-link-inverse-border-right-style:                                null;
@button-success-link-inverse-border-bottom-width:                               null;
@button-success-link-inverse-border-bottom-color:                               null;
@button-success-link-inverse-border-bottom-style:                               null;
@button-success-link-inverse-border-left-width:                                 null;
@button-success-link-inverse-border-left-color:                                 null;
@button-success-link-inverse-border-left-style:                                 null;
@button-success-link-inverse-shadow:                                            null;

// Hover

@button-success-link-inverse-hover-text-color:                                  color-lighten(@green, 20);
@button-success-link-inverse-hover-text-font-family:                            null;
@button-success-link-inverse-hover-text-font-style:                             null;
@button-success-link-inverse-hover-text-font-weight:                            null;
@button-success-link-inverse-hover-text-transform:                              null;
@button-success-link-inverse-hover-text-shadow:                                 null;
@button-success-link-inverse-hover-text-decoration:                             underline;
@button-success-link-inverse-hover-text-rendering:                              null;
@button-success-link-inverse-hover-background-color:                            none;
@button-success-link-inverse-hover-background-gradient-color-top:               null;
@button-success-link-inverse-hover-background-gradient-color-bottom:            null;
@button-success-link-inverse-hover-border-width:                                null;
@button-success-link-inverse-hover-border-color:                                hsla(hue(color-lighten(@green, 20)), saturation(color-lighten(@green, 20)), lightness(color-lighten(@green, 20)), 0.0);
@button-success-link-inverse-hover-border-style:                                null;
@button-success-link-inverse-hover-border-top-width:                            null;
@button-success-link-inverse-hover-border-top-color:                            null;
@button-success-link-inverse-hover-border-top-style:                            null;
@button-success-link-inverse-hover-border-right-width:                          null;
@button-success-link-inverse-hover-border-right-color:                          null;
@button-success-link-inverse-hover-border-right-style:                          null;
@button-success-link-inverse-hover-border-bottom-width:                         null;
@button-success-link-inverse-hover-border-bottom-color:                         null;
@button-success-link-inverse-hover-border-bottom-style:                         null;
@button-success-link-inverse-hover-border-left-width:                           null;
@button-success-link-inverse-hover-border-left-color:                           null;
@button-success-link-inverse-hover-border-left-style:                           null;
@button-success-link-inverse-hover-shadow:                                      null;

// Active

@button-success-link-inverse-active-text-color:                                 color-lighten(@green, -20);
@button-success-link-inverse-active-text-font-family:                           null;
@button-success-link-inverse-active-text-font-style:                            null;
@button-success-link-inverse-active-text-font-weight:                           null;
@button-success-link-inverse-active-text-transform:                             null;
@button-success-link-inverse-active-text-shadow:                                null;
@button-success-link-inverse-active-text-decoration:                            null;
@button-success-link-inverse-active-text-rendering:                             null;
@button-success-link-inverse-active-background-color:                           none;
@button-success-link-inverse-active-background-gradient-color-top:              null;
@button-success-link-inverse-active-background-gradient-color-bottom:           null;
@button-success-link-inverse-active-border-width:                               null;
@button-success-link-inverse-active-border-color:                               hsla(hue(color-lighten(@green, -20)), saturation(color-lighten(@green, -20)), lightness(color-lighten(@green, -20)), 0.0);;
@button-success-link-inverse-active-border-style:                               null;
@button-success-link-inverse-active-border-top-width:                           null;
@button-success-link-inverse-active-border-top-color:                           null;
@button-success-link-inverse-active-border-top-style:                           null;
@button-success-link-inverse-active-border-right-width:                         null;
@button-success-link-inverse-active-border-right-color:                         null;
@button-success-link-inverse-active-border-right-style:                         null;
@button-success-link-inverse-active-border-bottom-width:                        null;
@button-success-link-inverse-active-border-bottom-color:                        null;
@button-success-link-inverse-active-border-bottom-style:                        null;
@button-success-link-inverse-active-border-left-width:                          null;
@button-success-link-inverse-active-border-left-color:                          null;
@button-success-link-inverse-active-border-left-style:                          null;
@button-success-link-inverse-active-shadow:                                     null;

// Selected

@button-success-link-inverse-selected-text-color:                               @button-success-link-inverse-active-text-color;
@button-success-link-inverse-selected-text-font-family:                         @button-success-link-inverse-active-text-font-family;
@button-success-link-inverse-selected-text-font-style:                          @button-success-link-inverse-active-text-font-style;
@button-success-link-inverse-selected-text-font-weight:                         @button-success-link-inverse-active-text-font-weight;
@button-success-link-inverse-selected-text-transform:                           @button-success-link-inverse-active-text-transform;
@button-success-link-inverse-selected-text-shadow:                              @button-success-link-inverse-active-text-shadow;
@button-success-link-inverse-selected-text-decoration:                          @button-success-link-inverse-active-text-decoration;
@button-success-link-inverse-selected-text-rendering:                           @button-success-link-inverse-active-text-rendering;
@button-success-link-inverse-selected-background-color:                         @button-success-link-inverse-active-background-color;
@button-success-link-inverse-selected-background-gradient-color-top:            @button-success-link-inverse-active-background-gradient-color-top;
@button-success-link-inverse-selected-background-gradient-color-bottom:         @button-success-link-inverse-active-background-gradient-color-bottom;
@button-success-link-inverse-selected-border-width:                             @button-success-link-inverse-active-border-width;
@button-success-link-inverse-selected-border-color:                             @button-success-link-inverse-active-border-color;
@button-success-link-inverse-selected-border-style:                             @button-success-link-inverse-active-border-style;
@button-success-link-inverse-selected-border-top-width:                         @button-success-link-inverse-active-border-top-width;
@button-success-link-inverse-selected-border-top-color:                         @button-success-link-inverse-active-border-top-color;
@button-success-link-inverse-selected-border-top-style:                         @button-success-link-inverse-active-border-top-style;
@button-success-link-inverse-selected-border-right-width:                       @button-success-link-inverse-active-border-right-width;
@button-success-link-inverse-selected-border-right-color:                       @button-success-link-inverse-active-border-right-color;
@button-success-link-inverse-selected-border-right-style:                       @button-success-link-inverse-active-border-right-style;
@button-success-link-inverse-selected-border-bottom-width:                      @button-success-link-inverse-active-border-bottom-width;
@button-success-link-inverse-selected-border-bottom-color:                      @button-success-link-inverse-active-border-bottom-color;
@button-success-link-inverse-selected-border-bottom-style:                      @button-success-link-inverse-active-border-bottom-style;
@button-success-link-inverse-selected-border-left-width:                        @button-success-link-inverse-active-border-left-width;
@button-success-link-inverse-selected-border-left-color:                        @button-success-link-inverse-active-border-left-color;
@button-success-link-inverse-selected-border-left-style:                        @button-success-link-inverse-active-border-left-style;
@button-success-link-inverse-selected-shadow:                                   @button-success-link-inverse-active-shadow;

// Disabled

@button-success-link-inverse-disabled-opacity:                                  0.5;
@button-success-link-inverse-disabled-text-color:                               null;
@button-success-link-inverse-disabled-text-font-family:                         null;
@button-success-link-inverse-disabled-text-font-style:                          null;
@button-success-link-inverse-disabled-text-font-weight:                         null;
@button-success-link-inverse-disabled-text-transform:                           null;
@button-success-link-inverse-disabled-text-shadow:                              null;
@button-success-link-inverse-disabled-text-decoration:                          null;
@button-success-link-inverse-disabled-text-rendering:                           null;
@button-success-link-inverse-disabled-background-color:                         null;
@button-success-link-inverse-disabled-background-gradient-color-top:            null;
@button-success-link-inverse-disabled-background-gradient-color-bottom:         null;
@button-success-link-inverse-disabled-border-width:                             null;
@button-success-link-inverse-disabled-border-color:                             null;
@button-success-link-inverse-disabled-border-style:                             null;
@button-success-link-inverse-disabled-border-top-width:                         null;
@button-success-link-inverse-disabled-border-top-color:                         null;
@button-success-link-inverse-disabled-border-top-style:                         null;
@button-success-link-inverse-disabled-border-right-width:                       null;
@button-success-link-inverse-disabled-border-right-color:                       null;
@button-success-link-inverse-disabled-border-right-style:                       null;
@button-success-link-inverse-disabled-border-bottom-width:                      null;
@button-success-link-inverse-disabled-border-bottom-color:                      null;
@button-success-link-inverse-disabled-border-bottom-style:                      null;
@button-success-link-inverse-disabled-border-left-width:                        null;
@button-success-link-inverse-disabled-border-left-color:                        null;
@button-success-link-inverse-disabled-border-left-style:                        null;
@button-success-link-inverse-disabled-shadow:                                   null;
