/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

button-small-rounded/styles.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */






& when (@button-small-rounded-enabled) {

  /* -----------------------------------------------------------------------------
  --------------------------------------------------------------------------------
  button-small-rounded
  --------------------------------------------------------------------------------
  ----------------------------------------------------------------------------- */

  .button-small.button-rounded,
  .button-small-rounded {

    .text-size-variant(button-small-rounded, null);
    .shape-layout-variant(button-small-rounded, null);
    .shape-layout-variant(button-small-rounded, narrow, null);
    .shape-layout-variant(button-small-rounded, wide, null);

    & when not (@button-small-rounded-height = null) {

      height: @button-small-rounded-height;

    }

    & when not (@button-small-rounded-border-radius = null) {

      border-radius: @button-small-rounded-border-radius;

    }




    & when (@screen-mini-enabled) and (@button-small-rounded-scale-screen-mini-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Mini (@screen-mini) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-mini) {

        .text-size-variant(button-small-rounded, scale-screen-mini);
        .shape-layout-variant(button-small-rounded, scale-screen-mini);
        .shape-layout-variant(button-small-rounded, narrow, scale-screen-mini);
        .shape-layout-variant(button-small-rounded, wide, scale-screen-mini);

        & when not (@button-small-rounded-height = null) and not (@button-small-rounded-height-scale-screen-mini = null) {

          height: @button-small-rounded-height * @button-small-rounded-height-scale-screen-mini;

        }

        & when not (@button-small-rounded-border-radius = null) and not (@button-small-rounded-border-radius-scale-screen-mini = null) {

          border-radius: @button-small-rounded-border-radius * @button-small-rounded-border-radius-scale-screen-mini;

        }

      }

    }



    & when (@screen-small-enabled) and (@button-small-rounded-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Small (@screen-small) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-small) {

        .text-size-variant(button-small-rounded, scale-screen-small);
        .shape-layout-variant(button-small-rounded, scale-screen-small);
        .shape-layout-variant(button-small-rounded, narrow, scale-screen-small);
        .shape-layout-variant(button-small-rounded, wide, scale-screen-small);

        & when not (@button-small-rounded-height = null) and not (@button-small-rounded-height-scale-screen-small = null) {

          height: @button-small-rounded-height * @button-small-rounded-height-scale-screen-small;

        }

        & when not (@button-small-rounded-border-radius = null) and not (@button-small-rounded-border-radius-scale-screen-small = null) {

          border-radius: @button-small-rounded-border-radius * @button-small-rounded-border-radius-scale-screen-small;

        }

      }

    }



    & when (@screen-medium-enabled) and (@button-small-rounded-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Medium (@screen-medium) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-medium) {

        .text-size-variant(button-small-rounded, scale-screen-medium);
        .shape-layout-variant(button-small-rounded, scale-screen-medium);
        .shape-layout-variant(button-small-rounded, narrow, scale-screen-medium);
        .shape-layout-variant(button-small-rounded, wide, scale-screen-medium);

        & when not (@button-small-rounded-height = null) and not (@button-small-rounded-height-scale-screen-medium = null) {

          height: @button-small-rounded-height * @button-small-rounded-height-scale-screen-medium;

        }

        & when not (@button-small-rounded-border-radius = null) and not (@button-small-rounded-border-radius-scale-screen-medium = null) {

          border-radius: @button-small-rounded-border-radius * @button-small-rounded-border-radius-scale-screen-medium;

        }

      }

    }



    & when (@screen-large-enabled) and (@button-small-rounded-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      --------------------------------------------------------------------------------
      Screen Size: Large (@screen-large) and wider
      --------------------------------------------------------------------------------
      ----------------------------------------------------------------------------- */

      @media (min-width: @screen-large) {

        .text-size-variant(button-small-rounded, scale-screen-large);
        .shape-layout-variant(button-small-rounded, scale-screen-large);
        .shape-layout-variant(button-small-rounded, narrow, scale-screen-large);
        .shape-layout-variant(button-small-rounded, wide, scale-screen-large);

        & when not (@button-small-rounded-height = null) and not (@button-small-rounded-height-scale-screen-large = null) {

          height: @button-small-rounded-height * @button-small-rounded-height-scale-screen-large;

        }

        & when not (@button-small-rounded-border-radius = null) and not (@button-small-rounded-border-radius-scale-screen-large = null) {

          border-radius: @button-small-rounded-border-radius * @button-small-rounded-border-radius-scale-screen-large;

        }

      }

    }

  }

}
