/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

button-small-rounded/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@button-small-rounded-enabled:                                                  true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@button-small-rounded-scale-screen-mini-enabled:                                true;
@button-small-rounded-scale-screen-small-enabled:                               true;
@button-small-rounded-scale-screen-medium-enabled:                              true;
@button-small-rounded-scale-screen-large-enabled:                               true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Size
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Font Size

@button-small-rounded-text-font-size:                                           null;
@button-small-rounded-text-font-size-scale-screen-mini:                         null;
@button-small-rounded-text-font-size-scale-screen-small:                        null;
@button-small-rounded-text-font-size-scale-screen-medium:                       null;
@button-small-rounded-text-font-size-scale-screen-large:                        null;

// Line Height

@button-small-rounded-text-line-height:                                         null;
@button-small-rounded-text-line-height-scale-screen-mini:                       @button-small-rounded-text-font-size-scale-screen-mini;
@button-small-rounded-text-line-height-scale-screen-small:                      @button-small-rounded-text-font-size-scale-screen-small;
@button-small-rounded-text-line-height-scale-screen-medium:                     @button-small-rounded-text-font-size-scale-screen-medium;
@button-small-rounded-text-line-height-scale-screen-large:                      @button-small-rounded-text-font-size-scale-screen-large;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Height

@button-small-rounded-height:                                                   null;
@button-small-rounded-height-scale-screen-mini:                                 null;
@button-small-rounded-height-scale-screen-small:                                null;
@button-small-rounded-height-scale-screen-medium:                               null;
@button-small-rounded-height-scale-screen-large:                                null;

// Border Radius

@button-small-rounded-border-radius:                                            1000px;
@button-small-rounded-border-radius-scale-screen-mini:                          null;
@button-small-rounded-border-radius-scale-screen-small:                         null;
@button-small-rounded-border-radius-scale-screen-medium:                        null;
@button-small-rounded-border-radius-scale-screen-large:                         null;



/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@button-small-rounded-margin-top:                                               null;
@button-small-rounded-margin-top-scale-screen-mini:                             null;
@button-small-rounded-margin-top-scale-screen-small:                            null;
@button-small-rounded-margin-top-scale-screen-medium:                           null;
@button-small-rounded-margin-top-scale-screen-large:                            null;

// Margin Bottom

@button-small-rounded-margin-bottom:                                            null;
@button-small-rounded-margin-bottom-scale-screen-mini:                          null;
@button-small-rounded-margin-bottom-scale-screen-small:                         null;
@button-small-rounded-margin-bottom-scale-screen-medium:                        null;
@button-small-rounded-margin-bottom-scale-screen-large:                         null;

// Margin Left

@button-small-rounded-margin-left:                                              null;
@button-small-rounded-margin-left-scale-screen-mini:                            null;
@button-small-rounded-margin-left-scale-screen-small:                           null;
@button-small-rounded-margin-left-scale-screen-medium:                          null;
@button-small-rounded-margin-left-scale-screen-large:                           null;

// Margin Right

@button-small-rounded-margin-right:                                             null;
@button-small-rounded-margin-right-scale-screen-mini:                           null;
@button-small-rounded-margin-right-scale-screen-small:                          null;
@button-small-rounded-margin-right-scale-screen-medium:                         null;
@button-small-rounded-margin-right-scale-screen-large:                          null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@button-small-rounded-padding-top:                                              null;
@button-small-rounded-padding-top-scale-screen-mini:                            null;
@button-small-rounded-padding-top-scale-screen-small:                           null;
@button-small-rounded-padding-top-scale-screen-medium:                          null;
@button-small-rounded-padding-top-scale-screen-large:                           null;

// Padding Bottom

@button-small-rounded-padding-bottom:                                           null;
@button-small-rounded-padding-bottom-scale-screen-mini:                         null;
@button-small-rounded-padding-bottom-scale-screen-small:                        null;
@button-small-rounded-padding-bottom-scale-screen-medium:                       null;
@button-small-rounded-padding-bottom-scale-screen-large:                        null;

// Padding Left

@button-small-rounded-padding-left:                                             1.0rem * 1.2;
@button-small-rounded-padding-left-scale-screen-mini:                           @button-height-scale-screen-mini;
@button-small-rounded-padding-left-scale-screen-small:                          @button-height-scale-screen-small;
@button-small-rounded-padding-left-scale-screen-medium:                         @button-height-scale-screen-medium;
@button-small-rounded-padding-left-scale-screen-large:                          @button-height-scale-screen-large;

// Padding Right

@button-small-rounded-padding-right:                                            1.0rem * 1.2;
@button-small-rounded-padding-right-scale-screen-mini:                          @button-height-scale-screen-mini;
@button-small-rounded-padding-right-scale-screen-small:                         @button-height-scale-screen-small;
@button-small-rounded-padding-right-scale-screen-medium:                        @button-height-scale-screen-medium;
@button-small-rounded-padding-right-scale-screen-large:                         @button-height-scale-screen-large;

/* -----------------------------------------------------------------------------
Layout Variants
----------------------------------------------------------------------------- */

// Narrow

@button-small-rounded-narrow-margin-top-scale:                                  null;
@button-small-rounded-narrow-margin-bottom-scale:                               null;
@button-small-rounded-narrow-margin-left-scale:                                 null;
@button-small-rounded-narrow-margin-right-scale:                                null;

@button-small-rounded-narrow-padding-top-scale:                                 null;
@button-small-rounded-narrow-padding-bottom-scale:                              null;
@button-small-rounded-narrow-padding-left-scale:                                null;
@button-small-rounded-narrow-padding-right-scale:                               null;

// Wide

@button-small-rounded-wide-margin-top-scale:                                    null;
@button-small-rounded-wide-margin-bottom-scale:                                 null;
@button-small-rounded-wide-margin-left-scale:                                   null;
@button-small-rounded-wide-margin-right-scale:                                  null;

@button-small-rounded-wide-padding-top-scale:                                   null;
@button-small-rounded-wide-padding-bottom-scale:                                null;
@button-small-rounded-wide-padding-left-scale:                                  null;
@button-small-rounded-wide-padding-right-scale:                                 null;
