/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
pod/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------
Pod Overview
----------------------------------------------------------------------------- */

.layout-box.pods-overview {

  width: 100%;
  padding: 0 auto;

  .layout-box-item {

    &.layout-box-item-margin {

      padding: @pod-margin-top 0px;

    }

  }

}

.layout-box.pods-options-size-modifier {

  .layout-box-item {

    &.layout-box-item-margin {

      & when not (@pod-short-margin-top-scale = null) {

        padding: (@pod-margin-top * @pod-short-margin-top-scale) 0px;

      }

    }

  }

}

.layout-box.pods-options-size-direction-modifier {

  .layout-box-item {

    &.layout-box-item-margin {

      & when not (@pod-short-margin-top-scale = null) {

        padding-top: (@pod-margin-top * @pod-short-margin-top-scale);

      }

      & when not (@pod-taller-margin-bottom-scale = null) {

        padding-bottom: (@pod-margin-bottom * @pod-taller-margin-bottom-scale);

      }

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    /* -----------------------------------------------------------------------------
    Pod Overview
    ----------------------------------------------------------------------------- */

    .layout-box.pods-overview {

      .layout-box-item {

        & when not (@pod-margin-top-scale-screen-small = null) {

          &.layout-box-item-margin {

            padding: (@pod-margin-top * @pod-margin-top-scale-screen-small) 0px;

          }

        }

        &.layout-box-item-content {

          height: 100px;

        }

      }

    }

    .layout-box.pods-options-size-modifier {

      .layout-box-item {

        &.layout-box-item-margin {

          & when not (@pod-short-margin-top-scale = null) and not (@pod-margin-top-scale-screen-small = null) {

            padding: (@pod-margin-top * @pod-short-margin-top-scale * @pod-margin-top-scale-screen-small) 0px;

          }

        }

      }

    }

    .layout-box.pods-options-size-direction-modifier {

      .layout-box-item {

        &.layout-box-item-margin {

          & when not (@pod-short-margin-top-scale = null) and not (@pod-margin-top-scale-screen-small = null) {

            padding-top: (@pod-margin-top * @pod-short-margin-top-scale * @pod-margin-top-scale-screen-small)

          }

          & when not (@pod-taller-margin-bottom-scale = null) and not (@pod-margin-bottom-scale-screen-small = null) {

            padding-bottom: (@pod-margin-bottom * @pod-taller-margin-bottom-scale * @pod-margin-bottom-scale-screen-small)

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    /* -----------------------------------------------------------------------------
    Pod Overview
    ----------------------------------------------------------------------------- */

    .layout-box.pods-overview {

      .layout-box-item {

        & when not (@pod-margin-top-scale-screen-medium = null) {

          &.layout-box-item-margin {

            padding: (@pod-margin-top * @pod-margin-top-scale-screen-medium) 0px;

          }

        }

        &.layout-box-item-content {

          height: 100px;

        }

      }

    }

    .layout-box.pods-options-size-modifier {

      .layout-box-item {

        &.layout-box-item-margin {

          & when not (@pod-short-margin-top-scale = null) and not (@pod-margin-top-scale-screen-medium = null) {

            padding: (@pod-margin-top * @pod-short-margin-top-scale * @pod-margin-top-scale-screen-medium) 0px;

          }

        }

      }

    }

    .layout-box.pods-options-size-direction-modifier {

      .layout-box-item {

        &.layout-box-item-margin {

          & when not (@pod-short-margin-top-scale = null) and not (@pod-margin-top-scale-screen-medium = null) {

            padding-top: (@pod-margin-top * @pod-short-margin-top-scale * @pod-margin-top-scale-screen-medium)

          }

          & when not (@pod-taller-margin-bottom-scale = null) and not (@pod-margin-bottom-scale-screen-medium = null) {

            padding-bottom: (@pod-margin-bottom * @pod-taller-margin-bottom-scale * @pod-margin-bottom-scale-screen-medium)

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    /* -----------------------------------------------------------------------------
    Pod Overview
    ----------------------------------------------------------------------------- */

    .layout-box.pods-overview {

      .layout-box-item {

        & when not (@pod-margin-top-scale-screen-large = null) {

          &.layout-box-item-margin {

            padding: (@pod-margin-top * @pod-margin-top-scale-screen-large) 0px;

          }

        }

        &.layout-box-item-content {

          height: 100px;

        }

      }

    }

    .layout-box.pods-options-size-modifier {

      .layout-box-item {

        &.layout-box-item-margin {

          & when not (@pod-short-margin-top-scale = null) and not (@pod-margin-top-scale-screen-large = null) {

            padding: (@pod-margin-top * @pod-short-margin-top-scale * @pod-margin-top-scale-screen-large) 0px;

          }

        }

      }

    }

    .layout-box.pods-options-size-direction-modifier {

      .layout-box-item {

        &.layout-box-item-margin {

          & when not (@pod-short-margin-top-scale = null) and not (@pod-margin-top-scale-screen-large = null) {

            padding-top: (@pod-margin-top * @pod-short-margin-top-scale * @pod-margin-top-scale-screen-large)

          }

          & when not (@pod-taller-margin-bottom-scale = null) and not (@pod-margin-bottom-scale-screen-large = null) {

            padding-bottom: (@pod-margin-bottom * @pod-taller-margin-bottom-scale * @pod-margin-bottom-scale-screen-large)

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    /* -----------------------------------------------------------------------------
    Pod Overview
    ----------------------------------------------------------------------------- */

    .layout-box.pods-overview {

      .layout-box-item {

        & when not (@pod-margin-top-scale-screen-jumbo = null) {

          &.layout-box-item-margin {

            padding: (@pod-margin-top * @pod-margin-top-scale-screen-jumbo) 0px;

          }

        }

        &.layout-box-item-content {

          height: 100px;

        }

      }

    }

    .layout-box.pods-options-size-modifier {

      .layout-box-item {

        &.layout-box-item-margin {

          & when not (@pod-short-margin-top-scale = null) and not (@pod-margin-top-scale-screen-jumbo = null) {

            padding: (@pod-margin-top * @pod-short-margin-top-scale * @pod-margin-top-scale-screen-jumbo) 0px;

          }

        }

      }

    }

    .layout-box.pods-options-size-direction-modifier {

      .layout-box-item {

        &.layout-box-item-margin {

          & when not (@pod-short-margin-top-scale = null) and not (@pod-margin-top-scale-screen-jumbo = null) {

            padding-top: (@pod-margin-top * @pod-short-margin-top-scale * @pod-margin-top-scale-screen-jumbo)

          }

          & when not (@pod-taller-margin-bottom-scale = null) and not (@pod-margin-bottom-scale-screen-jumbo = null) {

            padding-bottom: (@pod-margin-bottom * @pod-taller-margin-bottom-scale * @pod-margin-bottom-scale-screen-jumbo)

          }

        }

      }

    }

  }

}
