/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
container/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@container-enabled:                                                             true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@container-scale-screen-small-enabled:                                          true;
@container-scale-screen-medium-enabled:                                         true;
@container-scale-screen-large-enabled:                                          true;
@container-scale-screen-jumbo-enabled:                                          true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Container (Fixed)
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Container Width

@container-width:                                                               auto;
@container-width-screen-small:                                                  auto;
@container-width-screen-medium:                                                 730px;
@container-width-screen-large:                                                   920px;
@container-width-screen-jumbo:                                                  1100px;

// Container Gutter Width

@container-gutter-width:                                                        @grid-gutter-width * 1.5;
@container-gutter-width-screen-small:                                           @grid-gutter-width-screen-small * 1.5;
@container-gutter-width-screen-medium:                                          0px;
@container-gutter-width-screen-large:                                            null;
@container-gutter-width-screen-jumbo:                                           null;
