/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
container/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@container-enabled:                                                             true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@container-scale-screen-small-enabled:                                          true;
@container-scale-screen-medium-enabled:                                         true;
@container-scale-screen-large-enabled:                                          true;
@container-scale-screen-jumbo-enabled:                                          true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Container (Fixed)
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Container Width

@container-width:                                                               auto;
@container-width-screen-small:                                                  auto;
@container-width-screen-medium:                                                 730px;
@container-width-screen-large:                                                   920px;
@container-width-screen-jumbo:                                                  1100px;

// Container Gutter Width

@container-gutter-width:                                                        @grid-gutter-width * 1.5;
@container-gutter-width-screen-small:                                           @grid-gutter-width-screen-small * 1.5;
@container-gutter-width-screen-medium:                                          0px;
@container-gutter-width-screen-large:                                            null;
@container-gutter-width-screen-jumbo:                                           null;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Container (Fluid)
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Container Width

@container-fluid-width:                                                         auto;
@container-fluid-width-screen-small:                                            null;
@container-fluid-width-screen-medium:                                           null;
@container-fluid-width-screen-large:                                            null;
@container-fluid-width-screen-jumbo:                                            null;

// Container Gutter Width

@container-fluid-gutter-width:                                                  0px;
@container-fluid-gutter-width-screen-small:                                     null;
@container-fluid-gutter-width-screen-medium:                                    null;
@container-fluid-gutter-width-screen-large:                                     null;
@container-fluid-gutter-width-screen-jumbo:                                     null;

/* -----------------------------------------------------------------------------
Container (Fluid) Variants
----------------------------------------------------------------------------- */

// Flush

@container-fluid-flush-margin-scale:                                            0.0;

// Narrower

@container-fluid-narrower-margin-scale:                                         0.25;

// Narrow

@container-fluid-narrow-margin-scale:                                           0.5;

// Wide

@container-fluid-wide-margin-scale:                                             1.5;

// Wider

@container-fluid-wider-margin-scale:                                            2.0;
