<!-- =================================================
BEGIN: Colors
================================================== -->

<section id="colors">

  <h1 class="flush-top">

    Color

  </h1>

  <p>

    A neutral palette along with a full color palette offer a wide array of color options for your project. By default, purple <code>@purple</code> is used across the Canvas UI kit as the primary color.  You can see this carry across forms, buttons, and other components.

  </p>

  {% include components/colors-palettes.html %}
  {% include components/colors-blending.html %}

</section>

<!-- =================================================
BEGIN: Colors
================================================== -->
