<!-- =================================================
BEGIN: Form Help Block
================================================== -->

<section id="forms-help-block">

  <h2>

    Help Block

  </h2>

  <p>

    Block level help text or hint text for form controls.

  </p>

  <!-- =================================================
  BEGIN: Example
  ================================================== -->

  <div class="example-block flush-bottom">

    <div class="example-block-content">

      <form class="form flush-bottom">

        <div class="form-group flush-bottom">

          <label>

            Input with help text

          </label>

          <input type="text" class="form-control" placeholder="Placeholder">

          <p class="form-help-block">

            A block of help text that breaks onto a new line and may extend beyond one line.

          </p>

        </div>

      </form>

    </div>

    <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;div class="form-group"&gt;
  &lt;label&gt;
  Input with help text
  &lt;/label&gt;
  &lt;input type="text" class="form-control" placeholder="Placeholder"&gt;
  &lt;p class="form-help-block"&gt;
    A block of help text that breaks onto a new line and may extend beyond one line.
  &lt;/p&gt;
&lt;/div&gt;
</pre>

    </div>

  </div>

  <!-- =================================================
  END: Example
  ================================================== -->




</section>

<!-- =================================================
END: Form Help Block
================================================== -->
