<!-- =================================================
BEGIN: Tables
================================================== -->

<section id="tables">

  <h1 class="flush-top">

    Tables

  </h1>

  <p>

    For truly tabular data, use the <code>&lt;table&gt;</code> tag and add the class <code>.table</code>.  The table element applies basic stying propeties and padding to the default <code>&lt;table&gt;</code> element.

  </p>

  <!-- =================================================
  BEGIN: Example
  ================================================== -->

  <div class="example-block flush-bottom">

    <div class="example-block-content">

      <table class="table flush-bottom">

        <thead>

          <tr>

            <th>

              First Name

            </th>

            <th>

              Last Name

            </th>

            <th class="selected">

              Email

            </th>

            <th>

              Commits

            </th>

          </tr>

        </thead>

        <tbody>

          <tr>

            <td>

              John

            </td>

            <td>

              Ashenden

            </td>

            <td class="highlight">

              john.ashenden@domain.com

            </td>

            <td>

              802

            </td>

          </tr>

          <tr class="">

            <td>

              Michael

            </td>

            <td>

              Lunøe

            </td>

            <td class="highlight">

              michael.lunoe@domain.com

            </td>

            <td>

              2,401

            </td>

          </tr>

          <tr>

            <td>

              Rafael

            </td>

            <td>

              Corral

            </td>

            <td class="highlight">

              rafael.corral@domain.com

            </td>

            <td>

              1,532

            </td>

          </tr>

          <tr>

            <td>

              Jesse

            </td>

            <td>

              Lash

            </td>

            <td class="highlight">

              jesse.lash@domain.com

            </td>

            <td>

              104

            </td>

          </tr>

        </tbody>

      </table>

    </div>

    <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;table class="table"&gt;

  &lt;!--Table Head--&gt;
  &lt;thead&gt;
    &lt;!--Table Row--&gt;
    &lt;tr&gt;
      &lt;!--Table Head Cell--&gt;
      &lt;th&gt;
      &lt;/th&gt;
      &hellip;
    &lt;/tr&gt;
  &lt;/thead&gt;

  &lt;!--Table Body--&gt;
  &lt;tbody&gt;
    &lt;!--Table Row--&gt;
    &lt;tr&gt;
      &lt;!--Table Cell--&gt;
      &lt;td&gt;
      &lt;/td&gt;
      &hellip;
    &lt;/tr&gt;
    &hellip;
  &lt;/tbody&gt;

&lt;/table&gt;
</pre>

    </div>

  </div>

  <!-- =================================================
  END: Example
  ================================================== -->

  {% include components/tables-hover-rows.html %}
  {% include components/tables-borderless.html %}
  {% include components/tables-conditional-row-states.html %}
  {% include components/tables-inverse.html %}

</section>

<!-- =================================================
END: Tables
================================================== -->
