<!-- =================================================
BEGIN: Transformation
================================================== -->

<section id="typography-text-transformation">

  <h2>

    Transformation

  </h2>

  <p>

    Transform text in components with text capitalization classes.

  </p>

  <!-- =================================================
  BEGIN: Example
  ================================================== -->

  <div class="example-block flush-bottom">

    <div class="example-block-content">

      <p class="text-uppercase">

        Uppercase text

      </p>

      <p class="text-lowercase">

        Lowercase text.

      </p>

      <p class="text-capitalize">

        Capitalized text.

      </p>

    </div>

    <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;p class="text-uppercase"&gt;
  Uppercase text
&lt;/p&gt;

&lt;p class="text-lowercase"&gt;
  Lowercase text.
&lt;/p&gt;

&lt;p class="text-capitalize"&gt;
  Capitalized text.
&lt;/p&gt;
</pre>

    </div>

  </div>

  <!-- =================================================
  END: Example
  ================================================== -->

</section>

<!-- =================================================
END: Transformation
================================================== -->
