<!-- =================================================
BEGIN: Body Text
================================================== -->

<section id="typography-body">

  <h2>

    Body Text

  </h2>

  <p>

    Body copy, text wrapped in a simple <code>&lt;p&gt;</code> tag, lays the foundation for all other text attributes and elements.  Every element of body copy, and really any text, is definable by canvas.

  </p>

  <!-- =================================================
  BEGIN: Example
  ================================================== -->

  <div class="example-block flush-bottom">

    <div class="example-block-content">

      <p class="">

        Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

      </p>

      <p class="flush-bottom">

        Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource sucking relationships via premier niche markets.

      </p>

    </div>

    <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;p&gt;
  Collaboratively administrate empowered&hellip;
&lt;/p&gt;

&lt;p&gt;
  Efficiently unleash cross-media information&hellip;
&lt;/p&gt;
</pre>

    </div>

  </div>

  <!-- =================================================
  END: Example
  ================================================== -->

  <!-- =================================================
  BEGIN: Lead Text
  ================================================== -->

  <section id="typography-body-lead">

    <h3>

      Lead Text

    </h3>

    <p>

      Increase the importance of your body copy by adding the class <code>.lead</code>. Lead is only a class, and not an HTML tag, but may be useful when you want to retain the semantic nature of a paragraph, but are not willing to classify it as a heading.

    </p>

    <!-- =================================================
    BEGIN: Example
    ================================================== -->

    <div class="example-block flush-bottom">

      <div class="example-block-content">

        <p class="lead">

          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.

        </p>

        <p class="flush-bottom">

          Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource sucking relationships via premier niche markets.

        </p>

      </div>

      <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;p class="lead"&gt;
  Collaboratively administrate empowered&hellip;
&lt;/p&gt;

&lt;p&gt;
  Efficiently unleash cross-media information&hellip;
&lt;/p&gt;
</pre>

      </div>

    </div>

    <!-- =================================================
    END: Example
    ================================================== -->


  </section>

  <!-- =================================================
  END: Lead Text
  ================================================== -->

  <!-- =================================================
  BEGIN: Small Text
  ================================================== -->

  <section id="typography-body-small">

    <h3>

      Small Text

    </h3>

    <p>

      For less important body text, add the class <code>.small</code>. Small text is useful for legal fine-print, instructional text, or supporting details.

    </p>

    <!-- =================================================
    BEGIN: Example
    ================================================== -->

    <div class="example-block flush-bottom">

      <div class="example-block-content">

        <p>

          Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource sucking relationships via premier niche markets.

        </p>

        <p class="small flush-bottom">

          Collaboratively administrate empowered markets via plug-and-play networks.

        </p>

      </div>

      <div class="example-block-footer example-block-footer-codeblock">

<pre class="prettyprint linenums flush-bottom">
&lt;p&gt;
  Collaboratively administrate empowered&hellip;
&lt;/p&gt;

&lt;p class="small"&gt;
  Efficiently unleash cross-media information&hellip;
&lt;/p&gt;
</pre>

      </div>

    </div>

    <!-- =================================================
    END: Example
    ================================================== -->


  </section>

  <!-- =================================================
  END: Small Text
  ================================================== -->


</section>

<!-- =================================================
END: Body Text
================================================== -->
