/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
dropdown-menu/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@dropdown-menu-enabled:                                                         true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@dropdown-menu-scale-screen-mini-enabled:                                       true;
@dropdown-menu-scale-screen-small-enabled:                                      true;
@dropdown-menu-scale-screen-medium-enabled:                                     true;
@dropdown-menu-scale-screen-large-enabled:                                      true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Default
----------------------------------------------------------------------------- */

// Normal

@dropdown-menu-background-color:                                                @white;
@dropdown-menu-background-gradient-color-top:                                   null;
@dropdown-menu-background-gradient-color-bottom:                                null;
@dropdown-menu-border-width:                                                    null;
@dropdown-menu-border-color:                                                    null;
@dropdown-menu-border-style:                                                    null;
@dropdown-menu-border-top-width:                                                null;
@dropdown-menu-border-top-color:                                                null;
@dropdown-menu-border-top-style:                                                null;
@dropdown-menu-border-right-width:                                              null;
@dropdown-menu-border-right-color:                                              null;
@dropdown-menu-border-right-style:                                              null;
@dropdown-menu-border-bottom-width:                                             null;
@dropdown-menu-border-bottom-color:                                             null;
@dropdown-menu-border-bottom-style:                                             null;
@dropdown-menu-border-left-width:                                               null;
@dropdown-menu-border-left-color:                                               null;
@dropdown-menu-border-left-style:                                               null;
@dropdown-menu-shadow:                                                          0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.1);

/* -----------------------------------------------------------------------------
Inverse
----------------------------------------------------------------------------- */

// Normal

@dropdown-menu-inverse-background-color:                                        null;
@dropdown-menu-inverse-background-gradient-color-top:                           null;
@dropdown-menu-inverse-background-gradient-color-bottom:                        null;
@dropdown-menu-inverse-border-width:                                            null;
@dropdown-menu-inverse-border-color:                                            null;
@dropdown-menu-inverse-border-style:                                            null;
@dropdown-menu-inverse-border-top-width:                                        null;
@dropdown-menu-inverse-border-top-color:                                        null;
@dropdown-menu-inverse-border-top-style:                                        null;
@dropdown-menu-inverse-border-right-width:                                      null;
@dropdown-menu-inverse-border-right-color:                                      null;
@dropdown-menu-inverse-border-right-style:                                      null;
@dropdown-menu-inverse-border-bottom-width:                                     null;
@dropdown-menu-inverse-border-bottom-color:                                     null;
@dropdown-menu-inverse-border-bottom-style:                                     null;
@dropdown-menu-inverse-border-left-width:                                       null;
@dropdown-menu-inverse-border-left-color:                                       null;
@dropdown-menu-inverse-border-left-style:                                       null;
@dropdown-menu-inverse-shadow:                                                  null;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Size
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Font Size

@dropdown-menu-text-font-size:                                                  1.0rem;
@dropdown-menu-text-font-size-scale-screen-mini:                                null;
@dropdown-menu-text-font-size-scale-screen-small:                               null;
@dropdown-menu-text-font-size-scale-screen-medium:                              null;
@dropdown-menu-text-font-size-scale-screen-large:                               null;

// Line Height

@dropdown-menu-text-line-height:                                                1.0rem;
@dropdown-menu-text-line-height-scale-screen-mini:                              @dropdown-menu-text-font-size-scale-screen-mini;
@dropdown-menu-text-line-height-scale-screen-small:                             @dropdown-menu-text-font-size-scale-screen-small;
@dropdown-menu-text-line-height-scale-screen-medium:                            @dropdown-menu-text-font-size-scale-screen-medium;
@dropdown-menu-text-line-height-scale-screen-large:                             @dropdown-menu-text-font-size-scale-screen-large;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Minimum Width

@dropdown-menu-minimum-width:                                                   160px;
@dropdown-menu-minimum-width-scale-screen-mini:                                 null;
@dropdown-menu-minimum-width-scale-screen-small:                                null;
@dropdown-menu-minimum-width-scale-screen-medium:                               null;
@dropdown-menu-minimum-width-scale-screen-large:                                null;

// Maximum Width

@dropdown-menu-maximum-width:                                                   300px;
@dropdown-menu-maximum-width-scale-screen-mini:                                 null;
@dropdown-menu-maximum-width-scale-screen-small:                                null;
@dropdown-menu-maximum-width-scale-screen-medium:                               null;
@dropdown-menu-maximum-width-scale-screen-large:                                null;

// Border Radius

@dropdown-menu-border-radius:                                                   5px;
@dropdown-menu-border-radius-scale-screen-mini:                                 null;
@dropdown-menu-border-radius-scale-screen-small:                                null;
@dropdown-menu-border-radius-scale-screen-medium:                               null;
@dropdown-menu-border-radius-scale-screen-large:                                null;

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@dropdown-menu-margin-top:                                                      2px;
@dropdown-menu-margin-top-scale-screen-mini:                                    null;
@dropdown-menu-margin-top-scale-screen-small:                                   null;
@dropdown-menu-margin-top-scale-screen-medium:                                  null;
@dropdown-menu-margin-top-scale-screen-large:                                   null;

// Margin Bottom

@dropdown-menu-margin-bottom:                                                   null;
@dropdown-menu-margin-bottom-scale-screen-mini:                                 null;
@dropdown-menu-margin-bottom-scale-screen-small:                                null;
@dropdown-menu-margin-bottom-scale-screen-medium:                               null;
@dropdown-menu-margin-bottom-scale-screen-large:                                null;

// Margin Left

@dropdown-menu-margin-left:                                                     null;
@dropdown-menu-margin-left-scale-screen-mini:                                   null;
@dropdown-menu-margin-left-scale-screen-small:                                  null;
@dropdown-menu-margin-left-scale-screen-medium:                                 null;
@dropdown-menu-margin-left-scale-screen-large:                                  null;

// Margin Right

@dropdown-menu-margin-right:                                                    null;
@dropdown-menu-margin-right-scale-screen-mini:                                  null;
@dropdown-menu-margin-right-scale-screen-small:                                 null;
@dropdown-menu-margin-right-scale-screen-medium:                                null;
@dropdown-menu-margin-right-scale-screen-large:                                 null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@dropdown-menu-padding-top:                                                     0.5rem;
@dropdown-menu-padding-top-scale-screen-mini:                                   null;
@dropdown-menu-padding-top-scale-screen-small:                                  null;
@dropdown-menu-padding-top-scale-screen-medium:                                 null;
@dropdown-menu-padding-top-scale-screen-large:                                  null;

// Padding Bottom

@dropdown-menu-padding-bottom:                                                  0.5rem;
@dropdown-menu-padding-bottom-scale-screen-mini:                                null;
@dropdown-menu-padding-bottom-scale-screen-small:                               null;
@dropdown-menu-padding-bottom-scale-screen-medium:                              null;
@dropdown-menu-padding-bottom-scale-screen-large:                               null;

// Padding Left

@dropdown-menu-padding-left:                                                    null;
@dropdown-menu-padding-left-scale-screen-mini:                                  null;
@dropdown-menu-padding-left-scale-screen-small:                                 null;
@dropdown-menu-padding-left-scale-screen-medium:                                null;
@dropdown-menu-padding-left-scale-screen-large:                                 null;

// Padding Right

@dropdown-menu-padding-right:                                                   null;
@dropdown-menu-padding-right-scale-screen-mini:                                 null;
@dropdown-menu-padding-right-scale-screen-small:                                null;
@dropdown-menu-padding-right-scale-screen-medium:                               null;
@dropdown-menu-padding-right-scale-screen-large:                                null;
