<!-- =================================================
BEGIN: Head
================================================== -->

<head>

  <!-- =================================================
  BEGIN: Standard Tags
  ================================================== -->

  <title>

    {% if page.title %}

      {{ page.title }} &bull; {{ site.title }}

    {% else %}

      {{ site.title }} &bull; User interface elements and components built for Mesosphere

    {% endif %}

  </title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <html prefix="og: http://ogp.me/ns#">
  <meta name="title" content ="{% if page.title %}{{ page.title }} &bull; {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="">
  <meta name="googlebot" content="all">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  <![endif]-->

  <!-- =================================================
  END: Standard Tags
  ================================================== -->

  <!-- =================================================
  BEGIN: Mobile Tags
  ================================================== -->

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

  <!-- =================================================
  END: Mobile Tags
  ================================================== -->

  <!-- =================================================
  BEGIN: Icons
  ================================================== -->

  <!-- BEGIN: FAV ICON -->

  <link rel="icon" href="/favicon.ico">

  <!--[if IE]>

    <link rel="icon shortcut" href="/favicon.ico">

  <![endif]-->

  <!-- END: FAV ICON -->

  <!-- =================================================
  END: Icons
  ================================================== -->

  <!-- =================================================
  BEGIN: OG Tags
  ================================================== -->

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &bull; {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="ashenden.github.com/canvas">
  <meta property="og:site_name" content="{% if page.title %}{{ page.title }} &bull; {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:image" content="">

  <meta name="twitter:card" content="site">
  <meta name="twitter:site" content="">
  <meta name="twitter:domain" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image:src" content="">

  <!-- =================================================
  END: OG Tags
  ================================================== -->

  <!-- =================================================
  BEGIN: Stylesheets
  ================================================== -->

  <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">

  <!-- =================================================
  END: Stylesheets
  ================================================== -->

  <!-- =================================================
  BEGIN: Fonts
  ================================================== -->

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <!-- =================================================
  END: Fonts
  ================================================== -->

  <!-- =================================================
  BEGIN: Javascripts
  ================================================== -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

  <script type="text/javascript" src="{{ '/js/libraries/modernizr/modernizr.custom.min.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ '/js/libraries/bootstrap/bootstrap.min.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ '/js/libraries/google-code-prettify/prettify.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ '/js/scripts.js' | prepend: site.baseurl }}"></script>

  <!-- =================================================
  END: Javascripts
  ================================================== -->

</head>

<!-- =================================================
END: Head
================================================== -->
