/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
icon-mini/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@icon-mini-enabled:                                                             true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@icon-mini-scale-screen-mini-enabled:                                           true;
@icon-mini-scale-screen-small-enabled:                                          true;
@icon-mini-scale-screen-medium-enabled:                                         true;
@icon-mini-scale-screen-large-enabled:                                          true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Width

@icon-mini-width:                                                               16px;
@icon-mini-width-scale-screen-mini:                                             null;
@icon-mini-width-scale-screen-small:                                            null;
@icon-mini-width-scale-screen-medium:                                           1.1;
@icon-mini-width-scale-screen-large:                                            null;

// Height

@icon-mini-height:                                                              16px;
@icon-mini-height-scale-screen-mini:                                            @icon-mini-width-scale-screen-mini;
@icon-mini-height-scale-screen-small:                                           @icon-mini-width-scale-screen-small;
@icon-mini-height-scale-screen-medium:                                          @icon-mini-width-scale-screen-medium;
@icon-mini-height-scale-screen-large:                                           @icon-mini-width-scale-screen-large;

// Border Radius

@icon-mini-border-radius:                                                       null;
@icon-mini-border-radius-scale-screen-mini:                                     null;
@icon-mini-border-radius-scale-screen-small:                                    null;
@icon-mini-border-radius-scale-screen-medium:                                   null;
@icon-mini-border-radius-scale-screen-large:                                    null;

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@icon-mini-margin-top:                                                          null;
@icon-mini-margin-top-scale-screen-mini:                                        null;
@icon-mini-margin-top-scale-screen-small:                                       null;
@icon-mini-margin-top-scale-screen-medium:                                      null;
@icon-mini-margin-top-scale-screen-large:                                       null;

// Margin Bottom

@icon-mini-margin-bottom:                                                       null;
@icon-mini-margin-bottom-scale-screen-mini:                                     null;
@icon-mini-margin-bottom-scale-screen-small:                                    null;
@icon-mini-margin-bottom-scale-screen-medium:                                   null;
@icon-mini-margin-bottom-scale-screen-large:                                    null;

// Margin Left

@icon-mini-margin-left:                                                         null;
@icon-mini-margin-left-scale-screen-mini:                                       null;
@icon-mini-margin-left-scale-screen-small:                                      null;
@icon-mini-margin-left-scale-screen-medium:                                     null;
@icon-mini-margin-left-scale-screen-large:                                      null;

// Margin Right

@icon-mini-margin-right:                                                        null;
@icon-mini-margin-right-scale-screen-mini:                                      null;
@icon-mini-margin-right-scale-screen-small:                                     null;
@icon-mini-margin-right-scale-screen-medium:                                    null;
@icon-mini-margin-right-scale-screen-large:                                     null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@icon-mini-padding-top:                                                         null;
@icon-mini-padding-top-scale-screen-mini:                                       null;
@icon-mini-padding-top-scale-screen-small:                                      null;
@icon-mini-padding-top-scale-screen-medium:                                     null;
@icon-mini-padding-top-scale-screen-large:                                      null;

// Padding Bottom

@icon-mini-padding-bottom:                                                      null;
@icon-mini-padding-bottom-scale-screen-mini:                                    null;
@icon-mini-padding-bottom-scale-screen-small:                                   null;
@icon-mini-padding-bottom-scale-screen-medium:                                  null;
@icon-mini-padding-bottom-scale-screen-large:                                   null;

// Padding Left

@icon-mini-padding-left:                                                        null;
@icon-mini-padding-left-scale-screen-mini:                                      null;
@icon-mini-padding-left-scale-screen-small:                                     null;
@icon-mini-padding-left-scale-screen-medium:                                    null;
@icon-mini-padding-left-scale-screen-large:                                     null;

// Padding Right

@icon-mini-padding-right:                                                       null;
@icon-mini-padding-right-scale-screen-mini:                                     null;
@icon-mini-padding-right-scale-screen-small:                                    null;
@icon-mini-padding-right-scale-screen-medium:                                   null;
@icon-mini-padding-right-scale-screen-large:                                    null;
