@charset 'UTF-8';

/* Source Sans Pro */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src:
    local('Source Sans Pro Extra Light'),
    local('Source-Sans–Pro-Extra-Light'),
    url('@{path-fonts}Source Sans Pro/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src:
    local('Source Sans Pro Extra Light Italic'),
    local('Source-Sans–Pro-Extra-Light-Italic'),
    url('@{path-fonts}Source Sans Pro/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src:
    local('Source Sans Pro Light'),
    local('Source-Sans–Pro-Light'),
    url('@{path-fonts}Source Sans Pro/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src:
    local('Source Sans Pro Light Italic'),
    local('Source-Sans–Pro-Light-Italic'),
    url('@{path-fonts}Source Sans Pro/SourceSansPro-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src:
    local('Source Sans Pro Regular'),
    local('Source-Sans–Pro-Regular'),
    url('@{path-fonts}Source Sans Pro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src:
    local('Source Sans Pro Italic'),
    local('Source-Sans–Pro-Italic'),
    url('@{path-fonts}Source Sans Pro/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src:
    local('Source Sans Pro Semibold'),
    local('Source-Sans–Pro-Semibold'),
    url('@{path-fonts}Source Sans Pro/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src:
    local('Source Sans Pro Semibold Italic'),
    local('Source-Sans–Pro-Semibold-Italic'),
    url('@{path-fonts}Source Sans Pro/SourceSansPro-SemiboldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src:
    local('Source Sans Pro Bold'),
    local('Source-Sans–Pro-Bold'),
    url('@{path-fonts}Source Sans Pro/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src:
    local('Source Sans Pro Bold Italic'),
    local('Source-Sans–Pro-Bold-Italic'),
    url('@{path-fonts}Source Sans Pro/SourceSansPro-BoldItalic.ttf') format('truetype');
}

/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src:
    local('Open Sans Extra Light'),
    local('Source-Sans–Pro-Extra-Light'),
    url('@{path-fonts}Open Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 200;
  src:
    local('Open Sans Extra Light Italic'),
    local('Source-Sans–Pro-Extra-Light-Italic'),
    url('@{path-fonts}Open Sans/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:
    local('Open Sans Light'),
    local('Source-Sans–Pro-Light'),
    url('@{path-fonts}Open Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src:
    local('Open Sans Light Italic'),
    local('Source-Sans–Pro-Light-Italic'),
    url('@{path-fonts}Open Sans/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Open Sans Regular'),
    local('Source-Sans–Pro-Regular'),
    url('@{path-fonts}Open Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src:
    local('Open Sans Italic'),
    local('Source-Sans–Pro-Italic'),
    url('@{path-fonts}Open Sans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:
    local('Open Sans Semibold'),
    local('Source-Sans–Pro-Semibold'),
    url('@{path-fonts}Open Sans/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src:
    local('Open Sans Semibold Italic'),
    local('Source-Sans–Pro-Semibold-Italic'),
    url('@{path-fonts}Open Sans/OpenSans-SemiboldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
    local('Open Sans Bold'),
    local('Source-Sans–Pro-Bold'),
    url('@{path-fonts}Open Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src:
    local('Open Sans Bold Italic'),
    local('Source-Sans–Pro-Bold-Italic'),
    url('@{path-fonts}Open Sans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src:
    local('Open Sans Extra Bold'),
    local('Source-Sans–Pro-Bold'),
    url('@{path-fonts}Open Sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src:
    local('Open Sans Extra Bold Italic'),
    local('Source-Sans–Pro-Bold-Italic'),
    url('@{path-fonts}Open Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}
