/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
form/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@form-enabled:                                                                  true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@form-scale-screen-mini-enabled:                                                true;
@form-scale-screen-small-enabled:                                               true;
@form-scale-screen-medium-enabled:                                              true;
@form-scale-screen-large-enabled:                                               true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@form-margin-top:                                                               null;
@form-margin-top-scale-screen-mini:                                             null;
@form-margin-top-scale-screen-small:                                            null;
@form-margin-top-scale-screen-medium:                                           null;
@form-margin-top-scale-screen-large:                                            null;

// Margin Bottom

@form-margin-bottom:                                                            @base-spacing-unit * 0.5;
@form-margin-bottom-scale-screen-mini:                                          @base-spacing-unit-screen-mini / @form-margin-bottom;
@form-margin-bottom-scale-screen-small:                                         @base-spacing-unit-screen-small / @form-margin-bottom;
@form-margin-bottom-scale-screen-medium:                                        @base-spacing-unit-screen-medium / @form-margin-bottom;
@form-margin-bottom-scale-screen-large:                                         @base-spacing-unit-screen-large / @form-margin-bottom;

// Margin Left

@form-margin-left:                                                              null;
@form-margin-left-scale-screen-mini:                                            null;
@form-margin-left-scale-screen-small:                                           null;
@form-margin-left-scale-screen-medium:                                          null;
@form-margin-left-scale-screen-large:                                           null;

// Margin Right

@form-margin-right:                                                             null;
@form-margin-right-scale-screen-mini:                                           null;
@form-margin-right-scale-screen-small:                                          null;
@form-margin-right-scale-screen-medium:                                         null;
@form-margin-right-scale-screen-large:                                          null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@form-padding-top:                                                              null;
@form-padding-top-scale-screen-mini:                                            null;
@form-padding-top-scale-screen-small:                                           null;
@form-padding-top-scale-screen-medium:                                          null;
@form-padding-top-scale-screen-large:                                           null;

// Padding Bottom

@form-padding-bottom:                                                           null;
@form-padding-bottom-scale-screen-mini:                                         null;
@form-padding-bottom-scale-screen-small:                                        null;
@form-padding-bottom-scale-screen-medium:                                       null;
@form-padding-bottom-scale-screen-large:                                        null;

// Padding Left

@form-padding-left:                                                             null;
@form-padding-left-scale-screen-mini:                                           null;
@form-padding-left-scale-screen-small:                                          null;
@form-padding-left-scale-screen-medium:                                         null;
@form-padding-left-scale-screen-large:                                          null;

// Padding Right

@form-padding-right:                                                            null;
@form-padding-right-scale-screen-mini:                                          null;
@form-padding-right-scale-screen-small:                                         null;
@form-padding-right-scale-screen-medium:                                        null;
@form-padding-right-scale-screen-large:                                         null;

/* -----------------------------------------------------------------------------
Layout Variants
----------------------------------------------------------------------------- */

// Short

@form-short-margin-top-scale:                                                   0.5;
@form-short-margin-bottom-scale:                                                0.5;
@form-short-margin-left-scale:                                                  null;
@form-short-margin-right-scale:                                                 null;

@form-short-padding-top-scale:                                                  0.5;
@form-short-padding-bottom-scale:                                               0.5;
@form-short-padding-left-scale:                                                 null;
@form-short-padding-right-scale:                                                null;

// Tall

@form-tall-margin-top-scale:                                                    2.0;
@form-tall-margin-bottom-scale:                                                 2.0;
@form-tall-margin-left-scale:                                                   null;
@form-tall-margin-right-scale:                                                  null;

@form-tall-padding-top-scale:                                                   2.0;
@form-tall-padding-bottom-scale:                                                2.0;
@form-tall-padding-left-scale:                                                  null;
@form-tall-padding-right-scale:                                                 null;
