/*
 * form-control-mini/variables.less
 */



@form-control-mini-enabled:                                                     true;



/*
 * Responsive Scaling
 */

@form-control-mini-screen-small-enabled:                                        true;
@form-control-mini-screen-medium-enabled:                                       true;
@form-control-mini-screen-large-enabled:                                        true;
@form-control-mini-screen-jumbo-enabled:                                        true;



/*
 * Text Size
 */

// Font Size

@form-control-mini-font-size:                                                   0.75rem;
@form-control-mini-font-size-screen-small:                                      null;
@form-control-mini-font-size-screen-medium:                                     null;
@form-control-mini-font-size-screen-large:                                      null;
@form-control-mini-font-size-screen-jumbo:                                      null;

// Line Height

@form-control-mini-line-height:                                                 0.75rem;
@form-control-mini-line-height-screen-small:                                    null;
@form-control-mini-line-height-screen-medium:                                   null;
@form-control-mini-line-height-screen-large:                                    null;
@form-control-mini-line-height-screen-jumbo:                                    null;



/*
 * Layout
 */

// Height

@form-control-mini-height:                                                      24px;
@form-control-mini-height-screen-small:                                         null;
@form-control-mini-height-screen-medium:                                        1.1 * @form-control-mini-height;
@form-control-mini-height-screen-large:                                         1.2 * @form-control-mini-height;
@form-control-mini-height-screen-jumbo:                                         null;

// Border Radius

@form-control-mini-border-radius:                                               3px;
@form-control-mini-border-radius-screen-small:                                  null;
@form-control-mini-border-radius-screen-medium:                                 null;
@form-control-mini-border-radius-screen-large:                                  null;
@form-control-mini-border-radius-screen-jumbo:                                  null;

// Dropdown Caret Width

@form-control-mini-caret-width:                                                 9px * (@form-control-mini-height / @form-control-height);
@form-control-mini-caret-width-screen-small:                                    null;
@form-control-mini-caret-width-screen-medium:                                   1.1 * @form-control-mini-caret-width;
@form-control-mini-caret-width-screen-large:                                    1.2 * @form-control-mini-caret-width;
@form-control-mini-caret-width-screen-jumbo:                                    null;

// Dropdown Caret Height

@form-control-mini-caret-height:                                                5px * (@form-control-mini-height / @form-control-height);
@form-control-mini-caret-height-screen-small:                                   null;
@form-control-mini-caret-height-screen-medium:                                  1.1 * @form-control-mini-caret-height;
@form-control-mini-caret-height-screen-large:                                   1.2 * @form-control-mini-caret-height;
@form-control-mini-caret-height-screen-jumbo:                                   null;

// Dropdown Caret Margin Top

@form-control-mini-caret-margin-top:                                            2px;
@form-control-mini-caret-margin-top-screen-small:                               null;
@form-control-mini-caret-margin-top-screen-medium:                              null;
@form-control-mini-caret-margin-top-screen-large:                               null;
@form-control-mini-caret-margin-top-screen-jumbo:                               null;

// Dropdown Caret Margin Left

@form-control-mini-caret-margin-left:                                           0.5rem * 0.25;
@form-control-mini-caret-margin-left-screen-small:                              null;
@form-control-mini-caret-margin-left-screen-medium:                             1.1 * @form-control-mini-caret-margin-left;
@form-control-mini-caret-margin-left-screen-large:                              1.2 * @form-control-mini-caret-margin-left;
@form-control-mini-caret-margin-left-screen-jumbo:                              null;

// Form Control Group Add On Padding Horizontal

@form-control-mini-add-on-padding-horizontal:                                   0.5rem * 0.5;
@form-control-mini-add-on-padding-horizontal-screen-small:                      null;
@form-control-mini-add-on-padding-horizontal-screen-medium:                     1.1 * @form-control-mini-add-on-padding-horizontal;
@form-control-mini-add-on-padding-horizontal-screen-large:                      1.2 * @form-control-mini-add-on-padding-horizontal;
@form-control-mini-add-on-padding-horizontal-screen-jumbo:                      null;

/* Margin */

// Margin Top

@form-control-mini-margin-top:                                                  null;
@form-control-mini-margin-top-screen-small:                                     null;
@form-control-mini-margin-top-screen-medium:                                    null;
@form-control-mini-margin-top-screen-large:                                     null;
@form-control-mini-margin-top-screen-jumbo:                                     null;

// Margin Bottom

@form-control-mini-margin-bottom:                                               null;
@form-control-mini-margin-bottom-screen-small:                                  null;
@form-control-mini-margin-bottom-screen-medium:                                 null;
@form-control-mini-margin-bottom-screen-large:                                  null;
@form-control-mini-margin-bottom-screen-jumbo:                                  null;

// Margin Left

@form-control-mini-margin-left:                                                 null;
@form-control-mini-margin-left-screen-small:                                    null;
@form-control-mini-margin-left-screen-medium:                                   null;
@form-control-mini-margin-left-screen-large:                                    null;
@form-control-mini-margin-left-screen-jumbo:                                    null;

// Margin Right

@form-control-mini-margin-right:                                                null;
@form-control-mini-margin-right-screen-small:                                   null;
@form-control-mini-margin-right-screen-medium:                                  null;
@form-control-mini-margin-right-screen-large:                                   null;
@form-control-mini-margin-right-screen-jumbo:                                   null;

/* Padding */

// Padding Top

@form-control-mini-padding-top:                                                 null;
@form-control-mini-padding-top-screen-small:                                    null;
@form-control-mini-padding-top-screen-medium:                                   null;
@form-control-mini-padding-top-screen-large:                                    null;
@form-control-mini-padding-top-screen-jumbo:                                    null;

// Padding Bottom

@form-control-mini-padding-bottom:                                              null;
@form-control-mini-padding-bottom-screen-small:                                 null;
@form-control-mini-padding-bottom-screen-medium:                                null;
@form-control-mini-padding-bottom-screen-large:                                 null;
@form-control-mini-padding-bottom-screen-jumbo:                                 null;

// Padding Left

@form-control-mini-padding-left:                                                0.5rem;
@form-control-mini-padding-left-screen-small:                                   null;
@form-control-mini-padding-left-screen-medium:                                  1.1 * @form-control-mini-padding-left;
@form-control-mini-padding-left-screen-large:                                   1.2 * @form-control-mini-padding-left;
@form-control-mini-padding-left-screen-jumbo:                                   null;

// Padding Right

@form-control-mini-padding-right:                                               0.5rem;
@form-control-mini-padding-right-screen-small:                                  null;
@form-control-mini-padding-right-screen-medium:                                 1.1 * @form-control-mini-padding-right;
@form-control-mini-padding-right-screen-large:                                  1.2 * @form-control-mini-padding-right;
@form-control-mini-padding-right-screen-jumbo:                                  null;

/* Rounded form-control */

@form-control-mini-rounded-padding-horizontal-scale:                            1.2;
