/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
form-control-mini/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@form-control-mini-enabled:                                                     true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@form-control-mini-scale-screen-small-enabled:                                  true;
@form-control-mini-scale-screen-medium-enabled:                                 true;
@form-control-mini-scale-screen-large-enabled:                                  true;
@form-control-mini-scale-screen-jumbo-enabled:                                  true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Size
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Font Size

@form-control-mini-text-font-size:                                              0.75rem;
@form-control-mini-text-font-size-scale-screen-small:                           null;
@form-control-mini-text-font-size-scale-screen-medium:                          null;
@form-control-mini-text-font-size-scale-screen-large:                           null;
@form-control-mini-text-font-size-scale-screen-jumbo:                           null;

// Line Height

@form-control-mini-text-line-height:                                            0.75rem;
@form-control-mini-text-line-height-scale-screen-small:                         @form-control-mini-text-font-size-scale-screen-small;
@form-control-mini-text-line-height-scale-screen-medium:                        @form-control-mini-text-font-size-scale-screen-medium;
@form-control-mini-text-line-height-scale-screen-large:                         @form-control-mini-text-font-size-scale-screen-large;
@form-control-mini-text-line-height-scale-screen-jumbo:                         @form-control-mini-text-font-size-scale-screen-jumbo;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Height

@form-control-mini-height:                                                      24px;
@form-control-mini-height-scale-screen-small:                                   null;
@form-control-mini-height-scale-screen-medium:                                  1.1;
@form-control-mini-height-scale-screen-large:                                   1.2;
@form-control-mini-height-scale-screen-jumbo:                                   null;

// Border Radius

@form-control-mini-border-radius:                                               3px;
@form-control-mini-border-radius-scale-screen-small:                            null;
@form-control-mini-border-radius-scale-screen-medium:                           null;
@form-control-mini-border-radius-scale-screen-large:                            null;
@form-control-mini-border-radius-scale-screen-jumbo:                            null;

// Dropdown Caret Width

@form-control-mini-caret-width:                                                 9px * (@form-control-mini-height / @form-control-height);
@form-control-mini-caret-width-scale-screen-small:                              null;
@form-control-mini-caret-width-scale-screen-medium:                             1.1;
@form-control-mini-caret-width-scale-screen-large:                              1.2;
@form-control-mini-caret-width-scale-screen-jumbo:                              null;

// Dropdown Caret Height

@form-control-mini-caret-height:                                                5px * (@form-control-mini-height / @form-control-height);
@form-control-mini-caret-height-scale-screen-small:                             @form-control-mini-caret-width-scale-screen-small;
@form-control-mini-caret-height-scale-screen-medium:                            @form-control-mini-caret-width-scale-screen-medium;
@form-control-mini-caret-height-scale-screen-large:                             @form-control-mini-caret-width-scale-screen-large;
@form-control-mini-caret-height-scale-screen-jumbo:                             @form-control-mini-caret-width-scale-screen-jumbo;

// Dropdown Caret Margin Top

@form-control-mini-caret-margin-top:                                            2px;
@form-control-mini-caret-margin-top-scale-screen-small:                         null;
@form-control-mini-caret-margin-top-scale-screen-medium:                        null;
@form-control-mini-caret-margin-top-scale-screen-large:                         null;
@form-control-mini-caret-margin-top-scale-screen-jumbo:                         null;

// Dropdown Caret Margin Left

@form-control-mini-caret-margin-left:                                           0.5rem * 0.25;
@form-control-mini-caret-margin-left-scale-screen-small:                        @form-control-mini-height-scale-screen-small;
@form-control-mini-caret-margin-left-scale-screen-medium:                       @form-control-mini-height-scale-screen-medium;
@form-control-mini-caret-margin-left-scale-screen-large:                        @form-control-mini-height-scale-screen-large;
@form-control-mini-caret-margin-left-scale-screen-jumbo:                        @form-control-mini-height-scale-screen-jumbo;

// Form Control Group Add On Padding Horizontal

@form-control-mini-add-on-padding-horizontal:                                   0.5rem * 0.5;
@form-control-mini-add-on-padding-horizontal-scale-screen-small:                @form-control-mini-height-scale-screen-small;
@form-control-mini-add-on-padding-horizontal-scale-screen-medium:               @form-control-mini-height-scale-screen-medium;
@form-control-mini-add-on-padding-horizontal-scale-screen-large:                @form-control-mini-height-scale-screen-large;
@form-control-mini-add-on-padding-horizontal-scale-screen-jumbo:                @form-control-mini-height-scale-screen-jumbo;

/* -----------------------------------------------------------------------------
Margin
----------------------------------------------------------------------------- */

// Margin Top

@form-control-mini-margin-top:                                                  null;
@form-control-mini-margin-top-scale-screen-small:                               null;
@form-control-mini-margin-top-scale-screen-medium:                              null;
@form-control-mini-margin-top-scale-screen-large:                               null;
@form-control-mini-margin-top-scale-screen-jumbo:                               null;

// Margin Bottom

@form-control-mini-margin-bottom:                                               null;
@form-control-mini-margin-bottom-scale-screen-small:                            null;
@form-control-mini-margin-bottom-scale-screen-medium:                           null;
@form-control-mini-margin-bottom-scale-screen-large:                            null;
@form-control-mini-margin-bottom-scale-screen-jumbo:                            null;

// Margin Left

@form-control-mini-margin-left:                                                 null;
@form-control-mini-margin-left-scale-screen-small:                              null;
@form-control-mini-margin-left-scale-screen-medium:                             null;
@form-control-mini-margin-left-scale-screen-large:                              null;
@form-control-mini-margin-left-scale-screen-jumbo:                              null;

// Margin Right

@form-control-mini-margin-right:                                                null;
@form-control-mini-margin-right-scale-screen-small:                             null;
@form-control-mini-margin-right-scale-screen-medium:                            null;
@form-control-mini-margin-right-scale-screen-large:                             null;
@form-control-mini-margin-right-scale-screen-jumbo:                             null;

/* -----------------------------------------------------------------------------
Padding
----------------------------------------------------------------------------- */

// Padding Top

@form-control-mini-padding-top:                                                 null;
@form-control-mini-padding-top-scale-screen-small:                              null;
@form-control-mini-padding-top-scale-screen-medium:                             null;
@form-control-mini-padding-top-scale-screen-large:                              null;
@form-control-mini-padding-top-scale-screen-jumbo:                              null;

// Padding Bottom

@form-control-mini-padding-bottom:                                              null;
@form-control-mini-padding-bottom-scale-screen-small:                           null;
@form-control-mini-padding-bottom-scale-screen-medium:                          null;
@form-control-mini-padding-bottom-scale-screen-large:                           null;
@form-control-mini-padding-bottom-scale-screen-jumbo:                           null;

// Padding Left

@form-control-mini-padding-left:                                                0.5rem;
@form-control-mini-padding-left-scale-screen-small:                             @form-control-mini-height-scale-screen-small;
@form-control-mini-padding-left-scale-screen-medium:                            @form-control-mini-height-scale-screen-medium;
@form-control-mini-padding-left-scale-screen-large:                             @form-control-mini-height-scale-screen-large;
@form-control-mini-padding-left-scale-screen-jumbo:                             @form-control-mini-height-scale-screen-jumbo;

// Padding Right

@form-control-mini-padding-right:                                               0.5rem;
@form-control-mini-padding-right-scale-screen-small:                            @form-control-mini-height-scale-screen-small;
@form-control-mini-padding-right-scale-screen-medium:                           @form-control-mini-height-scale-screen-medium;
@form-control-mini-padding-right-scale-screen-large:                            @form-control-mini-height-scale-screen-large;
@form-control-mini-padding-right-scale-screen-jumbo:                            @form-control-mini-height-scale-screen-jumbo;

/* -----------------------------------------------------------------------------
Rounded form-control
----------------------------------------------------------------------------- */

@form-control-mini-rounded-padding-horizontal-scale:                            1.2;
