/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
code-block/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@code-block-enabled) {

  /* -----------------------------------------------------------------------------
  Code Block
  ----------------------------------------------------------------------------- */

  pre,
  .code-block {

    display: block;
    word-break: break-all;
    white-space: pre;
    .text-size-variant(code-block, null);
    .shape-layout-variant(code-block, null);
    .text-style-variant(code-block);
    .shape-style-variant(code-block);
    .shape-layout-variant(code-block, short, null);
    .shape-layout-variant(code-block, tall, null);

    & when not (@code-block-border-radius = null) {

      border-radius: @code-block-border-radius;

    }



    /* -----------------------------------------------------------------------------
    Code Block Inverse (.code-block-inverse)
    ----------------------------------------------------------------------------- */

    &.code-block-inverse {

      .text-style-variant(code-block-inverse);
      .shape-style-variant(code-block-inverse);

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Mini (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@code-block-enabled) and (@code-block-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Code Block
      ----------------------------------------------------------------------------- */

      pre,
      .code-block {

        .text-size-variant(code-block, scale-screen-small);
        .shape-layout-variant(code-block, scale-screen-small);
        .shape-layout-variant(code-block, short, scale-screen-small);
        .shape-layout-variant(code-block, tall, scale-screen-small);

        & when not (@code-block-border-radius = null) and not (@code-block-border-radius-scale-screen-small = null) {

          border-radius: @code-block-border-radius * @code-block-border-radius-scale-screen-small;

        }

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@code-block-enabled) and (@code-block-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Code Block
      ----------------------------------------------------------------------------- */

      pre,
      .code-block {

        .text-size-variant(code-block, scale-screen-medium);
        .shape-layout-variant(code-block, scale-screen-medium);
        .shape-layout-variant(code-block, short, scale-screen-medium);
        .shape-layout-variant(code-block, tall, scale-screen-medium);

        & when not (@code-block-border-radius = null) and not (@code-block-border-radius-scale-screen-medium = null) {

          border-radius: @code-block-border-radius * @code-block-border-radius-scale-screen-medium;

        }

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@code-block-enabled) and (@code-block-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Code Block
      ----------------------------------------------------------------------------- */

      pre,
      .code-block {

        .text-size-variant(code-block, scale-screen-large);
        .shape-layout-variant(code-block, scale-screen-large);
        .shape-layout-variant(code-block, short, scale-screen-large);
        .shape-layout-variant(code-block, tall, scale-screen-large);

        & when not (@code-block-border-radius = null) and not (@code-block-border-radius-scale-screen-large = null) {

          border-radius: @code-block-border-radius * @code-block-border-radius-scale-screen-large;

        }

      }

    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@code-block-enabled) and (@code-block-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Code Block
      ----------------------------------------------------------------------------- */

      pre,
      .code-block {

        .text-size-variant(code-block, scale-screen-jumbo);
        .shape-layout-variant(code-block, scale-screen-jumbo);
        .shape-layout-variant(code-block, short, scale-screen-jumbo);
        .shape-layout-variant(code-block, tall, scale-screen-jumbo);

        & when not (@code-block-border-radius = null) and not (@code-block-border-radius-scale-screen-jumbo = null) {

          border-radius: @code-block-border-radius * @code-block-border-radius-scale-screen-jumbo;

        }

      }

    }

  }

}
