/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
code-block/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@code-block-enabled) {

  /* -----------------------------------------------------------------------------
  Code Block
  ----------------------------------------------------------------------------- */

  pre,
  .code-block {

    display: block;
    word-break: break-all;
    white-space: pre;
    .element-text-size(code-block, null);
    .element-spacing(code-block, null, null);
    .element-text-style(code-block);
    .element-shape-style(code-block);
    .property-variant(code, border-radius, null, null);

    /* -----------------------------------------------------------------------------
    Layout Variants
    ----------------------------------------------------------------------------- */

    &.short {

      .element-spacing(code-block, short, null);

    }

    &.tall {

      .element-spacing(code-block, tall, null);

    }

    &.flush {

      padding: 0px !important;

    }

    /* -----------------------------------------------------------------------------
    Style Variants
    ----------------------------------------------------------------------------- */

    &.transparent {

      background: none !important;

    }

    /* -----------------------------------------------------------------------------
    Code Block Inverse (.code-block-inverse)
    ----------------------------------------------------------------------------- */

    &.code-block-inverse {

      .element-text-style(code-block-inverse);
      .element-shape-style(code-block-inverse);

    }

  }

}



& when (@layout-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@code-block-enabled) and (@code-block-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Code Block
      ----------------------------------------------------------------------------- */

      pre,
      .code-block {

        .element-text-size(code-block, screen-small);
        .element-spacing(code-block, null, screen-small);
        .property-variant(code, border-radius, null, screen-small);

        /* -----------------------------------------------------------------------------
        Layout Variants
        ----------------------------------------------------------------------------- */

        &.short {

          .element-spacing(code-block, short, screen-small);

        }

        &.tall {

          .element-spacing(code-block, tall, screen-small);

        }

      }

    }

  }

}



& when (@layout-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@code-block-enabled) and (@code-block-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Code Block
      ----------------------------------------------------------------------------- */

      pre,
      .code-block {

        .element-text-size(code-block, screen-medium);
        .element-spacing(code-block, null, screen-medium);
        .property-variant(code, border-radius, null, screen-medium);

        /* -----------------------------------------------------------------------------
        Layout Variants
        ----------------------------------------------------------------------------- */

        &.short {

          .element-spacing(code-block, short, screen-medium);

        }

        &.tall {

          .element-spacing(code-block, tall, screen-medium);

        }

      }

    }

  }

}



& when (@layout-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@code-block-enabled) and (@code-block-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Code Block
      ----------------------------------------------------------------------------- */

      pre,
      .code-block {

        .element-text-size(code-block, screen-large);
        .element-spacing(code-block, null, screen-large);
        .property-variant(code, border-radius, null, screen-large);

        /* -----------------------------------------------------------------------------
        Layout Variants
        ----------------------------------------------------------------------------- */

        &.short {

          .element-spacing(code-block, short, screen-large);

        }

        &.tall {

          .element-spacing(code-block, tall, screen-large);

        }

      }

    }

  }

}



& when (@layout-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@code-block-enabled) and (@code-block-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Code Block
      ----------------------------------------------------------------------------- */

      pre,
      .code-block {

        .element-text-size(code-block, screen-jumbo);
        .element-spacing(code-block, null, screen-jumbo);
        .property-variant(code, border-radius, null, screen-jumbo);

        /* -----------------------------------------------------------------------------
        Layout Variants
        ----------------------------------------------------------------------------- */

        &.short {

          .element-spacing(code-block, short, screen-jumbo);

        }

        &.tall {

          .element-spacing(code-block, tall, screen-jumbo);

        }

      }

    }

  }

}
