& when (@button-group-enabled) {

  .button-group {

    display: inline-flex;
    align-items: center;
    position: relative;
    .clearfix();

    /* Button */

    > .button {

      position: relative;
      float: left;
      z-index: 0;

      &:hover,
      &:active,
      &.active,
      &.selected {

        z-index: 1;

      }

      &:not(:first-child) {

        &:not(:last-child) {

          &:not(.dropdown-toggle) {

            border-radius: 0px !important;

          }

        }

      }

      &:first-child {

        margin-left: 0px;

        &:not(:last-child) {

          &:not(.dropdown-toggle) {

            .border-right-radius(0px) !important;

          }

        }

      }

      &:last-child {

          &:not(:first-child) {

              .border-left-radius(0px) !important;

          }

      }

    }

    /* Button */

    .button,
    .button-group {

      + .button,
      + .button-group {

        & when not (@button-group-button-offset-horizontal = null) {

          margin-left: @button-group-button-offset-horizontal;

        }

      }

    }

  }

  /* Button Controls */

  [data-toggle=buttons] {

    > .button {

      input[type=checkbox],
      input[type=radio] {

        .invisible();

      }

    }

    > .button-group {

      > .button {

        input[type=checkbox],
        input[type=radio] {

          .invisible();

        }

      }

    }

  }

}
