/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

button-group/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@button-group-enabled:                                                          true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@button-group-scale-screen-mini-enabled:                                        true;
@button-group-scale-screen-small-enabled:                                       true;
@button-group-scale-screen-medium-enabled:                                      true;
@button-group-scale-screen-large-enabled:                                       true;
