/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

heading-h6/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@heading-h6-text-enabled:                                                       @typography-enabled;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@heading-h6-text-color:                                                         color-lighten(@neutral, 0);
@heading-h6-text-font-family:                                                   @font-family-sans-serif;
@heading-h6-text-font-style:                                                    normal;
@heading-h6-text-font-weight:                                                   600;
@heading-h6-text-transform:                                                     null;
@heading-h6-text-shadow:                                                        null;
@heading-h6-text-decoration:                                                    null;
@heading-h6-text-rendering:                                                     geometricPrecision;

// Emphasis

@heading-h6-emphasis-enabled:                                                   true;
@heading-h6-emphasis-text-color:                                                color-lighten(@neutral, -40);
@heading-h6-emphasis-text-font-family:                                          null;
@heading-h6-emphasis-text-font-style:                                           null;
@heading-h6-emphasis-text-font-weight:                                          800;
@heading-h6-emphasis-text-transform:                                            null;
@heading-h6-emphasis-text-shadow:                                               null;
@heading-h6-emphasis-text-decoration:                                           null;
@heading-h6-emphasis-text-rendering:                                            null;

// Muted

@heading-h6-muted-enabled:                                                      true;
@heading-h6-muted-text-color:                                                   color-lighten(@neutral, 60);
@heading-h6-muted-text-font-family:                                             null;
@heading-h6-muted-text-font-style:                                              null;
@heading-h6-muted-text-font-weight:                                             null;
@heading-h6-muted-text-transform:                                               null;
@heading-h6-muted-text-shadow:                                                  null;
@heading-h6-muted-text-decoration:                                              null;
@heading-h6-muted-text-rendering:                                               null;

// Inverse

@heading-h6-inverse-enabled:                                                    true;
@heading-h6-inverse-text-color:                                                 color-lighten(@neutral, 80);
@heading-h6-inverse-text-font-family:                                           null;
@heading-h6-inverse-text-font-style:                                            null;
@heading-h6-inverse-text-font-weight:                                           null;
@heading-h6-inverse-text-transform:                                             null;
@heading-h6-inverse-text-shadow:                                                null;
@heading-h6-inverse-text-decoration:                                            null;
@heading-h6-inverse-text-rendering:                                             null;

// Inverse Emphasis

@heading-h6-inverse-emphasis-enabled:                                           true;
@heading-h6-inverse-emphasis-text-color:                                        color-lighten(@neutral, 100);
@heading-h6-inverse-emphasis-text-font-family:                                  null;
@heading-h6-inverse-emphasis-text-font-style:                                   null;
@heading-h6-inverse-emphasis-text-font-weight:                                  null;
@heading-h6-inverse-emphasis-text-transform:                                    null;
@heading-h6-inverse-emphasis-text-shadow:                                       null;
@heading-h6-inverse-emphasis-text-decoration:                                   null;
@heading-h6-inverse-emphasis-text-rendering:                                    null;

// Inverse Muted

@heading-h6-inverse-muted-enabled:                                              true;
@heading-h6-inverse-muted-text-color:                                           color-lighten(@neutral, 40);
@heading-h6-inverse-muted-text-font-family:                                     null;
@heading-h6-inverse-muted-text-font-style:                                      null;
@heading-h6-inverse-muted-text-font-weight:                                     null;
@heading-h6-inverse-muted-text-transform:                                       null;
@heading-h6-inverse-muted-text-shadow:                                          null;
@heading-h6-inverse-muted-text-decoration:                                      null;
@heading-h6-inverse-muted-text-rendering:                                       null;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Size
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@heading-h6-text-font-size:                                                     1rem;
@heading-h6-text-line-height:                                                   1rem;
@heading-h6-text-margin-top:                                                    1rem;
@heading-h6-text-margin-bottom:                                                 1rem;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Margin Variants
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@heading-h6-text-margin-variants:                                               short, tall;

// Short

@heading-h6-text-short-margin-top:                                              null;
@heading-h6-text-short-margin-bottom:                                           0.5;

// Tall

@heading-h6-text-tall-margin-top:                                               null;
@heading-h6-text-tall-margin-bottom:                                            2.0;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@heading-h6-text-scale-screen-mini:                                             @screen-mini-enabled;
@heading-h6-text-scale-screen-small:                                            @screen-small-enabled;
@heading-h6-text-scale-screen-medium:                                           @screen-medium-enabled;
@heading-h6-text-scale-screen-large:                                            @screen-large-enabled;

@heading-h6-text-font-size-scale-screen-mini:                                   null;
@heading-h6-text-font-size-scale-screen-small:                                  null;
@heading-h6-text-font-size-scale-screen-medium:                                 null;
@heading-h6-text-font-size-scale-screen-large:                                  null;

@heading-h6-text-line-height-scale-screen-mini:                                 @heading-h6-text-font-size-scale-screen-mini;
@heading-h6-text-line-height-scale-screen-small:                                @heading-h6-text-font-size-scale-screen-small;
@heading-h6-text-line-height-scale-screen-medium:                               @heading-h6-text-font-size-scale-screen-medium;
@heading-h6-text-line-height-scale-screen-large:                                @heading-h6-text-font-size-scale-screen-large;

@heading-h6-text-margin-top-scale-screen-mini:                                  null;
@heading-h6-text-margin-top-scale-screen-small:                                 1.1;
@heading-h6-text-margin-top-scale-screen-medium:                                1.2;
@heading-h6-text-margin-top-scale-screen-large:                                 null;

@heading-h6-text-margin-bottom-scale-screen-mini:                               null;
@heading-h6-text-margin-bottom-scale-screen-small:                              1.1;
@heading-h6-text-margin-bottom-scale-screen-medium:                             1.2;
@heading-h6-text-margin-bottom-scale-screen-large:                              null;
