& when (@form-control-success-enabled) {
  /* Form Control Success (.form-control-success) */

  .form-control-success,
  .form-group.form-group-success .form-control {
    .element-text-style(form-control-success);
    .element-shape-style(form-control-success);

    & when not (@form-control-success-placeholder-color = null) {

      &::placeholder {
        color: @form-control-success-placeholder-color;
      }
    }

    &:hover {
      .element-text-style(form-control-success-hover);
      .element-shape-style(form-control-success-hover);

      & when not (@form-control-success-hover-placeholder-color = null) {

        &::placeholder {
          color: @form-control-success-hover-placeholder-color;
        }
      }
    }

    &:active {
      .element-text-style(form-control-success-active);
      .element-shape-style(form-control-success-active);

      & when not (@form-control-success-active-placeholder-color = null) {

        &::placeholder {
          color: @form-control-success-active-placeholder-color;
        }
      }
    }

    &:focus,
    &.focus {
      .element-text-style(form-control-success-focus);
      .element-shape-style(form-control-success-focus);

      & when not (@form-control-success-focus-placeholder-color = null) {

        &::placeholder {
          color: @form-control-success-focus-placeholder-color;
        }
      }
    }

    &:disabled,
    &.disabled {
      .element-text-style(form-control-success-disabled);
      .element-shape-style(form-control-success-disabled);

      & when not (@form-control-success-disabled-placeholder-color = null) {

        &::placeholder {
          color: @form-control-success-disabled-placeholder-color;
        }
      }
    }

    /* Form Control Success Inverse (.form-control-success-inverse) */

    &.form-control-inverse {
      .element-text-style(form-control-success-inverse);
      .element-shape-style(form-control-success-inverse);

      & when not (@form-control-success-inverse-placeholder-color = null) {

        &::placeholder {
          color: @form-control-success-inverse-placeholder-color;
        }
      }

      &:hover {
        .element-text-style(form-control-success-inverse-hover);
        .element-shape-style(form-control-success-inverse-hover);

        & when not (@form-control-success-inverse-hover-placeholder-color = null) {

          &::placeholder {
            color: @form-control-success-inverse-hover-placeholder-color;
          }
        }
      }

      &:active {
        .element-text-style(form-control-success-inverse-active);
        .element-shape-style(form-control-success-inverse-active);

        & when not (@form-control-success-inverse-active-placeholder-color = null) {

          &::placeholder {
            color: @form-control-success-inverse-active-placeholder-color;
          }
        }
      }

      &:focus,
      &.focus {
        .element-text-style(form-control-success-inverse-focus);
        .element-shape-style(form-control-success-inverse-focus);

        & when not (@form-control-success-inverse-focus-placeholder-color = null) {

          &::placeholder {
            color: @form-control-success-inverse-focus-placeholder-color;
          }
        }
      }

      &:disabled,
      &.disabled {
        .element-text-style(form-control-success-inverse-disabled);
        .element-shape-style(form-control-success-inverse-disabled);

        & when not (@form-control-success-inverse-disabled-placeholder-color = null) {

          &::placeholder {
            color: @form-control-success-inverse-disabled-placeholder-color;
          }
        }
      }
    }
  }

  /* Form Control Select (.form-control-select) */

  .form-control-success,
  .form-group.form-group-success .form-control.form-control-select {

    select {
      .element-text-style(form-control-success);
    }

    // Caret

    &:after {
      .triangle-color('down', @form-control-success-color);
    }

    &:hover {

      select {
        .element-text-style(form-control-success-hover);
      }

      // Caret

      &:after {
        .triangle-color('down', @form-control-success-color);
      }
    }

    &:active {

      select {
        .element-text-style(form-control-success-active);
      }

      // Caret

      &:after {
        .triangle-color('down', @form-control-success-active-color);
      }
    }

    &:focus,
    &.focus {

      select {
        .element-text-style(form-control-success-focus);
      }

      // Caret

      &:after {
        .triangle-color('down', @form-control-success-focus-color);
      }
    }

    &:disabled,
    &.disabled {

      select {
        .element-text-style(form-control-success-disabled);
      }

      // Caret

      &:after {
        .triangle-color('down', @form-control-success-disabled-color);
      }
    }

    /* Form Control Select Inverse (.form-control-inverse) */

    &.form-control-inverse {

      select {
        .element-text-style(form-control-success-inverse);
      }

      // Caret

      &:after {
        .triangle-color('down', @form-control-success-inverse-color);
      }

      &:hover {

        select {
          .element-text-style(form-control-success-inverse-hover);
        }

        // Caret

        &:after {
          .triangle-color('down', @form-control-success-inverse-hover-color);
        }
      }

      &:active {

        select {
          .element-text-style(form-control-success-inverse-active);
        }

        // Caret

        &:after {
          .triangle-color('down', @form-control-success-inverse-active-color);
        }
      }

      &:focus,
      &.focus {

        select {
          .element-text-style(form-control-success-inverse-focus);
        }

        // Caret

        &:after {
          .triangle-color('down', @form-control-success-inverse-focus-color);
        }
      }

      &:disabled,
      &.disabled {

        select {
          .element-text-style(form-control-success-inverse-disabled);
        }

        // Caret

        &:after {
          .triangle-color('down', @form-control-success-inverse-disabled-color);
        }
      }
    }
  }
}
