@form-control-success-enabled: true;

/*
 * Styling
 */

/* Default */

// Normal

@form-control-success-color: null;
@form-control-success-font-family: null;
@form-control-success-font-style: null;
@form-control-success-font-weight: null;
@form-control-success-text-transform: null;
@form-control-success-text-shadow: null;
@form-control-success-text-decoration: null;
@form-control-success-text-rendering: null;
@form-control-success-background-color: null;
@form-control-success-background-gradient-color-top: null;
@form-control-success-background-gradient-color-bottom: null;
@form-control-success-border-width: null;
@form-control-success-border-color: @green;
@form-control-success-border-style: null;
@form-control-success-border-top-width: null;
@form-control-success-border-top-color: null;
@form-control-success-border-top-style: null;
@form-control-success-border-right-width: null;
@form-control-success-border-right-color: null;
@form-control-success-border-right-style: null;
@form-control-success-border-bottom-width: null;
@form-control-success-border-bottom-color: null;
@form-control-success-border-bottom-style: null;
@form-control-success-border-left-width: null;
@form-control-success-border-left-color: null;
@form-control-success-border-left-style: null;
@form-control-success-shadow: null;
@form-control-success-placeholder-color: null;

// Hover

@form-control-success-hover-color: null;
@form-control-success-hover-font-family: null;
@form-control-success-hover-font-style: null;
@form-control-success-hover-font-weight: null;
@form-control-success-hover-text-transform: null;
@form-control-success-hover-text-shadow: null;
@form-control-success-hover-text-decoration: null;
@form-control-success-hover-text-rendering: null;
@form-control-success-hover-background-color: null;
@form-control-success-hover-background-gradient-color-top: null;
@form-control-success-hover-background-gradient-color-bottom: null;
@form-control-success-hover-border-width: null;
@form-control-success-hover-border-color: null;
@form-control-success-hover-border-style: null;
@form-control-success-hover-border-top-width: null;
@form-control-success-hover-border-top-color: null;
@form-control-success-hover-border-top-style: null;
@form-control-success-hover-border-right-width: null;
@form-control-success-hover-border-right-color: null;
@form-control-success-hover-border-right-style: null;
@form-control-success-hover-border-bottom-width: null;
@form-control-success-hover-border-bottom-color: null;
@form-control-success-hover-border-bottom-style: null;
@form-control-success-hover-border-left-width: null;
@form-control-success-hover-border-left-color: null;
@form-control-success-hover-border-left-style: null;
@form-control-success-hover-shadow: null;
@form-control-success-hover-placeholder-color: null;

// Active

@form-control-success-active-color: null;
@form-control-success-active-font-family: null;
@form-control-success-active-font-style: null;
@form-control-success-active-font-weight: null;
@form-control-success-active-text-transform: null;
@form-control-success-active-text-shadow: null;
@form-control-success-active-text-decoration: null;
@form-control-success-active-text-rendering: null;
@form-control-success-active-background-color: fade(@green, 5%);
@form-control-success-active-background-gradient-color-top: null;
@form-control-success-active-background-gradient-color-bottom: null;
@form-control-success-active-border-width: null;
@form-control-success-active-border-color: @green;
@form-control-success-active-border-style: null;
@form-control-success-active-border-top-width: null;
@form-control-success-active-border-top-color: null;
@form-control-success-active-border-top-style: null;
@form-control-success-active-border-right-width: null;
@form-control-success-active-border-right-color: null;
@form-control-success-active-border-right-style: null;
@form-control-success-active-border-bottom-width: null;
@form-control-success-active-border-bottom-color: null;
@form-control-success-active-border-bottom-style: null;
@form-control-success-active-border-left-width: null;
@form-control-success-active-border-left-color: null;
@form-control-success-active-border-left-style: null;
@form-control-success-active-shadow: null;
@form-control-success-active-placeholder-color: null;

// Focus

@form-control-success-focus-color: @form-control-success-active-color;
@form-control-success-focus-font-family: @form-control-success-active-font-family;
@form-control-success-focus-font-style: @form-control-success-active-font-style;
@form-control-success-focus-font-weight: @form-control-success-active-font-weight;
@form-control-success-focus-text-transform: @form-control-success-active-text-transform;
@form-control-success-focus-text-shadow: @form-control-success-active-text-shadow;
@form-control-success-focus-text-decoration: @form-control-success-active-text-decoration;
@form-control-success-focus-text-rendering: @form-control-success-active-text-rendering;
@form-control-success-focus-background-color: @form-control-success-active-background-color;
@form-control-success-focus-background-gradient-color-top: @form-control-success-active-background-gradient-color-top;
@form-control-success-focus-background-gradient-color-bottom: @form-control-success-active-background-gradient-color-bottom;
@form-control-success-focus-border-width: @form-control-success-active-border-width;
@form-control-success-focus-border-color: @form-control-success-active-border-color;
@form-control-success-focus-border-style: @form-control-success-active-border-style;
@form-control-success-focus-border-top-width: @form-control-success-active-border-top-width;
@form-control-success-focus-border-top-color: @form-control-success-active-border-top-color;
@form-control-success-focus-border-top-style: @form-control-success-active-border-top-style;
@form-control-success-focus-border-right-width: @form-control-success-active-border-right-width;
@form-control-success-focus-border-right-color: @form-control-success-active-border-right-color;
@form-control-success-focus-border-right-style: @form-control-success-active-border-right-style;
@form-control-success-focus-border-bottom-width: @form-control-success-active-border-bottom-width;
@form-control-success-focus-border-bottom-color: @form-control-success-active-border-bottom-color;
@form-control-success-focus-border-bottom-style: @form-control-success-active-border-bottom-style;
@form-control-success-focus-border-left-width: @form-control-success-active-border-left-width;
@form-control-success-focus-border-left-color: @form-control-success-active-border-left-color;
@form-control-success-focus-border-left-style: @form-control-success-active-border-left-style;
@form-control-success-focus-shadow: @form-control-success-active-shadow;
@form-control-success-focus-placeholder-color: @form-control-success-active-placeholder-color;

// Disabled

@form-control-success-disabled-opacity: null;
@form-control-success-disabled-color: null;
@form-control-success-disabled-font-family: null;
@form-control-success-disabled-font-style: null;
@form-control-success-disabled-font-weight: null;
@form-control-success-disabled-text-transform: null;
@form-control-success-disabled-text-shadow: null;
@form-control-success-disabled-text-decoration: null;
@form-control-success-disabled-text-rendering: null;
@form-control-success-disabled-background-color: color-lighten(@grey-light, 40);
@form-control-success-disabled-background-gradient-color-top: null;
@form-control-success-disabled-background-gradient-color-bottom: null;
@form-control-success-disabled-border-width: null;
@form-control-success-disabled-border-color: color-lighten(@grey-light, 40);
@form-control-success-disabled-border-style: null;
@form-control-success-disabled-border-top-width: null;
@form-control-success-disabled-border-top-color: null;
@form-control-success-disabled-border-top-style: null;
@form-control-success-disabled-border-right-width: null;
@form-control-success-disabled-border-right-color: null;
@form-control-success-disabled-border-right-style: null;
@form-control-success-disabled-border-bottom-width: null;
@form-control-success-disabled-border-bottom-color: null;
@form-control-success-disabled-border-bottom-style: null;
@form-control-success-disabled-border-left-width: null;
@form-control-success-disabled-border-left-color: null;
@form-control-success-disabled-border-left-style: null;
@form-control-success-disabled-shadow: null;
@form-control-success-disabled-placeholder-color: null;

/* Inverse */

// Normal

@form-control-success-inverse-color: @white;
@form-control-success-inverse-font-family: null;
@form-control-success-inverse-font-style: null;
@form-control-success-inverse-font-weight: null;
@form-control-success-inverse-text-transform: null;
@form-control-success-inverse-text-shadow: null;
@form-control-success-inverse-text-decoration: null;
@form-control-success-inverse-text-rendering: null;
@form-control-success-inverse-background-color: color-lighten(@green, 0);
@form-control-success-inverse-background-gradient-color-top: null;
@form-control-success-inverse-background-gradient-color-bottom: null;
@form-control-success-inverse-border-width: null;
@form-control-success-inverse-border-color: color-lighten(@green, 0);
@form-control-success-inverse-border-style: null;
@form-control-success-inverse-border-top-width: null;
@form-control-success-inverse-border-top-color: null;
@form-control-success-inverse-border-top-style: null;
@form-control-success-inverse-border-right-width: null;
@form-control-success-inverse-border-right-color: null;
@form-control-success-inverse-border-right-style: null;
@form-control-success-inverse-border-bottom-width: null;
@form-control-success-inverse-border-bottom-color: null;
@form-control-success-inverse-border-bottom-style: null;
@form-control-success-inverse-border-left-width: null;
@form-control-success-inverse-border-left-color: null;
@form-control-success-inverse-border-left-style: null;
@form-control-success-inverse-shadow: null;
@form-control-success-inverse-placeholder-color: color-lighten(@green, 60);

// Hover

@form-control-success-inverse-hover-color: null;
@form-control-success-inverse-hover-font-family: null;
@form-control-success-inverse-hover-font-style: null;
@form-control-success-inverse-hover-font-weight: null;
@form-control-success-inverse-hover-text-transform: null;
@form-control-success-inverse-hover-text-shadow: null;
@form-control-success-inverse-hover-text-decoration: null;
@form-control-success-inverse-hover-text-rendering: null;
@form-control-success-inverse-hover-background-color: null;
@form-control-success-inverse-hover-background-gradient-color-top: null;
@form-control-success-inverse-hover-background-gradient-color-bottom: null;
@form-control-success-inverse-hover-border-width: null;
@form-control-success-inverse-hover-border-color: null;
@form-control-success-inverse-hover-border-style: null;
@form-control-success-inverse-hover-border-top-width: null;
@form-control-success-inverse-hover-border-top-color: null;
@form-control-success-inverse-hover-border-top-style: null;
@form-control-success-inverse-hover-border-right-width: null;
@form-control-success-inverse-hover-border-right-color: null;
@form-control-success-inverse-hover-border-right-style: null;
@form-control-success-inverse-hover-border-bottom-width: null;
@form-control-success-inverse-hover-border-bottom-color: null;
@form-control-success-inverse-hover-border-bottom-style: null;
@form-control-success-inverse-hover-border-left-width: null;
@form-control-success-inverse-hover-border-left-color: null;
@form-control-success-inverse-hover-border-left-style: null;
@form-control-success-inverse-hover-shadow: null;
@form-control-success-inverse-hover-placeholder-color: null;

// Active

@form-control-success-inverse-active-color: null;
@form-control-success-inverse-active-font-family: null;
@form-control-success-inverse-active-font-style: null;
@form-control-success-inverse-active-font-weight: null;
@form-control-success-inverse-active-text-transform: null;
@form-control-success-inverse-active-text-shadow: null;
@form-control-success-inverse-active-text-decoration: null;
@form-control-success-inverse-active-text-rendering: null;
@form-control-success-inverse-active-background-color: color-lighten(@green, 10);
@form-control-success-inverse-active-background-gradient-color-top: null;
@form-control-success-inverse-active-background-gradient-color-bottom: null;
@form-control-success-inverse-active-border-width: null;
@form-control-success-inverse-active-border-color: color-lighten(@green, 10);
@form-control-success-inverse-active-border-style: null;
@form-control-success-inverse-active-border-top-width: null;
@form-control-success-inverse-active-border-top-color: null;
@form-control-success-inverse-active-border-top-style: null;
@form-control-success-inverse-active-border-right-width: null;
@form-control-success-inverse-active-border-right-color: null;
@form-control-success-inverse-active-border-right-style: null;
@form-control-success-inverse-active-border-bottom-width: null;
@form-control-success-inverse-active-border-bottom-color: null;
@form-control-success-inverse-active-border-bottom-style: null;
@form-control-success-inverse-active-border-left-width: null;
@form-control-success-inverse-active-border-left-color: null;
@form-control-success-inverse-active-border-left-style: null;
@form-control-success-inverse-active-shadow: null;
@form-control-success-inverse-active-placeholder-color: null;

// Focus

@form-control-success-inverse-focus-color: @form-control-success-inverse-active-color;
@form-control-success-inverse-focus-font-family: @form-control-success-inverse-active-font-family;
@form-control-success-inverse-focus-font-style: @form-control-success-inverse-active-font-style;
@form-control-success-inverse-focus-font-weight: @form-control-success-inverse-active-font-weight;
@form-control-success-inverse-focus-text-transform: @form-control-success-inverse-active-text-transform;
@form-control-success-inverse-focus-text-shadow: @form-control-success-inverse-active-text-shadow;
@form-control-success-inverse-focus-text-decoration: @form-control-success-inverse-active-text-decoration;
@form-control-success-inverse-focus-text-rendering: @form-control-success-inverse-active-text-rendering;
@form-control-success-inverse-focus-background-color: @form-control-success-inverse-active-background-color;
@form-control-success-inverse-focus-background-gradient-color-top: @form-control-success-inverse-active-background-gradient-color-top;
@form-control-success-inverse-focus-background-gradient-color-bottom: @form-control-success-inverse-active-background-gradient-color-bottom;
@form-control-success-inverse-focus-border-width: @form-control-success-inverse-active-border-width;
@form-control-success-inverse-focus-border-color: @form-control-success-inverse-active-border-color;
@form-control-success-inverse-focus-border-style: @form-control-success-inverse-active-border-style;
@form-control-success-inverse-focus-border-top-width: @form-control-success-inverse-active-border-top-width;
@form-control-success-inverse-focus-border-top-color: @form-control-success-inverse-active-border-top-color;
@form-control-success-inverse-focus-border-top-style: @form-control-success-inverse-active-border-top-style;
@form-control-success-inverse-focus-border-right-width: @form-control-success-inverse-active-border-right-width;
@form-control-success-inverse-focus-border-right-color: @form-control-success-inverse-active-border-right-color;
@form-control-success-inverse-focus-border-right-style: @form-control-success-inverse-active-border-right-style;
@form-control-success-inverse-focus-border-bottom-width: @form-control-success-inverse-active-border-bottom-width;
@form-control-success-inverse-focus-border-bottom-color: @form-control-success-inverse-active-border-bottom-color;
@form-control-success-inverse-focus-border-bottom-style: @form-control-success-inverse-active-border-bottom-style;
@form-control-success-inverse-focus-border-left-width: @form-control-success-inverse-active-border-left-width;
@form-control-success-inverse-focus-border-left-color: @form-control-success-inverse-active-border-left-color;
@form-control-success-inverse-focus-border-left-style: @form-control-success-inverse-active-border-left-style;
@form-control-success-inverse-focus-shadow: @form-control-success-inverse-active-shadow;
@form-control-success-inverse-focus-placeholder-color: @form-control-success-inverse-active-placeholder-color;

// Disabled

@form-control-success-inverse-disabled-opacity: null;
@form-control-success-inverse-disabled-color: null;
@form-control-success-inverse-disabled-font-family: null;
@form-control-success-inverse-disabled-font-style: null;
@form-control-success-inverse-disabled-font-weight: null;
@form-control-success-inverse-disabled-text-transform: null;
@form-control-success-inverse-disabled-text-shadow: null;
@form-control-success-inverse-disabled-text-decoration: null;
@form-control-success-inverse-disabled-text-rendering: null;
@form-control-success-inverse-disabled-background-color: color-lighten(@grey-dark, 10);
@form-control-success-inverse-disabled-background-gradient-color-top: null;
@form-control-success-inverse-disabled-background-gradient-color-bottom: null;
@form-control-success-inverse-disabled-border-width: null;
@form-control-success-inverse-disabled-border-color: color-lighten(@grey-dark, 10);
@form-control-success-inverse-disabled-border-style: null;
@form-control-success-inverse-disabled-border-top-width: null;
@form-control-success-inverse-disabled-border-top-color: null;
@form-control-success-inverse-disabled-border-top-style: null;
@form-control-success-inverse-disabled-border-right-width: null;
@form-control-success-inverse-disabled-border-right-color: null;
@form-control-success-inverse-disabled-border-right-style: null;
@form-control-success-inverse-disabled-border-bottom-width: null;
@form-control-success-inverse-disabled-border-bottom-color: null;
@form-control-success-inverse-disabled-border-bottom-style: null;
@form-control-success-inverse-disabled-border-left-width: null;
@form-control-success-inverse-disabled-border-left-color: null;
@form-control-success-inverse-disabled-border-left-style: null;
@form-control-success-inverse-disabled-shadow: null;
@form-control-success-inverse-disabled-placeholder-color: null;
