/*
 * modal/styles.less
 */



& when (@modal-enabled) {

  /* -----------------------------------------------------------------------------
  Modal
  ----------------------------------------------------------------------------- */

  .modal {

    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0) scale(1.0, 1.0);
    filter: blur(0);
    backface-visibility: hidden;
    z-index: 10001;
    .element-shape-style(modal);
    .property-variant(modal, width, null, null);
    .property-variant(modal, border-radius, null, null);

    & when not (@modal-margin-vertical = null) {

      max-height: 95%;
      max-height: calc(e('100% - (2 * @{modal-margin-vertical})'));

    }

    & when not (@modal-margin-horizontal-screen-small = null) {

      max-width: 95%;
      max-width: calc(e('100% - (2 * @{modal-margin-horizontal})'));

    }

    /* -----------------------------------------------------------------------------
    Inline Modal
    ----------------------------------------------------------------------------- */

    &.fade {

      opacity: 0.0;
      transition: e('opacity 0.25s ease, margin-top 0.25s ease');
      margin-top: -50px;

      &.in {

        opacity: 1.0;
        margin-top: 0px;

      }

    }

    /* -----------------------------------------------------------------------------
    Inline Modal
    ----------------------------------------------------------------------------- */

    &.modal-inline {

      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      transform: none;
      z-index: auto;
      margin: 0 auto;

    }

    /* -----------------------------------------------------------------------------
    Modal Header
    ----------------------------------------------------------------------------- */

    .modal-header {

      display: block;
      position: relative;
      flex: 1;
      flex-shrink: 0;
      .element-shape-style(modal-header);
      .element-spacing(modal-header, null, null);

    }

    /* -----------------------------------------------------------------------------
    Modal Body
    ----------------------------------------------------------------------------- */

    .modal-body {

      display: block;
      position: relative;
      flex: 1;
      overflow-y: auto;
      .element-shape-style(modal-body);
      .element-spacing(modal-body, null, null);

    }

    /* -----------------------------------------------------------------------------
    Modal Footer
    ----------------------------------------------------------------------------- */

    .modal-footer {

      display: block;
      position: relative;
      flex: 1;
      flex-shrink: 0;
      .element-shape-style(modal-footer);
      .element-spacing(modal-footer, null, null);

    }

    /* -----------------------------------------------------------------------------
    Modal Inverse (.modal-inverse)
    ----------------------------------------------------------------------------- */

    &.modal-inverse {

      .element-shape-style(modal-inverse);

      /* -----------------------------------------------------------------------------
      Modal Header
      ----------------------------------------------------------------------------- */

      .modal-header {

        .element-shape-style(modal-header-inverse);

      }

      /* -----------------------------------------------------------------------------
      Modal Body
      ----------------------------------------------------------------------------- */

      .modal-body {

        .element-shape-style(modal-body-inverse);

      }

      /* -----------------------------------------------------------------------------
      Modal Footer
      ----------------------------------------------------------------------------- */

      .modal-footer {

        .element-shape-style(modal-footer-inverse);

      }

    }

  }

  /* -----------------------------------------------------------------------------
  Modal Backdrop
  ----------------------------------------------------------------------------- */

  .modal-backdrop {

    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    .element-shape-style(modal-backdrop);

    /* -----------------------------------------------------------------------------
    Fade
    ----------------------------------------------------------------------------- */

    &.fade {

      opacity: 0.0;
      transition: opacity 0.25s ease;

      &.in {

        opacity: 1.0;

      }

    }

  }

}



& when (@layout-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@modal-enabled) and (@modal-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Modal
      ----------------------------------------------------------------------------- */

      .modal {

        .property-variant(modal, width, null, screen-small);
        .property-variant(modal, border-radius, null, screen-small);

        & when not (@modal-margin-vertical-screen-small = null) {

          max-height: 95%;
          max-height: calc(e('100% - (2 * @{modal-margin-vertical-screen-small})'));

        }

        & when not (@modal-margin-horizontal-screen-small = null) {

          max-width: 95%;
          max-width: calc(e('100% - (2 * @{modal-margin-horizontal-screen-small})'));

        }

        /* -----------------------------------------------------------------------------
        Modal Header
        ----------------------------------------------------------------------------- */

        .modal-header {

          .element-spacing(modal-header, null, screen-small);

        }

        /* -----------------------------------------------------------------------------
        Modal Body
        ----------------------------------------------------------------------------- */

        .modal-body {

          .element-spacing(modal-body, null, screen-small);

        }

        /* -----------------------------------------------------------------------------
        Modal Footer
        ----------------------------------------------------------------------------- */

        .modal-footer {

          .element-spacing(modal-footer, null, screen-small);

        }

      }

    }

  }

}



& when (@layout-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@modal-enabled) and (@modal-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Modal
      ----------------------------------------------------------------------------- */

      .modal {

        .property-variant(modal, width, null, screen-medium);
        .property-variant(modal, border-radius, null, screen-medium);

        & when not (@modal-margin-vertical-screen-medium = null) {

          max-height: 95%;
          max-height: calc(e('100% - (2 * @{modal-margin-vertical-screen-medium})'));

        }

        & when not (@modal-margin-horizontal-screen-medium = null) {

          max-width: 95%;
          max-width: calc(e('100% - (2 * @{modal-margin-horizontal-screen-medium})'));

        }

        /* -----------------------------------------------------------------------------
        Modal Header
        ----------------------------------------------------------------------------- */

        .modal-header {

          .element-spacing(modal-header, null, screen-medium);

        }

        /* -----------------------------------------------------------------------------
        Modal Body
        ----------------------------------------------------------------------------- */

        .modal-body {

          .element-spacing(modal-body, null, screen-medium);

        }

        /* -----------------------------------------------------------------------------
        Modal Footer
        ----------------------------------------------------------------------------- */

        .modal-footer {

          .element-spacing(modal-footer, null, screen-medium);

        }

      }

    }

  }

}



& when (@layout-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@modal-enabled) and (@modal-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Modal
      ----------------------------------------------------------------------------- */

      .modal {

        .property-variant(modal, width, null, screen-large);
        .property-variant(modal, border-radius, null, screen-large);

        & when not (@modal-margin-vertical-screen-large = null) {

          max-height: 95%;
          max-height: calc(e('100% - (2 * @{modal-margin-vertical-screen-large})'));

        }

        & when not (@modal-margin-horizontal-screen-large = null) {

          max-width: 95%;
          max-width: calc(e('100% - (2 * @{modal-margin-horizontal-screen-large})'));

        }

        /* -----------------------------------------------------------------------------
        Modal Header
        ----------------------------------------------------------------------------- */

        .modal-header {

          .element-spacing(modal-header, null, screen-large);

        }

        /* -----------------------------------------------------------------------------
        Modal Body
        ----------------------------------------------------------------------------- */

        .modal-body {

          .element-spacing(modal-body, null, screen-large);

        }

        /* -----------------------------------------------------------------------------
        Modal Footer
        ----------------------------------------------------------------------------- */

        .modal-footer {

          .element-spacing(modal-footer, null, screen-large);

        }

      }

    }

  }

}



& when (@layout-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@modal-enabled) and (@modal-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Modal
      ----------------------------------------------------------------------------- */

      .modal {

        .property-variant(modal, width, null, screen-jumbo);
        .property-variant(modal, border-radius, null, screen-jumbo);

        & when not (@modal-margin-vertical-screen-jumbo = null) {

          max-height: 95%;
          max-height: calc(e('100% - (2 * @{modal-margin-vertical-screen-jumbo})'));

        }

        & when not (@modal-margin-horizontal-screen-jumbo = null) {

          max-width: 95%;
          max-width: calc(e('100% - (2 * @{modal-margin-horizontal-screen-jumbo})'));

        }

        /* -----------------------------------------------------------------------------
        Modal Header
        ----------------------------------------------------------------------------- */

        .modal-header {

          .element-spacing(modal-header, null, screen-jumbo);

        }

        /* -----------------------------------------------------------------------------
        Modal Body
        ----------------------------------------------------------------------------- */

        .modal-body {

          .element-spacing(modal-body, null, screen-jumbo);

        }

        /* -----------------------------------------------------------------------------
        Modal Footer
        ----------------------------------------------------------------------------- */

        .modal-footer {

          .element-spacing(modal-footer, null, screen-jumbo);

        }

      }

    }

  }

}
