/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
modal-small/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@modal-small-enabled) {

  /* -----------------------------------------------------------------------------
  Modal
  ----------------------------------------------------------------------------- */

  .modal.modal-small {

    .layout-property-variant(modal-small, width, null);
    .layout-property-variant(modal-small, border-radius, null);

    & when not (@modal-small-margin-vertical = null) {

      max-height: calc(e('100% - (2 * @{modal-small-margin-vertical})'));

    }

    & when not (@modal-small-margin-horizontal-screen-small = null) {

      max-width: calc(e('100% - (2 * @{modal-small-margin-horizontal})'));

    }

    /* -----------------------------------------------------------------------------
    Modal Header
    ----------------------------------------------------------------------------- */

    .modal-header {

      .layout-spacing-variant(modal-small-header, null);

    }

    /* -----------------------------------------------------------------------------
    Modal Body
    ----------------------------------------------------------------------------- */

    .modal-body {

      .layout-spacing-variant(modal-small-body, null);

    }

    /* -----------------------------------------------------------------------------
    Modal Footer
    ----------------------------------------------------------------------------- */

    .modal-footer {

      .layout-spacing-variant(modal-small-footer, null);

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@modal-small-enabled) and (@modal-small-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Modal
      ----------------------------------------------------------------------------- */

      .modal.modal-small {

        .layout-property-variant(modal-small, width, screen-small);
        .layout-property-variant(modal-small, border-radius, screen-small);

        & when not (@modal-small-margin-vertical-screen-small = null) {

          max-height: calc(e('100% - (2 * @{modal-small-margin-vertical-screen-small})'));

        }

        & when not (@modal-small-margin-horizontal-screen-small = null) {

          max-width: calc(e('100% - (2 * @{modal-small-margin-horizontal-screen-small})'));

        }

        /* -----------------------------------------------------------------------------
        Modal Header
        ----------------------------------------------------------------------------- */

        .modal-header {

          .layout-spacing-variant(modal-small-header, screen-small);

        }

        /* -----------------------------------------------------------------------------
        Modal Body
        ----------------------------------------------------------------------------- */

        .modal-body {

          .layout-spacing-variant(modal-small-body, screen-small);

        }

        /* -----------------------------------------------------------------------------
        Modal Footer
        ----------------------------------------------------------------------------- */

        .modal-footer {

          .layout-spacing-variant(modal-small-footer, screen-small);

        }

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@modal-small-enabled) and (@modal-small-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Modal
      ----------------------------------------------------------------------------- */

      .modal.modal-small {

        .layout-property-variant(modal-small, width, screen-medium);
        .layout-property-variant(modal-small, border-radius, screen-medium);

        & when not (@modal-small-margin-vertical-screen-medium = null) {

          max-height: calc(e('100% - (2 * @{modal-small-margin-vertical-screen-medium})'));

        }

        & when not (@modal-small-margin-horizontal-screen-medium = null) {

          max-width: calc(e('100% - (2 * @{modal-small-margin-horizontal-screen-medium})'));

        }

        /* -----------------------------------------------------------------------------
        Modal Header
        ----------------------------------------------------------------------------- */

        .modal-header {

          .layout-spacing-variant(modal-small-header, screen-medium);

        }

        /* -----------------------------------------------------------------------------
        Modal Body
        ----------------------------------------------------------------------------- */

        .modal-body {

          .layout-spacing-variant(modal-small-body, screen-medium);

        }

        /* -----------------------------------------------------------------------------
        Modal Footer
        ----------------------------------------------------------------------------- */

        .modal-footer {

          .layout-spacing-variant(modal-small-footer, screen-medium);

        }

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@modal-small-enabled) and (@modal-small-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Modal
      ----------------------------------------------------------------------------- */

      .modal.modal-small {

        .layout-property-variant(modal-small, width, screen-large);
        .layout-property-variant(modal-small, border-radius, screen-large);

        & when not (@modal-small-margin-vertical-screen-large = null) {

          max-height: calc(e('100% - (2 * @{modal-small-margin-vertical-screen-large})'));

        }

        & when not (@modal-small-margin-horizontal-screen-large = null) {

          max-width: calc(e('100% - (2 * @{modal-small-margin-horizontal-screen-large})'));

        }

        /* -----------------------------------------------------------------------------
        Modal Header
        ----------------------------------------------------------------------------- */

        .modal-header {

          .layout-spacing-variant(modal-small-header, screen-large);

        }

        /* -----------------------------------------------------------------------------
        Modal Body
        ----------------------------------------------------------------------------- */

        .modal-body {

          .layout-spacing-variant(modal-small-body, screen-large);

        }

        /* -----------------------------------------------------------------------------
        Modal Footer
        ----------------------------------------------------------------------------- */

        .modal-footer {

          .layout-spacing-variant(modal-small-footer, screen-large);

        }

      }

    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@modal-small-enabled) and (@modal-small-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Modal
      ----------------------------------------------------------------------------- */

      .modal.modal-small {

        .layout-property-variant(modal-small, width, screen-jumbo);
        .layout-property-variant(modal-small, border-radius, screen-jumbo);

        & when not (@modal-small-margin-vertical-screen-jumbo = null) {

          max-height: calc(e('100% - (2 * @{modal-small-margin-vertical-screen-jumbo})'));

        }

        & when not (@modal-small-margin-horizontal-screen-jumbo = null) {

          max-width: calc(e('100% - (2 * @{modal-small-margin-horizontal-screen-jumbo})'));

        }

        /* -----------------------------------------------------------------------------
        Modal Header
        ----------------------------------------------------------------------------- */

        .modal-header {

          .layout-spacing-variant(modal-small-header, screen-jumbo);

        }

        /* -----------------------------------------------------------------------------
        Modal Body
        ----------------------------------------------------------------------------- */

        .modal-body {

          .layout-spacing-variant(modal-small-body, screen-jumbo);

        }

        /* -----------------------------------------------------------------------------
        Modal Footer
        ----------------------------------------------------------------------------- */

        .modal-footer {

          .layout-spacing-variant(modal-small-footer, screen-jumbo);

        }

      }

    }

  }

}
