<!doctype html>

<!--[if lt IE 7]>

  <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">

<![endif]-->

<!--[if (IE 7)&!(IEMobile)]>

  <html lang="en" class="no-js lt-ie9 lt-ie8">

<![endif]-->

<!--[if (IE 8)&!(IEMobile)]>

  <html lang="en" class="no-js lt-ie9">

<![endif]-->

<!--[if gt IE 8]><!-->

  <html lang="en" class="no-js">

<!--<![endif]-->

  <!-- =================================================
BEGIN: Head
================================================== -->

<head>

  <!-- =================================================
  BEGIN: Standard Tags
  ================================================== -->

  <title>

    

      CNVS &bull; Button Groups

    

  </title>

  

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <html prefix="og: http://ogp.me/ns#">
  <meta name="title" content ="Button Groups &bull; CNVS">
  <meta name="description" content="CNVS (pronounced 'Canvas') is a system of user interface elements and components for use across Mesosphere sites and products. CNVS defines stylistic guidelines for the design and structure of digital interfaces in an effort to ensure consistency in brand and interaction.">
  <meta name="keywords" content="">
  <meta name="googlebot" content="all">
  <link rel="canonical" href="http://yourdomain.com/cnvs/components/button-groups/">
  <link rel="alternate" type="application/rss+xml" title="CNVS" href="http://yourdomain.com/cnvs/feed.xml" />

  <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  <![endif]-->

  <!-- =================================================
  END: Standard Tags
  ================================================== -->

  <!-- =================================================
  BEGIN: Mobile Tags
  ================================================== -->

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

  <!-- =================================================
  END: Mobile Tags
  ================================================== -->

  <!-- =================================================
  BEGIN: Icons
  ================================================== -->

  <!-- BEGIN: FAV ICON -->

  <link rel="icon" href="/cnvs/images/components/icons/favicon.ico">

  <!--[if IE]>

    <link rel="icon shortcut" href="/cnvs/images/components/icons/favicon.ico">

  <![endif]-->

  <!-- END: FAV ICON -->

  <!-- =================================================
  END: Icons
  ================================================== -->

  <!-- =================================================
  BEGIN: OG Tags
  ================================================== -->

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Button Groups &bull; CNVS">
  <meta property="og:description" content="CNVS (pronounced 'Canvas') is a system of user interface elements and components for use across Mesosphere sites and products. CNVS defines stylistic guidelines for the design and structure of digital interfaces in an effort to ensure consistency in brand and interaction.">
  <meta property="og:url" content="ashenden.github.com/canvas">
  <meta property="og:site_name" content="Button Groups &bull; CNVS">
  <meta property="og:image" content="">

  <meta name="twitter:card" content="site">
  <meta name="twitter:site" content="">
  <meta name="twitter:domain" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image:src" content="">

  <!-- =================================================
  END: OG Tags
  ================================================== -->

  <!-- =================================================
  BEGIN: Stylesheets
  ================================================== -->

  <link rel="stylesheet" href="/cnvs/styles/styles.css">

  <!-- =================================================
  END: Stylesheets
  ================================================== -->

  <!-- =================================================
  BEGIN: Javascripts
  ================================================== -->

  <script type="text/javascript" src="/cnvs/javascripts/vendor/jquery-2.2.0.min.js"></script>
  <!-- <script type="text/javascript" src="/cnvs/javascripts/vendor/modernizr-custom.min.js"></script> -->
  <!-- <script type="text/javascript" src="/cnvs/javascripts/vendor/bootstrap.min.js"></script> -->
  <!-- <script type="text/javascript" src="/cnvs/javascripts/vendor/bootstrap/modal.js"></script> -->
  <script type="text/javascript" src="/cnvs/javascripts/vendor/google-code-prettify/prettify.js"></script>
  <script type="text/javascript" src="/cnvs/javascripts/vendor/jquery.sticky-kit.min.js"></script>
  <!-- <script type="text/javascript" src="/cnvs/javascripts/vendor/waypoints/jquery.waypoints.min.js"></script> -->
  <!-- <script type="text/javascript" src="/cnvs/javascripts/vendor/waypoints/shortcuts/sticky.min.js"></script> -->
  <script type="text/javascript" src="/cnvs/javascripts/vendor/malihu-custom-scrollbar-plugin-master/jquery.mousewheel-3.0.6.min.js"></script>
  <script type="text/javascript" src="/cnvs/javascripts/vendor/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.js"></script>
  <script type="text/javascript" src="/cnvs/javascripts/vendor/imsky-holder-8220898/holder.min.js"></script>
  <link rel="stylesheet" href="/cnvs/javascripts/vendor/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.css">

  <!-- =================================================
  END: Javascripts
  ================================================== -->

</head>

<!-- =================================================
END: Head
================================================== -->


  <!-- =================================================
  BEGIN: Body
  ================================================== -->

  <body>

    <!-- BEGIN: Livereload -->

<!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->

<!-- END: Livereload -->

<!-- =================================================
BEGIN: Icon SVG Definitions
================================================== -->

<svg xmlns="http://www.w3.org/2000/svg" style="visibility: hidden; position: absolute; top: 0; left: 0;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

  <symbol id="icons-square" viewBox="0 0 16 16">
    <rect sketch:type="MSShapeGroup" x="0" y="0" width="16" height="16"></rect>
  </symbol>

</svg>

<!-- =================================================
END: Icon SVG Definitions
================================================== -->



    <!-- =================================================
    BEGIN: Canvas
    ================================================== -->

    <div class="canvas  flex flex-direction-top-to-bottom flex-direction-left-to-right-screen-medium">

      <!-- =================================================
BEGIN: Canvas Sidebar
================================================== -->

<div class="sidebar custom-scrollbar flex flex-direction-top-to-bottom flex-item-shrink-0">

  

<!-- =================================================
BEGIN: Header
================================================== -->

<header data-template="canvas-header" class="header fill ">

  <div class="header-inner">

    <div class="pod pod-narrow pod-short">

      <h1 class="header-logo">

        <a href="/cnvs/" rel="nofollow">

          <span>

            CNVS

          </span>

        </a>

      </h1>

    </div>

  </div>

</header>

<!-- =================================================
END: Header
================================================== -->


  <!-- =================================================
BEGIN: Navigation
================================================== -->

<nav class="navigation fill">

  <div class="navigation-inner">

    <div class="container-fluid-narrow pod pod-narrow flush-top flush-bottom">

      

<ul class="sidebar-menu list-unstyled">

  

    <li class=" ">

      <a href="/cnvs/" class="">

        Overview

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/layout/" class="">

        Layout

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/content/" class="">

        Content

      </a>

      

    </li>

  

    <li class="open ">

      <a href="/cnvs/components/" class="">

        Components

      </a>

      

        

<ul class="sidebar-menu list-unstyled">

  

    <li class=" ">

      <a href="/cnvs/components/badges/" class="">

        Badges

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/buttons/" class="">

        Buttons

      </a>

      

    </li>

  

    <li class=" selected">

      <a href="/cnvs/components/button-groups/" class="">

        Button Groups

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/button-collection/" class="">

        Button Collection

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/forms/" class="">

        Forms

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/dropdowns/" class="">

        Dropdowns

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/icons/" class="">

        Icons

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/panels/" class="">

        Panels

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/messages/" class="">

        Messages

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/modals/" class="">

        Modals

      </a>

      

    </li>

  

</ul>


      

    </li>

  

    <li class=" ">

      <a href="/cnvs/updates/" class="">

        Updates

      </a>

      

    </li>

  

</ul>


    </div>

  </div>

</nav>

<!-- =================================================
END: Navigation
================================================== -->


</div>

<!-- =================================================
BEGIN: Canvas Sidebar
================================================== -->


      <!-- =================================================
      BEGIN: Page
      ================================================== -->

      <div class="page flex-item-grow-1">

        









<!-- =================================================
BEGIN: Page Header
================================================== -->

<div class="page-header fill fill-light left">

  

  <div class="page-header-inner">

    <div class="container-fluid pod pod-short">

      <div class="row">

        <div class="column-small-8 column-medium-8 column-large-10">

          <!-- BEGIN: Page Header Title -->

          <h1 class="page-header-title invisible ">

            <?php

            echo $page_header_title;

            ?>

          </h1>

          <!-- END: Page Header Title -->

          

            <!-- BEGIN: Page Header Headline -->

            <div class="row">

              <div class="column-small-12 column-jumbo-10">

                

                  <p class="h6 page-header-subheadline flush  text-align-left ">

                    

                      <a href="/components/">

                    

                    Components

                    

                      </a>

                    

                  </p>

                

                <p class="h1 page-header-headline flush-top  text-align-left  flush-bottom">

                  Button Groups

                </p>

              </div>

            </div>

            <!-- END: Page Header Headline -->

          

          

          

        </div>

      </div>

    </div>

  </div>

</div>

<!-- =================================================
END: Page Header
================================================== -->


        <!-- =================================================
        BEGIN: Page Content Wrapper
        ================================================== -->

        <div class="page-content-wrapper flex flex-direction-top-to-bottom flex-direction-left-to-right-screen-large">

          

            <!-- =================================================
BEGIN: Page Navigation
================================================== -->
<!-- flex-screen-large  -->
<div class="page-navigation flex-item-shrink-0-screen-large flex-item-order-1-screen-large" id="page-navigation">

  <div class="page-navigation-sticky">

    <div class="container-fluid pod">

      <ul class="page-navigation-menu list-unstyled">

  

    <li class="">

      <a href="#button-group-styles" class="">

        Styled Button Group

      </a>

      

    </li>

  

</ul>


    </div>

  </div>

</div>

<!-- =================================================
END: Page Navigation
================================================== -->


          

          <!-- =================================================
          BEGIN: Page Content
          ================================================== -->

          <div class="page-content flex flex-direction-top-to-bottom flex-item-grow-1">

            <!-- =================================================
BEGIN: Button Groups
================================================== -->

<section class="fill" id="button-group">

  <div class="container-fluid pod">

    <p>

      Group a series of buttons together on a single line with the button group. Add on optional JavaScript radio and checkbox style behavior with our buttons plugin.

    </p>

    <!-- =================================================
    BEGIN: Example
    ================================================== -->

    <div class="panel flush-bottom">

      <div class="panel-cell">

        <div class="button-collection">

          <div class="button-group" role="group">

            <button type="button" class="button active">

              Left

            </button>

            <button type="button" class="button">

              Middle

            </button>

            <button type="button" class="button">

              Right

            </button>

          </div>

        </div>

        <div class="button-collection">

          <div class="button-group" role="group">

            <button type="button" class="button button-primary active">

              Left

            </button>

            <button type="button" class="button button-primary">

              Middle

            </button>

            <button type="button" class="button button-primary">

              Right

            </button>

          </div>

        </div>

        <div class="button-collection">

          <div class="button-group" role="group">

            <button type="button" class="button button-success active">

              Left

            </button>

            <button type="button" class="button button-success">

              Middle

            </button>

            <button type="button" class="button button-success">

              Right

            </button>

          </div>

        </div>

        <div class="button-collection">

          <div class="button-group" role="group">

            <button type="button" class="button button-warning active">

              Left

            </button>

            <button type="button" class="button button-warning">

              Middle

            </button>

            <button type="button" class="button button-warning">

              Right

            </button>

          </div>

        </div>

        <div class="button-collection flush-bottom">

          <div class="button-group" role="group">

            <button type="button" class="button button-danger active">

              Left

            </button>

            <button type="button" class="button button-danger">

              Middle

            </button>

            <button type="button" class="button button-danger">

              Right

            </button>

          </div>

        </div>

      </div>

      <div class="panel-cell panel-cell-light panel-cell-code-block">

<pre class="prettyprint transparent flush lang-html">
&lt;div class="button-group" role="group"&gt;
  &lt;button type="button" class="button button-default"&gt;
    Left
  &lt;/button&gt;
  &lt;button type="button" class="button button-default"&gt;
    Middle
  &lt;/button&gt;
  &lt;button type="button" class="button button-default"&gt;
    Right
  &lt;/button&gt;
&lt;/div&gt;
</pre>

      </div>

    </div>

    <!-- =================================================
    END: Example
    ================================================== -->

    <!-- =================================================
    BEGIN: Button Group Styles
    ================================================== -->

    <section id="button-group-styles">

      <h2>

        Styled Button Groups

      </h2>

      <p>

        Button groups work with all supported button styles.  Add <code>.button-*-outline</code> or any other included button style class to your button element.  You can even combine styles.

      </p>

      <h3>

        Outlined Button Groups

      </h3>

      <!-- =================================================
      BEGIN: Example
      ================================================== -->

      <div class="panel flush-bottom">

        <div class="panel-cell">

          <div class="button-collection">

            <div class="button-group" role="group">

              <button type="button" class="button button-outline active">

                Left

              </button>

              <button type="button" class="button button-outline">

                Middle

              </button>

              <button type="button" class="button button-outline">

                Right

              </button>

            </div>

          </div>

          <div class="button-collection">

            <div class="button-group" role="group">

              <button type="button" class="button button-primary-outline active">

                Left

              </button>

              <button type="button" class="button button-primary-outline">

                Middle

              </button>

              <button type="button" class="button button-primary-outline">

                Right

              </button>

            </div>

          </div>

          <div class="button-collection">

            <div class="button-group" role="group">

              <button type="button" class="button button-success-outline active">

                Left

              </button>

              <button type="button" class="button button-success-outline">

                Middle

              </button>

              <button type="button" class="button button-success-outline">

                Right

              </button>

            </div>

          </div>

          <div class="button-collection">

            <div class="button-group" role="group">

              <button type="button" class="button button-warning-outline active">

                Left

              </button>

              <button type="button" class="button button-warning-outline">

                Middle

              </button>

              <button type="button" class="button button-warning-outline">

                Right

              </button>

            </div>

          </div>

          <div class="button-collection flush-bottom">

            <div class="button-group" role="group">

              <button type="button" class="button button-danger-outline active">

                Left

              </button>

              <button type="button" class="button button-danger-outline">

                Middle

              </button>

              <button type="button" class="button button-danger-outline">

                Right

              </button>

            </div>

          </div>

        </div>

        <div class="panel-cell panel-cell-light panel-cell-code-block">

<pre class="prettyprint transparent flush lang-html">
&lt;div class="button-group" role="group"&gt;
  &lt;button type="button" class="button button-outline active"&gt;
    Left
  &lt;/button&gt;
  &lt;button type="button" class="button button-outline"&gt;
    Middle
  &lt;/button&gt;
  &lt;button type="button" class="button button-outline"&gt;
    Right
  &lt;/button&gt;
&lt;/div&gt;
</pre>

        </div>

      </div>

      <!-- =================================================
      END: Example
      ================================================== -->

      <h3>

        Rounded Button Groups

      </h3>

      <!-- =================================================
      BEGIN: Example
      ================================================== -->

      <div class="panel flush-bottom">

        <div class="panel-cell">

          <div class="button-group" role="group">

            <button type="button" class="button button-rounded active">

              Left

            </button>

            <button type="button" class="button button-rounded">

              Middle

            </button>

            <button type="button" class="button button-rounded">

              Right

            </button>

          </div>

        </div>

        <div class="panel-cell panel-cell-light panel-cell-code-block">

<pre class="prettyprint transparent flush lang-html">
&lt;div class="button-group" role="group"&gt;
&lt;button type="button" class="button button-rounded active"&gt;
  Left
&lt;/button&gt;
&lt;button type="button" class="button button-rounded"&gt;
  Middle
&lt;/button&gt;
&lt;button type="button" class="button button-rounded"&gt;
  Right
&lt;/button&gt;
&lt;/div&gt;
</pre>

        </div>

      </div>

      <!-- =================================================
      END: Example
      ================================================== -->

      <h3>

        Combined Style Button Groups

      </h3>

      <!-- =================================================
      BEGIN: Example
      ================================================== -->

      <div class="panel flush-bottom">

        <div class="panel-cell">

          <div class="button-group" role="group">

            <button type="button" class="button button-outline button-rounded active">

              Left

            </button>

            <button type="button" class="button button-outline button-rounded">

              Middle

            </button>

            <button type="button" class="button button-outline button-rounded">

              Right

            </button>

          </div>

        </div>

        <div class="panel-cell panel-cell-light panel-cell-code-block">

<pre class="prettyprint transparent flush lang-html">
&lt;div class="button-group" role="group"&gt;
  &lt;button type="button" class="button button-outline button-rounded active"&gt;
    Left
  &lt;/button&gt;
  &lt;button type="button" class="button button-outline button-rounded"&gt;
    Middle
  &lt;/button&gt;
  &lt;button type="button" class="button button-outline button-rounded"&gt;
    Right
  &lt;/button&gt;
&lt;/div&gt;
</pre>

        </div>

      </div>

      <!-- =================================================
      END: Example
      ================================================== -->

      <h3>

        Inverse Styling

      </h3>

      <!-- =================================================
      BEGIN: Example
      ================================================== -->

      <div class="panel panel-inverse flush-bottom">

        <div class="panel-cell panel-cell-inverse">

          <div class="button-collection">

            <div class="button-group" role="group">

              <button type="button" class="button button-outline button-inverse active">

                Left

              </button>

              <button type="button" class="button button-outline button-inverse">

                Middle

              </button>

              <button type="button" class="button button-outline button-inverse">

                Right

              </button>

            </div>

          </div>

          <div class="button-collection">

            <div class="button-group" role="group">

              <button type="button" class="button button-primary-outline button-inverse active">

                Left

              </button>

              <button type="button" class="button button-primary-outline button-inverse">

                Middle

              </button>

              <button type="button" class="button button-primary-outline button-inverse">

                Right

              </button>

            </div>

          </div>

          <div class="button-collection">

            <div class="button-group" role="group">

              <button type="button" class="button button-success-outline button-inverse active">

                Left

              </button>

              <button type="button" class="button button-success-outline button-inverse">

                Middle

              </button>

              <button type="button" class="button button-success-outline button-inverse">

                Right

              </button>

            </div>

          </div>

          <div class="button-collection">

            <div class="button-group" role="group">

              <button type="button" class="button button-warning-outline button-inverse active">

                Left

              </button>

              <button type="button" class="button button-warning-outline button-inverse">

                Middle

              </button>

              <button type="button" class="button button-warning-outline button-inverse">

                Right

              </button>

            </div>

          </div>

          <div class="button-collection flush-bottom">

            <div class="button-group" role="group">

              <button type="button" class="button button-danger-outline button-inverse active">

                Left

              </button>

              <button type="button" class="button button-danger-outline button-inverse">

                Middle

              </button>

              <button type="button" class="button button-danger-outline button-inverse">

                Right

              </button>

            </div>

          </div>

        </div>

        <div class="panel-cell panel-cell-dark panel-cell-inverse panel-cell-code-block">

<pre class="prettyprint code-block-inverse transparent flush lang-html">
&lt;div class="button-group" role="group"&gt;
  &lt;button type="button" class="button button-outline button-inverse"&gt;
    Left
  &lt;/button&gt;
  &lt;button type="button" class="button button-outline button-inverse"&gt;
    Middle
  &lt;/button&gt;
  &lt;button type="button" class="button button-outline button-inverse"&gt;
    Right
  &lt;/button&gt;
&lt;/div&gt;
</pre>

        </div>

      </div>

      <!-- =================================================
      END: Example
      ================================================== -->

    </section>

    <!-- =================================================
    END: Button Group Styles
    ================================================== -->

  </div>

</section>

<!-- =================================================
END: Button Groups
================================================== -->


          </div>

          <!-- =================================================
          END: Page Content
          ================================================== -->

        </div>

        <!-- =================================================
        END: Page Content Wrapper
        ================================================== -->

      </div>

      <!-- =================================================
      END: Page
      ================================================== -->

      

      <!-- =================================================
BEGIN: Footer
================================================== -->

<footer class="footer fill fill-dark">

  <div class="footer-inner">

    <div class="container pod pod-short">

    </div>

  </div>

</footer>

<!-- =================================================
END: Footer
================================================== -->


    </div>

    <!-- =================================================
    END: Canvas
    ================================================== -->

    <!-- =================================================
BEGIN: Javascripts
================================================== -->

<script type="text/javascript" src="/cnvs/javascripts/scripts.min.js"></script>

<!-- =================================================
END: Javascripts
================================================== -->


  </body>

  <!-- =================================================
  END: Body
  ================================================== -->

</html>
