/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
form-control-small/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@form-control-small-enabled) {

  /* -----------------------------------------------------------------------------
  Form Control (.form-control-small)
  ----------------------------------------------------------------------------- */

  .form-control-small {

    .text-size-variant(form-control-small, null);
    .shape-layout-variant(form-control-small, null);

    & when not (@form-control-small-height = null) {

      height: @form-control-small-height;

    }

    & when not (@form-control-small-border-radius = null) {

      border-radius: @form-control-small-border-radius;

    }

    /* -----------------------------------------------------------------------------
    Form Control Rounded (.form-control-rounded)
    ----------------------------------------------------------------------------- */

    &.form-control-rounded {

      border-radius: 1000px;

      & when not (@form-control-small-rounded-padding-horizontal-scale = null) {

        & when not (@form-control-small-padding-left = null) {

          padding-left: @form-control-small-padding-left * @form-control-small-rounded-padding-horizontal-scale;

        }

        & when not (@form-control-small-padding-right = null) {

          padding-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale;

        }

      }

    }

  }

  /* -----------------------------------------------------------------------------
  Form Control Select (.form-control-select)
  ----------------------------------------------------------------------------- */

  .form-control-select.form-control-small {

    select {

      .text-size-variant(form-control-small, null);
      .shape-layout-variant(form-control-small, null);

      & when not (@form-control-small-height = null) {

        height: @form-control-small-height;

      }

    }

    // Caret

    &:after {

      & when not (@form-control-small-caret-width = null) {

        .triangle-size-width("down", @form-control-small-caret-width);

      }

      & when not (@form-control-small-caret-height = null) {

        .triangle-size-height("down", @form-control-small-caret-height);

      }

      & when not (@form-control-small-caret-margin-left = null) {

        margin-left: @form-control-small-caret-margin-left;

      }

      & when not (@form-control-small-caret-margin-top = null) {

        margin-top: @form-control-small-caret-margin-top;

      }

      & when not (@form-control-small-padding-right = null) {

        margin-right: @form-control-small-padding-right;

      }

    }

    /* -----------------------------------------------------------------------------
    Form Control Rounded (.form-control-rounded)
    ----------------------------------------------------------------------------- */

    &.form-control-rounded {

      select {

        & when not (@form-control-small-rounded-padding-horizontal-scale = null) {

          & when not (@form-control-small-padding-left = null) {

            padding-left: @form-control-small-padding-left * @form-control-small-rounded-padding-horizontal-scale;

          }

          & when not (@form-control-small-padding-right = null) {

            padding-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale;

          }

        }

      }

      // Caret

      &:after {

        & when not (@form-control-small-padding-right = null) {

          margin-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale;

        }

      }

    }

  }

  & when (@form-control-group-enabled) and not (@form-control-small-add-on-padding-horizontal = null) {

    /* -----------------------------------------------------------------------------
    Form Control Group
    ----------------------------------------------------------------------------- */

    .form-control-group {

      /* -----------------------------------------------------------------------------
      Nested Form Control
      ----------------------------------------------------------------------------- */

      &.form-control-small {

        .form-control-group-add-on {

          &:first-child {

            padding-right: @form-control-small-add-on-padding-horizontal;

          }

          &:last-child {

            padding-left: @form-control-small-add-on-padding-horizontal;

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-small-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Small (@layout-screen-small-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-small-min-width) {

    & when (@form-control-small-enabled) and (@form-control-small-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Form Control (.form-control-small)
      ----------------------------------------------------------------------------- */

      .form-control-small {

        .text-size-variant(form-control-small, scale-screen-small);
        .shape-layout-variant(form-control-small, scale-screen-small);

        & when not (@form-control-small-height = null) and not (@form-control-small-height-scale-screen-small = null) {

          height: @form-control-small-height * @form-control-small-height-scale-screen-small;

        }

        & when not (@form-control-small-border-radius = null) and not (@form-control-small-border-radius-scale-screen-small = null) {

          border-radius: @form-control-small-border-radius * @form-control-small-border-radius-scale-screen-small;

        }

        & when not (@form-control-small-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Form Control Rounded (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-small-padding-left = null) and not (@form-control-small-padding-left-scale-screen-small = null) {

              padding-left: @form-control-small-padding-left * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-left-scale-screen-small;

            }

            & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-small = null) {

              padding-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-small;

            }

          }

        }

      }

      /* -----------------------------------------------------------------------------
      Form Control Select (.form-control-select)
      ----------------------------------------------------------------------------- */

      .form-control-select.form-control-small {

        select {

          .text-size-variant(form-control-small, scale-screen-small);
          .shape-layout-variant(form-control-small, scale-screen-small);

          & when not (@form-control-small-height = null) and not (@form-control-small-height-scale-screen-small = null) {

            height: @form-control-small-height * @form-control-small-height-scale-screen-small;

          }

        }

        // Caret

        &:after {

          & when not (@form-control-small-caret-width = null) and not (@form-control-small-caret-width-scale-screen-small = null) {

            .triangle-size-width("down", (@form-control-small-caret-width * @form-control-small-caret-width-scale-screen-small));

          }

          & when not (@form-control-small-caret-height = null) and not (@form-control-small-caret-height-scale-screen-small = null) {

            .triangle-size-height("down", (@form-control-small-caret-height * @form-control-small-caret-height-scale-screen-small));

          }

          & when not (@form-control-small-caret-margin-left = null) and not (@form-control-small-caret-margin-left-scale-screen-small = null) {

            margin-left: @form-control-small-caret-margin-left * @form-control-small-caret-margin-left-scale-screen-small;

          }

          & when not (@form-control-small-caret-margin-top = null) and not (@form-control-small-caret-margin-top-scale-screen-small = null) {

            margin-top: @form-control-small-caret-margin-top * @form-control-small-caret-margin-top-scale-screen-small;

          }

          & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-small = null) {

            margin-right: @form-control-small-padding-right * @form-control-small-padding-right-scale-screen-small;

          }

        }

        & when not (@form-control-small-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Form Control Rounded (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-small-padding-left = null) and not (@form-control-small-padding-left-scale-screen-small = null) {

                padding-left: @form-control-small-padding-left * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-left-scale-screen-small;

              }

              & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-small = null) {

                padding-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-small;

              }

            }

            // Caret

            &:after {

              & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-small = null) {

                margin-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-small;

              }

            }

          }

        }

      }

      & when (@form-control-group-enabled) and not (@form-control-small-add-on-padding-horizontal = null) and not (@form-control-small-add-on-padding-horizontal-scale-screen-small = null) {

        /* -----------------------------------------------------------------------------
        Form Control Group
        ----------------------------------------------------------------------------- */

        .form-control-group {

          /* -----------------------------------------------------------------------------
          Nested Form Control
          ----------------------------------------------------------------------------- */

          &.form-control-small {

            .form-control-group-add-on {

              &:first-child {

                padding-right: @form-control-small-add-on-padding-horizontal * @form-control-small-add-on-padding-horizontal-scale-screen-small;

              }

              &:last-child {

                padding-left: @form-control-small-add-on-padding-horizontal * @form-control-small-add-on-padding-horizontal-scale-screen-small;

              }

            }

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-medium-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Medium (@layout-screen-medium-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-medium-min-width) {

    & when (@form-control-small-enabled) and (@form-control-small-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Form Control (.form-control-small)
      ----------------------------------------------------------------------------- */

      .form-control-small {

        .text-size-variant(form-control-small, scale-screen-medium);
        .shape-layout-variant(form-control-small, scale-screen-medium);

        & when not (@form-control-small-height = null) and not (@form-control-small-height-scale-screen-medium = null) {

          height: @form-control-small-height * @form-control-small-height-scale-screen-medium;

        }

        & when not (@form-control-small-border-radius = null) and not (@form-control-small-border-radius-scale-screen-medium = null) {

          border-radius: @form-control-small-border-radius * @form-control-small-border-radius-scale-screen-medium;

        }

        & when not (@form-control-small-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          .form-control-rounded
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-small-padding-left = null) and not (@form-control-small-padding-left-scale-screen-medium = null) {

              padding-left: @form-control-small-padding-left * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-left-scale-screen-medium;

            }

            & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-medium = null) {

              padding-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-medium;

            }

          }

        }

      }

      /* -----------------------------------------------------------------------------
      Form Control Select (.form-control-select)
      ----------------------------------------------------------------------------- */

      .form-control-select.form-control-small {

        select {

          .text-size-variant(form-control-small, scale-screen-medium);
          .shape-layout-variant(form-control-small, scale-screen-medium);

          & when not (@form-control-small-height = null) and not (@form-control-small-height-scale-screen-medium = null) {

            height: @form-control-small-height * @form-control-small-height-scale-screen-medium;

          }

        }

        // Caret

        &:after {

          & when not (@form-control-small-caret-width = null) and not (@form-control-small-caret-width-scale-screen-medium = null) {

            .triangle-size-width("down", (@form-control-small-caret-width * @form-control-small-caret-width-scale-screen-medium));

          }

          & when not (@form-control-small-caret-height = null) and not (@form-control-small-caret-height-scale-screen-medium = null) {

            .triangle-size-height("down", (@form-control-small-caret-height * @form-control-small-caret-height-scale-screen-medium));

          }

          & when not (@form-control-small-caret-margin-left = null) and not (@form-control-small-caret-margin-left-scale-screen-medium = null) {

            margin-left: @form-control-small-caret-margin-left * @form-control-small-caret-margin-left-scale-screen-medium;

          }

          & when not (@form-control-small-caret-margin-top = null) and not (@form-control-small-caret-margin-top-scale-screen-medium = null) {

            margin-top: @form-control-small-caret-margin-top * @form-control-small-caret-margin-top-scale-screen-medium;

          }

          & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-medium = null) {

            margin-right: @form-control-small-padding-right * @form-control-small-padding-right-scale-screen-medium;

          }

        }

        & when not (@form-control-small-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Form Control Rounded (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-small-padding-left = null) and not (@form-control-small-padding-left-scale-screen-medium = null) {

                padding-left: @form-control-small-padding-left * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-left-scale-screen-medium;

              }

              & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-medium = null) {

                padding-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-medium;

              }

            }

            // Caret

            &:after {

              & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-medium = null) {

                margin-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-medium;

              }

            }

          }

        }

      }

      & when (@form-control-group-enabled) and not (@form-control-small-add-on-padding-horizontal = null) and not (@form-control-small-add-on-padding-horizontal-scale-screen-medium = null) {

        /* -----------------------------------------------------------------------------
        Form Control Group
        ----------------------------------------------------------------------------- */

        .form-control-group {

          /* -----------------------------------------------------------------------------
          Nested Form Control
          ----------------------------------------------------------------------------- */

          &.form-control-small {

            .form-control-group-add-on {

              &:first-child {

                padding-right: @form-control-small-add-on-padding-horizontal * @form-control-small-add-on-padding-horizontal-scale-screen-medium;

              }

              &:last-child {

                padding-left: @form-control-small-add-on-padding-horizontal * @form-control-small-add-on-padding-horizontal-scale-screen-medium;

              }

            }

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-large-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Large (@layout-screen-large-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-large-min-width) {

    & when (@form-control-small-enabled) and (@form-control-small-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Form Control (.form-control-small)
      ----------------------------------------------------------------------------- */

      .form-control-small {

        .text-size-variant(form-control-small, scale-screen-large);
        .shape-layout-variant(form-control-small, scale-screen-large);

        & when not (@form-control-small-height = null) and not (@form-control-small-height-scale-screen-large = null) {

          height: @form-control-small-height * @form-control-small-height-scale-screen-large;

        }

        & when not (@form-control-small-border-radius = null) and not (@form-control-small-border-radius-scale-screen-large = null) {

          border-radius: @form-control-small-border-radius * @form-control-small-border-radius-scale-screen-large;

        }

        & when not (@form-control-small-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Form Control Rounded (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-small-padding-left = null) and not (@form-control-small-padding-left-scale-screen-large = null) {

              padding-left: @form-control-small-padding-left * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-left-scale-screen-large;

            }

            & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-large = null) {

              padding-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-large;

            }

          }

        }

      }

      /* -----------------------------------------------------------------------------
      Form Control Select (.form-control-select)
      ----------------------------------------------------------------------------- */

      .form-control-select.form-control-small {

        select {

          .text-size-variant(form-control-small, scale-screen-large);
          .shape-layout-variant(form-control-small, scale-screen-large);

          & when not (@form-control-small-height = null) and not (@form-control-small-height-scale-screen-large = null) {

            height: @form-control-small-height * @form-control-small-height-scale-screen-large;

          }

        }

        // Caret

        &:after {

          & when not (@form-control-small-caret-width = null) and not (@form-control-small-caret-width-scale-screen-large = null) {

            .triangle-size-width("down", (@form-control-small-caret-width * @form-control-small-caret-width-scale-screen-large));

          }

          & when not (@form-control-small-caret-height = null) and not (@form-control-small-caret-height-scale-screen-large = null) {

            .triangle-size-height("down", (@form-control-small-caret-height * @form-control-small-caret-height-scale-screen-large));

          }

          & when not (@form-control-small-caret-margin-left = null) and not (@form-control-small-caret-margin-left-scale-screen-large = null) {

            margin-left: @form-control-small-caret-margin-left * @form-control-small-caret-margin-left-scale-screen-large;

          }

          & when not (@form-control-small-caret-margin-top = null) and not (@form-control-small-caret-margin-top-scale-screen-large = null) {

            margin-top: @form-control-small-caret-margin-top * @form-control-small-caret-margin-top-scale-screen-large;

          }

          & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-large = null) {

            margin-right: @form-control-small-padding-right * @form-control-small-padding-right-scale-screen-large;

          }

        }

        & when not (@form-control-small-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Form Control Rounded (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-small-padding-left = null) and not (@form-control-small-padding-left-scale-screen-large = null) {

                padding-left: @form-control-small-padding-left * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-left-scale-screen-large;

              }

              & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-large = null) {

                padding-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-large;

              }

            }

            // Caret

            &:after {

              & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-large = null) {

                margin-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-large;

              }

            }

          }

        }

      }

      & when (@form-control-group-enabled) and not (@form-control-small-add-on-padding-horizontal = null) and not (@form-control-small-add-on-padding-horizontal-scale-screen-large = null) {

        /* -----------------------------------------------------------------------------
        Form Control Group
        ----------------------------------------------------------------------------- */

        .form-control-group {

          /* -----------------------------------------------------------------------------
          Nested Form Control
          ----------------------------------------------------------------------------- */

          &.form-control-small {

            .form-control-group-add-on {

              &:first-child {

                padding-right: @form-control-small-add-on-padding-horizontal * @form-control-small-add-on-padding-horizontal-scale-screen-large;

              }

              &:last-child {

                padding-left: @form-control-small-add-on-padding-horizontal * @form-control-small-add-on-padding-horizontal-scale-screen-large;

              }

            }

          }

        }

      }

    }

  }

}



& when (@layout-scale-screen-jumbo-enabled) {

  /* -----------------------------------------------------------------------------
  Screen Size: Jumbo (@layout-screen-jumbo-min-width) and wider
  ----------------------------------------------------------------------------- */

  @media (min-width: @layout-screen-jumbo-min-width) {

    & when (@form-control-small-enabled) and (@form-control-small-scale-screen-jumbo-enabled) {

      /* -----------------------------------------------------------------------------
      Form Control (.form-control-small)
      ----------------------------------------------------------------------------- */

      .form-control-small {

        .text-size-variant(form-control-small, scale-screen-jumbo);
        .shape-layout-variant(form-control-small, scale-screen-jumbo);

        & when not (@form-control-small-height = null) and not (@form-control-small-height-scale-screen-jumbo = null) {

          height: @form-control-small-height * @form-control-small-height-scale-screen-jumbo;

        }

        & when not (@form-control-small-border-radius = null) and not (@form-control-small-border-radius-scale-screen-jumbo = null) {

          border-radius: @form-control-small-border-radius * @form-control-small-border-radius-scale-screen-jumbo;

        }

        & when not (@form-control-small-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Form Control Rounded (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            & when not (@form-control-small-padding-left = null) and not (@form-control-small-padding-left-scale-screen-jumbo = null) {

              padding-left: @form-control-small-padding-left * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-left-scale-screen-jumbo;

            }

            & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-jumbo = null) {

              padding-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-jumbo;

            }

          }

        }

      }

      /* -----------------------------------------------------------------------------
      Form Control Select (.form-control-select)
      ----------------------------------------------------------------------------- */

      .form-control-select.form-control-small {

        select {

          .text-size-variant(form-control-small, scale-screen-jumbo);
          .shape-layout-variant(form-control-small, scale-screen-jumbo);

          & when not (@form-control-small-height = null) and not (@form-control-small-height-scale-screen-jumbo = null) {

            height: @form-control-small-height * @form-control-small-height-scale-screen-jumbo;

          }

        }

        // Caret

        &:after {

          & when not (@form-control-small-caret-width = null) and not (@form-control-small-caret-width-scale-screen-jumbo = null) {

            .triangle-size-width("down", (@form-control-small-caret-width * @form-control-small-caret-width-scale-screen-jumbo));

          }

          & when not (@form-control-small-caret-height = null) and not (@form-control-small-caret-height-scale-screen-jumbo = null) {

            .triangle-size-height("down", (@form-control-small-caret-height * @form-control-small-caret-height-scale-screen-jumbo));

          }

          & when not (@form-control-small-caret-margin-left = null) and not (@form-control-small-caret-margin-left-scale-screen-jumbo = null) {

            margin-left: @form-control-small-caret-margin-left * @form-control-small-caret-margin-left-scale-screen-jumbo;

          }

          & when not (@form-control-small-caret-margin-top = null) and not (@form-control-small-caret-margin-top-scale-screen-jumbo = null) {

            margin-top: @form-control-small-caret-margin-top * @form-control-small-caret-margin-top-scale-screen-jumbo;

          }

          & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-jumbo = null) {

            margin-right: @form-control-small-padding-right * @form-control-small-padding-right-scale-screen-jumbo;

          }

        }

        & when not (@form-control-small-rounded-padding-horizontal-scale = null) {

          /* -----------------------------------------------------------------------------
          Form Control Rounded (.form-control-rounded)
          ----------------------------------------------------------------------------- */

          &.form-control-rounded {

            select {

              & when not (@form-control-small-padding-left = null) and not (@form-control-small-padding-left-scale-screen-jumbo = null) {

                padding-left: @form-control-small-padding-left * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-left-scale-screen-jumbo;

              }

              & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-jumbo = null) {

                padding-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-jumbo;

              }

            }

            // Caret

            &:after {

              & when not (@form-control-small-padding-right = null) and not (@form-control-small-padding-right-scale-screen-jumbo = null) {

                margin-right: @form-control-small-padding-right * @form-control-small-rounded-padding-horizontal-scale * @form-control-small-padding-right-scale-screen-jumbo;

              }

            }

          }

        }

      }

      & when (@form-control-group-enabled) and not (@form-control-small-add-on-padding-horizontal = null) and not (@form-control-small-add-on-padding-horizontal-scale-screen-jumbo = null) {

        /* -----------------------------------------------------------------------------
        Form Control Group
        ----------------------------------------------------------------------------- */

        .form-control-group {

          /* -----------------------------------------------------------------------------
          Nested Form Control
          ----------------------------------------------------------------------------- */

          &.form-control-small {

            .form-control-group-add-on {

              &:first-child {

                padding-right: @form-control-small-add-on-padding-horizontal * @form-control-small-add-on-padding-horizontal-scale-screen-jumbo;

              }

              &:last-child {

                padding-left: @form-control-small-add-on-padding-horizontal * @form-control-small-add-on-padding-horizontal-scale-screen-jumbo;

              }

            }

          }

        }

      }

    }

  }

}
