@message-enabled: true;

/*
 * Responsive Scaling
 */

@message-screen-small-enabled: true;
@message-screen-medium-enabled: true;
@message-screen-large-enabled: true;
@message-screen-jumbo-enabled: true;
