<!doctype html>

<!--[if lt IE 7]>

  <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">

<![endif]-->

<!--[if (IE 7)&!(IEMobile)]>

  <html lang="en" class="no-js lt-ie9 lt-ie8">

<![endif]-->

<!--[if (IE 8)&!(IEMobile)]>

  <html lang="en" class="no-js lt-ie9">

<![endif]-->

<!--[if gt IE 8]><!-->

  <html lang="en" class="no-js">

<!--<![endif]-->

  <!-- =================================================
BEGIN: Head
================================================== -->

<head>

  <!-- =================================================
  BEGIN: Standard Tags
  ================================================== -->

  <title>

    

      CNVS &bull; Dropdowns

    

  </title>

  

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <html prefix="og: http://ogp.me/ns#">
  <meta name="title" content ="Dropdowns &bull; CNVS">
  <meta name="description" content="CNVS (pronounced 'Canvas') is a system of user interface elements and components for use across Mesosphere sites and products. CNVS defines stylistic guidelines for the design and structure of digital interfaces in an effort to ensure consistency in brand and interaction.">
  <meta name="keywords" content="">
  <meta name="googlebot" content="all">
  <link rel="canonical" href="http://yourdomain.com/cnvs/components/dropdowns/">
  <link rel="alternate" type="application/rss+xml" title="CNVS" href="http://yourdomain.com/cnvs/feed.xml" />

  <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  <![endif]-->

  <!-- =================================================
  END: Standard Tags
  ================================================== -->

  <!-- =================================================
  BEGIN: Mobile Tags
  ================================================== -->

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

  <!-- =================================================
  END: Mobile Tags
  ================================================== -->

  <!-- =================================================
  BEGIN: Icons
  ================================================== -->

  <!-- BEGIN: FAV ICON -->

  <link rel="icon" href="/cnvs/images/components/icons/favicon.ico">

  <!--[if IE]>

    <link rel="icon shortcut" href="/cnvs/images/components/icons/favicon.ico">

  <![endif]-->

  <!-- END: FAV ICON -->

  <!-- =================================================
  END: Icons
  ================================================== -->

  <!-- =================================================
  BEGIN: OG Tags
  ================================================== -->

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Dropdowns &bull; CNVS">
  <meta property="og:description" content="CNVS (pronounced 'Canvas') is a system of user interface elements and components for use across Mesosphere sites and products. CNVS defines stylistic guidelines for the design and structure of digital interfaces in an effort to ensure consistency in brand and interaction.">
  <meta property="og:url" content="ashenden.github.com/canvas">
  <meta property="og:site_name" content="Dropdowns &bull; CNVS">
  <meta property="og:image" content="">

  <meta name="twitter:card" content="site">
  <meta name="twitter:site" content="">
  <meta name="twitter:domain" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image:src" content="">

  <!-- =================================================
  END: OG Tags
  ================================================== -->

  <!-- =================================================
  BEGIN: Stylesheets
  ================================================== -->

  <link rel="stylesheet" href="/cnvs/styles/styles.css">

  <!-- =================================================
  END: Stylesheets
  ================================================== -->

  <!-- =================================================
  BEGIN: Javascripts
  ================================================== -->

  <script type="text/javascript" src="/cnvs/javascripts/vendor/jquery-2.2.0.min.js"></script>
  <!-- <script type="text/javascript" src="/cnvs/javascripts/vendor/modernizr-custom.min.js"></script> -->
  <!-- <script type="text/javascript" src="/cnvs/javascripts/vendor/bootstrap.min.js"></script> -->
  <!-- <script type="text/javascript" src="/cnvs/javascripts/vendor/bootstrap/modal.js"></script> -->
  <script type="text/javascript" src="/cnvs/javascripts/vendor/google-code-prettify/prettify.js"></script>
  <script type="text/javascript" src="/cnvs/javascripts/vendor/jquery.sticky-kit.min.js"></script>
  <!-- <script type="text/javascript" src="/cnvs/javascripts/vendor/waypoints/jquery.waypoints.min.js"></script> -->
  <!-- <script type="text/javascript" src="/cnvs/javascripts/vendor/waypoints/shortcuts/sticky.min.js"></script> -->
  <script type="text/javascript" src="/cnvs/javascripts/vendor/malihu-custom-scrollbar-plugin-master/jquery.mousewheel-3.0.6.min.js"></script>
  <script type="text/javascript" src="/cnvs/javascripts/vendor/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.js"></script>
  <script type="text/javascript" src="/cnvs/javascripts/vendor/imsky-holder-8220898/holder.min.js"></script>
  <link rel="stylesheet" href="/cnvs/javascripts/vendor/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.css">

  <!-- =================================================
  END: Javascripts
  ================================================== -->

</head>

<!-- =================================================
END: Head
================================================== -->


  <!-- =================================================
  BEGIN: Body
  ================================================== -->

  <body>

    <!-- BEGIN: Livereload -->

<!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->

<!-- END: Livereload -->

<!-- =================================================
BEGIN: Icon SVG Definitions
================================================== -->

<svg xmlns="http://www.w3.org/2000/svg" style="visibility: hidden; position: absolute; top: 0; left: 0;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

  <symbol id="icons-square" viewBox="0 0 16 16">
    <rect sketch:type="MSShapeGroup" x="0" y="0" width="16" height="16"></rect>
  </symbol>

</svg>

<!-- =================================================
END: Icon SVG Definitions
================================================== -->



    <!-- =================================================
    BEGIN: Canvas
    ================================================== -->

    <div class="canvas  flex flex-direction-top-to-bottom flex-direction-left-to-right-screen-medium">

      <!-- =================================================
BEGIN: Canvas Sidebar
================================================== -->

<div class="sidebar custom-scrollbar flex flex-direction-top-to-bottom flex-item-shrink-0">

  

<!-- =================================================
BEGIN: Header
================================================== -->

<header data-template="canvas-header" class="header fill ">

  <div class="header-inner">

    <div class="pod pod-narrow pod-short">

      <h1 class="header-logo">

        <a href="/cnvs/" rel="nofollow">

          <span>

            CNVS

          </span>

        </a>

      </h1>

    </div>

  </div>

</header>

<!-- =================================================
END: Header
================================================== -->


  <!-- =================================================
BEGIN: Navigation
================================================== -->

<nav class="navigation fill">

  <div class="navigation-inner">

    <div class="container-fluid-narrow pod pod-narrow flush-top flush-bottom">

      

<ul class="sidebar-menu list-unstyled">

  

    <li class=" ">

      <a href="/cnvs/" class="">

        Overview

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/layout/" class="">

        Layout

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/content/" class="">

        Content

      </a>

      

    </li>

  

    <li class="open ">

      <a href="/cnvs/components/" class="">

        Components

      </a>

      

        

<ul class="sidebar-menu list-unstyled">

  

    <li class=" ">

      <a href="/cnvs/components/badges/" class="">

        Badges

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/buttons/" class="">

        Buttons

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/button-groups/" class="">

        Button Groups

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/button-collection/" class="">

        Button Collection

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/forms/" class="">

        Forms

      </a>

      

    </li>

  

    <li class=" selected">

      <a href="/cnvs/components/dropdowns/" class="">

        Dropdowns

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/icons/" class="">

        Icons

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/panels/" class="">

        Panels

      </a>

      

    </li>

  

    <li class=" ">

      <a href="/cnvs/components/modals/" class="">

        Modals

      </a>

      

    </li>

  

</ul>


      

    </li>

  

    <li class=" ">

      <a href="/cnvs/updates/" class="">

        Updates

      </a>

      

    </li>

  

</ul>


    </div>

  </div>

</nav>

<!-- =================================================
END: Navigation
================================================== -->


</div>

<!-- =================================================
BEGIN: Canvas Sidebar
================================================== -->


      <!-- =================================================
      BEGIN: Page
      ================================================== -->

      <div class="page flex-item-grow-1">

        









<!-- =================================================
BEGIN: Page Header
================================================== -->

<div class="page-header fill fill-light left">

  

  <div class="page-header-inner">

    <div class="container-fluid pod pod-short">

      <div class="row">

        <div class="column-small-8 column-medium-8 column-large-10">

          <!-- BEGIN: Page Header Title -->

          <h1 class="page-header-title invisible ">

            <?php

            echo $page_header_title;

            ?>

          </h1>

          <!-- END: Page Header Title -->

          

            <!-- BEGIN: Page Header Headline -->

            <div class="row">

              <div class="column-small-12 column-jumbo-10">

                

                  <p class="h6 page-header-subheadline flush  text-align-left ">

                    

                      <a href="/components/">

                    

                    Components

                    

                      </a>

                    

                  </p>

                

                <p class="h1 page-header-headline flush-top  text-align-left  flush-bottom">

                  Dropdowns

                </p>

              </div>

            </div>

            <!-- END: Page Header Headline -->

          

          

          

        </div>

      </div>

    </div>

  </div>

</div>

<!-- =================================================
END: Page Header
================================================== -->


        <!-- =================================================
        BEGIN: Page Content Wrapper
        ================================================== -->

        <div class="page-content-wrapper flex flex-direction-top-to-bottom flex-direction-left-to-right-screen-large">

          

            <!-- =================================================
BEGIN: Page Navigation
================================================== -->
<!-- flex-screen-large  -->
<div class="page-navigation flex-item-shrink-0-screen-large flex-item-order-1-screen-large" id="page-navigation">

  <div class="page-navigation-sticky">

    <div class="container-fluid pod">

      <ul class="page-navigation-menu list-unstyled">

  

    <li class="">

      <a href="#dropdowns-alignment" class="">

        Alignment

      </a>

      

    </li>

  

    <li class="">

      <a href="#dropdowns-headers" class="">

        Headers

      </a>

      

    </li>

  

    <li class="">

      <a href="#dropdowns-dividers" class="">

        Dividers

      </a>

      

    </li>

  

    <li class="">

      <a href="#dropdowns-menu-list-states" class="">

        Dropdown Menu List States

      </a>

      

    </li>

  

    <li class="">

      <a href="#dropdowns-menu-inverted" class="">

        Dropdown Menu Inverted

      </a>

      

    </li>

  

</ul>


    </div>

  </div>

</div>

<!-- =================================================
END: Page Navigation
================================================== -->


          

          <!-- =================================================
          BEGIN: Page Content
          ================================================== -->

          <div class="page-content flex flex-direction-top-to-bottom flex-item-grow-1">

            <!-- =================================================
BEGIN: Dropdowns
================================================== -->

<section class="fill" id="dropdowns">

  <div class="fill">

    <div class="container-fluid pod">

      <p>

        Toggleable, contextual menu for displaying lists of links. Made interactive with the <a href="http://getbootstrap.com/javascript/#dropdowns" target="_blank">Bootstrap JavaScript Plugin</a>.

      </p>

      <h3>

        Example

      </h3>

      <p>

        Wrap the dropdown's trigger and the dropdown menu within <code>.dropdown</code>, or another element that declares <code>position: relative;</code>. Then add the menu's HTML.

      </p>

      <!-- =================================================
      BEGIN: Example
      ================================================== -->

      <div class="panel flush-bottom">

        <div class="panel-cell">

          <div class="dropdown dropdown-open">

            <button type="button" class="button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

              Dropdown

            </button>

            <span class="dropdown-menu" role="menu">

              <ul class="dropdown-menu-list">

                <li>

                  <a href="#">

                    Action

                  </a>

                </li>

                <li>

                  <a href="#">

                    Another action

                  </a>

                </li>

                <li>

                  <a href="#">

                    Something else here

                  </a>

                </li>

              </ul>

            </span>

          </div>

        </div>

        <div class="panel-cell panel-cell-light panel-cell-code-block">

<pre class="prettyprint transparent flush lang-html">
&lt;div class="dropdown"&gt;
  &lt;button type="button" class="button dropdown-toggle" data-toggle="dropdown" aria-expanded="false"&gt;
    Dropdown
  &lt;/button&gt;
  &lt;span class="dropdown-menu" role="menu"&gt;
    &lt;ul class="dropdown-menu-list"&gt;
      &lt;li&gt;
        &lt;a href="#" role="menuitem" tabindex="-1"&gt;
          Action
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#" role="menuitem" tabindex="-1"&gt;
          Another action
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="#" role="menuitem" tabindex="-1"&gt;
          Something else here
        &lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/span&gt;
&lt;/div&gt;
</pre>

        </div>

      </div>

      <!-- =================================================
      END: Example
      ================================================== -->

      <!-- =================================================
BEGIN: Dropdown Alignment
================================================== -->

<section id="dropdowns-alignment">

  <h3>

    Alignment

  </h3>

  <p>

    By default, a dropdown menu is automatically positioned 100% from the top and along the left side of its parent. Add <code>.dropdown-menu-right</code> to a <code>.dropdown-menu</code> to right align the dropdown menu.

  </p>

  <!-- =================================================
  BEGIN: Example
  ================================================== -->

  <div class="panel flush-bottom">

    <div class="panel-cell">

      <div class="button-collection button-collection-align-vertical-center flush-bottom">

        <div class="dropdown dropdown-open">

          <button type="button" class="button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

            Dropdown

          </button>

          <span class="dropdown-menu dropdown-menu-right" role="menu">

            <ul class="dropdown-menu-list">

              <li>

                <a href="#">

                  Action

                </a>

              </li>

              <li>

                <a href="#">

                  Another action

                </a>

              </li>

              <li>

                <a href="#">

                  Something else here

                </a>

              </li>

            </ul>

          </span>

        </div>

      </div>

    </div>

    <div class="panel-cell panel-cell-light panel-cell-code-block">

<pre class="prettyprint transparent flush lang-html">
&lt;span class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel"&gt;
  &hellip;
&lt;/span&gt;
</pre>

    </div>

  </div>

  <!-- =================================================
  END: Example
  ================================================== -->

</section>

<!-- =================================================
END: Dropdown Alignment
================================================== -->

      <!-- =================================================
BEGIN: Dropdown Headers
================================================== -->

<section id="dropdowns-headers">

  <h3>

    Headers

  </h3>

  <p>

    Add a header by wrapping text in class <code>.dropdown-menu-header</code> to label sections of actions in any dropdown menu.

  </p>

  <!-- =================================================
  BEGIN: Example
  ================================================== -->

  <div class="panel flush-bottom">

    <div class="panel-cell">

      <div class="button-collection button-collection-align-vertical-center flush-bottom">

        <div class="dropdown dropdown-open">

          <button type="button" class="button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

            Dropdown

          </button>

          <span class="dropdown-menu" role="menu">

            <span class="dropdown-menu-header">

              Dropdown Header

            </span>

            <ul class="dropdown-menu-list">

              <li>

                <a href="#">

                  Action

                </a>

              </li>

              <li>

                <a href="#">

                  Another action

                </a>

              </li>

              <li>

                <a href="#">

                  Something else here

                </a>

              </li>

            </ul>

            <span class="dropdown-menu-header">

              Dropdown Header

            </span>

            <ul class="dropdown-menu-list">

              <li>

                <a href="#">

                  Seperated Link

                </a>

              </li>

            </ul>

          </span>

        </div>

      </div>

    </div>

    <div class="panel-cell panel-cell-light panel-cell-code-block">

<pre class="prettyprint transparent flush lang-html">
&lt;span class="dropdown-menu" role="menu"&gt;
  &lt;span class="dropdown-menu-header"&gt;
    Dropdown Header
  &lt;/span&gt;
  &lt;ul class="dropdown-menu-list"&gt;
    &lt;li&gt;
      &lt;a href="#" role="menuitem" tabindex="-1"&gt;
        Action
      &lt;/a&gt;
    &lt;/li&gt;
    &hellip;
  &lt;/ul&gt;
&lt;/span&gt;
</pre>

    </div>

  </div>

  <!-- =================================================
  END: Example
  ================================================== -->

</section>

<!-- =================================================
END: Dropdown Headers
================================================== -->

      <!-- =================================================
BEGIN: Dropdown Dividers
================================================== -->

<section id="dropdowns-dividers">

  <h3>

    Divider

  </h3>

  <p>
    Add a divider by using <code>&lt;span class=".dropdown-menu-divider"&gt;&lt;/span&gt;</code> to separate series of links in a dropdown menu.

  </p>

  <!-- =================================================
  BEGIN: Example
  ================================================== -->

  <div class="panel flush-bottom">

    <div class="panel-cell">

      <div class="button-collection button-collection-align-vertical-center flush-bottom">

        <div class="dropdown dropdown-open">

          <button type="button" class="button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

            Dropdown

          </button>

          <span class="dropdown-menu" role="menu">

            <ul class="dropdown-menu-list">

              <li>

                <a href="#">

                  Action

                </a>

              </li>

              <li>

                <a href="#">

                  Another action

                </a>

              </li>

              <li>

                <a href="#">

                  Something else here

                </a>

              </li>

            </ul>

            <span class="dropdown-menu-divider">
            </span>

            <ul class="dropdown-menu-list">

              <li>

                <a href="#">

                  Seperated Link

                </a>

              </li>

            </ul>

          </span>

        </div>

      </div>

    </div>

    <div class="panel-cell panel-cell-light panel-cell-code-block">

<pre class="prettyprint transparent flush lang-html">
&lt;span class="dropdown-menu" role="menu"&gt;
  &lt;span class="dropdown-menu-divider"&gt;
  &lt;/span&gt;
&lt;/span&gt;
</pre>

    </div>

  </div>

  <!-- =================================================
  END: Example
  ================================================== -->

</section>

<!-- =================================================
END: Dropdown Dividers
================================================== -->

      <!-- =================================================
BEGIN: Dropdown Menu List States
================================================== -->

<section id="dropdowns-menu-list-states">

  <h3>

    Dropdown Menu List States

  </h3>

  <p>

    Add class <code>.danger</code> or <code>.disabled</code> to a <code>&lt;li&gt;</code> in the dropdown menu list to change the implied state of the link.

  </p>

  <!-- =================================================
  BEGIN: Example
  ================================================== -->

  <div class="panel flush-bottom">

    <div class="panel-cell">

      <div class="button-collection button-collection-align-vertical-center flush-bottom">

        <div class="dropdown dropdown-open">

          <button type="button" class="button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

            Dropdown

          </button>

          <span class="dropdown-menu" role="menu">

            <ul class="dropdown-menu-list">

              <li>

                <a href="#">

                  Action

                </a>

              </li>

              <li class="disabled">

                <a href="#">

                  Another action

                </a>

              </li>

              <li>

                <a href="#">

                  Something else here

                </a>

              </li>

            </ul>

            <span class="dropdown-menu-divider">
            </span>

            <ul class="dropdown-menu-list">

              <li class="danger">

                <a href="#">

                  Danger Link

                </a>

              </li>

            </ul>

          </span>

        </div>

      </div>

    </div>

    <div class="panel-cell panel-cell-light panel-cell-code-block">

<pre class="prettyprint transparent flush lang-html">
&lt;span class="dropdown-menu" role="menu"&gt;
  &lt;ul class="dropdown-menu-list"&gt;
    &hellip;
    &lt;li class="disabled"&gt;
      &lt;a href="#"&gt;
        Another action
      &lt;/a&gt;
    &lt;/li&gt;
    &hellip;
    &lt;li class="danger"&gt;
      &lt;a href="#"&gt;
        Danger Link
      &lt;/a&gt;
    &lt;/li&gt;
    &hellip;
  &lt;/ul&gt;
&lt;/span&gt;
</pre>

    </div>

  </div>

  <!-- =================================================
  END: Example
  ================================================== -->

</section>

<!-- =================================================
END: Dropdown Menu List States
================================================== -->

      <!-- =================================================
BEGIN: Dropdown Menu Inverted
================================================== -->

<section id="dropdowns-menu-inverted">

  <h3>

    Dropdown Menu Inverted

  </h3>

  <p>

    Add class <code>.dropdown-menu-inverse</code> to a <code>.dropdown-menu</code> to inverted it's appearance.

  </p>

  <!-- =================================================
  BEGIN: Example
  ================================================== -->

  <div class="panel panel-inverse">

    <div class="panel-cell panel-cell-inverse">

      <div class="button-collection button-collection-align-vertical-center flush-bottom">

        <div class="dropdown dropdown-open">

          <button type="button" class="button dropdown-toggle button-inverse" data-toggle="dropdown" aria-expanded="false">

            Dropdown

          </button>

          <span class="dropdown-menu dropdown-menu-inverse" role="menu">

            <span class="dropdown-menu-header">

              Dropdown Header

            </span>

            <ul class="dropdown-menu-list">

              <li>

                <a href="#">

                  Action

                </a>

              </li>

              <li class="disabled">

                <a href="#">

                  Another action

                </a>

              </li>

              <li>

                <a href="#">

                  Something else here

                </a>

              </li>

            </ul>

            <span class="dropdown-menu-divider">
            </span>

            <ul class="dropdown-menu-list">

              <li class="danger">

                <a href="#">

                  Danger Link

                </a>

              </li>

            </ul>

          </span>

        </div>

      </div>

    </div>

    <div class="panel-cell panel-cell-dark panel-cell-inverse panel-cell-code-block">

<pre class="prettyprint code-block-inverse transparent flush lang-html">
&lt;span class="dropdown-menu dropdown-menu-inverse" role="menu"&gt;
  &hellip;
&lt;/span&gt;
</pre>

    </div>

  </div>

  <!-- =================================================
  END: Example
  ================================================== -->

</section>

<!-- =================================================
END: Dropdown Menu Inverted
================================================== -->


    </div>

  </div>

</section>

<!-- =================================================
END: Dropdowns
================================================== -->


          </div>

          <!-- =================================================
          END: Page Content
          ================================================== -->

        </div>

        <!-- =================================================
        END: Page Content Wrapper
        ================================================== -->

      </div>

      <!-- =================================================
      END: Page
      ================================================== -->

      

      <!-- =================================================
BEGIN: Footer
================================================== -->

<footer class="footer fill fill-dark">

  <div class="footer-inner">

    <div class="container pod pod-short">

    </div>

  </div>

</footer>

<!-- =================================================
END: Footer
================================================== -->


    </div>

    <!-- =================================================
    END: Canvas
    ================================================== -->

    <!-- =================================================
BEGIN: Javascripts
================================================== -->

<script type="text/javascript" src="/cnvs/javascripts/scripts.min.js"></script>

<!-- =================================================
END: Javascripts
================================================== -->


  </body>

  <!-- =================================================
  END: Body
  ================================================== -->

</html>
