/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

button-outline-inverse/variables.less

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@button-outline-inverse-enabled:                                                true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Default
----------------------------------------------------------------------------- */

// Normal

@button-outline-inverse-text-color:                                             @white;
@button-outline-inverse-text-font-family:                                       null;
@button-outline-inverse-text-font-style:                                        null;
@button-outline-inverse-text-font-weight:                                       null;
@button-outline-inverse-text-transform:                                         null;
@button-outline-inverse-text-shadow:                                            null;
@button-outline-inverse-text-decoration:                                        null;
@button-outline-inverse-text-rendering:                                         null;
@button-outline-inverse-background-color:                                       none;
@button-outline-inverse-background-gradient-color-top:                          null;
@button-outline-inverse-background-gradient-color-bottom:                       null;
@button-outline-inverse-border-width:                                           null;
@button-outline-inverse-border-color:                                           color-lighten(@neutral, 10);
@button-outline-inverse-border-style:                                           null;
@button-outline-inverse-border-top-width:                                       null;
@button-outline-inverse-border-top-color:                                       null;
@button-outline-inverse-border-top-style:                                       null;
@button-outline-inverse-border-right-width:                                     null;
@button-outline-inverse-border-right-color:                                     null;
@button-outline-inverse-border-right-style:                                     null;
@button-outline-inverse-border-bottom-width:                                    null;
@button-outline-inverse-border-bottom-color:                                    null;
@button-outline-inverse-border-bottom-style:                                    null;
@button-outline-inverse-border-left-width:                                      null;
@button-outline-inverse-border-left-color:                                      null;
@button-outline-inverse-border-left-style:                                      null;
@button-outline-inverse-shadow:                                                 null;

// Hover

@button-outline-inverse-hover-text-color:                                       @white;
@button-outline-inverse-hover-text-font-family:                                 null;
@button-outline-inverse-hover-text-font-style:                                  null;
@button-outline-inverse-hover-text-font-weight:                                 null;
@button-outline-inverse-hover-text-transform:                                   null;
@button-outline-inverse-hover-text-shadow:                                      null;
@button-outline-inverse-hover-text-decoration:                                  none;
@button-outline-inverse-hover-text-rendering:                                   null;
@button-outline-inverse-hover-background-color:                                 color-lighten(@neutral, 10);
@button-outline-inverse-hover-background-gradient-color-top:                    null;
@button-outline-inverse-hover-background-gradient-color-bottom:                 null;
@button-outline-inverse-hover-border-width:                                     null;
@button-outline-inverse-hover-border-color:                                     color-lighten(@neutral, 10);
@button-outline-inverse-hover-border-style:                                     null;
@button-outline-inverse-hover-border-top-width:                                 null;
@button-outline-inverse-hover-border-top-color:                                 null;
@button-outline-inverse-hover-border-top-style:                                 null;
@button-outline-inverse-hover-border-right-width:                               null;
@button-outline-inverse-hover-border-right-color:                               null;
@button-outline-inverse-hover-border-right-style:                               null;
@button-outline-inverse-hover-border-bottom-width:                              null;
@button-outline-inverse-hover-border-bottom-color:                              null;
@button-outline-inverse-hover-border-bottom-style:                              null;
@button-outline-inverse-hover-border-left-width:                                null;
@button-outline-inverse-hover-border-left-color:                                null;
@button-outline-inverse-hover-border-left-style:                                null;
@button-outline-inverse-hover-shadow:                                           null;

// Active

@button-outline-inverse-active-text-color:                                      @white;
@button-outline-inverse-active-text-font-family:                                null;
@button-outline-inverse-active-text-font-style:                                 null;
@button-outline-inverse-active-text-font-weight:                                null;
@button-outline-inverse-active-text-transform:                                  null;
@button-outline-inverse-active-text-shadow:                                     null;
@button-outline-inverse-active-text-decoration:                                 null;
@button-outline-inverse-active-text-rendering:                                  null;
@button-outline-inverse-active-background-color:                                color-lighten(@neutral, 0);
@button-outline-inverse-active-background-gradient-color-top:                   null;
@button-outline-inverse-active-background-gradient-color-bottom:                null;
@button-outline-inverse-active-border-width:                                    null;
@button-outline-inverse-active-border-color:                                    color-lighten(@neutral, 0);
@button-outline-inverse-active-border-style:                                    null;
@button-outline-inverse-active-border-top-width:                                null;
@button-outline-inverse-active-border-top-color:                                null;
@button-outline-inverse-active-border-top-style:                                null;
@button-outline-inverse-active-border-right-width:                              null;
@button-outline-inverse-active-border-right-color:                              null;
@button-outline-inverse-active-border-right-style:                              null;
@button-outline-inverse-active-border-bottom-width:                             null;
@button-outline-inverse-active-border-bottom-color:                             null;
@button-outline-inverse-active-border-bottom-style:                             null;
@button-outline-inverse-active-border-left-width:                               null;
@button-outline-inverse-active-border-left-color:                               null;
@button-outline-inverse-active-border-left-style:                               null;
@button-outline-inverse-active-shadow:                                          null;

// Selected

@button-outline-inverse-selected-text-color:                                    @button-outline-inverse-active-text-color;
@button-outline-inverse-selected-text-font-family:                              @button-outline-inverse-active-text-font-family;
@button-outline-inverse-selected-text-font-style:                               @button-outline-inverse-active-text-font-style;
@button-outline-inverse-selected-text-font-weight:                              @button-outline-inverse-active-text-font-weight;
@button-outline-inverse-selected-text-transform:                                @button-outline-inverse-active-text-transform;
@button-outline-inverse-selected-text-shadow:                                   @button-outline-inverse-active-text-shadow;
@button-outline-inverse-selected-text-decoration:                               @button-outline-inverse-active-text-decoration;
@button-outline-inverse-selected-text-rendering:                                @button-outline-inverse-active-text-rendering;
@button-outline-inverse-selected-background-color:                              @button-outline-inverse-active-background-color;
@button-outline-inverse-selected-background-gradient-color-top:                 @button-outline-inverse-active-background-gradient-color-top;
@button-outline-inverse-selected-background-gradient-color-bottom:              @button-outline-inverse-active-background-gradient-color-bottom;
@button-outline-inverse-selected-border-width:                                  @button-outline-inverse-active-border-width;
@button-outline-inverse-selected-border-color:                                  @button-outline-inverse-active-border-color;
@button-outline-inverse-selected-border-style:                                  @button-outline-inverse-active-border-style;
@button-outline-inverse-selected-border-top-width:                              @button-outline-inverse-active-border-top-width;
@button-outline-inverse-selected-border-top-color:                              @button-outline-inverse-active-border-top-color;
@button-outline-inverse-selected-border-top-style:                              @button-outline-inverse-active-border-top-style;
@button-outline-inverse-selected-border-right-width:                            @button-outline-inverse-active-border-right-width;
@button-outline-inverse-selected-border-right-color:                            @button-outline-inverse-active-border-right-color;
@button-outline-inverse-selected-border-right-style:                            @button-outline-inverse-active-border-right-style;
@button-outline-inverse-selected-border-bottom-width:                           @button-outline-inverse-active-border-bottom-width;
@button-outline-inverse-selected-border-bottom-color:                           @button-outline-inverse-active-border-bottom-color;
@button-outline-inverse-selected-border-bottom-style:                           @button-outline-inverse-active-border-bottom-style;
@button-outline-inverse-selected-border-left-width:                             @button-outline-inverse-active-border-left-width;
@button-outline-inverse-selected-border-left-color:                             @button-outline-inverse-active-border-left-color;
@button-outline-inverse-selected-border-left-style:                             @button-outline-inverse-active-border-left-style;
@button-outline-inverse-selected-shadow:                                        @button-outline-inverse-active-shadow;

// Disabled

@button-outline-inverse-disabled-opacity:                                       0.5;
@button-outline-inverse-disabled-text-color:                                    null;
@button-outline-inverse-disabled-text-font-family:                              null;
@button-outline-inverse-disabled-text-font-style:                               null;
@button-outline-inverse-disabled-text-font-weight:                              null;
@button-outline-inverse-disabled-text-transform:                                null;
@button-outline-inverse-disabled-text-shadow:                                   null;
@button-outline-inverse-disabled-text-decoration:                               null;
@button-outline-inverse-disabled-text-rendering:                                null;
@button-outline-inverse-disabled-background-color:                              null;
@button-outline-inverse-disabled-background-gradient-color-top:                 null;
@button-outline-inverse-disabled-background-gradient-color-bottom:              null;
@button-outline-inverse-disabled-border-width:                                  null;
@button-outline-inverse-disabled-border-color:                                  null;
@button-outline-inverse-disabled-border-style:                                  null;
@button-outline-inverse-disabled-border-top-width:                              null;
@button-outline-inverse-disabled-border-top-color:                              null;
@button-outline-inverse-disabled-border-top-style:                              null;
@button-outline-inverse-disabled-border-right-width:                            null;
@button-outline-inverse-disabled-border-right-color:                            null;
@button-outline-inverse-disabled-border-right-style:                            null;
@button-outline-inverse-disabled-border-bottom-width:                           null;
@button-outline-inverse-disabled-border-bottom-color:                           null;
@button-outline-inverse-disabled-border-bottom-style:                           null;
@button-outline-inverse-disabled-border-left-width:                             null;
@button-outline-inverse-disabled-border-left-color:                             null;
@button-outline-inverse-disabled-border-left-style:                             null;
@button-outline-inverse-disabled-shadow:                                        null;
