/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
canvas-pod/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@canvas-pod-enabled:                                                            true;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
Light
----------------------------------------------------------------------------- */

@canvas-pod-light-background-color:                                             color-lighten(@neutral, 95);
@canvas-pod-light-background-gradient-color-top:                                null;
@canvas-pod-light-background-gradient-color-bottom:                             null;
@canvas-pod-light-border-width:                                                 null;
@canvas-pod-light-border-color:                                                 null;
@canvas-pod-light-border-style:                                                 null;
@canvas-pod-light-border-top-width:                                             null;
@canvas-pod-light-border-top-color:                                             null;
@canvas-pod-light-border-top-style:                                             null;
@canvas-pod-light-border-right-width:                                           null;
@canvas-pod-light-border-right-color:                                           null;
@canvas-pod-light-border-right-style:                                           null;
@canvas-pod-light-border-bottom-width:                                          null;
@canvas-pod-light-border-bottom-color:                                          null;
@canvas-pod-light-border-bottom-style:                                          null;
@canvas-pod-light-border-left-width:                                            null;
@canvas-pod-light-border-left-color:                                            null;
@canvas-pod-light-border-left-style:                                            null;
@canvas-pod-light-shadow:                                                       null;

/* -----------------------------------------------------------------------------
Dark
----------------------------------------------------------------------------- */

@canvas-pod-dark-background-color:                                              color-lighten(@neutral, -25);
@canvas-pod-dark-background-gradient-color-top:                                 null;
@canvas-pod-dark-background-gradient-color-bottom:                              null;
@canvas-pod-dark-border-width:                                                  null;
@canvas-pod-dark-border-color:                                                  null;
@canvas-pod-dark-border-style:                                                  null;
@canvas-pod-dark-border-top-width:                                              null;
@canvas-pod-dark-border-top-color:                                              null;
@canvas-pod-dark-border-top-style:                                              null;
@canvas-pod-dark-border-right-width:                                            null;
@canvas-pod-dark-border-right-color:                                            null;
@canvas-pod-dark-border-right-style:                                            null;
@canvas-pod-dark-border-bottom-width:                                           null;
@canvas-pod-dark-border-bottom-color:                                           null;
@canvas-pod-dark-border-bottom-style:                                           null;
@canvas-pod-dark-border-left-width:                                             null;
@canvas-pod-dark-border-left-color:                                             null;
@canvas-pod-dark-border-left-style:                                             null;
@canvas-pod-dark-shadow:                                                        null;
