/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
lists/styles.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



& when (@list-enabled) {

  /* -----------------------------------------------------------------------------
  Lists
  ----------------------------------------------------------------------------- */

  ul,
  ol {

    position: relative;
    padding: 0px;
    list-style: none;
    .shape-layout-variant(list, null);
    .shape-layout-variant(list, short, null);
    .shape-layout-variant(list, tall, null);



    & when (@layout-scale-screen-mini-enabled) and (@list-scale-screen-mini-enabled) {

      /* -----------------------------------------------------------------------------
      Screen Size: Mini (@layout-screen-mini-min-width) and wider
      ----------------------------------------------------------------------------- */

      @media (min-width: @layout-screen-mini-min-width) {

        .shape-layout-variant(list, scale-screen-mini);
        .shape-layout-variant(list, short, scale-screen-mini);
        .shape-layout-variant(list, tall, scale-screen-mini);

      }

    }



    & when (@layout-scale-screen-small-enabled) and (@list-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Screen Size: Small (@layout-screen-small-min-width) and wider
      ----------------------------------------------------------------------------- */

      @media (min-width: @layout-screen-small-min-width) {

        .shape-layout-variant(list, scale-screen-small);
        .shape-layout-variant(list, short, scale-screen-small);
        .shape-layout-variant(list, tall, scale-screen-small);

      }

    }



    & when (@layout-scale-screen-medium-enabled) and (@list-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Screen Size: Medium (@layout-screen-medium-min-width) and wider
      ----------------------------------------------------------------------------- */

      @media (min-width: @layout-screen-medium-min-width) {

        .shape-layout-variant(list, scale-screen-medium);
        .shape-layout-variant(list, short, scale-screen-medium);
        .shape-layout-variant(list, tall, scale-screen-medium);

      }

    }



    & when (@layout-scale-screen-large-enabled) and (@list-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Screen Size: Large (@layout-screen-large-min-width) and wider
      ----------------------------------------------------------------------------- */

      @media (min-width: @layout-screen-large-min-width) {

        .shape-layout-variant(list, scale-screen-large);
        .shape-layout-variant(list, short, scale-screen-large);
        .shape-layout-variant(list, tall, scale-screen-large);

      }

    }



    /* -----------------------------------------------------------------------------
    List Item
    ----------------------------------------------------------------------------- */

    li {

      position: relative;
      .shape-layout-variant(list-item, null);
      .shape-layout-variant(list-item, short, null);
      .shape-layout-variant(list-item, tall, null);

      &:before {

        content: '';
        position: absolute;
        display: block;
        .set-if-exists(width, floor(@list-item-bullet-width));
        .set-if-exists(height, floor(@list-item-bullet-height));
        .set-if-exists(border-radius, @list-item-bullet-border-radius);
        .set-if-exists(background-color, @list-item-bullet-color);
        .set-if-exists(shadow, @list-item-bullet-shadow);
        .set-if-exists(opacity, @list-item-bullet-opacity);
        left: 0px;

        & when not (@list-item-bullet-line-height = null) and not (@list-item-bullet-height = null) {

          top: floor((@list-item-bullet-line-height - @list-item-bullet-height) / 2);

        }

      }

      &:last-child {

        margin-bottom: 0px;

      }



      /* -----------------------------------------------------------------------------
      Nested List
      ----------------------------------------------------------------------------- */

      > ul,
      > ol {

        .set-if-exists(margin-bottom, @list-item-margin-bottom);
        margin-bottom: 0px;

      }



      & when (@layout-scale-screen-mini-enabled) and (@list-scale-screen-mini-enabled) {

        /* -----------------------------------------------------------------------------
        Screen Size: Mini (@layout-screen-mini-min-width) and wider
        ----------------------------------------------------------------------------- */

        @media (min-width: @layout-screen-mini-min-width) {

          .shape-layout-variant(list-item, scale-screen-mini);
          .shape-layout-variant(list-item, short, scale-screen-mini);
          .shape-layout-variant(list-item, tall, scale-screen-mini);

          &:before {

            & when not (@list-item-bullet-width = null) and not (@list-item-bullet-width-scale-screen-mini = null) {

              width: floor(@list-item-bullet-width * @list-item-bullet-width-scale-screen-mini);

            }

            & when not (@list-item-bullet-height = null) and not (@list-item-bullet-height-scale-screen-mini = null) {

              height: floor(@list-item-bullet-height * @list-item-bullet-height-scale-screen-mini);

            }

            & when not (@list-item-bullet-height = null) and not (@list-item-bullet-height-scale-screen-mini = null) and not (@list-item-bullet-line-height = null) and not (@list-item-bullet-line-height-scale-screen-mini = null) {

              top: floor(0.5 * (floor(@list-item-bullet-line-height * @list-item-bullet-line-height-scale-screen-mini) - floor(@list-item-bullet-height * @list-item-bullet-height-scale-screen-mini)));

            }

          }



          /* -----------------------------------------------------------------------------
          Nested List
          ----------------------------------------------------------------------------- */

          > ul,
          > ol {

            & when not (@list-item-margin-bottom-scale-screen-mini = null) and not (@list-item-margin-bottom = null) {

              margin-top: @list-item-margin-bottom * @list-item-margin-bottom-scale-screen-mini;

            }

          }

        }

      }



      & when (@layout-scale-screen-small-enabled) and (@list-scale-screen-small-enabled) {

        /* -----------------------------------------------------------------------------
        Screen Size: Small (@layout-screen-small-min-width) and wider
        ----------------------------------------------------------------------------- */

        @media (min-width: @layout-screen-small-min-width) {

          .shape-layout-variant(list-item, scale-screen-small);
          .shape-layout-variant(list-item, short, scale-screen-small);
          .shape-layout-variant(list-item, tall, scale-screen-small);

          &:before {

            & when not (@list-item-bullet-width = null) and not (@list-item-bullet-width-scale-screen-small = null) {

              width: floor(@list-item-bullet-width * @list-item-bullet-width-scale-screen-small);

            }

            & when not (@list-item-bullet-height = null) and not (@list-item-bullet-height-scale-screen-small = null) {

              height: floor(@list-item-bullet-height * @list-item-bullet-height-scale-screen-small);

            }

            & when not (@list-item-bullet-height = null) and not (@list-item-bullet-height-scale-screen-small = null) and not (@list-item-bullet-line-height = null) and not (@list-item-bullet-line-height-scale-screen-small = null) {

              top: floor(0.5 * (floor(@list-item-bullet-line-height * @list-item-bullet-line-height-scale-screen-small) - floor(@list-item-bullet-height * @list-item-bullet-height-scale-screen-small)));

            }

          }



          /* -----------------------------------------------------------------------------
          Nested List
          ----------------------------------------------------------------------------- */

          > ul,
          > ol {

            & when not (@list-item-margin-bottom-scale-screen-small = null) and not (@list-item-margin-bottom = null) {

              margin-top: @list-item-margin-bottom * @list-item-margin-bottom-scale-screen-small;

            }

          }

        }

      }



      & when (@layout-scale-screen-medium-enabled) and (@list-scale-screen-medium-enabled) {

        /* -----------------------------------------------------------------------------
        Screen Size: Medium (@layout-screen-medium-min-width) and wider
        ----------------------------------------------------------------------------- */

        @media (min-width: @layout-screen-medium-min-width) {

          .shape-layout-variant(list-item, scale-screen-medium);
          .shape-layout-variant(list-item, short, scale-screen-medium);
          .shape-layout-variant(list-item, tall, scale-screen-medium);

          &:before {

            & when not (@list-item-bullet-width = null) and not (@list-item-bullet-width-scale-screen-medium = null) {

              width: floor(@list-item-bullet-width * @list-item-bullet-width-scale-screen-medium);

            }

            & when not (@list-item-bullet-height = null) and not (@list-item-bullet-height-scale-screen-medium = null) {

              height: floor(@list-item-bullet-height * @list-item-bullet-height-scale-screen-medium);

            }

            & when not (@list-item-bullet-height = null) and not (@list-item-bullet-height-scale-screen-medium = null) and not (@list-item-bullet-line-height = null) and not (@list-item-bullet-line-height-scale-screen-medium = null) {

              top: floor(0.5 * (floor(@list-item-bullet-line-height * @list-item-bullet-line-height-scale-screen-medium) - floor(@list-item-bullet-height * @list-item-bullet-height-scale-screen-medium)));

            }

          }



          /* -----------------------------------------------------------------------------
          Nested List
          ----------------------------------------------------------------------------- */

          > ul,
          > ol {

            & when not (@list-item-margin-bottom-scale-screen-medium = null) and not (@list-item-margin-bottom = null) {

              margin-top: @list-item-margin-bottom * @list-item-margin-bottom-scale-screen-medium;

            }

          }

        }

      }



      & when (@layout-scale-screen-large-enabled) and (@list-scale-screen-large-enabled) {

        /* -----------------------------------------------------------------------------
        Screen Size: Large (@layout-screen-large-min-width) and wider
        ----------------------------------------------------------------------------- */

        @media (min-width: @layout-screen-large-min-width) {

          .shape-layout-variant(list-item, scale-screen-large);
          .shape-layout-variant(list-item, short, scale-screen-large);
          .shape-layout-variant(list-item, tall, scale-screen-large);

          &:before {

            & when not (@list-item-bullet-width = null) and not (@list-item-bullet-width-scale-screen-large = null) {

              width: floor(@list-item-bullet-width * @list-item-bullet-width-scale-screen-large);

            }

            & when not (@list-item-bullet-height = null) and not (@list-item-bullet-height-scale-screen-large = null) {

              height: floor(@list-item-bullet-height * @list-item-bullet-height-scale-screen-large);

            }

            & when not (@list-item-bullet-height = null) and not (@list-item-bullet-height-scale-screen-large = null) and not (@list-item-bullet-line-height = null) and not (@list-item-bullet-line-height-scale-screen-large = null) {

              top: floor(0.5 * (floor(@list-item-bullet-line-height * @list-item-bullet-line-height-scale-screen-large) - floor(@list-item-bullet-height * @list-item-bullet-height-scale-screen-large)));

            }

          }



          /* -----------------------------------------------------------------------------
          Nested List
          ----------------------------------------------------------------------------- */

          > ul,
          > ol {

            & when not (@list-item-margin-bottom-scale-screen-large = null) and not (@list-item-margin-bottom = null) {

              margin-top: @list-item-margin-bottom * @list-item-margin-bottom-scale-screen-large;

            }

          }

        }

      }

    }



    /* -----------------------------------------------------------------------------
    Unstyled List
    ----------------------------------------------------------------------------- */

    &.list-unstyled {

      > li {

        padding-left: 0px;

        &:before {

          display: none;

        }

      }

    }



    /* -----------------------------------------------------------------------------
    Inline List
    ----------------------------------------------------------------------------- */

    &.list-inline {

      .clearfix();
      & when not (@list-inline-margin-vertical = null) {

        margin-top: -@list-inline-margin-vertical;

      }

      & when not (@list-inline-margin-horizontal = null) {

        margin-left: -@list-inline-margin-horizontal;

      }

      > li {

        padding-left: 0px;
        float: left;
        display: block;
        margin-bottom: 0px;

        & when not (@list-inline-margin-vertical = null) {

          margin-top: @list-inline-margin-vertical;

        }

        & when not (@list-inline-margin-horizontal = null) {

          margin-left: @list-inline-margin-horizontal;

        }

        &:before {

          display: none;

        }

      }

      & when (@layout-scale-screen-mini-enabled) and (@list-scale-screen-mini-enabled) {

        /* -----------------------------------------------------------------------------
        Screen Size: Mini (@layout-screen-mini-min-width) and wider
        ----------------------------------------------------------------------------- */

        @media (min-width: @layout-screen-mini-min-width) {

          & when not (@list-inline-margin-vertical = null) and not (@list-inline-margin-vertical-scale-screen-mini = null) {

            margin-top: -(@list-inline-margin-vertical * @list-inline-margin-vertical-scale-screen-mini);

          }

          & when not (@list-inline-margin-horizontal = null) and not (@list-inline-margin-horizontal-scale-screen-mini = null) {

            margin-left: -(@list-inline-margin-horizontal * @list-inline-margin-horizontal-scale-screen-mini);

          }

          > li {

            & when not (@list-inline-margin-vertical = null) and not (@list-inline-margin-vertical-scale-screen-mini = null) {

              margin-top: (@list-inline-margin-vertical * @list-inline-margin-vertical-scale-screen-mini);

            }

            & when not (@list-inline-margin-horizontal = null) and not (@list-inline-margin-horizontal-scale-screen-mini = null) {

              margin-left: (@list-inline-margin-horizontal * @list-inline-margin-horizontal-scale-screen-mini);

            }

          }

        }

      }



      & when (@layout-scale-screen-small-enabled) and (@list-scale-screen-small-enabled) {

        /* -----------------------------------------------------------------------------
        Screen Size: Small (@layout-screen-small-min-width) and wider
        ----------------------------------------------------------------------------- */

        @media (min-width: @layout-screen-small-min-width) {

          & when not (@list-inline-margin-vertical = null) and not (@list-inline-margin-vertical-scale-screen-small = null) {

            margin-top: -(@list-inline-margin-vertical * @list-inline-margin-vertical-scale-screen-small);

          }

          & when not (@list-inline-margin-horizontal = null) and not (@list-inline-margin-horizontal-scale-screen-small = null) {

            margin-left: -(@list-inline-margin-horizontal * @list-inline-margin-horizontal-scale-screen-small);

          }

          > li {

            & when not (@list-inline-margin-vertical = null) and not (@list-inline-margin-vertical-scale-screen-small = null) {

              margin-top: (@list-inline-margin-vertical * @list-inline-margin-vertical-scale-screen-small);

            }

            & when not (@list-inline-margin-horizontal = null) and not (@list-inline-margin-horizontal-scale-screen-small = null) {

              margin-left: (@list-inline-margin-horizontal * @list-inline-margin-horizontal-scale-screen-small);

            }

          }

        }

      }



      & when (@layout-scale-screen-medium-enabled) and (@list-scale-screen-medium-enabled) {

        /* -----------------------------------------------------------------------------
        Screen Size: Medium (@layout-screen-medium-min-width) and wider
        ----------------------------------------------------------------------------- */

        @media (min-width: @layout-screen-medium-min-width) {

          & when not (@list-inline-margin-vertical = null) and not (@list-inline-margin-vertical-scale-screen-medium = null) {

            margin-top: -(@list-inline-margin-vertical * @list-inline-margin-vertical-scale-screen-medium);

          }

          & when not (@list-inline-margin-horizontal = null) and not (@list-inline-margin-horizontal-scale-screen-medium = null) {

            margin-left: -(@list-inline-margin-horizontal * @list-inline-margin-horizontal-scale-screen-medium);

          }

          > li {

            & when not (@list-inline-margin-vertical = null) and not (@list-inline-margin-vertical-scale-screen-medium = null) {

              margin-top: (@list-inline-margin-vertical * @list-inline-margin-vertical-scale-screen-medium);

            }

            & when not (@list-inline-margin-horizontal = null) and not (@list-inline-margin-horizontal-scale-screen-medium = null) {

              margin-left: (@list-inline-margin-horizontal * @list-inline-margin-horizontal-scale-screen-medium);

            }

          }

        }

      }



      & when (@layout-scale-screen-large-enabled) and (@list-scale-screen-large-enabled) {

        /* -----------------------------------------------------------------------------
        Screen Size: Large (@layout-screen-large-min-width) and wider
        ----------------------------------------------------------------------------- */

        @media (min-width: @layout-screen-large-min-width) {

          & when not (@list-inline-margin-vertical = null) and not (@list-inline-margin-vertical-scale-screen-large = null) {

            margin-top: -(@list-inline-margin-vertical * @list-inline-margin-vertical-scale-screen-large);

          }

          & when not (@list-inline-margin-horizontal = null) and not (@list-inline-margin-horizontal-scale-screen-large = null) {

            margin-left: -(@list-inline-margin-horizontal * @list-inline-margin-horizontal-scale-screen-large);

          }

          > li {

            & when not (@list-inline-margin-vertical = null) and not (@list-inline-margin-vertical-scale-screen-large = null) {

              margin-top: (@list-inline-margin-vertical * @list-inline-margin-vertical-scale-screen-large);

            }

            & when not (@list-inline-margin-horizontal = null) and not (@list-inline-margin-horizontal-scale-screen-large = null) {

              margin-left: (@list-inline-margin-horizontal * @list-inline-margin-horizontal-scale-screen-large);

            }

          }

        }

      }

    }

  }



  /* -----------------------------------------------------------------------------
  Ordered Lists
  ----------------------------------------------------------------------------- */

  ol {

    counter-reset:li;

    > li {

      &:before {

        content: counter(li) + ".";
        counter-increment:li;
        text-align: left;
        background: none;
        top: 0px;
        border-radius: 0px;
        .set-if-exists(color, @list-item-bullet-color);
        & when not (@list-item-bullet-line-height = null) and not (@list-item-bullet-line-height-scale-screen-medium = null) {

          height: @list-item-bullet-line-height * @list-item-bullet-line-height-scale-screen-medium;

        }

      }

      > ol {

        &.a {

          li {

            &:before {

              content: counter(li, lower-alpha) + ".";

            }

          }

        }

        &.A {

          li {

            &:before {

              content: counter(li, upper-alpha) + ".";

            }

          }

        }

        &.i {

          li {

            &:before {

              content: counter(li, lower-roman) + ".";

            }

          }

        }

        &.I {

          li {

            &:before {

              content: counter(li, upper-roman) + ".";

            }

          }

        }

      }

    }

    &.a {

      li {

        &:before {

          content: counter(li, lower-alpha) + ".";

        }

      }

    }

    &.A {

      li {

        &:before {

          content: counter(li, upper-alpha) + ".";

        }

      }

    }

    &.i {

      li {

        &:before {

          content: counter(li, lower-roman) + ".";

        }

      }

    }

    &.I {

      li {

        &:before {

          content: counter(li, upper-roman) + ".";

        }

      }

    }



    & when (@body-inverse-enabled) {

      /* -----------------------------------------------------------------------------
      Inverse
      ----------------------------------------------------------------------------- */

      &.inverse {

        /* -----------------------------------------------------------------------------
        List Item
        ----------------------------------------------------------------------------- */

        li {

          &:before {

            .set-if-exists(color, @list-item-inverse-bullet-color);
            background: none;
            width: auto;

          }

        }

      }

    }



    & when (@layout-scale-screen-mini-enabled) and (@list-scale-screen-mini-enabled) {

      /* -----------------------------------------------------------------------------
      Screen Size: Mini (@layout-screen-mini-min-width) and wider
      ----------------------------------------------------------------------------- */

      @media (min-width: @layout-screen-mini-min-width) {

        > li {

          &:before {

            & when not (@list-item-bullet-line-height = null) and not (@list-item-bullet-line-height-scale-screen-mini = null) {

              height: @list-item-bullet-line-height * @list-item-bullet-line-height-scale-screen-mini;

            }

          }

        }

      }

    }



    & when (@layout-scale-screen-small-enabled) and (@list-scale-screen-small-enabled) {

      /* -----------------------------------------------------------------------------
      Screen Size: Small (@layout-screen-small-min-width) and wider
      ----------------------------------------------------------------------------- */

      @media (min-width: @layout-screen-small-min-width) {

        > li {

          &:before {

            & when not (@list-item-bullet-line-height = null) and not (@list-item-bullet-line-height-scale-screen-small = null) {

              height: @list-item-bullet-line-height * @list-item-bullet-line-height-scale-screen-small;

            }

          }

        }

      }

    }



    & when (@layout-scale-screen-medium-enabled) and (@list-scale-screen-medium-enabled) {

      /* -----------------------------------------------------------------------------
      Screen Size: Medium (@layout-screen-medium-min-width) and wider
      ----------------------------------------------------------------------------- */

      @media (min-width: @layout-screen-medium-min-width) {

        > li {

          &:before {

            & when not (@list-item-bullet-line-height = null) and not (@list-item-bullet-line-height-scale-screen-medium = null) {

              height: @list-item-bullet-line-height * @list-item-bullet-line-height-scale-screen-medium;

            }

          }

        }

      }

    }



    & when (@layout-scale-screen-large-enabled) and (@list-scale-screen-large-enabled) {

      /* -----------------------------------------------------------------------------
      Screen Size: Large (@layout-screen-large-min-width) and wider
      ----------------------------------------------------------------------------- */

      @media (min-width: @layout-screen-large-min-width) {

        > li {

          &:before {

            & when not (@list-item-bullet-line-height = null) and not (@list-item-bullet-line-height-scale-screen-large = null) {

              height: @list-item-bullet-line-height * @list-item-bullet-line-height-scale-screen-large;

            }

          }

        }

      }

    }

  }

}
