/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
label-error/variables.less
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */



@label-error-enabled:                                                           @typography-enabled;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Responsive Scaling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

@label-error-scale-screen-mini-enabled:                                         @screen-mini-enabled;
@label-error-scale-screen-small-enabled:                                        @screen-small-enabled;
@label-error-scale-screen-medium-enabled:                                       @screen-medium-enabled;
@label-error-scale-screen-large-enabled:                                        @screen-large-enabled;



/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
Text Styling
--------------------------------------------------------------------------------
----------------------------------------------------------------------------- */

// Normal

@label-error-text-color:                                                        color-lighten(@red, 0);
@label-error-text-font-family:                                                  null;
@label-error-text-font-style:                                                   null;
@label-error-text-font-weight:                                                  null;
@label-error-text-transform:                                                    null;
@label-error-text-shadow:                                                       null;
@label-error-text-decoration:                                                   null;
@label-error-text-rendering:                                                    null;
@label-error-text-opacity:                                                      null;

// Emphasis (.emphasis)

@label-error-emphasis-enabled:                                                  true;
@label-error-emphasis-text-color:                                               color-lighten(@red, 0);
@label-error-emphasis-text-font-family:                                         null;
@label-error-emphasis-text-font-style:                                          null;
@label-error-emphasis-text-font-weight:                                         null;
@label-error-emphasis-text-transform:                                           null;
@label-error-emphasis-text-shadow:                                              null;
@label-error-emphasis-text-decoration:                                          null;
@label-error-emphasis-text-rendering:                                           null;
@label-error-emphasis-text-opacity:                                             null;

// Muted (.muted)

@label-error-muted-enabled:                                                     true;
@label-error-muted-text-color:                                                  color-lighten(@red, 20);
@label-error-muted-text-font-family:                                            null;
@label-error-muted-text-font-style:                                             null;
@label-error-muted-text-font-weight:                                            null;
@label-error-muted-text-transform:                                              null;
@label-error-muted-text-shadow:                                                 null;
@label-error-muted-text-decoration:                                             null;
@label-error-muted-text-rendering:                                              null;
@label-error-muted-text-opacity:                                                null;

// Inverse (.inverse)

@label-error-inverse-enabled:                                                   true;
@label-error-inverse-text-color:                                                color-lighten(@red, 0);
@label-error-inverse-text-font-family:                                          null;
@label-error-inverse-text-font-style:                                           null;
@label-error-inverse-text-font-weight:                                          null;
@label-error-inverse-text-transform:                                            null;
@label-error-inverse-text-shadow:                                               null;
@label-error-inverse-text-decoration:                                           null;
@label-error-inverse-text-rendering:                                            null;
@label-error-inverse-text-opacity:                                              null;

// Inverse Emphasis (.inverse.emphasis)

@label-error-inverse-emphasis-enabled:                                          true;
@label-error-inverse-emphasis-text-color:                                       color-lighten(@red, 0);
@label-error-inverse-emphasis-text-font-family:                                 null;
@label-error-inverse-emphasis-text-font-style:                                  null;
@label-error-inverse-emphasis-text-font-weight:                                 null;
@label-error-inverse-emphasis-text-transform:                                   null;
@label-error-inverse-emphasis-text-shadow:                                      null;
@label-error-inverse-emphasis-text-decoration:                                  null;
@label-error-inverse-emphasis-text-rendering:                                   null;
@label-error-inverse-emphasis-text-opacity:                                     null;

// Inverse Muted (.inverse.muted)

@label-error-inverse-muted-enabled:                                             true;
@label-error-inverse-muted-text-color:                                          color-lighten(@red, 20);
@label-error-inverse-muted-text-font-family:                                    null;
@label-error-inverse-muted-text-font-style:                                     null;
@label-error-inverse-muted-text-font-weight:                                    null;
@label-error-inverse-muted-text-transform:                                      null;
@label-error-inverse-muted-text-shadow:                                         null;
@label-error-inverse-muted-text-decoration:                                     null;
@label-error-inverse-muted-text-rendering:                                      null;
@label-error-inverse-muted-text-opacity:                                        null;
