@color-enabled: true;

/*
 * Colors
 */

// Neutrals

@white: #fff;
@black: #000;
@grey-dark: #1b2029;
@grey-light: #dadde2;

// Colors

@blue: #157ff2;
@red: #eb293a;
@orange: #f56753;
@yellow: #f9a328;
@green: #14c684;
@purple: #7d58ff;
@pink: #ff007d;
@gold: #b08329;
@cyan: #20d5ff;
@orchid: #c043d7;

// Networks

@facebook: #3b5998;
@twitter: #55acee;
@google-plus: #db4437;
@linked-in: #0976b4;

/* Tints */

// @grey-dark Tints

@grey-dark-lighten-1: tint(@grey-dark, 5%);
@grey-dark-lighten-2: tint(@grey-dark, 10%);
@grey-dark-lighten-3: tint(@grey-dark, 20%);
@grey-dark-lighten-4: tint(@grey-dark, 40%);
@grey-dark-lighten-5: tint(@grey-dark, 60%);
@grey-dark-darken-1: shade(@grey-dark, 10%);
@grey-dark-darken-2: shade(@grey-dark, 20%);
@grey-dark-darken-3: shade(@grey-dark, 40%);
@grey-dark-darken-4: shade(@grey-dark, 60%);
@grey-dark-darken-5: shade(@grey-dark, 80%);

// @grey-light Tints

@grey-light-lighten-1: tint(@grey-light, 10%);
@grey-light-lighten-2: tint(@grey-light, 20%);
@grey-light-lighten-3: tint(@grey-light, 40%);
@grey-light-lighten-4: tint(@grey-light, 60%);
@grey-light-lighten-5: tint(@grey-light, 80%);
@grey-light-darken-1: shade(@grey-light, 10%);
@grey-light-darken-2: shade(@grey-light, 20%);
@grey-light-darken-3: shade(@grey-light, 40%);
@grey-light-darken-4: shade(@grey-light, 60%);
@grey-light-darken-5: shade(@grey-light, 80%);

// @purple Tints

@purple-lighten-1: tint(@purple, 5%);
@purple-lighten-2: tint(@purple, 10%);
@purple-lighten-3: tint(@purple, 20%);
@purple-lighten-4: tint(@purple, 80%);
@purple-lighten-5: tint(@purple, 95%);
@purple-darken-1: shade(@purple, 10%);
@purple-darken-2: shade(@purple, 20%);
@purple-darken-3: shade(@purple, 40%);
@purple-darken-4: shade(@purple, 60%);
@purple-darken-5: shade(@purple, 80%);

// @pink Tints

@pink-lighten-1: tint(@pink, 10%);
@pink-lighten-2: tint(@pink, 20%);
@pink-lighten-3: tint(@pink, 40%);
@pink-lighten-4: tint(@pink, 60%);
@pink-lighten-5: tint(@pink, 95%);
@pink-darken-1: shade(@pink, 10%);
@pink-darken-2: shade(@pink, 20%);
@pink-darken-3: shade(@pink, 40%);
@pink-darken-4: shade(@pink, 60%);
@pink-darken-5: shade(@pink, 80%);

// @green Tints

@green-lighten-1: tint(@green, 10%);
@green-lighten-2: tint(@green, 20%);
@green-lighten-3: tint(@green, 40%);
@green-lighten-4: tint(@green, 60%);
@green-lighten-5: tint(@green, 95%);
@green-darken-1: shade(@green, 10%);
@green-darken-2: shade(@green, 20%);
@green-darken-3: shade(@green, 40%);
@green-darken-4: shade(@green, 60%);
@green-darken-5: shade(@green, 80%);

// @red Tints

@red-lighten-1: tint(@red, 10%);
@red-lighten-2: tint(@red, 20%);
@red-lighten-3: tint(@red, 40%);
@red-lighten-4: tint(@red, 60%);
@red-lighten-5: tint(@red, 95%);
@red-darken-1: shade(@red, 10%);
@red-darken-2: shade(@red, 20%);
@red-darken-3: shade(@red, 40%);
@red-darken-4: shade(@red, 60%);
@red-darken-5: shade(@red, 80%);

// @yellow Tints

@yellow-lighten-1: tint(@yellow, 10%);
@yellow-lighten-2: tint(@yellow, 20%);
@yellow-lighten-3: tint(@yellow, 40%);
@yellow-lighten-4: tint(@yellow, 60%);
@yellow-lighten-5: tint(@yellow, 95%);
@yellow-darken-1: shade(@yellow, 10%);
@yellow-darken-2: shade(@yellow, 20%);
@yellow-darken-3: shade(@yellow, 40%);
@yellow-darken-4: shade(@yellow, 60%);
@yellow-darken-5: shade(@yellow, 80%);

// @blue Tints

@blue-lighten-1: tint(@blue, 10%);
@blue-lighten-2: tint(@blue, 20%);
@blue-lighten-3: tint(@blue, 40%);
@blue-lighten-4: tint(@blue, 60%);
@blue-lighten-5: tint(@blue, 95%);
@blue-darken-1: shade(@blue, 10%);
@blue-darken-2: shade(@blue, 20%);
@blue-darken-3: shade(@blue, 40%);
@blue-darken-4: shade(@blue, 60%);
@blue-darken-5: shade(@blue, 80%);
