@color-enabled:                                                                 true;

/*
 * Colors
 */

// Neutrals

@white:                                                                         #fff;
@gray:                                                                          @neutral;
@neutral:                                                                       #323a4e;
@black:                                                                         #000;

// Colors

@blue:                                                                          #2f81f7;
@red:                                                                           #f33745;
@orange:                                                                        #f56753;
@yellow:                                                                        #f6c846;
@green:                                                                         #27c97b;
@purple:                                                                        #9351e5;
@pink:                                                                          #ef468b;
@gold:                                                                          #b08329;
@cyan:                                                                          #20d5ff;
@orchid:                                                                        #c043d7;

// Networks

@facebook:                                                                      #3b5998;
@twitter:                                                                       #55acee;
@google-plus:                                                                   #db4437;
@linked-in:                                                                     #0976b4;
