@toggle-enabled: true;

/*
 * Responsive Scaling
 */

@toggle-screen-small-enabled: true;
@toggle-screen-medium-enabled: true;
@toggle-screen-large-enabled: true;
@toggle-screen-jumbo-enabled: true;

/*
 * Layout
 */

// System Dimensions

@toggle-width: 16px;
@toggle-height: 16px;

/* Margin */

// Margin Top

@toggle-margin-top: null;
@toggle-margin-top-screen-small: null;
@toggle-margin-top-screen-medium: null;
@toggle-margin-top-screen-large: null;
@toggle-margin-top-screen-jumbo: null;

// Margin Bottom

@toggle-margin-bottom: 0.5rem;
@toggle-margin-bottom-screen-small: null;
@toggle-margin-bottom-screen-medium: 1.1 * @toggle-margin-bottom;
@toggle-margin-bottom-screen-large: 1.2 * @toggle-margin-bottom;
@toggle-margin-bottom-screen-jumbo: null;

// Margin Left

@toggle-margin-left: null;
@toggle-margin-left-screen-small: null;
@toggle-margin-left-screen-medium: null;
@toggle-margin-left-screen-large: null;
@toggle-margin-left-screen-jumbo: null;

// Margin Right

@toggle-margin-right: null;
@toggle-margin-right-screen-small: null;
@toggle-margin-right-screen-medium: null;
@toggle-margin-right-screen-large: null;
@toggle-margin-right-screen-jumbo: null;

/* Padding */

// Padding Top

@toggle-padding-top: null;
@toggle-padding-top-screen-small: null;
@toggle-padding-top-screen-medium: null;
@toggle-padding-top-screen-large: null;
@toggle-padding-top-screen-jumbo: null;

// Padding Bottom

@toggle-padding-bottom: null;
@toggle-padding-bottom-screen-small: null;
@toggle-padding-bottom-screen-medium: null;
@toggle-padding-bottom-screen-large: null;
@toggle-padding-bottom-screen-jumbo: null;

// Padding Left

@toggle-padding-left: 0.8rem * 1.5;
@toggle-padding-left-screen-small: null;
@toggle-padding-left-screen-medium: 1.1 * @toggle-padding-left;
@toggle-padding-left-screen-large: 1.2 * @toggle-padding-left;
@toggle-padding-left-screen-jumbo: null;

// Padding Right

@toggle-padding-right: null;
@toggle-padding-right-screen-small: null;
@toggle-padding-right-screen-medium: null;
@toggle-padding-right-screen-large: null;
@toggle-padding-right-screen-jumbo: null;

/* Layout Variants */

// Short

@toggle-short-margin-top-scale: 0.5;
@toggle-short-margin-bottom-scale: 0.5;
@toggle-short-margin-left-scale: null;
@toggle-short-margin-right-scale: null;

@toggle-short-padding-top-scale: 0.5;
@toggle-short-padding-bottom-scale: 0.5;
@toggle-short-padding-left-scale: null;
@toggle-short-padding-right-scale: null;

// Tall

@toggle-tall-margin-top-scale: 2;
@toggle-tall-margin-bottom-scale: 2;
@toggle-tall-margin-left-scale: null;
@toggle-tall-margin-right-scale: null;

@toggle-tall-padding-top-scale: 2;
@toggle-tall-padding-bottom-scale: 2;
@toggle-tall-padding-left-scale: null;
@toggle-tall-padding-right-scale: null;

/*
 * Inline Label
 */

// Margin Vertical

@toggle-inline-margin-vertical: 0.8rem * 0.5;
@toggle-inline-margin-vertical-screen-small: null;
@toggle-inline-margin-vertical-screen-medium: 1.1 * @toggle-inline-margin-vertical;
@toggle-inline-margin-vertical-screen-large: 1.2 * @toggle-inline-margin-vertical;
@toggle-inline-margin-vertical-screen-jumbo: null;

// Margin Horizontal

@toggle-inline-margin-horizontal: 0.8rem * 1;
@toggle-inline-margin-horizontal-screen-small: null;
@toggle-inline-margin-horizontal-screen-medium: 1.1 * @toggle-inline-margin-horizontal;
@toggle-inline-margin-horizontal-screen-large: 1.2 * @toggle-inline-margin-horizontal;
@toggle-inline-margin-horizontal-screen-jumbo: null;

/*
 * Text Styling
 */

// Normal

@toggle-color: color-lighten(@grey-dark, 20);
@toggle-font-family: @font-family-sans-serif;
@toggle-font-style: null;
@toggle-font-weight: 600;
@toggle-text-transform: uppercase;
@toggle-text-shadow: null;
@toggle-text-decoration: null;
@toggle-text-rendering: geometricPrecision;
@toggle-text-opacity: null;

// Emphasis (.emphasis)

@toggle-emphasis-enabled: true;
@toggle-emphasis-color: color-lighten(@grey-dark, -20);
@toggle-emphasis-font-family: null;
@toggle-emphasis-font-style: null;
@toggle-emphasis-font-weight: 800;
@toggle-emphasis-text-transform: null;
@toggle-emphasis-text-shadow: null;
@toggle-emphasis-text-decoration: null;
@toggle-emphasis-text-rendering: null;
@toggle-emphasis-text-opacity: null;

// Muted (.muted)

@toggle-muted-enabled: true;
@toggle-muted-color: color-lighten(@grey-dark, 60);
@toggle-muted-font-family: null;
@toggle-muted-font-style: null;
@toggle-muted-font-weight: null;
@toggle-muted-text-transform: null;
@toggle-muted-text-shadow: null;
@toggle-muted-text-decoration: null;
@toggle-muted-text-rendering: null;
@toggle-muted-text-opacity: null;

// Inverse (.inverse)

@toggle-inverse-enabled: true;
@toggle-inverse-color: color-lighten(@grey-dark, 70);
@toggle-inverse-font-family: null;
@toggle-inverse-font-style: null;
@toggle-inverse-font-weight: null;
@toggle-inverse-text-transform: null;
@toggle-inverse-text-shadow: null;
@toggle-inverse-text-decoration: null;
@toggle-inverse-text-rendering: null;
@toggle-inverse-text-opacity: null;

// Inverse Emphasis (.inverse.emphasis)

@toggle-inverse-emphasis-enabled: true;
@toggle-inverse-emphasis-color: color-lighten(@grey-dark, 100);
@toggle-inverse-emphasis-font-family: null;
@toggle-inverse-emphasis-font-style: null;
@toggle-inverse-emphasis-font-weight: null;
@toggle-inverse-emphasis-text-transform: null;
@toggle-inverse-emphasis-text-shadow: null;
@toggle-inverse-emphasis-text-decoration: null;
@toggle-inverse-emphasis-text-rendering: null;
@toggle-inverse-emphasis-text-opacity: null;

// Inverse Muted (.inverse.muted)

@toggle-inverse-muted-enabled: true;
@toggle-inverse-muted-color: color-lighten(@grey-dark, 50);
@toggle-inverse-muted-font-family: null;
@toggle-inverse-muted-font-style: null;
@toggle-inverse-muted-font-weight: null;
@toggle-inverse-muted-text-transform: null;
@toggle-inverse-muted-text-shadow: null;
@toggle-inverse-muted-text-decoration: null;
@toggle-inverse-muted-text-rendering: null;
@toggle-inverse-muted-text-opacity: null;

/*
 * Text Size
 */

// Font Size

@toggle-font-size: 0.8rem;
@toggle-font-size-screen-small: null;
@toggle-font-size-screen-medium: 1.05 * @toggle-font-size;
@toggle-font-size-screen-large: 1.1 * @toggle-font-size;
@toggle-font-size-screen-jumbo: null;

// Line Height

@toggle-line-height: 0.8rem;
@toggle-line-height-screen-small: null;
@toggle-line-height-screen-medium: 1.05 * @toggle-line-height;
@toggle-line-height-screen-large: 1.1 * @toggle-line-height;
@toggle-line-height-screen-jumbo: null;

/*
 * Custom Toggles
 */

@toggle-custom-enabled: true;

/* Layout */

// Width

@toggle-custom-width: 14px;
@toggle-custom-width-screen-small: null;
@toggle-custom-width-screen-medium: null;
@toggle-custom-width-screen-large: 16px;
@toggle-custom-width-screen-jumbo: null;

// Height

@toggle-custom-height: 14px;
@toggle-custom-height-screen-small: null;
@toggle-custom-height-screen-medium: null;
@toggle-custom-height-screen-large: 16px;
@toggle-custom-height-screen-jumbo: null;

// Border Radius

@toggle-custom-border-radius: 3px;
@toggle-custom-border-radius-screen-small: null;
@toggle-custom-border-radius-screen-medium: null;
@toggle-custom-border-radius-screen-large: null;
@toggle-custom-border-radius-screen-jumbo: null;

/* Styling (Default) */

// Normal

@toggle-custom-background-color: @white;
@toggle-custom-background-gradient-color-top: null;
@toggle-custom-background-gradient-color-bottom: null;
@toggle-custom-border-width: 1px;
@toggle-custom-border-color: color-lighten(@grey-dark, 80);
@toggle-custom-border-style: solid;
@toggle-custom-border-top-width: null;
@toggle-custom-border-top-color: null;
@toggle-custom-border-top-style: null;
@toggle-custom-border-right-width: null;
@toggle-custom-border-right-color: null;
@toggle-custom-border-right-style: null;
@toggle-custom-border-bottom-width: null;
@toggle-custom-border-bottom-color: null;
@toggle-custom-border-bottom-style: null;
@toggle-custom-border-left-width: null;
@toggle-custom-border-left-color: null;
@toggle-custom-border-left-style: null;
@toggle-custom-shadow: null;

// Hover

@toggle-custom-hover-background-color: null;
@toggle-custom-hover-background-gradient-color-top: null;
@toggle-custom-hover-background-gradient-color-bottom: null;
@toggle-custom-hover-border-width: null;
@toggle-custom-hover-border-color: null;
@toggle-custom-hover-border-style: null;
@toggle-custom-hover-border-top-width: null;
@toggle-custom-hover-border-top-color: null;
@toggle-custom-hover-border-top-style: null;
@toggle-custom-hover-border-right-width: null;
@toggle-custom-hover-border-right-color: null;
@toggle-custom-hover-border-right-style: null;
@toggle-custom-hover-border-bottom-width: null;
@toggle-custom-hover-border-bottom-color: null;
@toggle-custom-hover-border-bottom-style: null;
@toggle-custom-hover-border-left-width: null;
@toggle-custom-hover-border-left-color: null;
@toggle-custom-hover-border-left-style: null;
@toggle-custom-hover-shadow: null;

// Active

@toggle-custom-active-background-color: @purple;
@toggle-custom-active-background-gradient-color-top: null;
@toggle-custom-active-background-gradient-color-bottom: null;
@toggle-custom-active-border-width: @toggle-custom-border-width;
@toggle-custom-active-border-color: @purple;
@toggle-custom-active-border-style: @toggle-custom-border-style;
@toggle-custom-active-border-top-width: null;
@toggle-custom-active-border-top-color: null;
@toggle-custom-active-border-top-style: null;
@toggle-custom-active-border-right-width: null;
@toggle-custom-active-border-right-color: null;
@toggle-custom-active-border-right-style: null;
@toggle-custom-active-border-bottom-width: null;
@toggle-custom-active-border-bottom-color: null;
@toggle-custom-active-border-bottom-style: null;
@toggle-custom-active-border-left-width: null;
@toggle-custom-active-border-left-color: null;
@toggle-custom-active-border-left-style: null;
@toggle-custom-active-shadow: null;

// Disabled

@toggle-custom-disabled-opacity: 0.5;
@toggle-custom-disabled-background-color: @form-control-disabled-background-color;
@toggle-custom-disabled-background-gradient-color-top: null;
@toggle-custom-disabled-background-gradient-color-bottom: null;
@toggle-custom-disabled-border-width: @toggle-custom-border-width;
@toggle-custom-disabled-border-color: @form-control-disabled-border-color;
@toggle-custom-disabled-border-style: @toggle-custom-border-style;
@toggle-custom-disabled-border-top-width: null;
@toggle-custom-disabled-border-top-color: null;
@toggle-custom-disabled-border-top-style: null;
@toggle-custom-disabled-border-right-width: null;
@toggle-custom-disabled-border-right-color: null;
@toggle-custom-disabled-border-right-style: null;
@toggle-custom-disabled-border-bottom-width: null;
@toggle-custom-disabled-border-bottom-color: null;
@toggle-custom-disabled-border-bottom-style: null;
@toggle-custom-disabled-border-left-width: null;
@toggle-custom-disabled-border-left-color: null;
@toggle-custom-disabled-border-left-style: null;
@toggle-custom-disabled-shadow: null;

/* Styling (Selected) */

// Normal

@toggle-custom-selected-color: color-lighten(@white, 0);
@toggle-custom-selected-background-color: color-lighten(@purple, 0);
@toggle-custom-selected-background-gradient-color-top: null;
@toggle-custom-selected-background-gradient-color-bottom: null;
@toggle-custom-selected-border-width: @toggle-custom-border-width;
@toggle-custom-selected-border-color: @purple;
@toggle-custom-selected-border-style: @toggle-custom-border-style;
@toggle-custom-selected-border-top-width: null;
@toggle-custom-selected-border-top-color: null;
@toggle-custom-selected-border-top-style: null;
@toggle-custom-selected-border-right-width: null;
@toggle-custom-selected-border-right-color: null;
@toggle-custom-selected-border-right-style: null;
@toggle-custom-selected-border-bottom-width: null;
@toggle-custom-selected-border-bottom-color: null;
@toggle-custom-selected-border-bottom-style: null;
@toggle-custom-selected-border-left-width: null;
@toggle-custom-selected-border-left-color: null;
@toggle-custom-selected-border-left-style: null;
@toggle-custom-selected-shadow: null;

// Hover

@toggle-custom-selected-hover-color: null;
@toggle-custom-selected-hover-background-color: null;
@toggle-custom-selected-hover-background-gradient-color-top: null;
@toggle-custom-selected-hover-background-gradient-color-bottom: null;
@toggle-custom-selected-hover-border-width: null;
@toggle-custom-selected-hover-border-color: null;
@toggle-custom-selected-hover-border-style: null;
@toggle-custom-selected-hover-border-top-width: null;
@toggle-custom-selected-hover-border-top-color: null;
@toggle-custom-selected-hover-border-top-style: null;
@toggle-custom-selected-hover-border-right-width: null;
@toggle-custom-selected-hover-border-right-color: null;
@toggle-custom-selected-hover-border-right-style: null;
@toggle-custom-selected-hover-border-bottom-width: null;
@toggle-custom-selected-hover-border-bottom-color: null;
@toggle-custom-selected-hover-border-bottom-style: null;
@toggle-custom-selected-hover-border-left-width: null;
@toggle-custom-selected-hover-border-left-color: null;
@toggle-custom-selected-hover-border-left-style: null;
@toggle-custom-selected-hover-shadow: null;

// Active

@toggle-custom-selected-active-color: color-lighten(@purple, 70);
@toggle-custom-selected-active-background-color: color-lighten(@purple, -25);
@toggle-custom-selected-active-background-gradient-color-top: null;
@toggle-custom-selected-active-background-gradient-color-bottom: null;
@toggle-custom-selected-active-border-width: @toggle-custom-border-width;
@toggle-custom-selected-active-border-color: @toggle-custom-selected-active-background-color;
@toggle-custom-selected-active-border-style: @toggle-custom-border-style;
@toggle-custom-selected-active-border-top-width: null;
@toggle-custom-selected-active-border-top-color: null;
@toggle-custom-selected-active-border-top-style: null;
@toggle-custom-selected-active-border-right-width: null;
@toggle-custom-selected-active-border-right-color: null;
@toggle-custom-selected-active-border-right-style: null;
@toggle-custom-selected-active-border-bottom-width: null;
@toggle-custom-selected-active-border-bottom-color: null;
@toggle-custom-selected-active-border-bottom-style: null;
@toggle-custom-selected-active-border-left-width: null;
@toggle-custom-selected-active-border-left-color: null;
@toggle-custom-selected-active-border-left-style: null;
@toggle-custom-selected-active-shadow: null;

// Disabled

@toggle-custom-selected-disabled-opacity: 0.5;
@toggle-custom-selected-disabled-color: null;
@toggle-custom-selected-disabled-background-color: @purple;
@toggle-custom-selected-disabled-background-gradient-color-top: null;
@toggle-custom-selected-disabled-background-gradient-color-bottom: null;
@toggle-custom-selected-disabled-border-width: null;
@toggle-custom-selected-disabled-border-color: null;
@toggle-custom-selected-disabled-border-style: null;
@toggle-custom-selected-disabled-border-top-width: null;
@toggle-custom-selected-disabled-border-top-color: null;
@toggle-custom-selected-disabled-border-top-style: null;
@toggle-custom-selected-disabled-border-right-width: null;
@toggle-custom-selected-disabled-border-right-color: null;
@toggle-custom-selected-disabled-border-right-style: null;
@toggle-custom-selected-disabled-border-bottom-width: null;
@toggle-custom-selected-disabled-border-bottom-color: null;
@toggle-custom-selected-disabled-border-bottom-style: null;
@toggle-custom-selected-disabled-border-left-width: null;
@toggle-custom-selected-disabled-border-left-color: null;
@toggle-custom-selected-disabled-border-left-style: null;
@toggle-custom-selected-disabled-shadow: null;

/* Styling (Inverse) */

// Normal

@toggle-custom-inverse-color: null;
@toggle-custom-inverse-background-color: transparent;
@toggle-custom-inverse-background-gradient-color-top: null;
@toggle-custom-inverse-background-gradient-color-bottom: null;
@toggle-custom-inverse-border-width: @toggle-custom-border-width;
@toggle-custom-inverse-border-color: color-lighten(@grey-dark, 10);
@toggle-custom-inverse-border-style: @toggle-custom-border-style;
@toggle-custom-inverse-border-top-width: null;
@toggle-custom-inverse-border-top-color: null;
@toggle-custom-inverse-border-top-style: null;
@toggle-custom-inverse-border-right-width: null;
@toggle-custom-inverse-border-right-color: null;
@toggle-custom-inverse-border-right-style: null;
@toggle-custom-inverse-border-bottom-width: null;
@toggle-custom-inverse-border-bottom-color: null;
@toggle-custom-inverse-border-bottom-style: null;
@toggle-custom-inverse-border-left-width: null;
@toggle-custom-inverse-border-left-color: null;
@toggle-custom-inverse-border-left-style: null;
@toggle-custom-inverse-shadow: null;

// Hover

@toggle-custom-inverse-hover-color: null;
@toggle-custom-inverse-hover-background-color: null;
@toggle-custom-inverse-hover-background-gradient-color-top: null;
@toggle-custom-inverse-hover-background-gradient-color-bottom: null;
@toggle-custom-inverse-hover-border-width: null;
@toggle-custom-inverse-hover-border-color: null;
@toggle-custom-inverse-hover-border-style: null;
@toggle-custom-inverse-hover-border-top-width: null;
@toggle-custom-inverse-hover-border-top-color: null;
@toggle-custom-inverse-hover-border-top-style: null;
@toggle-custom-inverse-hover-border-right-width: null;
@toggle-custom-inverse-hover-border-right-color: null;
@toggle-custom-inverse-hover-border-right-style: null;
@toggle-custom-inverse-hover-border-bottom-width: null;
@toggle-custom-inverse-hover-border-bottom-color: null;
@toggle-custom-inverse-hover-border-bottom-style: null;
@toggle-custom-inverse-hover-border-left-width: null;
@toggle-custom-inverse-hover-border-left-color: null;
@toggle-custom-inverse-hover-border-left-style: null;
@toggle-custom-inverse-hover-shadow: null;

// Active

@toggle-custom-inverse-active-color: null;
@toggle-custom-inverse-active-background-color: @purple;
@toggle-custom-inverse-active-background-gradient-color-top: null;
@toggle-custom-inverse-active-background-gradient-color-bottom: null;
@toggle-custom-inverse-active-border-width: @toggle-custom-border-width;
@toggle-custom-inverse-active-border-color: @toggle-custom-inverse-active-background-color;
@toggle-custom-inverse-active-border-style: @toggle-custom-border-style;
@toggle-custom-inverse-active-border-top-width: null;
@toggle-custom-inverse-active-border-top-color: null;
@toggle-custom-inverse-active-border-top-style: null;
@toggle-custom-inverse-active-border-right-width: null;
@toggle-custom-inverse-active-border-right-color: null;
@toggle-custom-inverse-active-border-right-style: null;
@toggle-custom-inverse-active-border-bottom-width: null;
@toggle-custom-inverse-active-border-bottom-color: null;
@toggle-custom-inverse-active-border-bottom-style: null;
@toggle-custom-inverse-active-border-left-width: null;
@toggle-custom-inverse-active-border-left-color: null;
@toggle-custom-inverse-active-border-left-style: null;
@toggle-custom-inverse-active-shadow: null;

// Disabled

@toggle-custom-inverse-disabled-color: null;
@toggle-custom-inverse-disabled-opacity: 0.5;
@toggle-custom-inverse-disabled-background-color: null;
@toggle-custom-inverse-disabled-background-gradient-color-top: null;
@toggle-custom-inverse-disabled-background-gradient-color-bottom: null;
@toggle-custom-inverse-disabled-border-width: null;
@toggle-custom-inverse-disabled-border-color: null;
@toggle-custom-inverse-disabled-border-style: null;
@toggle-custom-inverse-disabled-border-top-width: null;
@toggle-custom-inverse-disabled-border-top-color: null;
@toggle-custom-inverse-disabled-border-top-style: null;
@toggle-custom-inverse-disabled-border-right-width: null;
@toggle-custom-inverse-disabled-border-right-color: null;
@toggle-custom-inverse-disabled-border-right-style: null;
@toggle-custom-inverse-disabled-border-bottom-width: null;
@toggle-custom-inverse-disabled-border-bottom-color: null;
@toggle-custom-inverse-disabled-border-bottom-style: null;
@toggle-custom-inverse-disabled-border-left-width: null;
@toggle-custom-inverse-disabled-border-left-color: null;
@toggle-custom-inverse-disabled-border-left-style: null;
@toggle-custom-inverse-disabled-shadow: null;

/* Styling (Selected) */

// Normal

@toggle-custom-inverse-selected-color: color-lighten(@white, 0);
@toggle-custom-inverse-selected-background-color: color-lighten(@purple, 0);
@toggle-custom-inverse-selected-background-gradient-color-top: null;
@toggle-custom-inverse-selected-background-gradient-color-bottom: null;
@toggle-custom-inverse-selected-border-width: null;
@toggle-custom-inverse-selected-border-color: null;
@toggle-custom-inverse-selected-border-style: null;
@toggle-custom-inverse-selected-border-top-width: null;
@toggle-custom-inverse-selected-border-top-color: null;
@toggle-custom-inverse-selected-border-top-style: null;
@toggle-custom-inverse-selected-border-right-width: null;
@toggle-custom-inverse-selected-border-right-color: null;
@toggle-custom-inverse-selected-border-right-style: null;
@toggle-custom-inverse-selected-border-bottom-width: null;
@toggle-custom-inverse-selected-border-bottom-color: null;
@toggle-custom-inverse-selected-border-bottom-style: null;
@toggle-custom-inverse-selected-border-left-width: null;
@toggle-custom-inverse-selected-border-left-color: null;
@toggle-custom-inverse-selected-border-left-style: null;
@toggle-custom-inverse-selected-shadow: null;

// Hover

@toggle-custom-inverse-selected-hover-color: color-lighten(@white, 0);
@toggle-custom-inverse-selected-hover-background-color: null;
@toggle-custom-inverse-selected-hover-background-gradient-color-top: null;
@toggle-custom-inverse-selected-hover-background-gradient-color-bottom: null;
@toggle-custom-inverse-selected-hover-border-width: null;
@toggle-custom-inverse-selected-hover-border-color: null;
@toggle-custom-inverse-selected-hover-border-style: null;
@toggle-custom-inverse-selected-hover-border-top-width: null;
@toggle-custom-inverse-selected-hover-border-top-color: null;
@toggle-custom-inverse-selected-hover-border-top-style: null;
@toggle-custom-inverse-selected-hover-border-right-width: null;
@toggle-custom-inverse-selected-hover-border-right-color: null;
@toggle-custom-inverse-selected-hover-border-right-style: null;
@toggle-custom-inverse-selected-hover-border-bottom-width: null;
@toggle-custom-inverse-selected-hover-border-bottom-color: null;
@toggle-custom-inverse-selected-hover-border-bottom-style: null;
@toggle-custom-inverse-selected-hover-border-left-width: null;
@toggle-custom-inverse-selected-hover-border-left-color: null;
@toggle-custom-inverse-selected-hover-border-left-style: null;
@toggle-custom-inverse-selected-hover-shadow: null;

// Active

@toggle-custom-inverse-selected-active-color: color-lighten(@purple, 70);
@toggle-custom-inverse-selected-active-background-color: null;
@toggle-custom-inverse-selected-active-background-gradient-color-top: null;
@toggle-custom-inverse-selected-active-background-gradient-color-bottom: null;
@toggle-custom-inverse-selected-active-border-width: null;
@toggle-custom-inverse-selected-active-border-color: null;
@toggle-custom-inverse-selected-active-border-style: null;
@toggle-custom-inverse-selected-active-border-top-width: null;
@toggle-custom-inverse-selected-active-border-top-color: null;
@toggle-custom-inverse-selected-active-border-top-style: null;
@toggle-custom-inverse-selected-active-border-right-width: null;
@toggle-custom-inverse-selected-active-border-right-color: null;
@toggle-custom-inverse-selected-active-border-right-style: null;
@toggle-custom-inverse-selected-active-border-bottom-width: null;
@toggle-custom-inverse-selected-active-border-bottom-color: null;
@toggle-custom-inverse-selected-active-border-bottom-style: null;
@toggle-custom-inverse-selected-active-border-left-width: null;
@toggle-custom-inverse-selected-active-border-left-color: null;
@toggle-custom-inverse-selected-active-border-left-style: null;
@toggle-custom-inverse-selected-active-shadow: null;

// Disabled

@toggle-custom-inverse-selected-disabled-opacity: 0.5;
@toggle-custom-inverse-selected-disabled-color: color-lighten(@purple, 80);
@toggle-custom-inverse-selected-disabled-background-color: null;
@toggle-custom-inverse-selected-disabled-background-gradient-color-top: null;
@toggle-custom-inverse-selected-disabled-background-gradient-color-bottom: null;
@toggle-custom-inverse-selected-disabled-border-width: null;
@toggle-custom-inverse-selected-disabled-border-color: null;
@toggle-custom-inverse-selected-disabled-border-style: null;
@toggle-custom-inverse-selected-disabled-border-top-width: null;
@toggle-custom-inverse-selected-disabled-border-top-color: null;
@toggle-custom-inverse-selected-disabled-border-top-style: null;
@toggle-custom-inverse-selected-disabled-border-right-width: null;
@toggle-custom-inverse-selected-disabled-border-right-color: null;
@toggle-custom-inverse-selected-disabled-border-right-style: null;
@toggle-custom-inverse-selected-disabled-border-bottom-width: null;
@toggle-custom-inverse-selected-disabled-border-bottom-color: null;
@toggle-custom-inverse-selected-disabled-border-bottom-style: null;
@toggle-custom-inverse-selected-disabled-border-left-width: null;
@toggle-custom-inverse-selected-disabled-border-left-color: null;
@toggle-custom-inverse-selected-disabled-border-left-style: null;
@toggle-custom-inverse-selected-disabled-shadow: null;
